<template>
    <div class="widget p-cb">
        <h4 style="color: #3cb295">Gestion du plan vélo partagé</h4>
        <div class="col-sm-12">
            <SharedBikes from="fleet-manager" />
        </div>
    </div>
</template>
<script setup>
// Import dependencies

// Import components
import SharedBikes from "../../SharedBikes/Index.vue";

// Import stores

// Defines constants

// Defines methods
</script>
