<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Modifier un test de vélo
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.go(-1)"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>
            <div class="col-md-12">
                <div class="widget p-cb">
                    <form @change="stores.bikeTestsStore.update">
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur le vélo
                            </h5>
                            <div class="col-md-4">
                                <label
                                    for="bikes_catalog_id"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Modèle</label
                                >
                                <select
                                    class="form-control"
                                    name="bikes_id"
                                    id="bikes_id"
                                    v-model="
                                        stores.bikeTestsStore.getBikeTest
                                            .bikes_id
                                    "
                                    :class="[
                                        stores.bikeTestsStore.getErrors.bikes_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option
                                        v-for="item in bikes"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.id }} -
                                        {{ item.catalog.brand }} -
                                        {{ item.catalog.model }} -
                                        {{ item.catalog.frame_type }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur le test
                            </h5>
                            <div class="col-md-4">
                                <label class="form-label" style="color: #3cb395"
                                    >Date</label
                                >
                                <input
                                    type="date"
                                    name="date"
                                    class="form-control"
                                    id="date"
                                    v-model="
                                        stores.bikeTestsStore.getBikeTest.date
                                    "
                                    :class="[
                                        stores.bikeTestsStore.getErrors.date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="col-md-4">
                                <label
                                    for="status"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Status</label
                                >
                                <select
                                    name="status"
                                    class="form-control"
                                    id="status"
                                    v-model="
                                        stores.bikeTestsStore.getBikeTest.status
                                    "
                                    :class="[
                                        stores.bikeTestsStore.getErrors.status
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="new">Nouveau</option>
                                    <option value="confirmed">Confirmé</option>
                                    <option value="done">Fait</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label
                                    for="comment"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Commentaire</label
                                >
                                <textarea
                                    name="comment"
                                    class="form-control"
                                    id="comment"
                                    v-model="
                                        stores.bikeTestsStore.getBikeTest
                                            .comment
                                    "
                                    :class="[
                                        stores.bikeTestsStore.getErrors.comment
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                ></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";

// Import stores
import * as stores from "../../../store/StoresIndex";

const route = useRoute();

await stores.bikeTestsStore.show(route.params.id);

const bikes = await stores.bikesStockStore.getBikesWithSelect();
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
