<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Liste des tests de vélos
        </h2>
        <table class="table datatable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Identification du vélo</th>
                    <th>Date</th>
                    <th>Heure de début</th>
                    <th>Heure de fin</th>
                    <th>Statut</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="item in stores.bikeTestsStore.getBikeTests"
                    :key="item.id"
                >
                    <td>{{ item.id }}</td>
                    <td>{{ item.bike ? item.bike.frame_number : "" }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.start_time.slice(0, -3) }}</td>
                    <td>{{ item.end_time.slice(0, -3) }}</td>
                    <td>{{ item.status }}</td>
                    <td>
                        <router-link
                            :to="{
                                name: 'bike-tests-update',
                                params: { id: item.id },
                            }"
                            tag="button"
                            class="btn btn-xs"
                        >
                            <i class="fa fa-pencil-alt"></i>
                        </router-link>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script setup>
import * as stores from "../../../store/StoresIndex";
// Import functions
import { generateDatatable } from "../../../functions/globalFunctions";
import { watch } from "vue";

// la datatable ne se reload pas dynamiquement

// const props = defineProps(["Mutationevent"]);

// watch(
//     () => props.Mutationevent,
//     () => {
//         generateDatatable();
//     }
// );

await stores.bikeTestsStore.loadBikeTests();

// Call functions
generateDatatable();
</script>
