<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Ajouter un test de vélo
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.go(-1)"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>

            <div class="col-md-12">
                <div class="widget p-cb">
                    <form @submit.prevent="sendForm()">
                        <h4 class="text-primary">Ajouter un test de vélo</h4>
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur le vélo
                            </h5>
                            <div class="col-md-4">
                                <label class="form-label" style="color: #3cb395"
                                    >Marque</label
                                >
                                <select
                                    class="form-control"
                                    v-model="input.brand"
                                    name="brand"
                                >
                                    <option value="Ahooga">Ahooga</option>
                                    <option value="Benno">Benno</option>
                                    <option value="Bzen">Bzen</option>
                                    <option value="Douze">Douze</option>
                                    <option value="Kayza">Kayza</option>
                                    <option value="Moustache">Moustache</option>
                                    <option value="Victoria">Victoria</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label
                                    for="bikes_catalog_id"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Modèle</label
                                >
                                <select
                                    class="form-control"
                                    name="bikes_id"
                                    id="bikes_id"
                                    v-model="input.bikes_id"
                                    :class="[
                                        stores.bikeTestsStore.getErrors.bikes_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option
                                        v-for="item in models"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.id }} - {{ item.model }} -
                                        {{ item.frame_type }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur le test
                            </h5>
                            <div class="col-md-4">
                                <label class="form-label" style="color: #3cb395"
                                    >Date</label
                                >
                                <input
                                    type="date"
                                    name="date"
                                    class="form-control"
                                    id="date"
                                    v-model="input.date"
                                    :class="[
                                        stores.bikeTestsStore.getErrors.date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="col-md-4">
                                <label
                                    for="status"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Status</label
                                >
                                <select
                                    name="status"
                                    class="form-control"
                                    id="status"
                                    v-model="input.status"
                                    :class="[
                                        stores.bikeTestsStore.getErrors.status
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="new">Nouveau</option>
                                    <option value="confirmed">Confirmé</option>
                                    <option value="done">Fait</option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <br />
                        <div>
                            <button
                                style="width: 150px; margin: auto"
                                type="submit"
                                class="btn btn-block"
                            >
                                Ajouter un test de vélo
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref, reactive, watch } from "vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

const route = useRoute();
const input = reactive({});
const models = ref([]);

watch(
    () => input.brand,
    async (brand) => {
        if (brand) {
            models.value = await stores.bikesCatalogStore.getModelsFromBrand(
                brand
            );
        }
    }
);

function sendForm() {
    const data = input;
    stores.bikeTestsStore.create(data);
}
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
