<template>
    <div class="row" id="mainDynamicZone">
        <div class="col-sm-3" style="padding-right: 0.5em">
            <Meteo />
        </div>

        <div class="col-sm-9" style="padding-left: 0.5em">
            <LatestNews />
        </div>

        <div class="col-sm-12" v-if="conditions?.access?.includes('calendar')">
            <Calendar />
        </div>

        <div
            class="col-sm-12"
            v-if="stores.usersStore.getUserAuth.permission?.includes('search')"
        >
            <MyReservations />
        </div>

        <div class="col-sm-12" v-if="user_bikes.length > 0">
            <MyBikes :bikes="user_bikes" />
        </div>
    </div>
</template>

<script setup>
// Import functions
import * as stores from "../../store/StoresIndex";

// Import components
import Calendar from "./Calendar/Calendar.vue";
import LatestNews from "./News/NewsLatest.vue";
import MyBikes from "./MyBikes/Template_1.vue";
import MyReservations from "./MyReservations/Template_1.vue";
import Meteo from "./Meteo.vue";

const conditions = await stores.conditionsStore.getConditionsByCompanyId(
    stores.usersStore.getUserAuth.company.id
);
const user_bikes = await stores.bikesStockStore.getBikesByUserAuth();
</script>

<style scoped>
#dynamicMainTitle {
    color: #3cb395;
}
</style>
