<template>
    <header id="header" data-transparent="true" class="submenu-light">
        <div id="logo" style="">
            <img src="/images//logo.png" alt="KAMEO Bikes Logo" />
        </div>
    </header>
</template>

<script></script>

<style scoped>
header {
    text-align: center;
    position: unset;
}
#logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 990px) {
    #logo {
        display: none;
    }
}
</style>
