<template>
    <section id="page-content">
        <!-- <TopBar />
        <Header /> -->
        <div class="row">
            <Suspense timeout="0">
                <template #default>
                    <Menu @authLoaded="authLoaded = true" />
                </template>
                <template #fallback>
                    <Spinner takeWholePage="true" />
                </template>
            </Suspense>
            <div v-if="loadingError" class="error-menu">
                <h3 class="loading-error">Une erreur s'est produite...</h3>
            </div>
            <div class="col-md-9 right-ctn">
                <div class="container">
                    <!-- <UserMenu /> -->
                    <router-view
                        v-if="!loadingError && authLoaded"
                        v-slot="{ Component }"
                    >
                        <Suspense timeout="0">
                            <template #default>
                                <component
                                    :is="Component"
                                    :Mutationevent="Mutationevent"
                                    :key="$route.path"
                                />
                            </template>
                            <template #fallback>
                                <Spinner takeWholePage="false" />
                            </template>
                        </Suspense>
                    </router-view>
                    <h3 v-else class="loading-error">
                        Une erreur s'est produite...
                    </h3>
                </div>
            </div>
        </div>
        <Suspense>
            <ChatBox
                v-if="
                    !stores.usersStore.getUserAuth?.permission?.includes(
                        'admin'
                    )
                "
            />
        </Suspense>
    </section>
</template>

<script setup>
// Import components
import Menu from "./Menu.vue";
import UserMenu from "./UserMenu.vue";
import Notification from "./Notification.vue";
import TopBar from "./TopBar.vue";
import Header from "./Header.vue";
import Footer from "../Dashboard/Footer.vue";
import ChatBox from "../Dashboard/Chat/ChatBox.vue";
import Spinner from "../Spinner.vue";
import * as stores from "../../store/StoresIndex";
import { data, send, cloneDeep } from "../../functions/globalFunctions";
import { useRoute } from "vue-router";
import { onErrorCaptured, ref, watch } from "vue";

const route = useRoute();

const loadingError = ref(false);
const Mutationevent = ref(false);
const authLoaded = ref(false);

watch(
    () => route.path,
    () => {
        if (loadingError.value) {
            loadingError.value = false;
        }
    }
);

onErrorCaptured(() => {
    loadingError.value = true;
});

let TimeTyping = 0;
let TimeCalendar = 0;
let TimeBikeTest = 0;
let TimeBikeAssembly = 0;
let TimeOrders = 0;
let TimeEntretien = 0;
let TimeBikeStock = 0;
let TimeBikeStockComment = 0;
let TimeBikeTestComment = 0;
let TimeEntretienDescription = 0;
let TimeEntretienDescriptionConfidential = 0;
let TimeEntretienPlannedTime = 0;
const TimeDelay = 250;

watch(data, async (msg) => {
    // console.log("Message received");

    msg = JSON.parse(msg);

    switch (msg.event_type) {
        case "CalendarMutation":
            if (performance.now() - TimeCalendar > TimeDelay) {
                // console.log("Calendar Store Mutation");
                TimeCalendar = performance.now();
                stores.CalendarTasksStore.$state.calendar = msg.data;
                Mutationevent.value = !Mutationevent.value;
            }
            break;
        case "BikeTestMutation":
            if (performance.now() - TimeBikeTest > TimeDelay) {
                // console.log("BikeTest Store Mutation");
                TimeBikeTest = performance.now();
                stores.bikeTestsStore.updateState(msg.data);
                stores.CalendarTasksStore.hotUpdateTest(msg.data);
                Mutationevent.value = !Mutationevent.value;
            }
            break;
        case "BikeAssemblyMutation":
            if (performance.now() - TimeBikeAssembly > TimeDelay) {
                // console.log("BikeTest Assembly Mutation");
                TimeBikeAssembly = performance.now();
                stores.bikesAssemblyStore.updateState(msg);
                stores.CalendarTasksStore.hotUpdateAssembly(msg);
                Mutationevent.value = !Mutationevent.value;
            }
            break;
        case "OrdersMutation":
            if (performance.now() - TimeOrders > TimeDelay) {
                // console.log("Orders Mutation");
                TimeOrders = performance.now();
                stores.ordersStore.updateState(msg);
                stores.CalendarTasksStore.hotUpdateOrder(msg);
                Mutationevent.value = !Mutationevent.value;
            }
            break;
        case "EntretienMutation":
            if (performance.now() - TimeEntretien > TimeDelay) {
                // console.log("Entretien Mutation");
                TimeEntretien = performance.now();
                // msg est modifiée dans hotUpdateEntretien se qui fesait un bug dans updateState,
                // il faut donc le copier, mais ce qui est bizarre c'est que hotUpdate est après
                stores.entretiensStore.updateState(cloneDeep(msg));
                stores.CalendarTasksStore.hotUpdateEntretien(msg);
                Mutationevent.value = !Mutationevent.value;
            }
            break;
        case "EntretienDetailsMutation":
            if (performance.now() - TimeEntretien > TimeDelay) {
                // console.log("EntretienDetails Mutation");
                TimeEntretien = performance.now();
                stores.entretiensStore.updateStateDetails(msg);
                Mutationevent.value = !Mutationevent.value;
            }
            break;
        case "BikeStockMutation":
            if (performance.now() - TimeBikeStock > TimeDelay) {
                // console.log("BikeStock Mutation");
                TimeBikeStock = performance.now();
                stores.bikesStockStore.updateState(msg);
                Mutationevent.value = !Mutationevent.value;
            }
            break;
    }
});

function onlyNumbers(str) {
    return /^[0-9]+$/.test(str);
}

stores.CalendarTasksStore.$subscribe((mutation, state) => {
    if (performance.now() - TimeCalendar > TimeDelay) {
        const key = mutation
            ? mutation.events
                ? mutation.events.key
                : ""
            : "";
        if ((!isNaN(parseInt(key)) && onlyNumbers(key)) || key === "length") {
            send(
                JSON.stringify({
                    event_type: "CalendarMutation",
                    data: mutation.events.target,
                })
            );
        }
    }
});

stores.bikeTestsStore.$subscribe((mutation, state) => {
    if (performance.now() - TimeBikeTest > TimeDelay) {
        const key = mutation
            ? mutation.events
                ? mutation.events.key
                : ""
            : "";
        if (key === "comment") {
            clearTimeout(TimeBikeTestComment);
            TimeBikeTestComment = setTimeout(function () {
                send(
                    JSON.stringify({
                        event_type: "BikeTestMutation",
                        data: state.bikeTest,
                    })
                );
            }, 500);
        } else if (
            key === "status" ||
            key === "end_time" ||
            key === "start_time" ||
            key === "date" ||
            key === "bikes_id"
        ) {
            send(
                JSON.stringify({
                    event_type: "BikeTestMutation",
                    data: state.bikeTest,
                })
            );
        } else if (onlyNumbers(key)) {
            send(
                JSON.stringify({
                    event_type: "BikeTestMutation",
                    data: mutation.events.newValue,
                })
            );
        }
    }
});

stores.bikesAssemblyStore.$subscribe((mutation, state) => {
    if (performance.now() - TimeBikeAssembly > TimeDelay) {
        const key = mutation
            ? mutation.events
                ? mutation.events.key
                : ""
            : "";
        if (key === "date" || key === "status") {
            send(
                JSON.stringify({
                    event_type: "BikeAssemblyMutation",
                    data: state.bikeAssembly,
                })
            );
        } else if (key === "length") {
            send(
                JSON.stringify({
                    event_type: "BikeAssemblyMutation",
                    data: mutation.events.target,
                    length: "true",
                    id: stores.bikesAssemblyStore.getBikeAssembly.id,
                })
            );
        } else if (onlyNumbers(key)) {
            send(
                JSON.stringify({
                    event_type: "BikeAssemblyMutation",
                    data: mutation.events.newValue,
                })
            );
        }
    }
});

stores.ordersStore.$subscribe((mutation, state) => {
    if (performance.now() - TimeOrders > TimeDelay) {
        const key = mutation
            ? mutation.events
                ? mutation.events.key
                : ""
            : "";
        if (
            key === "orders" &&
            mutation.events.newValue.length < mutation.events.oldValue.length &&
            Array.isArray(mutation.events.newValue) &&
            Array.isArray(mutation.events.oldValue)
        ) {
            send(
                JSON.stringify({
                    event_type: "OrdersMutation",
                    data: mutation.events.newValue,
                    id: stores.ordersStore.getOrder.id,
                })
            );
        } else if (key === "0") {
            send(
                JSON.stringify({
                    event_type: "OrdersMutation",
                    data: state.orders,
                })
            );
        }
    }
});

stores.entretiensStore.$subscribe((mutation, state) => {
    if (performance.now() - TimeEntretien > TimeDelay) {
        const key = mutation
            ? mutation.events
                ? mutation.events.key
                : ""
            : "";
        if (key === "description") {
            clearTimeout(TimeEntretienDescription);
            TimeEntretienDescription = setTimeout(function () {
                send(
                    JSON.stringify({
                        event_type: "EntretienMutation",
                        data: mutation.events.target,
                        type: "update",
                    })
                );
            }, 500);
        } else if (key === "confidential_description") {
            clearTimeout(TimeEntretienDescriptionConfidential);
            TimeEntretienDescriptionConfidential = setTimeout(function () {
                send(
                    JSON.stringify({
                        event_type: "EntretienMutation",
                        data: mutation.events.target,
                        type: "update",
                    })
                );
            }, 500);
        } else if (key === "planned_time") {
            clearTimeout(TimeEntretienPlannedTime);
            TimeEntretienPlannedTime = setTimeout(function () {
                send(
                    JSON.stringify({
                        event_type: "EntretienMutation",
                        data: mutation.events.target,
                        type: "update",
                    })
                );
            }, 500);
        } else if (
            key === "status" ||
            key === "address" ||
            key === "planned_date" ||
            key === "date" ||
            key === "client_warned" ||
            key === "avoid_billing"
        ) {
            send(
                JSON.stringify({
                    event_type: "EntretienMutation",
                    data: mutation.events.target,
                    type: "update",
                })
            );
        } else if (onlyNumbers(key) && mutation.events.newValue.status) {
            send(
                JSON.stringify({
                    event_type: "EntretienMutation",
                    data: mutation.events.newValue,
                    type: "create",
                })
            );
        } else if (
            key === "entretiensDetails" &&
            Array.isArray(mutation.events.newValue) &&
            Array.isArray(mutation.events.oldValue) &&
            mutation.events.oldValue.length > mutation.events.newValue.length
        ) {
            send(
                JSON.stringify({
                    event_type: "EntretienDetailsMutation",
                    data: mutation.events.newValue,
                    type: "delete",
                })
            );
        } else if (onlyNumbers(key)) {
            send(
                JSON.stringify({
                    event_type: "EntretienDetailsMutation",
                    data: mutation.events.newValue,
                    type: "create",
                })
            );
        }
    }
});

stores.bikesStockStore.$subscribe((mutation, state) => {
    if (performance.now() - TimeBikeStock > TimeDelay) {
        const key = mutation
            ? mutation.events
                ? mutation.events.key
                : ""
            : "";
        if (key === "comment") {
            clearTimeout(TimeBikeStockComment);
            TimeBikeStockComment = setTimeout(function () {
                send(
                    JSON.stringify({
                        event_type: "BikeStockMutation",
                        data: mutation.events.target,
                    })
                );
            }, 500);
        }
    }
});
</script>

<style scoped>
.container {
    width: 100%;
    height: 100%;
}
#page-content {
    position: unset;
    padding: 0;
}

#loading {
    text-align: center;
}

.loading-error {
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.spinner-border {
    color: #3cb295;
    width: 75px;
    height: 75px;
    margin-top: 150px;
    margin-bottom: 150px;
}
@media screen and (max-width: 990px) {
    #page-content {
        padding: 0;
    }
}
@media screen and (min-width: 991px) {
    .right-ctn {
        position: absolute;
        right: 0;
        height: 100%;
        width: 80%;
        overflow-y: scroll;
        padding: 0.5em 0;
        padding-top: 0.5em;
    }
}
</style>
