<template>
    <div id="info-section">
        <div class="menu-header">
            <h4>
                <router-link :to="{ name: 'dashboard' }">Dashboard</router-link>
            </h4>
            <UserMenu />
        </div>
        <div class="container" v-bind:class="{ isActive: showMenu }">
            <!-- Menu zone -->
            <div class="accordion accordion-flat overflow-auto">
                <div
                    class="ac-item"
                    v-show="
                        stores.usersStore.getUserAuth.permission.includes(
                            'admin'
                        )
                    "
                >
                    <details>
                        <summary class="ac-title text-light">
                            <i class="fa fa-users"></i>Clients
                        </summary>
                        <div class="ac-content text-light">
                            <ul class="list">
                                <li>
                                    <router-link
                                        :to="{ name: 'users-list' }"
                                        @click="toggle()"
                                    >
                                        Liste des utilisateurs</router-link
                                    >
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'companies-list' }"
                                        @click="toggle()"
                                    >
                                        Liste des client</router-link
                                    >
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'conditions-list' }"
                                        @click="toggle()"
                                        >Listes des conditions</router-link
                                    >
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'users-create' }"
                                        @click="toggle()"
                                    >
                                        Ajouter un utilisateur</router-link
                                    >
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'companies-create' }"
                                        @click="toggle()"
                                        >Ajouter un client</router-link
                                    >
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'select-company' }"
                                        @click="toggle()"
                                    >
                                        Ajouter un contact</router-link
                                    >
                                </li>
                            </ul>
                        </div>
                    </details>
                </div>
                <div
                    class="ac-item"
                    v-show="
                        stores.usersStore.getUserAuth.permission.includes(
                            'admin'
                        )
                    "
                >
                    <details>
                        <summary class="ac-title text-light">
                            <i class="fa fa-credit-card"></i>Commandes
                        </summary>
                        <div class="ac-content text-light">
                            <ul class="list">
                                <li>
                                    <router-link
                                        :to="{ name: 'grouped-orders-list' }"
                                        @click="toggle()"
                                        >Liste des commandes
                                    </router-link>
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'grouped-orders-create' }"
                                        @click="toggle()"
                                    >
                                        Ajouter une commande
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </details>
                </div>

                <div
                    class="ac-item"
                    v-show="
                        stores.usersStore.getUserAuth.permission.includes(
                            'admin'
                        )
                    "
                >
                    <details>
                        <summary class="ac-title text-light">
                            <i class="fa fa-screwdriver-wrench"></i>Atelier
                        </summary>
                        <div class="ac-content text-light">
                            <ul class="list">
                                <li>
                                    <router-link
                                        :to="{ name: 'entretiens-list' }"
                                        @click="toggle()"
                                        >Liste des entretiens</router-link
                                    >
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'bikes-assembly-list' }"
                                        @click="toggle()"
                                        >Liste des montages
                                    </router-link>
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'entretiens-create' }"
                                        @click="toggle()"
                                        >Ajouter un entretien</router-link
                                    >
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'bikes-assembly-create' }"
                                        @click="toggle()"
                                    >
                                        Ajouter un montage
                                    </router-link>
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'atelier' }"
                                        @click="toggle()"
                                    >
                                        Planning</router-link
                                    >
                                </li>
                            </ul>
                        </div>
                    </details>
                </div>
                <div
                    class="ac-item"
                    v-show="
                        stores.usersStore.getUserAuth.permission.includes(
                            'admin'
                        )
                    "
                >
                    <details>
                        <summary class="ac-title text-light">
                            <i class="fa fa-bicycle"></i>Catalogue vélo
                        </summary>
                        <div class="ac-content text-light">
                            <ul class="list">
                                <li>
                                    <router-link
                                        :to="{ name: 'bikes-catalog-list' }"
                                        @click="toggle()"
                                        >Liste des vélos</router-link
                                    >
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'bikes-catalog-create' }"
                                        @click="toggle()"
                                    >
                                        Ajouter un vélo</router-link
                                    >
                                </li>
                            </ul>
                        </div>
                    </details>
                </div>
                <div
                    class="ac-item"
                    v-show="
                        stores.usersStore.getUserAuth.permission.includes(
                            'admin'
                        )
                    "
                >
                    <details>
                        <summary class="ac-title text-light">
                            <i class="fa fa-basket-shopping"></i>Catalogue
                            accessoire
                        </summary>
                        <div class="ac-content text-light">
                            <ul class="list">
                                <li>
                                    <router-link
                                        :to="{
                                            name: 'accessories-catalog-list',
                                        }"
                                        @click="toggle()"
                                    >
                                        Liste des accessoires
                                    </router-link>
                                </li>
                                <li>
                                    <router-link
                                        :to="{
                                            name: 'accessories-catalog-create',
                                        }"
                                        @click="toggle()"
                                        >Ajouter un accessoire
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </details>
                </div>
                <div
                    class="ac-item"
                    v-show="
                        stores.usersStore.getUserAuth.permission.includes(
                            'admin',
                            'accounting'
                        )
                    "
                >
                    <details>
                        <summary class="ac-title text-light">
                            <i class="fa fa-cubes"></i>Stock vélo
                        </summary>
                        <div class="ac-content text-light">
                            <ul class="list">
                                <li>
                                    <router-link
                                        :to="{ name: 'bikes-stock-list' }"
                                        @click="toggle()"
                                        >Liste des vélos</router-link
                                    >
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'bikes-stock-create' }"
                                        @click="toggle()"
                                    >
                                        Ajouter un vélo</router-link
                                    >
                                </li>
                            </ul>
                        </div>
                    </details>
                </div>
                <div
                    class="ac-item"
                    v-show="
                        stores.usersStore.getUserAuth.permission.includes(
                            'admin'
                        )
                    "
                >
                    <details>
                        <summary class="ac-title text-light">
                            <i class="fa fa-boxes-stacked"></i>Stock accessoires
                        </summary>
                        <div class="ac-content text-light">
                            <ul class="list">
                                <li>
                                    <router-link
                                        :to="{ name: 'accessories-stock-list' }"
                                        @click="toggle()"
                                    >
                                        Liste des accessoires
                                    </router-link>
                                </li>
                                <li>
                                    <router-link
                                        :to="{
                                            name: 'accessories-stock-create',
                                        }"
                                        @click="toggle()"
                                    >
                                        Ajouter un accessoire
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </details>
                </div>
                <div
                    class="ac-item"
                    v-show="
                        stores.usersStore.getUserAuth.permission.includes(
                            'bill'
                        )
                    "
                >
                    <details>
                        <summary class="ac-title text-light">
                            <i class="fa fa-file-invoice-dollar"></i>Factures
                        </summary>
                        <div class="ac-content text-light">
                            <ul class="list">
                                <li>
                                    <router-link
                                        :to="{ name: 'bills-list' }"
                                        @click="toggle()"
                                    >
                                        Liste des factures</router-link
                                    >
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'bills-create' }"
                                        @click="toggle()"
                                    >
                                        Ajouter une facture</router-link
                                    >
                                </li>
                            </ul>
                        </div>
                    </details>
                </div>
                <!-- <div
                    class="ac-item"
                    v-show="
                        stores.usersStore.getUserAuth.permission.includes(
                            'admin'
                        )
                    "
                >
                    <details>
                        <summary class="ac-title text-light">
                            <i class="fa fa-person-biking"></i>Tests vélo
                        </summary>
                        <div class="ac-content text-light">
                            <ul class="list">
                                <li>
                                    <router-link
                                        :to="{ name: 'bike-tests-list' }"
                                        @click="toggle()"
                                        >Liste des tests</router-link
                                    >
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'bike-tests-create' }"
                                        @click="toggle()"
                                        >Ajouter un test de vélo
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </details>
                </div> -->
                <div
                    class="ac-item"
                    v-show="
                        stores.usersStore.getUserAuth.permission.includes(
                            'admin'
                        )
                    "
                >
                    <details>
                        <summary class="ac-title text-light">
                            <i class="fa fa-newspaper"></i>News
                        </summary>
                        <div class="ac-content text-light">
                            <ul class="list">
                                <li>
                                    <router-link
                                        :to="{ name: 'news-list' }"
                                        @click="toggle()"
                                        >Liste des news
                                    </router-link>
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'news-create' }"
                                        @click="toggle()"
                                    >
                                        Ajouter une news</router-link
                                    >
                                </li>
                            </ul>
                        </div>
                    </details>
                </div>
                <div
                    class="ac-item"
                    v-show="
                        (stores.ordersStore.getUserOrder.hasOrder === false ||
                            stores.ordersStore.getUserOrder.allItemsDone ===
                                false) &&
                        stores.usersStore.getUserAuth.permission.includes(
                            'order'
                        )
                    "
                >
                    <details>
                        <summary class="ac-title text-light">
                            <i class="fa fa-mug-hot"></i>Cafétaria
                        </summary>
                        <div class="ac-content text-light">
                            <ul class="list">
                                <li>
                                    <router-link
                                        :to="{ name: 'cafetaria' }"
                                        @click="toggle()"
                                    >
                                        Commander</router-link
                                    >
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'comment-choisir' }"
                                        @click="toggle()"
                                    >
                                        Comment choisir ?
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </details>
                </div>
                <!-- <div
                    class="ac-item"
                    v-show="
                        stores.usersStore.getUserAuth.permission.includes(
                            'admin'
                        )
                    "
                >
                    <details>
                        <summary class="ac-title text-light">
                            <i class="fa fa-money-bill"></i>Offre
                        </summary>
                        <div class="ac-content text-light">
                            <ul class="list">
                                <li>
                                    <router-link
                                        :to="{ name: 'offers-list' }"
                                        @click="toggle()"
                                    >
                                        Liste des offres</router-link
                                    >
                                </li>
                                <li>
                                    <router-link
                                        :to="{ name: 'offers-create' }"
                                        @click="toggle()"
                                    >
                                        Générer une offre</router-link
                                    >
                                </li>
                            </ul>
                        </div>
                    </details>
                </div> -->
                <div
                    class="ac-item"
                    v-show="
                        stores.usersStore.getUserAuth.permission.includes(
                            'search'
                        )
                    "
                >
                    <details>
                        <summary class="ac-title text-light">
                            <i class="fa fa-user-group"></i>Vélo partagé
                        </summary>
                        <div class="ac-content text-light">
                            <ul class="list">
                                <li>
                                    <router-link
                                        :to="{ name: 'bikes-share-list' }"
                                        @click="toggle()"
                                        >Faire une réservation</router-link
                                    >
                                </li>
                            </ul>
                        </div>
                    </details>
                </div>
                <div
                    class="ac-item"
                    v-show="
                        stores.usersStore.getUserAuth.permission.includes(
                            'fleetManager'
                        )
                    "
                >
                    <details>
                        <summary class="ac-title text-light">
                            <i class="fa fa-gears"></i>Fleet manager
                        </summary>
                        <div class="ac-content text-light">
                            <ul class="list">
                                <li>
                                    <router-link
                                        :to="{
                                            name: 'fleet-manager-bike-management-index',
                                        }"
                                        @click="toggle()"
                                        >Gestion des vélos</router-link
                                    >
                                </li>
                                <li>
                                    <router-link
                                        :to="{
                                            name: 'fleet-manager-cafetaria-index',
                                        }"
                                        @click="toggle()"
                                        >Gestion du plan cafétaria</router-link
                                    >
                                </li>
                                <li
                                    v-if="conditions.access.includes('partage')"
                                >
                                    <router-link
                                        :to="{
                                            name: 'fleet-manager-shared-bikes-index',
                                        }"
                                        @click="toggle()"
                                        >Gestion du plan vélo
                                        partagé</router-link
                                    >
                                </li>
                                <li>
                                    <router-link
                                        :to="{
                                            name: 'fleet-manager-users-management-index',
                                        }"
                                        @click="toggle()"
                                        >Gestion des utilisateurs</router-link
                                    >
                                </li>
                            </ul>
                        </div>
                    </details>
                </div>
                <div
                    class="ac-item"
                    v-show="
                        stores.usersStore.getUserAuth.permission.includes(
                            'chatsManager'
                        )
                    "
                >
                    <details>
                        <summary class="ac-title text-light">
                            <i class="fa fa-brain"></i>Chat manager
                        </summary>
                        <div class="ac-content text-light">
                            <ul class="list">
                                <li>
                                    <router-link
                                        :to="{
                                            name: 'chat-view',
                                        }"
                                        @click="toggle()"
                                        >Gestion des chats</router-link
                                    >
                                </li>
                            </ul>
                        </div>
                    </details>
                </div>
            </div>
        </div>
        <div class="menu-footer">
            <button
                class="button--assistance"
                @click.prevent="showModal = true"
            >
                Assistance
            </button>
        </div>
    </div>
    <Modal :open="showModal" @close="showModal = !showModal">
        <div class="modal-body">
            <h5 class="modal-subtitle">Contacter l'assistance</h5>
            <p>
                Appellez le numéro d'urgence de votre assurance P-vélo au
                <span style="color: #3cb295; font-weight: bold"
                    >04 340 56 23</span
                >
            </p>
            <hr style="margin: 2rem 0; color: #3cb295" />
            <h5 class="modal-subtitle">Informations relatives au contrat</h5>
            <p>
                Numéro de contrat :
                <span style="color: #3cb295; font-weight: bold"
                    >MA33000999</span
                >
            </p>
            <p>
                Attention ! L'assistance n'interviendra que si vous êtes chez
                vous. Sinon il faut nous contacter. Pour nous aider à résoudre
                efficacement le problème, veuillez nous le décrire ci-dessous.
            </p>
            <textarea
                style="
                    width: 100%;
                    resize: none;
                    height: 10rem;
                    margin: 1rem 0;
                    border: 1px solid #3cb295;
                    border-radius: 5px;
                    padding: 1rem;
                "
                id="assistance"
                placeholder="Décrivez votre problème ici ..."
                rows="10"
                v-model="input.description"
            ></textarea>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" @click.prevent="sendProblem">
                Envoyer
            </button>
            <button
                type="button"
                class="btn btn-secondary"
                @click.prevent="closeModal"
            >
                Fermer
            </button>
        </div>
    </Modal>
</template>

<script setup>
import axios from "axios";
import { ref } from "vue";
import * as stores from "../../store/StoresIndex";
import { useVerifyPermission } from "../../functions/globalFunctions.js";
import UserMenu from "./UserMenu.vue";
import Modal from "./Modals/Medium.vue";

const emit = defineEmits(["authLoaded"]);

await stores.usersStore.loadUserAuth();

await stores.ordersStore.verifyOrder();

emit("authLoaded");

const conditions = await stores.conditionsStore.getConditionsByCompanyId(
    stores.usersStore.getUserAuth.company.id
);

const showMenu = ref(false);
const showModal = ref(false);
const input = ref({
    description: "",
});

const sendProblem = async () => {
    console.log(input.value.description);
    if (input.value.description.length > 0) {
        const response = await axios.post("/api/assistance", input.value);
        if (response.status === 200) {
            showModal.value = false;
            input.value.description = "";
            document.getElementById("assistance").style.border =
                "1px solid #3cb295";
        }
    } else {
        document.getElementById("assistance").style.border = "2px solid red";
    }
};

const closeModal = () => {
    showModal.value = false;
    input.value.description = "";
    document.getElementById("assistance").style.border = "1px solid #3cb295";
};

function toggle() {
    let details = document.querySelectorAll("details");
    showMenu.value = !showMenu.value;
    details.forEach((detail) => {
        if (detail.open) {
            detail.toggleAttribute("open");
        }
    });
}
</script>
<style scoped>
.modal-subtitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #3cb295;
}
.button--assistance {
    background-color: #f9a825;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 20px auto;
    cursor: pointer;
}
.menu-header {
    background: #f5f5f5;
    padding: 1em;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-footer {
    display: flex;
    justify-content: center;
}
.menu-header > h4 > a {
    text-transform: uppercase;
    color: #3cb295;
}
.menu-header > h4 {
    margin-bottom: 0;
    margin-left: 5px;
}

.accordion .ac-item .ac-title:before {
    content: "\002B";
}

/* Désactive les flèches des balises details */
summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}

#logo {
    display: none;
    justify-content: center;
    width: 100%;
}

.small-header .menu-icon {
    display: none;
}

.fa.fa-bars {
    color: #fff;
}

#info-section {
    padding: 0;
    margin: 0;
    background: #3cb295;
    overflow-y: auto;
}

#info-section::-webkit-scrollbar {
    width: 7px;
}

#info-section::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#info-section::-webkit-scrollbar-thumb {
    background: rgb(171, 171, 171);
    border-radius: 10px;
}

#info-section::-webkit-scrollbar-thumb:hover {
    background: rgb(114, 114, 114);
}

@media screen and (max-width: 990px) {
    #logo {
        display: flex;
    }

    .small-header {
        display: block;
        margin: 0;
        width: 100%;
    }

    .small-header .menu-icon {
        display: flex;
        position: absolute;
        left: 50px;
        top: 37px;
        transform-origin: bottom;
        z-index: 4000;
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }

    #info-section {
        margin-top: 0px;
        border-top: 0px;
        padding: 0;
    }
    #info-section::before {
        display: flex;
    }
    #info-section > .container {
        display: none;
    }
    #info-section > .isActive {
        display: block !important;
    }
}
@media screen and (min-width: 991px) {
    #info-section {
        height: 100%;
        min-height: 100vh;
        position: fixed;
        width: 20%;
        z-index: 10000 !important;
    }
    .container {
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
    }
}
</style>
