<template>
    <div class="widget widget-form p-cb" style="height: 375px">
        <div class="d-flex">
            <h6 class="flex-grow-1">{{ weather.day }}</h6>
            <h6>{{ weather.hours }}</h6>
        </div>

        <div class="d-flex flex-column text-center mt-5 mb-4">
            <h6 class="display-4 mb-0 font-weight-bold" style="color: #3cb395">
                {{ weather.temp }}
            </h6>
            <span class="small" style="color: #868b94">{{ weather.city }}</span>
        </div>

        <div class="d-flex align-items-center">
            <div class="flex-grow-1" style="font-size: 1rem">
                <div>
                    <i class="fas fa-wind fa-fw" style="color: #3cb395"></i
                    ><span class="ms-1">{{ weather.wind }}</span>
                </div>
                <div>
                    <i class="fas fa-tint fa-fw" style="color: #3cb395"></i
                    ><span class="ms-1">{{ weather.humidity }}</span>
                </div>
            </div>
            <div>
                <img id="weather-img" src="" style="width: 100px;!important" />
            </div>
        </div>
    </div>
</template>
<script setup>
import { onMounted, ref, watch } from "vue";
import axios from "axios";
import * as stores from "../../store/StoresIndex";
const weather = ref({
    city: "",
    temp: "",
    wind: "",
    humidity: "",
    day: "",
    hours: "",
});

onMounted(async () => {
    navigator.geolocation.getCurrentPosition(
        async (position) => {
            let response = await fetch(
                "https://api.openweathermap.org/data/2.5/weather?lat=" +
                    position.coords.latitude +
                    "&lon=" +
                    position.coords.longitude +
                    "&appid=1567fa1be10ccd7081876a820cb8977a"
            );
            let data = await response.json();
            const weekday = [
                "Lundi",
                "Mardi",
                "Mercredi",
                "Jeudi",
                "Vendredi",
                "Samedi",
                "Dimanche",
            ];
            const dateTime = new Date();
            let minutes = dateTime.getMinutes();
            minutes = minutes < 10 ? "0" + minutes : minutes;
            weather.value = {
                city: data.name,
                temp: (data.main.temp - 273.15).toFixed(0) + "°",
                wind: data.wind.speed + "km/h",
                humidity: data.main.humidity + "%",
                day: weekday[dateTime.getDay() - 1],
                hours: dateTime.getHours() + ":" + minutes,
            };
            setInterval(() => {
                let dateTime = new Date();
                let minutes = dateTime.getMinutes();
                minutes = minutes < 10 ? "0" + minutes : minutes;
                weather.value.hours = dateTime.getHours() + ":" + minutes;
                weather.value.day = weekday[dateTime.getDay() - 1];
            }, 1000);

            $("#weather-img").attr(
                "src",
                "https://openweathermap.org/img/wn/" +
                    data.weather[0].icon +
                    "@2x.png"
            );
        },
        async (error) => {
            if (error.code == error.PERMISSION_DENIED) {
                await axios
                    .get("/api/users/getLocation")
                    .then(async (responsePHP) => {
                        let response = await fetch(
                            "https://api.openweathermap.org/data/2.5/weather?lat=" +
                                responsePHP.data.latitude +
                                "&lon=" +
                                responsePHP.data.longitude +
                                "&appid=1567fa1be10ccd7081876a820cb8977a"
                        );
                        let data = await response.json();
                        const weekday = [
                            "Lundi",
                            "Mardi",
                            "Mercredi",
                            "Jeudi",
                            "Vendredi",
                            "Samedi",
                            "Dimanche",
                        ];
                        const dateTime = new Date();
                        let minutes = dateTime.getMinutes();
                        minutes = minutes < 10 ? "0" + minutes : minutes;
                        weather.value = {
                            city: data.name,
                            temp: (data.main.temp - 273.15).toFixed(0) + "°",
                            wind: data.wind.speed + "km/h",
                            humidity: data.main.humidity + "%",
                            day: weekday[dateTime.getDay() - 1],
                            hours: dateTime.getHours() + ":" + minutes,
                        };
                        setInterval(() => {
                            let dateTime = new Date();
                            let minutes = dateTime.getMinutes();
                            minutes = minutes < 10 ? "0" + minutes : minutes;
                            weather.value.hours =
                                dateTime.getHours() + ":" + minutes;
                            weather.value.day = weekday[dateTime.getDay() - 1];
                        }, 1000);

                        $("#weather-img").attr(
                            "src",
                            "https://openweathermap.org/img/wn/" +
                                data.weather[0].icon +
                                "@2x.png"
                        );
                    });
            }
        }
    );
});
</script>
<style scoped></style>
