<template>
    <div class="p-dropdown float-right">
        <a class="btn btn-light btn-shadow btn-round">
            <i class="icon-bell"></i>
            <span class="badge badge-pill badge-danger">2</span>
        </a>
        <div class="p-dropdown-content">
            <div class="widget-notification">
                <h4 class="mb-0">Notifications</h4>
                <p class="text-muted">Vous avez 2 notifications</p>
                <hr />
                <a href="#" class="text-theme">Voir les notifications</a>
            </div>
        </div>
    </div>
</template>
