<template>
    <div id="topbar" class="dark topbar-colored topbar-fullwidth">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-none d-sm-block">
                    <div class="social-icons social-icons-colored-hover">
                        <ul>
                            <li class="social-facebook">
                                <a href="#"
                                    ><i class="fab fa-facebook-f"></i
                                ></a>
                            </li>
                            <li class="social-linkedin">
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li><a href="#">FR</a></li>
                            <li><a href="#">EN</a></li>
                            <li><a href="#">NL</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script></script>

<style></style>
