<template>
    <div class="btn-container">
        <button @click="isOpen = true" class="btn btn-round">
            <font-awesome-icon class="btn-icone" icon="fa-solid fa-gear" />
        </button>
    </div>
    <SmallModal :open="isOpen" @close="isOpen = false">
        <div class="container">
            <form
                @change="stores.usersStore.update(formData)"
                enctype="multipart/form-data"
            >
                <button @click.prevent="goModify" class="icon float-left">
                    <i class="fa fa-gear fa-xl"></i>
                </button>
                <button @click.prevent="logout" class="icon float-right">
                    <i class="fa fa-arrow-right-from-bracket fa-xl"></i>
                </button>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <img
                            class="avatar"
                            :src="
                                '/storage/' +
                                stores.usersStore.getUserAuth.avatar
                            "
                            :alt="
                                stores.usersStore.getUserAuth.firstname +
                                ' ' +
                                stores.usersStore.getUserAuth.lastname +
                                ' kameo bikes'
                            "
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label type="button" class="btn btn-block"
                            >Modifier la photo
                            <input
                                type="file"
                                name="avatar"
                                class="form-control"
                                id="avatar"
                                accept="image/png,image/jpeg,image/jpg"
                                hidden
                                @change="setFile"
                            />
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <button
                            @click.prevent="goChangePassword"
                            class="btn btn-block"
                            type="button"
                        >
                            Modifier le mot de passe
                        </button>
                    </div>
                </div>
                <hr class="line" />
                <!-- General informations -->
                <div v-if="!changePassword" class="row">
                    <div class="col-sm-12">
                        <h6 v-if="isModified" class="title text-center">
                            Modifications
                        </h6>
                        <h6 v-if="!isModified" class="title text-center">
                            Informations générales
                        </h6>
                    </div>
                    <div class="col-sm-12">
                        <span v-if="!isModified">
                            <p class="p-text">
                                {{ stores.usersStore.getUserAuth.firstname }}
                            </p>
                        </span>
                        <span v-if="isModified">
                            <input
                                :class="[
                                    stores.usersStore.getErrors.firstname
                                        ? 'error form-control text-center btn-margin'
                                        : 'form-control text-center btn-margin',
                                ]"
                                type="text"
                                v-model="
                                    stores.usersStore.getUserAuth.firstname
                                "
                            />
                        </span>
                    </div>
                    <div class="col-sm-12">
                        <span v-if="!isModified">
                            <p class="p-text">
                                {{ stores.usersStore.getUserAuth.lastname }}
                            </p>
                        </span>
                        <span v-if="isModified">
                            <input
                                :class="[
                                    stores.usersStore.getErrors.lastname
                                        ? 'error form-control text-center btn-margin'
                                        : 'form-control text-center btn-margin',
                                ]"
                                type="text"
                                v-model="stores.usersStore.getUserAuth.lastname"
                            />
                        </span>
                    </div>
                    <div class="col-sm-12">
                        <span v-if="!isModified">
                            <p class="p-text">
                                {{ stores.usersStore.getUserAuth.email }}
                            </p>
                        </span>
                        <span v-if="isModified">
                            <input
                                :class="[
                                    stores.usersStore.getErrors.email
                                        ? 'error form-control text-center btn-margin'
                                        : 'form-control text-center btn-margin',
                                ]"
                                type="text"
                                v-model="stores.usersStore.getUserAuth.email"
                            />
                        </span>
                    </div>
                    <div class="col-sm-12">
                        <span v-if="!isModified">
                            <p class="p-text">
                                {{ stores.usersStore.getUserAuth.phone }}
                            </p>
                        </span>
                        <span v-if="isModified">
                            <input
                                placeholder="Entrez votre numéro..."
                                :class="[
                                    stores.usersStore.getErrors.phone
                                        ? 'error form-control text-center btn-margin'
                                        : 'form-control text-center btn-margin',
                                ]"
                                type="text"
                                v-model="stores.usersStore.getUserAuth.phone"
                            />
                        </span>
                    </div>
                </div>
            </form>
            <form
                v-if="changePassword"
                @submit.prevent="stores.usersStore.updatePassword"
            >
                <!-- Change password -->
                <div class="row text-center">
                    <div
                        v-show="stores.usersStore.getMessage"
                        class="col-sm-12"
                    >
                        <p>{{ stores.usersStore.getMessage }}</p>
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label">Mot de passe actuel</label>
                        <input
                            name="oldPassword"
                            placeholder="************"
                            :class="[
                                stores.usersStore.getErrors.old
                                    ? 'error form-control text-center btn-margin'
                                    : 'form-control text-center btn-margin',
                            ]"
                            type="password"
                            v-model="stores.usersStore.getPassword.old"
                        />
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label">Nouveau mot de passe</label>
                        <input
                            name="newPassword"
                            placeholder="************"
                            :class="[
                                stores.usersStore.getErrors.new
                                    ? 'error form-control text-center btn-margin'
                                    : 'form-control text-center btn-margin',
                            ]"
                            type="password"
                            v-model="stores.usersStore.getPassword.new"
                        />
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label"
                            >Confirmation du nouveau mot de passe</label
                        >
                        <input
                            name="newPasswordConfirmation"
                            placeholder="************"
                            :class="[
                                stores.usersStore.getErrors.confirm
                                    ? 'error form-control text-center btn-margin'
                                    : 'form-control text-center btn-margin',
                            ]"
                            type="password"
                            v-model="stores.usersStore.getPassword.confirm"
                        />
                    </div>
                    <br />
                </div>
                <br />
                <div class="row">
                    <div v-if="changePassword" class="col-sm-6">
                        <button
                            class="btn btn-block"
                            type="button"
                            @click="backChangePassword"
                        >
                            Retour
                        </button>
                    </div>
                    <div v-if="changePassword" class="col-sm-6">
                        <button class="btn btn-block" type="submit">
                            Sauvegarder
                        </button>
                    </div>
                </div>
            </form>
            <!-- Buttons -->
            <br />
            <div class="row">
                <div v-if="!isModified && !changePassword" class="col-sm-12">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="isOpen = false"
                    >
                        Fermer
                    </button>
                </div>
                <div v-if="isModified && !changePassword" class="col-sm-12">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="backModify"
                    >
                        Retour
                    </button>
                </div>
            </div>
        </div>
    </SmallModal>
</template>

<script setup>
// Import dependencies
import { ref } from "vue";
import Auth from "../../Auth";
import { useRouter } from "vue-router";
import axios from "axios";

// Import components
import SmallModal from "./Modals/Small.vue";

// Import store
import * as stores from "../../store/StoresIndex";

// Define constants

const router = useRouter();
const formData = new FormData();
const isOpen = ref(false);
const isModified = ref(false);
const changePassword = ref(false);

// Define functions
const setFile = (e) => {
    formData.append("avatar", e.target.files[0]);
};

// Action for logout button
const logout = () => {
    axios
        .post("/api/logout")
        .then((response) => {
            Auth.logout();
            router.push({ name: "home" });
        })
        .catch((error) => {
            console.error(error);
        });
};

// Action four return back button in change password form
const backChangePassword = () => {
    changePassword.value = false;
    stores.usersStore.message = null;
    stores.usersStore.password = {
        old: "",
        new: "",
        confirm: "",
    };
    stores.usersStore.errors = Array;
};

// Action button for modify password button in profile
const goChangePassword = () => {
    changePassword.value = true;
    isModified.value = false;
    stores.usersStore.message = null;
    stores.usersStore.password = {
        old: "",
        new: "",
        confirm: "",
    };
    stores.usersStore.errors = Array;
};

// Action button for modify button in profile
const goModify = () => {
    isModified.value = true;
    changePassword.value = false;
    stores.usersStore.message = null;
    stores.usersStore.errors = Array;
};

// Action button for back button in modify form
const backModify = () => {
    isModified.value = false;
    stores.usersStore.message = null;
    stores.usersStore.errors = Array;
};
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}

.col-sm-12 > p {
    text-align: center;
    color: #3cb295;
    text-transform: uppercase;
}

.avatar {
    margin: 1em auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.p-text {
    text-align: center;
    font-size: 1.2em;
}
.line {
    margin: 2em auto 1em auto;
}
.icon {
    border: none;
    background-color: transparent;
    border-radius: 50%;
}
.btn-round {
    background: none !important;
    margin: 0 !important;
    border: none !important;
}
.btn-icone {
    color: #3cb295;
    font-size: 1.75em;
    padding-top: 7.5px;
}
.btn-margin {
    margin: 0.5em auto;
}
.title {
    font-size: 1.5em;
    text-align: center;
    color: #3cb295;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
</style>
