<template>
    <div>
        <div class="top-table-container">
            <select
                name="nbEntries"
                id="nbEntries"
                v-model="nbEntries"
                @change="changeNbEntries"
            >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="250">250</option>
                <option value="500">500</option>
            </select>
            <select
                v-if="contractTypeFilterBtn"
                name="contractTypeFilter"
                v-model="contractTypeFilter"
                @change.prevent="changeContractTypeFilter"
                class="filter-select"
            >
                <option value="all">Tout</option>
                <option value="stock">Stock</option>
                <option value="leasing">Leasing</option>
                <option value="selling">Selling</option>
                <option value="order">En commande</option>
                <option value="pending_delivery">
                    En attente de livraison
                </option>
            </select>
            <input
                type="text"
                class="search-input"
                name="search"
                placeholder="Rechercher"
                v-model="search"
                @input="changeSearchValue"
            />
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th v-if="selectL"></th>
                        <th>
                            <font-awesome-icon
                                icon="fa-solid fa-check"
                                style="cursor: pointer"
                                v-if="allowSelect && props.receptionCommande"
                                @click="select()"
                            />
                        </th>
                        <th
                            scope="col"
                            v-for="header in headers"
                            :key="header.value"
                        >
                            {{ header.name }}
                            <button
                                @click.prevent="
                                    changeSortDirection(header.value)
                                "
                            >
                                <font-awesome-icon
                                    style="margin-left: 2.5px; font-size: 0.9em"
                                    icon="fa-solid fa-sort"
                                />
                            </button>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items" :key="item.id">
                        <td v-if="selectL">
                            <input
                                type="checkbox"
                                name="selectLine"
                                id="selectLine"
                                class="checkbox-round"
                                @click="toggleItemInList(item)"
                                v-model="item.checked"
                            />
                        </td>

                        <td>
                            <a
                                v-if="pdfBtn"
                                :href="'/storage/' + item.file_name"
                                target="_blank"
                                class="btn btn-xs"
                                style="background: #ffffff00; border: none"
                            >
                                <i class="fa fa-eye" style="color: #3cb395"></i>
                            </a>
                            <router-link
                                v-if="showBtn"
                                :to="{
                                    name: routeName
                                        ? routeName + '-show'
                                        : storeName
                                              .split('Store')[0]
                                              .toLowerCase() + '-show',
                                    params: { id: item.id },
                                }"
                                tag="button"
                                class="btn btn-xs"
                                style="background: #ffffff00; border: none"
                            >
                                <i class="fa fa-eye" style="color: #3cb395"></i>
                            </router-link>
                        </td>
                        <td v-for="header in headers" :key="header.value">
                            <i
                                v-if="
                                    typeof header.icon !== 'undefined' &&
                                    header.icon == true &&
                                    item[header.value] == 1
                                "
                                class="fa fa-check"
                                style="color: #3cb395"
                            ></i>
                            <i
                                v-else-if="
                                    typeof header.icon !== 'undefined' &&
                                    header.icon == true &&
                                    item[header.value] == 0
                                "
                                style="color: red"
                                class="fa fa-times text-danger"
                            ></i>
                            <span v-else>{{ item[header.value] }}</span>
                        </td>
                        <td>
                            <router-link
                                v-if="updateBtn"
                                :to="{
                                    name: routeName
                                        ? routeName + '-update'
                                        : storeName
                                              .split('Store')[0]
                                              .toLowerCase() + '-update',
                                    params: { id: item.id },
                                }"
                                tag="button"
                                class="btn btn-xs"
                                style="margin-right: 10px"
                            >
                                <i class="fa fa-pencil-alt"></i>
                            </router-link>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav class="navigation">
            <button
                style="
                    width: 150px;
                    margin: 15px auto auto 0 !important;
                    position: absolute;
                "
                type="submit"
                class="btn btn-block"
                :disabled="!selectedList || selectedList.length == 0"
                v-if="allowSelect && props.receptionCommande"
                @click="receptionStock"
            >
                Réceptionner
            </button>

            <ul class="pagination justify-content-center">
                <li :class="page > 1 ? 'page-item' : 'page-item disabled'">
                    <a
                        class="page-link"
                        href="#"
                        tabindex="-1"
                        aria-disabled="true"
                        @click="previousPage"
                        >Précédent</a
                    >
                </li>
                <li
                    :class="
                        page * nbEntries === 0 || nbEntries > items.length
                            ? 'page-item disabled'
                            : 'page-item'
                    "
                >
                    <a class="page-link" href="#" @click="nextPage">Suivant</a>
                </li>
            </ul>
        </nav>
    </div>
</template>
<script setup>
import { ref, onMounted, onUnmounted } from "vue";
import * as stores from "../../../store/StoresIndex";

const props = defineProps({
    headers: {
        type: Array,
        required: true,
    },
    storeName: {
        type: String,
        required: true,
    },
    routeName: {
        type: String,
        required: false,
    },
    showBtn: {
        type: Boolean,
        required: false,
    },
    updateBtn: {
        type: Boolean,
        required: false,
    },
    pdfBtn: {
        type: Boolean,
        required: false,
    },
    contractTypeFilterBtn: {
        type: Boolean,
        required: false,
    },
    receptionCommande: {
        type: Boolean,
        required: false,
    },
});

const nbEntries = ref(10);
const page = ref(1);
const search = ref("");
const items = ref([]);
const isLoading = ref(false);
const sortDirection = ref({
    column: "id",
    direction: "desc",
});
const selectedList = ref([]);
const selectL = ref(false);
const allowSelect = ref(false);
const contractTypeFilter = ref("stock");

const select = () => {
    selectL.value = !selectL.value;
    if (selectL.value == false) selectedList.value = [];
    items.value.forEach((item) => {
        let testInListe = false;
        selectedList.value.forEach((select) => {
            if (item.id == select.id) {
                item.checked = true;
                testInListe = true;
            }
        });
        if (!testInListe) item.checked = false;
        testInListe = false;
    });
};

const receptionStock = async () => {
    await stores[props.storeName].receptionStock(selectedList.value);
    items.value = await stores[props.storeName].getDataForDataTable(
        page.value,
        nbEntries.value,
        search.value,
        sortDirection.value,
        contractTypeFilter.value
    );
    selectL.value = false;
    // window.location.reload();
};

const toggleItemInList = (item) => {
    let testInListe = false;
    selectedList.value.forEach((select) => {
        if (item.id == select.id) {
            selectedList.value.splice(selectedList.value.indexOf(item), 1);
            testInListe = true;
        }
    });
    if (!testInListe) selectedList.value.push(item);
    testInListe = false;
};

const resetDataTable = () => {
    items.value = [];
    page.value = 1;
    nbEntries.value = 10;
    search.value = "";
    sortDirection.value = {
        column: "id",
        direction: "desc",
    };
    contractTypeFilter.value = "stock";
};

const nextPage = async () => {
    page.value++;
    isLoading.value = true;
    items.value = await stores[props.storeName].getDataForDataTable(
        page.value,
        nbEntries.value,
        search.value,
        sortDirection.value,
        contractTypeFilter.value
    );
    items.value.forEach((item) => {
        let testInListe = false;
        selectedList.value.forEach((select) => {
            if (item.id == select.id) {
                item.checked = true;
                testInListe = true;
            }
        });
        if (!testInListe) item.checked = false;
        testInListe = false;
    });
    isLoading.value = false;
};

const previousPage = async () => {
    page.value--;
    isLoading.value = true;
    items.value = await stores[props.storeName].getDataForDataTable(
        page.value,
        nbEntries.value,
        search.value,
        sortDirection.value,
        contractTypeFilter.value
    );

    items.value.forEach((item) => {
        let testInListe = false;
        selectedList.value.forEach((select) => {
            if (item.id == select.id) {
                item.checked = true;
                testInListe = true;
            }
        });
        if (!testInListe) item.checked = false;
        testInListe = false;
    });
    isLoading.value = false;
};

const changeNbEntries = async () => {
    page.value = 1;
    isLoading.value = true;
    items.value = await stores[props.storeName].getDataForDataTable(
        page.value,
        nbEntries.value,
        search.value,
        sortDirection.value,
        contractTypeFilter.value
    );
    isLoading.value = false;
};

const changeSearchValue = async () => {
    page.value = 1;
    isLoading.value = true;
    items.value = await stores[props.storeName].getDataForDataTable(
        page.value,
        nbEntries.value,
        search.value,
        sortDirection.value,
        contractTypeFilter.value
    );
    isLoading.value = false;
};

const changeSortDirection = async (column) => {
    if (sortDirection.value.column === column) {
        sortDirection.value.direction =
            sortDirection.value.direction === "asc" ? "desc" : "asc";
    } else {
        sortDirection.value.column = column;
        sortDirection.value.direction = "asc";
    }
    isLoading.value = true;
    items.value = await stores[props.storeName].getDataForDataTable(
        page.value,
        nbEntries.value,
        search.value,
        sortDirection.value,
        contractTypeFilter.value
    );
    isLoading.value = false;
};

const changeContractTypeFilter = async () => {
    selectL.value = false;
    selectedList.value = [];
    page.value = 1;
    isLoading.value = true;
    items.value = await stores[props.storeName].getDataForDataTable(
        page.value,
        nbEntries.value,
        search.value,
        sortDirection.value,
        contractTypeFilter.value
    );
    isLoading.value = false;
    if (contractTypeFilter.value == "order") {
        allowSelect.value = true;
    } else {
        allowSelect.value = false;
    }
};

onMounted(async () => {
    if (window.innerHeight > "768") {
        nbEntries.value = 15;
    }
    isLoading.value = true;
    items.value = await stores[props.storeName].getDataForDataTable(
        page.value,
        nbEntries.value,
        search.value,
        sortDirection.value,
        contractTypeFilter.value
    );

    items.value.forEach((item) => {
        if (selectL.value) {
            if (selectedList.value) {
                if (selectedList.value.indexOf(item) === -1) {
                    item.checked = false;
                }
            } else {
                item.checked = true;
            }
        }
    });
    isLoading.value = false;
});

onUnmounted(() => {
    resetDataTable();
});
</script>
<style scoped>
/* A enlever pour décoler la table */
.table-responsive {
    width: calc(100%) !important;
    padding-right: 1em !important;
}
tr,
td {
    padding: 5px !important;
    border-top: 2px solid #ffffff00 !important;
}
td {
    vertical-align: middle !important;
}
th {
    padding: 10px 10px 10px 5px !important;
    color: #fff;
}
thead {
    background: #3cb395;
    box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
td:first-child {
    text-align: left;
    width: 50px !important;
}
td:last-child {
    text-align: right;
}
.btn {
    margin-bottom: 2px !important;
}
.page-item {
    margin: 1em 0 !important;
    padding: 0;
    border-bottom: none;
}
.navigation {
    width: 100% !important;
}
.table {
    margin-bottom: 0;
}
.page-link:hover {
    background-color: #3cb395 !important;
}
.page-link {
    width: 150px;
    text-align: center;
}
.paga-link:active,
.page-link:focus,
.page-item:focus,
.page-item:active {
    outline: none;
    box-shadow: none;
}
.page-link.active {
    background-color: hsla(165, 50%, 47%, 0.75) !important;
}
.top-table-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.45em 1em 0.8em 0;
}
#nbEntries {
    padding: 5px 24px 0 8px !important;
    border: 2px solid #3cb395;
    border-radius: 5px;
    background-color: #fff;
}
#nbEntries option {
    background: #3cb395;
    color: #fff;
    padding-top: 5px;
}
#nbEntries:focus,
#nbEntries:active {
    outline: none;
    box-shadow: none;
}
.filter-select {
    padding: 5px 24px 0 8px !important;
    border: 2px solid #3cb395;
    border-radius: 5px;
    background-color: #fff;
}
.filter-select option {
    background: #3cb395;
    color: #fff;
    padding-top: 5px;
}
.filter-select:focus,
.filter-select:active {
    outline: none;
    box-shadow: none;
}
.search-input {
    border: 2px solid #3cb395;
    border-radius: 5px;
    height: 20px;
}
.search-input:focus {
    outline: none;
    box-shadow: none;
}
.no-data {
    width: 100%;
    text-align: center;
    padding: 1em 1em;
    background: rgb(240, 240, 240);
}
.no-data p {
    font-size: 1em;
    color: #3cb395;
}
.spinner-box {
    width: 100%;
    text-align: center;
    padding: 1em 1em;
    background: rgb(240, 240, 240);
}
.spinner-border {
    color: #3cb395;
}
</style>
