<template>
    <h2>
        {{ title }}
    </h2>
</template>
<script setup>
const props = defineProps({
    title: {
        type: String,
        required: false,
    },
});
</script>
<style scoped>
h2 {
    text-transform: uppercase;
    color: #3cb295;
    font-size: 1.5em;
    margin: 0.45em 0;
}
</style>
