<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Modifier une commande
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.go(-1)"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button
                    @click="isOpen = true"
                    style="
                        height: 35px;
                        padding: 10px;
                        float: right;
                        margin-right: 5px;
                    "
                    type="button"
                    class="btn btn-danger"
                >
                    Supprimer cet accessoire de la commande
                </button>
            </div>

            <div class="col-md-12">
                <div class="widget p-cb">
                    <form @change="stores.accessoriesOrdersStore.update">
                        <h4 class="text-primary">
                            Modifier une commande d'accessoire
                        </h4>
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur le modèle
                            </h5>
                            <div class="col-md-3">
                                <label
                                    for="category"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Catégorie</label
                                >
                                <select
                                    @change="resetCatalogId"
                                    class="form-control"
                                    name="category"
                                    id="category"
                                    v-model="
                                        stores.accessoriesOrdersStore
                                            .getAccessoryOrder.catalog
                                            .accessory_categories_id
                                    "
                                >
                                    <option
                                        v-for="item in stores
                                            .tempAccessoriesCategoriesStore
                                            .getTempAccessoriesCategories"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.description }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label
                                    for="accessories_catalog_id"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Modèle</label
                                >
                                <select
                                    class="form-control"
                                    name="accessories_catalog_id"
                                    id="accessories_catalog_id"
                                    @change="updatePrice()"
                                    v-model="
                                        stores.accessoriesOrdersStore
                                            .getAccessoryOrder
                                            .accessories_catalog_id
                                    "
                                    :class="[
                                        stores.accessoriesOrdersStore.getErrors
                                            .accessory_categories_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option
                                        v-for="item in models"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.model }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label
                                    for="size"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Taille</label
                                >
                                <select
                                    class="form-control"
                                    name="size"
                                    v-model="
                                        stores.accessoriesOrdersStore
                                            .getAccessoryOrder.size
                                    "
                                    id="size"
                                    :class="[
                                        stores.accessoriesOrdersStore.getErrors
                                            .size
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option
                                        v-for="item in sizes"
                                        :key="item"
                                        :value="item"
                                    >
                                        {{ item }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label
                                    for="stock"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Stock</label
                                >
                                <select
                                    class="form-control"
                                    name="stock"
                                    @change="updateStock()"
                                    v-model="
                                        stores.accessoriesOrdersStore
                                            .getAccessoryOrder.accessories_id
                                    "
                                    :class="[
                                        stores.accessoriesOrdersStore.getErrors
                                            .accessories_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option
                                        v-if="
                                            stores.accessoriesOrdersStore
                                                .getAccessoryOrder
                                                .accessories_id
                                        "
                                        :value="
                                            stores.accessoriesOrdersStore
                                                .getAccessoryOrder
                                                .accessories_id
                                        "
                                        disabled
                                    >
                                        {{ stock.id }}
                                        -
                                        {{ stock.catalog.brand }}
                                        {{ stock.catalog.model }}
                                    </option>
                                    <option :value="null">Non lié</option>
                                    <option
                                        v-for="item in accessories_stock"
                                        :key="item"
                                        :value="item.id"
                                    >
                                        {{ item.id }} - {{ item.catalog.brand }}
                                        {{ item.catalog.model }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur le contrat
                            </h5>
                            <div class="col-md-4">
                                <label class="form-label" style="color: #3cb395"
                                    >Statut</label
                                >
                                <select
                                    class="form-control"
                                    name="status"
                                    id="status"
                                    v-model="
                                        stores.accessoriesOrdersStore
                                            .getAccessoryOrder.status
                                    "
                                    :class="[
                                        stores.accessoriesOrdersStore.getErrors
                                            .status
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="new">Nouveau</option>
                                    <option value="confirmed">Confirmé</option>
                                    <option value="done">Terminé</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" style="color: #3cb395"
                                    >Type de contrat</label
                                >
                                <select
                                    class="form-control"
                                    name="type"
                                    id="type"
                                    @change="updatePrice()"
                                    v-model="
                                        stores.accessoriesOrdersStore
                                            .getAccessoryOrder.type
                                    "
                                    :class="[
                                        stores.accessoriesOrdersStore.getErrors
                                            .type
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="leasing">Leasing</option>
                                    <option value="selling">Vente</option>
                                    <option value="annual_leasing">
                                        Leasing annuel
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label
                                    for="amount"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Montant</label
                                >
                                <input
                                    type="number"
                                    step="0.01"
                                    name="amount"
                                    class="form-control"
                                    id="amount"
                                    v-model="
                                        stores.accessoriesOrdersStore
                                            .getAccessoryOrder.amount
                                    "
                                    :class="[
                                        stores.accessoriesOrdersStore.getErrors
                                            .amount
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur la livraison
                            </h5>
                            <div class="col-md-4">
                                <label class="form-label" style="color: #3cb395"
                                    >Date estimée de livraison</label
                                >
                                <input
                                    type="date"
                                    name="estimated_delivery_date"
                                    class="form-control"
                                    id="estimated_delivery_date"
                                    v-model="
                                        stores.accessoriesOrdersStore
                                            .getAccessoryOrder
                                            .estimated_delivery_date
                                    "
                                    :class="[
                                        stores.accessoriesOrdersStore.getErrors
                                            .estimated_delivery_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="col-md-4">
                                <label
                                    for="delivery_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date de livraison</label
                                >
                                <input
                                    type="date"
                                    name="delivery_date"
                                    class="form-control"
                                    id="delivery_date"
                                    v-model="
                                        stores.accessoriesOrdersStore
                                            .getAccessoryOrder.delivery_date
                                    "
                                    :class="[
                                        stores.accessoriesOrdersStore.getErrors
                                            .delivery_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <DeleteValidationModal
            :open="isOpen"
            @close="isOpen = !isOpen"
            :id="stores.accessoriesOrdersStore.getAccessoryOrder.id"
            :store="stores.accessoriesOrdersStore"
        />
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref } from "vue";
import DeleteValidationModal from "../Modals/DeleteValidationModal.vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Define constante
const route = useRoute();

await Promise.all([
    stores.accessoriesOrdersStore.show(route.params.id),
    stores.tempAccessoriesCategoriesStore.loadTempAccessoriesCategories(),
]);

const isOpen = ref(false);
const models = ref();
const sizes = ref();
const accessories_stock = ref();
const stock = ref({
    catalog: {
        brand: "",
        model: "",
    },
});

// Call functions
updateSizes();
updateModels();
updateStock();
updateAccessoriesStock();

function updateSizes() {
    stores.accessoriesCatalogStore
        .getAccessorySizes(
            stores.accessoriesOrdersStore.getAccessoryOrder
                .accessories_catalog_id
        )
        .then((data) => {
            sizes.value = data;
        });
}

function updateModels() {
    stores.accessoriesCatalogStore
        .loadAccessoriesCatalogByCategorieForSelect(
            stores.accessoriesOrdersStore.getAccessoryOrder.catalog
                .accessory_categories_id
        )
        .then((data) => {
            models.value = data;
        });
}

function updateStock() {
    stores.accessoriesStockStore
        .getAccessoryStockById(
            stores.accessoriesOrdersStore.getAccessoryOrder.accessories_id
        )
        .then((data) => {
            stock.value = data;
        });
}

function updateAccessoriesStock() {
    stores.accessoriesStockStore
        .getAccessoriesByCatalogIdAndSize(
            stores.accessoriesOrdersStore.getAccessoryOrder
                .accessories_catalog_id,
            stores.accessoriesOrdersStore.getAccessoryOrder.size
        )
        .then((data) => {
            accessories_stock.value = data;
        });
}

function resetCatalogId() {
    updateModels();
    sizes.value = null;
    stores.accessoriesOrdersStore.getAccessoryOrder.accessories_catalog_id =
        null;
    stores.accessoriesOrdersStore.getAccessoryOrder.size = null;
}

async function updatePrice() {
    stores.accessoriesOrdersStore.getAccessoryOrder.amount =
        stores.accessoriesCatalogStore.getPrice(
            stores.accessoriesOrdersStore.getAccessoryOrder.catalog,
            stores.accessoriesOrdersStore.getAccessoryOrder.type
        );
    updateSizes();
    updateAccessoriesStock();
}
</script>
<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
