<template>
    <div class="row" id="mainDynamicZone">
        <div class="col-sm-12">
            <button
                @click="$router.go(-1)"
                style="width: 35px; height: 35px; padding: 0px; float: left"
                type="button"
                class="btn"
            >
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>

        <div class="col-sm-12">
            <div class="widget p-cb">
                <h4>Informations</h4>
                <div style="height: 500px">
                    <div class="row">
                        <div class="col-sm-6">
                            <div
                                v-show="
                                    !!stores.companiesContactsStore.getContact
                                        .firstname
                                "
                            >
                                <label class="form-label" style="color: #3cb395"
                                    >Prénom</label
                                >
                                <p>
                                    {{
                                        stores.companiesContactsStore.getContact
                                            .firstname
                                    }}
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div
                                v-show="
                                    !!stores.companiesContactsStore.getContact
                                        .lastname
                                "
                            >
                                <label class="form-label" style="color: #3cb395"
                                    >Nom</label
                                >
                                <p>
                                    {{
                                        stores.companiesContactsStore.getContact
                                            .lastname
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <div
                                v-show="
                                    !!stores.companiesContactsStore.getContact
                                        .email
                                "
                            >
                                <label class="form-label" style="color: #3cb395"
                                    >Email</label
                                >
                                <p>
                                    {{
                                        stores.companiesContactsStore.getContact
                                            .email
                                    }}
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div
                                v-show="
                                    !!stores.companiesContactsStore.getContact
                                        .phone
                                "
                            >
                                <label class="form-label" style="color: #3cb395"
                                    >Téléphone</label
                                >
                                <p>
                                    {{
                                        stores.companiesContactsStore.getContact
                                            .phone
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <div
                                v-show="
                                    !!stores.companiesContactsStore.getContact
                                        .function
                                "
                            >
                                <label class="form-label" style="color: #3cb395"
                                    >Fonction</label
                                >
                                <p>
                                    {{
                                        stores.companiesContactsStore.getContact
                                            .function
                                    }}
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div
                                v-show="
                                    !!stores.companiesContactsStore.getContact
                                        .type
                                "
                            >
                                <label class="form-label" style="color: #3cb395"
                                    >Type</label
                                >
                                <p>
                                    {{
                                        stores.companiesContactsStore.getContact
                                            .type
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";

// Import stores
import * as stores from "../../../../store/StoresIndex";

const route = useRoute();

// Call functions
stores.companiesContactsStore.show(route.params.id);
</script>
