<template>
    <Header :title="'Nouveau contact pour ' + companyName" />
    <div class="row" id="mainDynamicZone">
        <div class="col-sm-12">
            <div class="widget p-cb">
                <form @submit.prevent="sendForm()">
                    <div>
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Informations générales
                        </h4>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="firstname"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Prénom</label
                                >
                                <input
                                    type="text"
                                    name="firstname"
                                    :class="[
                                        stores.companiesContactsStore.getErrors[
                                            'form.firstname'
                                        ]
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="firstname"
                                    placeholder="Joe"
                                    v-model="input.firstname"
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="lastname"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Nom</label
                                >
                                <input
                                    type="text"
                                    name="lastname"
                                    :class="[
                                        stores.companiesContactsStore.getErrors[
                                            'form.lastname'
                                        ]
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="lastname"
                                    placeholder="Doe"
                                    v-model="input.lastname"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="email"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Email</label
                                >
                                <input
                                    type="text"
                                    name="email"
                                    :class="[
                                        stores.companiesContactsStore.getErrors[
                                            'form.email'
                                        ]
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="email"
                                    placeholder="joe.doe@exemple.com"
                                    v-model="input.email"
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="phone"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Téléphone</label
                                >
                                <input
                                    type="text"
                                    name="phone"
                                    :class="[
                                        stores.companiesContactsStore.getErrors[
                                            'form.phone'
                                        ]
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="phone"
                                    placeholder="0123456789"
                                    v-model="input.phone"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="function"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Fonction</label
                                >
                                <input
                                    type="text"
                                    name="function"
                                    :class="[
                                        stores.companiesContactsStore.getErrors[
                                            'form.function'
                                        ]
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="function"
                                    placeholder="Employé"
                                    v-model="input.function"
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="type"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Type</label
                                >
                                <select
                                    :class="[
                                        stores.companiesContactsStore.getErrors[
                                            'form.type'
                                        ]
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="type"
                                    id="type"
                                    v-model="input.type"
                                >
                                    <option value="contact">Contact</option>
                                    <option value="ccBilling">ccBilling</option>
                                    <option value="billing">Billing</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div>
                        <button
                            style="width: 150px; margin: auto"
                            type="submit"
                            class="btn btn-block"
                        >
                            Ajouter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script setup>
// Import dependencies
import { ref, onMounted } from "vue";
import { useRoute } from "vue-router";

// Import stores
import * as stores from "../../../../store/StoresIndex";

// Import components
import Header from "../../ReusableComponents/HeaderComponent.vue";

const input = ref({});
const route = useRoute();
const companyName = ref("");

// Send form
function sendForm() {
    const data = input.value;
    stores.companiesContactsStore.create(data, route.params.id);
}

onMounted(async () => {
    companyName.value = await stores.companiesStore.getCompanyById(
        Number(route.params.id)
    );
    companyName.value = companyName.value.name;
});
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
