<template>
    <div class="row" id="mainDynamicZone">
        <div class="col-sm-12 component-top-bar">
            <button
                @click="$router.go(-1)"
                style="width: 35px; height: 35px; padding: 0px"
                type="button"
                class="btn"
            >
                <i class="fa fa-arrow-left"></i>
            </button>
            <button
                @click="isOpen = true"
                style="
                    height: 35px;
                    padding: 10px;
                    float: right;
                    margin-right: 5px;
                "
                type="button"
                class="btn btn-danger"
            >
                Supprimer le contact
            </button>
        </div>

        <div class="col-sm-12">
            <div class="widget p-cb">
                <form @change="stores.companiesContactsStore.update">
                    <h4
                        style="
                            text-transform: uppercase;
                            color: #3cb395;
                            font-wieght: bold;
                        "
                    >
                        Données principales
                    </h4>
                    <hr />
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label
                                for="firstname"
                                class="form-label"
                                style="color: #3cb395"
                                >Prénom</label
                            >
                            <input
                                type="text"
                                name="firstname"
                                :class="[
                                    stores.companiesContactsStore.getErrors
                                        .firstname
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="firstname"
                                placeholder="Joe"
                                v-model="
                                    stores.companiesContactsStore.getContact
                                        .firstname
                                "
                            />
                        </div>
                        <div class="form-group col-sm-6">
                            <label
                                for="lastname"
                                class="form-label"
                                style="color: #3cb395"
                                >Nom</label
                            >
                            <input
                                type="text"
                                name="lastname"
                                :class="[
                                    stores.companiesContactsStore.getErrors
                                        .lastname
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="lastname"
                                placeholder="Doe"
                                v-model="
                                    stores.companiesContactsStore.getContact
                                        .lastname
                                "
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label
                                for="email"
                                class="form-label"
                                style="color: #3cb395"
                                >Email</label
                            >
                            <input
                                type="text"
                                name="email"
                                :class="[
                                    stores.companiesContactsStore.getErrors
                                        .email
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="email"
                                placeholder="joe.doe@exemple.com"
                                v-model="
                                    stores.companiesContactsStore.getContact
                                        .email
                                "
                            />
                        </div>
                        <div class="form-group col-sm-6">
                            <label
                                for="phone"
                                class="form-label"
                                style="color: #3cb395"
                                >Téléphone</label
                            >
                            <input
                                type="text"
                                name="phone"
                                :class="[
                                    stores.companiesContactsStore.getErrors
                                        .phone
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="phone"
                                placeholder="04123456456"
                                v-model="
                                    stores.companiesContactsStore.getContact
                                        .phone
                                "
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label
                                for="function"
                                class="form-label"
                                style="color: #3cb395"
                                >Fonction</label
                            >
                            <input
                                type="text"
                                name="function"
                                :class="[
                                    stores.companiesContactsStore.getErrors
                                        .function
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="function"
                                placeholder="Employé"
                                v-model="
                                    stores.companiesContactsStore.getContact
                                        .function
                                "
                            />
                        </div>
                        <div class="form-group col-sm-6">
                            <label
                                for="type"
                                class="form-label"
                                style="color: #3cb395"
                                >Type</label
                            >
                            <select
                                :class="[
                                    stores.companiesContactsStore.getErrors.type
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                name="type"
                                id="type"
                                v-model="
                                    stores.companiesContactsStore.getContact
                                        .type
                                "
                            >
                                <option value="contact">Contact</option>
                                <option value="billing">Billing</option>
                                <option value="ccBilling">ccBilling</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <DeleteValidationModal
        :open="isOpen"
        @close="isOpen = !isOpen"
        :id="stores.companiesContactsStore.getContact.id"
        :store="stores.companiesContactsStore"
    />
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref } from "vue";
import DeleteValidationModal from "../../Modals/DeleteValidationModal.vue";

// Import stores
import * as stores from "../../../../store/StoresIndex";

const isOpen = ref(false);
const route = useRoute();

// Call functions
stores.companiesContactsStore.show(route.params.id);
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
