<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Fleet manager
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <CafetariaManagement />
            </div>

            <div class="col-sm-12">
                <UsersManagement />
            </div>

            <div class="col-sm-12">
                <BikesManagement />
            </div>

            <div class="col-sm-12">
                <SharedBikesManagement />
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { ref } from "vue";

// Import components
import CafetariaManagement from "./Cafetaria/Index.vue";
import UsersManagement from "./UsersManagement/Index.vue";
import BikesManagement from "./BikesManagement/Index.vue";
import SharedBikesManagement from "./SharedBikes/Index.vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Defines constants
</script>
