<template>
    <article class="article">
        <div
            class="article-img"
            v-if="stores.newsStore.getNews.media != 'default.jpg'"
        >
            <img
                v-if="stores.newsStore.getNews.media_type === 'image'"
                :src="
                    '../../../../../storage/news_media/' +
                    stores.newsStore.getNews.media
                "
                title=""
                alt=""
            />
            <video
                v-if="stores.newsStore.getNews.media_type === 'video'"
                :src="
                    '../../../../../storage/news_media/' +
                    stores.newsStore.getNews.media
                "
                controls
            ></video>
        </div>
        <div class="article-title">
            <h2>{{ stores.newsStore.getNews.title }}</h2>
            <div class="publication_date">
                <label>{{
                    formatDate(stores.newsStore.getNews.created_at)
                }}</label>
            </div>
        </div>
        <div class="article-content">
            <p>{{ stores.newsStore.getNews.content }}</p>
        </div>
        <slot name="close"></slot>
    </article>
</template>

<script setup>
// Import dependencies
import { useRoute } from "vue-router";

// Import functions
import { formatDate } from "../../../functions/globalFunctions";

// Import stores
import * as stores from "../../../store/StoresIndex";

const route = useRoute();

stores.newsStore.show(route.params.id);
</script>

<style scoped>
body {
    margin-top: 20px;
}
/* Blog
    ---------------------*/

/* .article {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    padding: 15px;
    margin: 15px 0 30px;
    border-radius: 10px;
    } */
.article .article-title {
    padding: 15px 0 20px;
}
.article .article-title h6 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}
.article .article-title h6 a {
    text-transform: uppercase;
    color: #fc5356;
    border-bottom: 1px solid #fc5356;
}
.article .article-title h2 {
    color: #20247b;
    font-weight: 600;
    text-align: center;
}
.article .article-title .publication_date {
    padding-top: 15px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 20px;
}
.article .article-title .publication_date label {
    font-weight: 600;
    color: #3cb295;
    margin: 0;
}
.article .article-content h1,
.article .article-content h2,
.article .article-content h3,
.article .article-content h4,
.article .article-content h5,
.article .article-content h6 {
    color: #20247b;
    font-weight: 600;
    margin-bottom: 15px;
}
.article .article-content p {
    text-align: justify;
}

.article-img img {
    display: block;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
</style>
