<template>
    <div class="widget p-cb">
        <h4>Kameo News</h4>
        <div class="container" id="blog">
            <div class="row">
                <label
                    class="form-label"
                    style="color: #3cb395"
                    v-if="pertinentNews.length === 0"
                >
                    Aucune news disponible
                </label>
                <div class="newsContainer" v-if="pertinentNews.length !== 0">
                    <div
                        class="col-lg-6"
                        v-for="(item, index) in pertinentNews"
                        :key="item.id"
                        :id="item.id"
                    >
                        <template v-if="index < 2 && item.id">
                            <div class="blog-grid">
                                <div class="blog-img">
                                    <div class="date">
                                        {{ formatDate(item.created_at) }}
                                    </div>
                                    <p
                                        v-if="item.media_type === 'video'"
                                        id="play-button"
                                    >
                                        <i
                                            class="fa fa-play"
                                            @click="openModal(item.id)"
                                        ></i>
                                    </p>
                                    <img
                                        v-if="item.media_type === 'image'"
                                        @click="openModal(item.id)"
                                        :src="
                                            '../../../../../storage/news_media/' +
                                            item.media
                                        "
                                        title=""
                                        alt=""
                                    />
                                    <video
                                        v-if="item.media_type === 'video'"
                                        @click="openModal(item.id)"
                                        :src="
                                            '../../../../../storage/news_media/' +
                                            item.media
                                        "
                                    ></video>
                                </div>
                                <div class="blog-info">
                                    <h5 @click="openModal(item.id)">
                                        {{ item.title }}
                                    </h5>
                                    <p>
                                        {{
                                            item.content.length > 100
                                                ? item.content.slice(
                                                      0,
                                                      item.content.indexOf(
                                                          " ",
                                                          100
                                                      ) + 1
                                                  ) + "..."
                                                : item.content
                                        }}
                                    </p>
                                    <div class="btn-bar">
                                        <div
                                            class="px-btn-arrow"
                                            @click="openModal(item.id)"
                                        >
                                            <span>Voir plus</span>
                                            <i class="arrow"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <MediumModal
            :open="isOpen"
            @close="isOpen = false"
            @click="isOpen = false"
        >
            <Article v-if="isOpen" :id="articleId">
                <template v-slot:close>
                    <div class="row justify-content-center">
                        <div class="col-sm-6">
                            <button
                                class="btn btn-block"
                                type="button"
                                @click="isOpen = false"
                            >
                                Fermer
                            </button>
                        </div>
                    </div>
                </template>
            </Article>
        </MediumModal>
    </div>
</template>

<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref } from "vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import functions
import { formatDate } from "../../../functions/globalFunctions";

// Import components
import MediumModal from "../Modals/Medium.vue";
import Article from "../News/NewsArticle.vue";

await stores.newsStore.loadAllNews();

const route = useRoute();
const isOpen = ref(false);
const articleId = ref(1);

const userCompanyId = stores.usersStore.getUserAuth.companies_id;
const userCompany = await stores.companiesStore.getCompanyById(userCompanyId);
const userCompanyAudience = userCompany.audience;

function openModal(id) {
    console.log("id");
    console.log(id);
    if (id) {
        articleId.value = id;
        isOpen.value = true;
        stores.newsStore.show(id);
    }
}
const pertinentNews = stores.newsStore.getPertinentNews(
    userCompanyId,
    userCompanyAudience
);
</script>

<style scoped>
body {
    margin-top: 20px;
}
/* Blog
    ---------------------*/
.container {
    height: 80%;
    overflow: auto;
}
.newsContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.blog-grid {
    margin-bottom: 15px;
    height: 100%;
}
.blog-grid .blog-img {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.blog-grid .blog-img img {
    width: 80%;
    height: auto;
}
.blog-grid .blog-img .date {
    position: absolute;
    background: #3cb295;
    color: #ffffff;
    padding: 8px 15px;
    left: 0;
    top: 10px;
    font-size: 14px;
}
#play-button {
    position: absolute;
    scale: 2;
    top: 50%;
    left: 50%;
    translate: -50%, -50%;
    color: #ffffff;
    opacity: 0.8;
}
.blog-grid .blog-info {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    background: #ffffff;
    padding: 20px;
    margin: -30px 20px 0;
    position: relative;
}
.blog-grid .blog-info h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 10px;
}
.blog-grid .blog-info h5 a {
    color: #3a3973;
}
.blog-grid .blog-info p {
    margin: 0;
}
.blog-grid .blog-info .btn-bar {
    margin-top: 20px;
}

.px-btn-arrow {
    padding: 0 50px 0 0;
    line-height: 20px;
    position: relative;
    display: inline-block;
    color: #3cb295;
    cursor: pointer;
    -moz-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
}

.px-btn-arrow .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 25px;
    -moz-transition: ease right 0.3s;
    -o-transition: ease right 0.3s;
    -webkit-transition: ease right 0.3s;
    transition: ease right 0.3s;
}

.px-btn-arrow .arrow:after {
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.widget {
    height: 375px;
}
</style>
