<template>
    <Datatable :headers="headers" :storeName="storeName" showBtn updateBtn />
</template>
<script setup>
import Datatable from "../ReusableComponents/Datatable.vue";
const storeName = "newsStore";
const headers = [
    { value: "id", name: "#" },
    { value: "title", name: "Titre" },
    { value: "created_date", name: "Date de publication" },
    { value: "expiration_date", name: "Date d'expiration" },
];
</script>
