<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Détail d'une news
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.push({ name: 'news-list' })"
                    style="width: 35px; height: 35px; padding: 0px; float: left"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>
            <div class="col-sm-12">
                <div class="widget p-cb">
                    <Article />
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import Article from "./NewsArticle.vue";
</script>

<style></style>
