<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Modifier une news
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.go(-1)"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button
                    @click="isOpen = true"
                    style="
                        height: 35px;
                        padding: 10px;
                        float: right;
                        margin-right: 5px;
                    "
                    type="button"
                    class="btn btn-danger"
                >
                    Supprimer la news
                </button>
            </div>
            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form @change="stores.newsStore.update(formData)">
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Visibilitée
                        </h4>
                        <hr />
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label
                                    for="title"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date d'expiration</label
                                >
                                <input
                                    type="date"
                                    :class="[
                                        stores.newsStore.getErrors
                                            .expiration_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="expiration-date"
                                    name="expiration-date"
                                    class="form-control"
                                    v-model="
                                        stores.newsStore.getNews.expiration_date
                                    "
                                />
                            </div>
                            <div class="col-sm-4">
                                <label
                                    for="target-group"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Groupe cible</label
                                >
                                <select
                                    class="form-control"
                                    name="target-group[]"
                                    id="target-group"
                                    v-model="
                                        stores.newsStore.getNews.target_group
                                    "
                                    multiple
                                    @change="companiesListUpdate"
                                >
                                    <option value="B2B">B2B</option>
                                    <option value="B2C">B2C</option>
                                    <option value="INDEPENDANT">
                                        Independant
                                    </option>
                                </select>
                            </div>
                            <div
                                class="col-sm-4"
                                v-if="
                                    stores.newsStore.getNews.target_group
                                        .length > 0
                                "
                            >
                                <label
                                    for="target-companies"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Entreprises cibles</label
                                >
                                <select
                                    class="form-control"
                                    name="target-companies[]"
                                    id="target-companies"
                                    v-model="
                                        stores.newsStore.getNews
                                            .target_companies
                                    "
                                    multiple
                                    @change="test"
                                >
                                    <option
                                        v-for="company in sortedCompanies"
                                        :key="company.id"
                                        :value="{
                                            id: company.id,
                                            audience: company.audience,
                                        }"
                                    >
                                        {{ company.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label
                                    for="status"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Status</label
                                >
                                <select
                                    :class="[
                                        stores.newsStore.getErrors.status
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="status"
                                    id="status"
                                    v-model="stores.newsStore.getNews.status"
                                >
                                    <option value="actif">Actif</option>
                                    <option value="inactif">Inactif</option>
                                </select>
                            </div>
                        </div>
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            News
                        </h4>
                        <hr />
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label
                                    for="title"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Titre</label
                                >
                                <input
                                    type="text"
                                    name="title"
                                    :class="[
                                        stores.newsStore.getErrors.title
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="title"
                                    placeholder="Titre"
                                    v-model="stores.newsStore.getNews.title"
                                />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label
                                    for="content"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Contenu</label
                                >
                                <textarea
                                    name="content"
                                    :class="[
                                        stores.newsStore.getErrors.content
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="content"
                                    placeholder="Contenu"
                                    v-model="stores.newsStore.getNews.content"
                                ></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label class="form-label" style="color: #3cb395"
                                    >Media</label
                                >
                                <label
                                    class="form-label"
                                    style="color: #be3d3d"
                                    >{{
                                        stores.newsStore.getFileErrors.message
                                    }}</label
                                >
                                <label type="button" class="btn btn-block"
                                    >{{
                                        stores.newsStore.getNews.media ===
                                        "default.jpg"
                                            ? "Ajouter une image"
                                            : "Modifier l'image"
                                    }}
                                    <input
                                        type="file"
                                        name="image"
                                        class="form-control"
                                        id="image"
                                        hidden
                                        @change="
                                            uploadFile({
                                                mode: 'single',
                                                e: $event,
                                                formData: formData,
                                                action: 'update',
                                                store: stores.newsStore,
                                                fileType: ['image', 'video'],
                                            })
                                        "
                                    />
                                </label>
                            </div>
                        </div>
                        <div
                            class="row form-group"
                            v-if="
                                stores.newsStore.getNews.media != 'default.jpg'
                            "
                        >
                            <div class="col-sm-6">
                                <div class="imgContainer">
                                    <img
                                        v-if="
                                            stores.newsStore.getNews
                                                .media_type === 'image'
                                        "
                                        id="catalogImage"
                                        :src="
                                            '../../../../../storage/news_media/' +
                                            stores.newsStore.getNews.media
                                        "
                                    />
                                    <video
                                        v-if="
                                            stores.newsStore.getNews
                                                .media_type === 'video'
                                        "
                                        id="catalogImage"
                                        :src="
                                            '../../../../../storage/news_media/' +
                                            stores.newsStore.getNews.media
                                        "
                                        controls
                                    ></video>
                                    <button
                                        id="deleteImageButton"
                                        type="button"
                                        class="btn btn-danger"
                                        @click="
                                            removePicture({
                                                id: route.params.id,
                                                vue: 'update',
                                                name: stores.newsStore.getNews
                                                    .media,
                                                store: stores.newsStore,
                                            })
                                        "
                                    >
                                        X
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <DeleteValidationModal
            :open="isOpen"
            @close="isOpen = !isOpen"
            :id="stores.newsStore.getNews.id"
            :store="stores.newsStore"
        />
    </div>
</template>

<script setup>
// Import dependencies
import { ref } from "vue";
import DeleteValidationModal from "../Modals/DeleteValidationModal.vue";
import { uploadFile, removePicture } from "../../../functions/globalFunctions";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import dependencies
import { useRoute } from "vue-router";

const isOpen = ref(false);
const route = useRoute();
var formData = new FormData();
const sortedCompanies = ref([]);

stores.newsStore.show(route.params.id).then(getAndSortCompaniesByAudience);

function companiesListUpdate() {
    if (stores.newsStore.getNews.target_companies.length > 0) {
        stores.newsStore.getNews.target_companies =
            stores.newsStore.getNews.target_companies.filter((company) => {
                if (
                    stores.newsStore.getNews.target_group.includes(
                        company.audience
                    )
                ) {
                    return true;
                }
            });
    }
    getAndSortCompaniesByAudience();
}

async function getAndSortCompaniesByAudience() {
    let companies = await stores.companiesStore.getCompaniesByAudience(
        stores.newsStore.getNews.target_group
    );
    sortedCompanies.value = companies.sort((a, b) =>
        a.name.toLowerCase() > b.name.toLowerCase() ? 1 : -1
    );
}
</script>

<style>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
#content {
    padding: 7px 14px;
    min-height: 15em;
    overflow: auto;
    resize: vertical;
}
#catalogImage {
    width: 100%;
    max-height: 200px;
    position: relative;
}
#deleteImageButton {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(190, 61, 61);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 0px;
    opacity: 0;
}
.imgContainer {
    position: relative;
}

.imgContainer:hover #deleteImageButton {
    opacity: 1;
}
</style>
