<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Ajouter une news
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.push({ name: 'news-list' })"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>
            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form
                        method="POST"
                        enctype="multipart/form-data"
                        @submit.prevent="sendForm()"
                    >
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Visibilitée
                        </h4>
                        <hr />
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label
                                    for="expiration-date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date d'expiration</label
                                >
                                <input
                                    type="date"
                                    id="expiration-date"
                                    name="expiration-date"
                                    :class="[
                                        stores.newsStore.getErrors
                                            .expiration_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    v-model="input.expiration_date"
                                    :min="
                                        new Date().toISOString().split('T')[0]
                                    "
                                />
                            </div>
                            <div class="col-sm-4">
                                <label
                                    for="target-group"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Groupe cible</label
                                >
                                <select
                                    class="form-control"
                                    name="target-group[]"
                                    id="target-group"
                                    v-model="input.target_group"
                                    multiple
                                    @change="companiesListUpdate"
                                >
                                    <option value="B2B">B2B</option>
                                    <option value="B2C">B2C</option>
                                    <option value="INDEPENDANT">
                                        Independant
                                    </option>
                                </select>
                            </div>
                            <div
                                class="col-sm-4"
                                v-if="target_companies.length != 0"
                            >
                                <label
                                    for="target-companies"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Entreprises cibles</label
                                >
                                <select
                                    class="form-control"
                                    name="target-companies[]"
                                    id="target-companies"
                                    multiple
                                    v-model="input.target_companies"
                                >
                                    <option
                                        v-for="company in target_companies"
                                        :key="company.id"
                                        :value="{
                                            id: company.id,
                                            audience: company.audience,
                                        }"
                                    >
                                        {{ company.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            News
                        </h4>
                        <hr />
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label
                                    for="title"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Titre</label
                                >
                                <input
                                    type="text"
                                    name="title"
                                    :class="[
                                        stores.newsStore.getErrors.title
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="title"
                                    placeholder="Titre"
                                    v-model="input.title"
                                />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label
                                    for="content"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Contenu</label
                                >
                                <textarea
                                    name="content"
                                    :class="[
                                        stores.newsStore.getErrors.content
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="content"
                                    placeholder="Contenu"
                                    v-model="input.content"
                                ></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label class="form-label" style="color: #3cb395"
                                    >Media</label
                                >
                                <label
                                    class="form-label"
                                    style="color: #be3d3d"
                                    >{{
                                        stores.newsStore.getFileErrors.message
                                    }}</label
                                >
                                <label type="button" class="btn btn-block"
                                    >{{
                                        previews.length === 0
                                            ? "Ajouter une image"
                                            : "Modifier l'image"
                                    }}
                                    <input
                                        type="file"
                                        name="image"
                                        class="form-control"
                                        id="image"
                                        placeholder="Image"
                                        hidden
                                        @change="
                                            uploadFile({
                                                mode: 'single',
                                                e: $event,
                                                formData: formData,
                                                action: 'create',
                                                previews: previews,
                                                fileType: ['image', 'video'],
                                                store: stores.newsStore,
                                            })
                                        "
                                    />
                                </label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div
                                class="col-sm-6"
                                v-for="item in previews"
                                :key="item.id"
                            >
                                <div class="imgContainer">
                                    <img
                                        v-if="item.type === 'image'"
                                        id="catalogImage"
                                        :src="item.src"
                                    />
                                    <video
                                        v-if="item.type === 'video'"
                                        id="catalogImage"
                                        :src="item.src"
                                        controls
                                    ></video>
                                    <div class="overlay">{{ item.id }}</div>
                                    <button
                                        id="deleteImageButton"
                                        type="button"
                                        class="btn btn-danger"
                                        @click="
                                            removePicture({
                                                vue: 'create',
                                                formData: formData,
                                                previews: previews,
                                            })
                                        "
                                    >
                                        X
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <button
                                style="width: 150px; margin: auto"
                                type="submit"
                                class="btn btn-block"
                            >
                                Ajouter au catalogue
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
// Import dependencies
import { ref } from "vue";

// Import store
import * as stores from "../../../store/StoresIndex";

// Import functions
import { uploadFile, removePicture } from "../../../functions/globalFunctions";

const input = ref({});
const previews = ref([]);
const formData = new FormData();
const target_group = ref([]);
const target_companies = ref([]);

// Send form
function sendForm() {
    formData.append("form", JSON.stringify(input.value));
    stores.newsStore.create(formData);
}

async function companiesListUpdate() {
    if (input.value["target_companies"]) {
        input.value["target_companies"] = input.value[
            "target_companies"
        ].filter((company) => {
            if (input.value["target_group"].includes(company.audience)) {
                return true;
            }
        });
    }

    let companies = await stores.companiesStore.getCompaniesByAudience(
        input.value["target_group"]
    );

    target_companies.value = companies.sort((a, b) =>
        a.name.toLowerCase() > b.name.toLowerCase() ? 1 : -1
    );
}
</script>

<style>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
#catalogImage {
    width: 100%;
    max-height: 200px;
    position: relative;
}
#deleteImageButton {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(190, 61, 61);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 0px;
    opacity: 0;
}
.imgContainer {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.imgContainer:hover .overlay {
    opacity: 1;
}
.imgContainer:hover #deleteImageButton {
    opacity: 1;
}
</style>
