<template>
    <Datatable
        :headers="headers"
        :storeName="storeName"
        :routeName="routeName"
        showBtn
        updateBtn
    />
</template>
<script setup>
import Datatable from "../ReusableComponents/Datatable.vue";
const storeName = "accessoriesCatalogStore";
const routeName = "accessories-catalog";
const headers = [
    { value: "id", name: "#" },
    { value: "brand", name: "Marque" },
    { value: "model", name: "Modèle" },
    { value: "sizes", name: "Tailles" },
    { value: "price_htva", name: "Prix" },
];
</script>
