<template>
    <div>
        <Header title="Nouvel accessoire catalogue" />
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form
                        method="POST"
                        enctype="multipart/form-data"
                        @submit.prevent="sendForm()"
                    >
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Données principales
                        </h4>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="brand"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Marque</label
                                >
                                <input
                                    type="text"
                                    name="brand"
                                    id="brand"
                                    placeholder="Conway"
                                    v-model="input.brand"
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .brand
                                            ? 'error form-control form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="model"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Modèle</label
                                >
                                <input
                                    type="text"
                                    name="model"
                                    id="model"
                                    placeholder="Cairon"
                                    v-model="input.model"
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .model
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="provider"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Fournisseur</label
                                >
                                <input
                                    type="text"
                                    name="provider"
                                    id="provider"
                                    placeholder="Bosh"
                                    v-model="input.provider"
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .provider
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="category"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Catégorie</label
                                >
                                <select
                                    name="category"
                                    id="category"
                                    v-model="input.accessory_categories_id"
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .accessory_categories_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option
                                        v-for="item in stores
                                            .accessoriesCategoriesStore
                                            .getAccessoriesCategories"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label
                                    for="description"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Description</label
                                >
                                <textarea
                                    name="description"
                                    id="description"
                                    rows="3"
                                    v-model="input.description"
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .description
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                ></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label
                                    for="sizes"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Tailles</label
                                >
                                <select
                                    name="sizes[]"
                                    id="sizes"
                                    v-model="input.sizes"
                                    multiple
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .sizes
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="UNIQUE">UNIQUE</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label
                                    for="display"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Affichage</label
                                >
                                <select
                                    name="display"
                                    id="sizes"
                                    v-model="input.display"
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .display
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="Y">Oui</option>
                                    <option value="N">Non</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label
                                    for="status"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Status</label
                                >
                                <select
                                    name="status"
                                    id="status"
                                    v-model="input.status"
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .status
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="actif">Actif</option>
                                    <option value="inactif">Inactif</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Données de stock
                        </h4>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6">
                                <label
                                    for="minimal_stock"
                                    style="color: #3cb395"
                                    >Stock minimum</label
                                >
                                <input
                                    type="number"
                                    name="minimal_stock"
                                    class="form-control"
                                    id="minimal_stock"
                                    placeholder="1862"
                                    v-model="input.minimal_stock"
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .minimal_stock
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="col-sm-6">
                                <label
                                    for="optimal_stock"
                                    style="color: #3cb395"
                                    >Stock optimal</label
                                >
                                <input
                                    type="number"
                                    name="optimal_stock"
                                    class="form-control"
                                    id="optimal_stock"
                                    placeholder="56"
                                    v-model="input.optimal_stock"
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .optimal_stock
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <br />
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Données tarifaires
                        </h4>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="buying_price" style="color: #3cb395"
                                    >Prix d'achat</label
                                >
                                <div class="input-group mb-3">
                                    <input
                                        type="text"
                                        name="buying_price"
                                        class="form-control"
                                        id="buying_price"
                                        placeholder="2548"
                                        v-model="input.buying_price"
                                        :class="[
                                            stores.accessoriesCatalogStore
                                                .getErrors.buying_price
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                    />
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">€</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="price_htva" style="color: #3cb395"
                                    >Prix htva</label
                                >
                                <div class="input-group mb-3">
                                    <input
                                        type="text"
                                        name="price_htva"
                                        class="form-control"
                                        id="price_htva"
                                        placeholder="2548"
                                        v-model="input.price_htva"
                                        :class="[
                                            stores.accessoriesCatalogStore
                                                .getErrors.price_htva
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                    />
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">€</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Galerie
                        </h4>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="form-label" style="color: #3cb395"
                                    >Les images seront affichées par ordre
                                    alphabétique</label
                                >
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label
                                    class="form-label"
                                    style="color: #be3d3d"
                                    >{{
                                        stores.accessoriesCatalogStore
                                            .getFileErrors.message
                                    }}</label
                                >
                                <label type="button" class="btn btn-block"
                                    >Ajouter des images
                                    <input
                                        type="file"
                                        name="images[]"
                                        class="form-control"
                                        id="images"
                                        accept="image/jpg,image/jpeg,image/png,image/gif,image/svg,image/webp,video/mp4,video/webm,video/ogg"
                                        multiple
                                        hidden
                                        @change="
                                            uploadFile({
                                                e: $event,
                                                formData: formData,
                                                action: 'create',
                                                previews: previews,
                                                store: stores.accessoriesCatalogStore,
                                                fileType: ['image', 'video'],
                                            })
                                        "
                                    />
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div
                                class="col-sm-3"
                                v-for="item in previews"
                                :key="item.id"
                            >
                                <div class="imgContainer">
                                    <img
                                        v-if="item.type === 'image'"
                                        id="catalogImage"
                                        :src="item.src"
                                    />
                                    <video
                                        v-if="item.type === 'video'"
                                        id="catalogImage"
                                        :src="item.src"
                                        controls
                                    ></video>
                                    <div class="overlay">{{ item.id }}</div>
                                    <button
                                        id="deleteImageButton"
                                        type="button"
                                        class="btn btn-danger"
                                        @click="
                                            removePicture({
                                                name: item.id,
                                                vue: 'create',
                                                formData: formData,
                                                previews: previews,
                                            })
                                        "
                                    >
                                        X
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Ajout
                            {{
                                input.add_contract_type == "order"
                                    ? "de commande(s)"
                                    : "dans le stock"
                            }}
                        </h4>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <label
                                    style="
                                        width: 200px;
                                        margin: auto;
                                        color: #3cb395;
                                    "
                                    >Statut pour les ajouts</label
                                >
                                <select
                                    style="width: 200px; margin: auto"
                                    name="add_contract_type"
                                    v-model="input.add_contract_type"
                                    class="form-control"
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .add_contract_type
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="order">Commande</option>
                                    <option value="stock">Stock</option>
                                </select>
                                <br />
                            </div>
                            <div class="col-sm-2">
                                <label style="color: #3cb395">Taille XS</label>
                                <input
                                    type="number"
                                    name="add_xs"
                                    class="form-control"
                                    v-model="input.add_xs"
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .add_xs
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="col-sm-2">
                                <label style="color: #3cb395">Taille S</label>
                                <input
                                    type="number"
                                    name="add_s"
                                    class="form-control"
                                    v-model="input.add_s"
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .add_s
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="col-sm-2">
                                <label style="color: #3cb395">Taille M</label>
                                <input
                                    type="number"
                                    name="add_m"
                                    class="form-control"
                                    v-model="input.add_m"
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .add_m
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="col-sm-2">
                                <label style="color: #3cb395">Taille L</label>
                                <input
                                    type="number"
                                    name="add_l"
                                    class="form-control"
                                    v-model="input.add_l"
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .add_l
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="col-sm-2">
                                <label style="color: #3cb395">Taille XL</label>
                                <input
                                    type="number"
                                    name="add_xl"
                                    class="form-control"
                                    v-model="input.add_xl"
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .add_xl
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="col-sm-2">
                                <label style="color: #3cb395"
                                    >Taille UNIQUE</label
                                >
                                <input
                                    type="number"
                                    name="add_unique"
                                    class="form-control"
                                    v-model="input.add_unique"
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .add_unique
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <br /><br />
                        <div>
                            <button
                                style="width: 150px; margin: auto"
                                type="submit"
                                class="btn btn-block"
                            >
                                Valider les modifications
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
// Import dependencies
import { onBeforeMount, ref } from "vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import functions
import { uploadFile, removePicture } from "../../../functions/globalFunctions";

// Import components
import Header from "../ReusableComponents/HeaderComponent.vue";

onBeforeMount(() => {
    stores.accessoriesCategoriesStore.loadAccessoriesCategories();
});

const input = ref({
    display: "",
    status: "",
    accessory_categories_id: "",
    add_contract_type: "order",
    add_xs: 0,
    add_s: 0,
    add_m: 0,
    add_l: 0,
    add_xl: 0,
    add_unique: 0,
});
const previews = ref([]);
const formData = new FormData();

// Send form
const sendForm = async () => {
    formData.append("form", JSON.stringify(input.value));
    stores.accessoriesCatalogStore.create(formData);
};
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
#catalogImage {
    width: 100%;
    max-height: 200px;
    position: relative;
}
#deleteImageButton {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(190, 61, 61);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 0px;
    opacity: 0;
}
.imgContainer {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.imgContainer:hover .overlay {
    opacity: 1;
}
.imgContainer:hover #deleteImageButton {
    opacity: 1;
}
</style>
