<template>
    <div class="row" id="mainDynamicZone">
        <div class="col-sm-12 component-top-bar">
            <button
                @click="$router.go(-1)"
                style="width: 35px; height: 35px; padding: 0px; float: left"
                type="button"
                class="btn"
            >
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>

        <div class="col-sm-6">
            <div class="widget p-cb" style="height: 600px">
                <h4>Informations générales</h4>
                <div style="overflow-y: auto; height: 500px">
                    <div
                        v-show="
                            !!stores.accessoriesCatalogStore.getAccessoryCatalog
                                .brand
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Marque</label
                        >
                        <p>
                            {{
                                stores.accessoriesCatalogStore
                                    .getAccessoryCatalog.brand
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.accessoriesCatalogStore.getAccessoryCatalog
                                .model
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Modèle</label
                        >
                        <p>
                            {{
                                stores.accessoriesCatalogStore
                                    .getAccessoryCatalog.model
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.accessoriesCatalogStore.getAccessoryCatalog
                                .sizes
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Tailles</label
                        >
                        <p>
                            {{
                                Array.isArray(
                                    stores.accessoriesCatalogStore
                                        .getAccessoryCatalog.sizes
                                )
                                    ? stores.accessoriesCatalogStore.getAccessoryCatalog.sizes.join(
                                          ", "
                                      )
                                    : stores.accessoriesCatalogStore
                                          .getAccessoryCatalog.sizes
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.accessoriesCatalogStore.getAccessoryCatalog
                                .accessory_catalog_id
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Catégorie</label
                        >
                        <p>
                            {{
                                stores.accessoriesCatalogStore
                                    .getAccessoryCatalog.category
                                    ? stores.accessoriesCatalogStore
                                          .getAccessoryCatalog.category.name
                                    : ""
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.accessoriesCatalogStore.getAccessoryCatalog
                                .provider
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Fournisseur</label
                        >
                        <p>
                            {{
                                stores.accessoriesCatalogStore
                                    .getAccessoryCatalog.provider
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.accessoriesCatalogStore.getAccessoryCatalog
                                .minimal_stock
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Stock minimum</label
                        >
                        <p>
                            {{
                                stores.accessoriesCatalogStore
                                    .getAccessoryCatalog.minimal_stock
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.accessoriesCatalogStore.getAccessoryCatalog
                                .optimal_stock
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Stock optimal</label
                        >
                        <p>
                            {{
                                stores.accessoriesCatalogStore
                                    .getAccessoryCatalog.optimal_stock
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.accessoriesCatalogStore.getAccessoryCatalog
                                .display
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Affichage</label
                        >
                        <p>
                            {{
                                stores.accessoriesCatalogStore
                                    .getAccessoryCatalog.display
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.accessoriesCatalogStore.getAccessoryCatalog
                                .status
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Status</label
                        >
                        <p>
                            {{
                                stores.accessoriesCatalogStore
                                    .getAccessoryCatalog.status
                            }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="widget p-cb">
                <h4>Informations tarifaires</h4>
                <div style="overflow-y: auto">
                    <div
                        v-show="
                            !!stores.accessoriesCatalogStore.getAccessoryCatalog
                                .buying_price
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Prix d'achat</label
                        >
                        <p>
                            {{
                                stores.accessoriesCatalogStore
                                    .getAccessoryCatalog.buying_price
                            }}€
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.accessoriesCatalogStore.getAccessoryCatalog
                                .price_htva
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Prix htva</label
                        >
                        <p>
                            {{
                                stores.accessoriesCatalogStore
                                    .getAccessoryCatalog.price_htva
                            }}€
                        </p>
                    </div>
                </div>
            </div>
            <div class="widget p-cb">
                <h4>Galerie</h4>
                <div
                    style="
                        overflow-y: auto;
                        overflow-x: clip;
                        max-height: 250px;
                    "
                >
                    <div class="row">
                        <p
                            v-show="
                                typeof stores.accessoriesCatalogStore
                                    .getAccessoryCatalog.pictures ===
                                'undefined'
                            "
                            style="
                                text-align: center;
                                color: #3cb395;
                                text-transform: uppercase;
                            "
                        >
                            Pas d'images disponibles
                        </p>
                        <div
                            class="col-sm-6"
                            v-for="item in stores.accessoriesCatalogStore
                                .getAccessoryCatalog.pictures"
                            :key="item"
                        >
                            <img
                                v-if="
                                    [
                                        'jpg',
                                        'jpeg',
                                        'png',
                                        'gif',
                                        'svg',
                                        'webp',
                                    ].includes(
                                        item.split('.').pop().toLowerCase()
                                    )
                                "
                                id="catalogImage"
                                :src="
                                    '../../../../../storage/accessories_pictures/' +
                                    route.params.id +
                                    '/' +
                                    item
                                "
                            />
                            <video
                                v-if="
                                    ['mp4', 'webm', 'ogg'].includes(
                                        item.split('.').pop().toLowerCase()
                                    )
                                "
                                id="catalogImage"
                                :src="
                                    '../../../../../storage/accessories_pictures/' +
                                    route.params.id +
                                    '/' +
                                    item
                                "
                                controls
                            ></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Define constante
const route = useRoute();

// Call functions
stores.accessoriesCatalogStore.show(route.params.id);
</script>
<style scoped>
#catalogImage {
    width: 100%;
    max-height: 200px;
    position: relative;
}
</style>
