<template>
    <div>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12 component-top-bar">
                <button
                    @click="$router.push({ name: 'accessories-catalog-list' })"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button
                    @click="isOpen = true"
                    style="
                        height: 35px;
                        padding: 10px;
                        float: right;
                        margin-right: 5px;
                    "
                    type="button"
                    class="btn btn-danger"
                >
                    Supprimer l'accessoire du catalogue
                </button>
            </div>

            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form
                        @change="
                            stores.accessoriesCatalogStore.update(formData)
                        "
                    >
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-weight: bold;
                            "
                        >
                            Données principales
                        </h4>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="brand"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Marque</label
                                >
                                <input
                                    type="text"
                                    name="brand"
                                    id="brand"
                                    placeholder="Conway"
                                    v-model="
                                        stores.accessoriesCatalogStore
                                            .getAccessoryCatalog.brand
                                    "
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .brand
                                            ? 'error form-control form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="model"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Modèle</label
                                >
                                <input
                                    type="text"
                                    name="model"
                                    id="model"
                                    placeholder="Cairon"
                                    v-model="
                                        stores.accessoriesCatalogStore
                                            .getAccessoryCatalog.model
                                    "
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .model
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="provider"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Fournisseur</label
                                >
                                <input
                                    type="text"
                                    name="provider"
                                    id="provider"
                                    placeholder="Bosh"
                                    v-model="
                                        stores.accessoriesCatalogStore
                                            .getAccessoryCatalog.provider
                                    "
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .provider
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="category"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Catégorie</label
                                >
                                <select
                                    name="category"
                                    id="category"
                                    v-model="
                                        stores.accessoriesCatalogStore
                                            .getAccessoryCatalog
                                            .accessory_categories_id
                                    "
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .accessory_categories_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option
                                        v-for="item in stores
                                            .accessoriesCategoriesStore
                                            .getAccessoriesCategories"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label
                                    for="description"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Description</label
                                >
                                <textarea
                                    name="description"
                                    id="description"
                                    rows="3"
                                    v-model="
                                        stores.accessoriesCatalogStore
                                            .getAccessoryCatalog.description
                                    "
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .description
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                ></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label
                                    for="sizes"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Tailles</label
                                >
                                <select
                                    name="sizes[]"
                                    id="sizes"
                                    v-model="
                                        stores.accessoriesCatalogStore
                                            .getAccessoryCatalog.sizes
                                    "
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .sizes
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    multiple
                                >
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="UNIQUE">UNIQUE</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label
                                    for="display"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Affichage</label
                                >
                                <select
                                    name="display"
                                    id="sizes"
                                    v-model="
                                        stores.accessoriesCatalogStore
                                            .getAccessoryCatalog.display
                                    "
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .display
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="Y">Oui</option>
                                    <option value="N">Non</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label
                                    for="status"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Status</label
                                >
                                <select
                                    name="status"
                                    id="status"
                                    v-model="
                                        stores.accessoriesCatalogStore
                                            .getAccessoryCatalog.status
                                    "
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .status
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="actif">Actif</option>
                                    <option value="inactif">Inactif</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Données de stock
                        </h4>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6">
                                <label
                                    for="minimal_stock"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Stock minimum</label
                                >
                                <input
                                    type="number"
                                    name="minimal_stock"
                                    id="minimal_stock"
                                    placeholder="1862"
                                    v-model="
                                        stores.accessoriesCatalogStore
                                            .getAccessoryCatalog.minimal_stock
                                    "
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .minimal_stock
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="col-sm-6">
                                <label
                                    for="optimal_stock"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Stock optimal</label
                                >
                                <input
                                    type="number"
                                    name="optimal_stock"
                                    id="optimal_stock"
                                    placeholder="56"
                                    v-model="
                                        stores.accessoriesCatalogStore
                                            .getAccessoryCatalog.optimal_stock
                                    "
                                    :class="[
                                        stores.accessoriesCatalogStore.getErrors
                                            .optimal_stock
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <br />
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Données tarifaires
                        </h4>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="buying_price"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Prix d'achat</label
                                >
                                <div class="input-group mb-3">
                                    <input
                                        type="text"
                                        name="buying_price"
                                        id="buying_price"
                                        placeholder="2548"
                                        v-model="
                                            stores.accessoriesCatalogStore
                                                .getAccessoryCatalog
                                                .buying_price
                                        "
                                        :class="[
                                            stores.accessoriesCatalogStore
                                                .getErrors.buying_price
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                    />
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">€</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="price_htva"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Prix htva</label
                                >
                                <div class="input-group mb-3">
                                    <input
                                        type="text"
                                        name="price_htva"
                                        id="price_htva"
                                        placeholder="2548"
                                        v-model="
                                            stores.accessoriesCatalogStore
                                                .getAccessoryCatalog.price_htva
                                        "
                                        :class="[
                                            stores.accessoriesCatalogStore
                                                .getErrors.price_htva
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                    />
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">€</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Galerie
                        </h4>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="form-label" style="color: #3cb395"
                                    >Les images seront affichées par ordre
                                    alphabétique</label
                                >
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label type="button" class="btn btn-block"
                                    >Ajouter des images
                                    <input
                                        style="cursor: pointer"
                                        type="file"
                                        name="images[]"
                                        class="form-control"
                                        id="images"
                                        accept="image/jpg,image/jpeg,image/png,image/gif,image/svg,image/webp,video/mp4,video/webm,video/ogg"
                                        multiple
                                        hidden
                                        @change="
                                            uploadFile({
                                                e: $event,
                                                formData: formData,
                                                action: 'update',
                                                store: stores.accessoriesCatalogStore,
                                                stateFiles:
                                                    stores
                                                        .accessoriesCatalogStore
                                                        .getAccessoryCatalog
                                                        .pictures,
                                                fileType: ['image', 'video'],
                                            })
                                        "
                                    />
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div
                                class="col-sm-3"
                                v-for="item in stores.accessoriesCatalogStore
                                    .getAccessoryCatalog.pictures"
                                :key="item"
                            >
                                <div class="imgContainer">
                                    <img
                                        v-if="
                                            [
                                                'jpg',
                                                'jpeg',
                                                'png',
                                                'gif',
                                                'svg',
                                                'webp',
                                            ].includes(
                                                item
                                                    .split('.')
                                                    .pop()
                                                    .toLowerCase()
                                            )
                                        "
                                        id="catalogImage"
                                        :src="
                                            '../../../../../storage/accessories_pictures/' +
                                            route.params.id +
                                            '/' +
                                            item
                                        "
                                    />
                                    <video
                                        v-if="
                                            ['mp4', 'webm', 'ogg'].includes(
                                                item
                                                    .split('.')
                                                    .pop()
                                                    .toLowerCase()
                                            )
                                        "
                                        id="catalogImage"
                                        :src="
                                            '../../../../../storage/accessories_pictures/' +
                                            route.params.id +
                                            '/' +
                                            item
                                        "
                                        controls
                                    ></video>
                                    <div class="overlay">{{ item }}</div>
                                    <button
                                        id="deleteImageButton"
                                        type="button"
                                        class="btn btn-danger"
                                        @click="
                                            removePicture({
                                                id: route.params.id,
                                                vue: 'update',
                                                name: item,
                                                store: stores.accessoriesCatalogStore,
                                            })
                                        "
                                    >
                                        X
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <DeleteValidationModal
            :open="isOpen"
            @close="isOpen = !isOpen"
            :id="stores.accessoriesCatalogStore.getAccessoryCatalog.id"
            :store="stores.accessoriesCatalogStore"
        />
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref } from "vue";
import DeleteValidationModal from "../Modals/DeleteValidationModal.vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import function
import { uploadFile, removePicture } from "../../../functions/globalFunctions";

const isOpen = ref(false);
const route = useRoute();
var formData = new FormData();

// Define constante
await Promise.all([
    stores.accessoriesCategoriesStore.loadAccessoriesCategories(),
    stores.accessoriesCatalogStore.show(route.params.id),
]);
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
#catalogImage {
    width: 100%;
    max-height: 200px;
    position: relative;
}
#deleteImageButton {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(190, 61, 61);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 0px;
    opacity: 0;
}
.imgContainer {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.imgContainer:hover .overlay {
    opacity: 1;
}
.imgContainer:hover #deleteImageButton {
    opacity: 1;
}
</style>
