<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Ajouter un accessoire
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.go(-1)"
                    style="width: 35px; height: 35px; padding: 0px; float: left"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>

            <div class="col-sm-12">
                <form
                    @submit.prevent="
                        stores.entretiensStore.createEntretienDetails(input)
                    "
                >
                    <div class="widget p-cb">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label" style="color: #3cb395"
                                    >Catégorie</label
                                >
                                <select
                                    class="form-control"
                                    v-model="input.category"
                                    @change="updateModels()"
                                    name="category"
                                    id="category"
                                >
                                    <option :value="null" disabled>
                                        Choisir une catégorie
                                    </option>
                                    <option
                                        v-for="item in stores
                                            .tempAccessoriesCategoriesStore
                                            .getTempAccessoriesCategories"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.description }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label
                                    for="accessories_catalog_id"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Modèle</label
                                >
                                <select
                                    class="form-control"
                                    name="accessories_catalog_id"
                                    id="accessories_catalog_id"
                                    @change="updatePrice()"
                                    v-model="input.accessories_catalog_id"
                                    :class="[
                                        stores.entretiensStore.getErrors
                                            .accessories_catalog_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option :value="null" disabled>
                                        Choisir un modèle
                                    </option>
                                    <option
                                        v-for="item in models"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.model }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label
                                    for="size"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Taille</label
                                >
                                <select
                                    class="form-control"
                                    name="size"
                                    id="size"
                                    v-model="input.size"
                                    :class="[
                                        stores.entretiensStore.getErrors.size
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option :value="null" disabled>
                                        Choisir une taille
                                    </option>
                                    <option
                                        v-for="item in sizes"
                                        :key="item"
                                        :value="item"
                                    >
                                        {{ item }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label
                                    for="amount"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Montant</label
                                >
                                <input
                                    type="number"
                                    step="0.01"
                                    name="amount"
                                    class="form-control"
                                    id="amount"
                                    v-model="input.amount"
                                    :class="[
                                        stores.entretiensStore.getErrors.amount
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <br />
                        <div>
                            <button
                                style="width: 150px; margin: auto"
                                type="submit"
                                class="btn btn-block"
                            >
                                Ajouter
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { ref } from "vue";
import { useRoute } from "vue-router";

// Import stores
import * as stores from "../../../../../store/StoresIndex";

await stores.tempAccessoriesCategoriesStore.loadTempAccessoriesCategories();

const route = useRoute();
const models = ref();
const sizes = ref();
const input = ref({
    type: "accessory",
    entretien_id: route.params.id,
    category: null,
    accessories_catalog_id: null,
    size: null,
    amount: 0,
});

async function updateModels() {
    sizes.value = null;
    input.value.size = null;
    input.value.amount = null;
    input.value.accessories_catalog_id = null;
    stores.accessoriesCatalogStore
        .loadAccessoriesCatalogByCategorieForSelect(input.value.category)
        .then((data) => (models.value = data));
}

async function updatePrice() {
    const accessory = await stores.accessoriesCatalogStore.getAccessoryById(
        input.value.accessories_catalog_id
    );
    sizes.value = accessory.sizes;
    input.value["amount"] = stores.accessoriesCatalogStore.getPrice(
        accessory,
        "selling"
    );
}
</script>
<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
