<template>
    <label
        id="googleAutoCompleteLabel"
        class="form-label"
        style="color: #3cb395"
        >Adresse</label
    >
    <input
        id="ship-address"
        name="ship-address"
        autocomplete="off"
        :class="[store ? 'error form-control' : 'form-control']"
        :value="modelValue"
    />
    <p style="color: red; font-size: 0.8em; display: none" id="errorMessage">
        {{ errorMessage }}
    </p>
</template>

<script setup>
// Import dependencies
import { onMounted, onUnmounted, ref } from "vue";

// Define props for v-model
const props = defineProps({
    modelValue: {},
    store: {},
});

// Define emits
const emit = defineEmits(["update:modelValue"]);

// Define variables
let autocomplete;
let address1Field;
const errorMessage = ref("");

// Create script and add src to it
onMounted(() => {
    let ApiKeyGoogleScript = document.createElement("script");
    ApiKeyGoogleScript.setAttribute(
        "src",
        "https://maps.googleapis.com/maps/api/js?key=" +
            process.env.MIX_GOOGLE_API_KEY +
            "&callback=initAutocomplete&libraries=places&v=weekly"
    );
    ApiKeyGoogleScript.setAttribute("id", "google-api-key");
    document.head.appendChild(ApiKeyGoogleScript);
    window.initAutocomplete = initAutocomplete;
});

// Destroy script
onUnmounted(() => {
    if (autocomplete) {
        autocomplete.unbindAll();
    }
    document.head.removeChild(document.getElementById("google-api-key"));
});

// Autocomplete function
function initAutocomplete() {
    address1Field = document.querySelector("#ship-address");
    /* global google */
    autocomplete = new google.maps.places.Autocomplete(address1Field, {
        componentRestrictions: { country: ["be", "fr"] },
        fields: ["address_components", "geometry"],
        types: ["address"],
    });
    address1Field.focus();
    autocomplete.addListener("place_changed", placeChanged);
}

// Getting address from autocomplete
function placeChanged() {
    let place = autocomplete.getPlace();
    let item = [];
    for (let i = 0; i < place.address_components.length; i++) {
        item.push(place.address_components[i].types[0]);
    }
    if (
        item
            .join(", ")
            .includes(
                "street_number",
                "route",
                "locality",
                "country",
                "postal_code"
            )
    ) {
        errorMessage.value = "";
        document.getElementById("errorMessage").style.display = "none";
        const address = {
            street: place.address_components[1].long_name,
            houseNumber: place.address_components[0].long_name,
            zip: place.address_components[6].long_name,
            city: place.address_components[2].long_name,
            country: place.address_components[5].long_name,
            condensed:
                place.address_components[0].long_name +
                ", " +
                place.address_components[1].long_name +
                ", " +
                place.address_components[6].long_name +
                ", " +
                place.address_components[2].long_name +
                ", " +
                place.address_components[5].long_name,
            longitude: null,
            latitude: null,
        };
        emit("update:modelValue", address.condensed);
    } else {
        errorMessage.value = "";
        if (!item.join(", ").includes("street_number")) {
            document.getElementById("errorMessage").style.display = "inline";
            errorMessage.value =
                "Veuillez ajouter le numéro de maison s'il vous plaît";
        }
        if (!item.join(", ").includes("route")) {
            document.getElementById("errorMessage").style.display = "inline";
            errorMessage.value = "Veuillez ajouter l'adresse' s'il vous plaît";
        }
        if (!item.join(", ").includes("locality")) {
            document.getElementById("errorMessage").style.display = "inline";
            errorMessage.value = "Veuillez ajouter la ville s'il vous plaît";
        }
        if (!item.join(", ").includes("country")) {
            document.getElementById("errorMessage").style.display = "inline";
            errorMessage.value = "Veuillez ajouter le pays s'il vous plaît";
        }
        if (!item.join(", ").includes("postal_code")) {
            document.getElementById("errorMessage").style.display = "inline";
            errorMessage.value =
                "Veuillez ajouter le code postal s'il vous plaît";
        }
    }
}
</script>
<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
