<template>
    <Datatable :headers="headers" :storeName="storeName" pdfBtn updateBtn />
</template>
<script setup>
import Datatable from "../ReusableComponents/Datatable.vue";
const storeName = "offersStore";
const headers = [
    { value: "id", name: "#" },
    { value: "client", name: "Client" },
    { value: "bikes", name: "Vélos" },
    { value: "accessories", name: "Accessoires" },
    { value: "boxes", name: "Bornes" },
    { value: "step", name: "Statut" },
];
</script>
