<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Modifier une offre
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.push({ name: 'offers-list' })"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button
                    @click="isOpen = true"
                    style="
                        height: 35px;
                        padding: 10px;
                        float: right;
                        margin-right: 5px;
                    "
                    type="button"
                    class="btn btn-danger"
                >
                    Supprimer l'offre
                </button>
                <button
                    @click="stores.offersStore.generateOffer()"
                    style="
                        height: 35px;
                        padding: 10px;
                        float: right;
                        margin-right: 5px;
                    "
                    type="button"
                    :class="
                        (stores.offersStore.getOfferBikes.length > 0 ||
                            stores.offersStore.getOfferAccessories.length > 0 ||
                            stores.offersStore.getOfferBoxes.length > 0) &&
                        stores.offersStore.getOffer.title !== null &&
                        stores.offersStore.getOffer.description !== null &&
                        stores.offersStore.getOffer.validity_date !== null
                            ? 'btn'
                            : 'btn disabled'
                    "
                    id="btnGenerateOffer"
                >
                    Générer une offre
                </button>
            </div>
            <div class="col-md-12">
                <div class="widget p-cb">
                    <div v-if="stores.offersStore.getOffer.company.name">
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Informations sur l'offre
                        </h4>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label"
                                    >Nom de la société</label
                                >
                                <p>
                                    {{
                                        stores.offersStore.getOffer.company.name
                                    }}
                                </p>
                            </div>
                            <div
                                class="col-sm-6"
                                v-if="
                                    stores.offersStore.getOffer.users_id !==
                                    null
                                "
                            >
                                <label class="form-label">Utilisateur</label>
                                <p>
                                    {{ user.firstname + " " + user.lastname }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="widget p-cb">
                    <h4
                        style="
                            text-transform: uppercase;
                            color: #3cb395;
                            font-wieght: bold;
                        "
                    >
                        Gérer l'offre
                    </h4>
                    <hr />
                    <form @change="stores.offersStore.update">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label" style="color: #3cb395"
                                    >Titre</label
                                >
                                <input
                                    type="text"
                                    :class="[
                                        stores.offersStore.getErrors.title
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    v-model="stores.offersStore.getOffer.title"
                                />
                            </div>
                            <div class="col-sm-6">
                                <label
                                    for="description"
                                    style="color: #3cb395"
                                    class="form-label"
                                    >Description</label
                                >
                                <textarea
                                    name="description"
                                    id="description"
                                    style="width: 100%; resize: none"
                                    rows="6"
                                    v-model="
                                        stores.offersStore.getOffer.description
                                    "
                                    :class="[
                                        stores.offersStore.getErrors.title
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                ></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label" style="color: #3cb395"
                                    >Réduction globale</label
                                >
                                <input
                                    type="text"
                                    :class="[
                                        stores.offersStore.getErrors
                                            .global_discount
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    v-model="
                                        stores.offersStore.getOffer
                                            .global_discount
                                    "
                                />
                            </div>
                            <div class="col-sm-6">
                                <label
                                    for="description"
                                    style="color: #3cb395"
                                    class="form-label"
                                    >Date de validité</label
                                >
                                <input
                                    type="date"
                                    name="validity_date"
                                    id="validity_date"
                                    v-model="
                                        stores.offersStore.getOffer
                                            .validity_date
                                    "
                                    :class="[
                                        stores.offersStore.getErrors
                                            .validity_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="planned_time" style="color: #3cb395"
                                    >Probabilité de
                                    {{
                                        !!stores.offersStore.getOffer
                                            .probability
                                            ? stores.offersStore.getOffer
                                                  .probability
                                            : "0"
                                    }}
                                    %</label
                                >
                                <input
                                    type="range"
                                    min="0"
                                    max="100"
                                    step="5"
                                    id="probability"
                                    name="probability"
                                    v-model="
                                        stores.offersStore.getOffer.probability
                                    "
                                    :class="[
                                        stores.offersStore.getErrors.title
                                            ? 'error form-range'
                                            : 'form-range',
                                    ]"
                                />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" style="color: #3cb395"
                                    >Status</label
                                >
                                <select
                                    v-model="stores.offersStore.getOffer.step"
                                    name="status"
                                    id="status"
                                    :class="[
                                        stores.offersStore.getErrors.status
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="onGoing">En cours</option>
                                    <option value="signed">Signé</option>
                                    <option value="lost">Perdu</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-12">
                <div class="widget p-cb">
                    <div style="overflow-y: auto">
                        <h5 class="text-primary float-left">Vélos</h5>
                        <router-link
                            :to="{
                                name: 'bike-offers-create',
                                params: { id: route.params.id },
                            }"
                            tag="button"
                            class="btn btn-xs float-right"
                        >
                            Ajouter un vélo
                        </router-link>
                        <div v-show="offer_bikes.length === 0">
                            <p
                                style="
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    color: #3cb295;
                                    text-align: center;
                                    margin-top: 50px;
                                "
                            >
                                Aucun vélo pour cette commande
                            </p>
                        </div>
                        <table
                            class="table datatable"
                            v-show="offer_bikes.length > 0"
                        >
                            <thead>
                                <tr style="text-align: center">
                                    <th>ID</th>
                                    <th>Marque</th>
                                    <th>Modèle</th>
                                    <th>Type de contrat</th>
                                    <th>Montant du contrat</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="bike in offer_bikes"
                                    :key="bike.id"
                                    style="text-align: center"
                                >
                                    <td>{{ bike.id }}</td>
                                    <td>
                                        {{ bike.catalog?.brand }}
                                    </td>
                                    <td>
                                        {{ bike.catalog?.model }}
                                    </td>
                                    <td>{{ bike.contract_type }}</td>
                                    <td>{{ bike.contract_amount }} €</td>
                                    <td>
                                        <button
                                            type="button"
                                            @click="
                                                stores.offersStore.deleteOfferDetails(
                                                    bike.id
                                                )
                                            "
                                            class="btn btn-xs btn-danger"
                                        >
                                            <i class="fa fa-trash-can"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <h5 class="text-primary float-left">Accessoires</h5>
                        <router-link
                            :to="{
                                name: 'accessory-offers-create',
                                params: { id: route.params.id },
                            }"
                            tag="button"
                            class="btn btn-xs float-right"
                        >
                            Ajouter un accessoire
                        </router-link>
                        <div v-show="offer_accessories.length === 0">
                            <p
                                style="
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    color: #3cb295;
                                    text-align: center;
                                    margin-top: 50px;
                                "
                            >
                                Aucun accessoire pour cette commande
                            </p>
                        </div>
                        <table
                            class="table datatable"
                            v-show="offer_accessories.length > 0"
                        >
                            <thead>
                                <tr style="text-align: center">
                                    <th>ID</th>
                                    <th>Marque</th>
                                    <th>Modèle</th>
                                    <th>Type de contrat</th>
                                    <th>Montant du contrat</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="accessory in offer_accessories"
                                    :key="accessory.id"
                                    style="text-align: center"
                                >
                                    <td>{{ accessory.id }}</td>
                                    <td>
                                        {{ accessory.catalog?.brand }}
                                    </td>
                                    <td>
                                        {{ accessory.catalog?.model }}
                                    </td>
                                    <td>{{ accessory.contract_type }}</td>
                                    <td>{{ accessory.contract_amount }} €</td>
                                    <td>
                                        <button
                                            type="button"
                                            @click="
                                                stores.offersStore.deleteOfferDetails(
                                                    accessory.id
                                                )
                                            "
                                            class="btn btn-xs btn-danger"
                                        >
                                            <i class="fa fa-trash-can"></i>
                                        </button>
                                    </td>
                                    <td style="text-align: right"></td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <h5 class="text-primary float-left">Bornes</h5>
                        <router-link
                            :to="{
                                name: 'box-offers-create',
                                params: { id: route.params.id },
                            }"
                            tag="button"
                            class="btn btn-xs float-right"
                        >
                            Ajouter une borne
                        </router-link>
                        <div v-show="offer_boxes.length === 0">
                            <p
                                style="
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    color: #3cb295;
                                    text-align: center;
                                    margin-top: 50px;
                                "
                            >
                                Aucune borne pour cette commande
                            </p>
                        </div>
                        <table
                            class="table datatable"
                            v-show="offer_boxes.length > 0"
                        >
                            <thead>
                                <tr style="text-align: center">
                                    <th>ID</th>
                                    <th>Modèle</th>
                                    <th>Montant installation</th>
                                    <th>Montant de location</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="box in offer_boxes"
                                    :key="box.id"
                                    style="text-align: center"
                                >
                                    <td>{{ box.id }}</td>
                                    <td>
                                        {{ box.catalog?.model }}
                                    </td>
                                    <td>{{ box.installation_amount }}</td>
                                    <td>{{ box.contract_amount }} €/mois</td>
                                    <td>
                                        <button
                                            type="button"
                                            @click="
                                                stores.offersStore.deleteOfferDetails(
                                                    box.id
                                                )
                                            "
                                            class="btn btn-xs btn-danger"
                                        >
                                            <i class="fa fa-trash-can"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <DeleteValidationModal
            :open="isOpen"
            @close="isOpen = !isOpen"
            :id="stores.offersStore.getOffer.id"
            :store="stores.offersStore"
        />
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref, watchEffect } from "vue";
import DeleteValidationModal from "../Modals/DeleteValidationModal.vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

const isOpen = ref(false);
const route = useRoute();
const offer_accessories = ref([]);
const offer_bikes = ref([]);
const offer_boxes = ref([]);
const user = ref({});

// pour ne pas faire plein d'appel api
// quand le même accessoire est présent plusieurs fois
const accessories = {};
const bikes = {};
const boxes = {};

await stores.offersStore.show(route.params.id);

watchEffect(async () => {
    if (stores.offersStore.getOffer.users_id) {
        user.value = await stores.usersStore.getUserById(
            stores.offersStore.getOffer.users_id
        );
    }
});

watchEffect(async () => {
    offer_boxes.value = stores.offersStore.getOfferBoxes;
    for (const box of offer_boxes.value) {
        if (!(box.item_id in boxes)) {
            const data = await stores.boxesCatalogStore.getBoxCatalogById(
                box.item_id
            );
            boxes[box.item_id] = data;
        }
        box.catalog = boxes[box.item_id];
    }
});

watchEffect(async () => {
    offer_bikes.value = stores.offersStore.getOfferBikes;
    for (const bike of offer_bikes.value) {
        if (!(bike.item_id in bikes)) {
            const data = await stores.bikesCatalogStore.getBikeCatalogById(
                bike.item_id
            );
            bikes[bike.item_id] = data;
        }
        bike.catalog = bikes[bike.item_id];
    }
});

watchEffect(async () => {
    offer_accessories.value = stores.offersStore.getOfferAccessories;
    for (const accessory of offer_accessories.value) {
        if (!(accessory.item_id in accessories)) {
            const data = await stores.accessoriesCatalogStore.getAccessoryById(
                accessory.item_id
            );
            accessories[accessory.item_id] = data;
        }
        accessory.catalog = accessories[accessory.item_id];
    }
});
</script>
<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
label {
    color: #3cb295;
}
</style>
