<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Créer une offre de prix
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <div class="widget p-cb">
                    <!-- Etape 1 -->
                    <div
                        id="div-1"
                        v-if="
                            newOffer.companies_id === null &&
                            newOffer.users_id === null &&
                            newOffer.employee_id === null
                        "
                    >
                        <br /><br />
                        <h3 style="text-align: center">
                            Par qui l'offre est elle créée ?
                        </h3>
                        <br />
                        <div
                            style="
                                width: 300px;
                                margin: auto;
                                text-align: center;
                            "
                        >
                            <select
                                name="employee"
                                id="employee"
                                class="form-control"
                                v-model="newOffer.employee_id"
                                style="width: 300px"
                            >
                                <option :value="null" disabled>
                                    Choisir une option
                                </option>
                                <option
                                    v-for="employee in employees"
                                    :key="employee.id"
                                    :value="employee.id"
                                >
                                    {{ employee.firstname }}
                                    {{ employee.lastname }}
                                </option>
                            </select>
                        </div>
                        <br /><br />
                    </div>

                    <!-- Etape 2 -->
                    <div
                        id="div-2"
                        v-if="
                            newOffer.companies_id === null &&
                            newOffer.users_id === null &&
                            newOffer.employee_id !== null
                        "
                    >
                        <button
                            @click="newOffer.employee_id = null"
                            style="
                                width: 35px;
                                height: 35px;
                                padding: 0px;
                                float: left;
                            "
                            type="button"
                            class="btn"
                        >
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <br /><br />
                        <h3 style="text-align: center">
                            Pour quel société voulez-vous créer<br />
                            une nouvelle offre ?
                        </h3>
                        <br />
                        <div
                            style="
                                width: 300px;
                                margin: auto;
                                text-align: center;
                            "
                        >
                            <select
                                v-model="newOffer.companies_id"
                                name="companies_id"
                                id="companies_id"
                                :class="[
                                    stores.offersStore.getErrors.companies_id
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                            >
                                <option :value="null" selected disabled>
                                    Choisir une société ...
                                </option>
                                <option
                                    v-for="item in stores.companiesStore
                                        .getCompanies"
                                    :key="item.id"
                                    :value="item.id"
                                >
                                    {{ item.name }}
                                </option>
                            </select>
                        </div>
                        <br /><br />
                    </div>

                    <!-- Etape 3 -->
                    <div
                        id="div-3"
                        v-if="
                            newOffer.companies_id !== null &&
                            newOffer.employee_id !== null
                        "
                    >
                        <button
                            @click="goBackStep3()"
                            style="
                                width: 35px;
                                height: 35px;
                                padding: 0px;
                                float: left;
                            "
                            type="button"
                            class="btn"
                        >
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <br /><br />
                        <h3 style="text-align: center">
                            À quel utilisateur voulez-vous assigner<br />
                            cette offre ? (facultatif)
                        </h3>
                        <br />
                        <div
                            style="
                                width: 300px;
                                margin: auto;
                                text-align: center;
                            "
                        >
                            <select
                                v-model="newOffer.users_id"
                                name="companies_id"
                                id="companies_id"
                                :class="[
                                    stores.offersStore.getErrors.companies_id
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                            >
                                <option :value="null" selected disabled>
                                    Choisir un utilisateur ...
                                </option>
                                <option
                                    v-for="user in company_users"
                                    :key="user.id"
                                    :value="user.id"
                                >
                                    {{ user.firstname }} {{ user.lastname }}
                                </option>
                            </select>
                        </div>
                        <br /><br />
                        <div class="row">
                            <div
                                class="col-md-12"
                                style="margin: auto; text-align: center"
                            >
                                <button
                                    type="button"
                                    class="btn"
                                    @click="sendData"
                                >
                                    Créer l'offre
                                </button>
                            </div>
                        </div>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { watch, ref } from "vue";

// Import store
import * as stores from "../../../store/StoresIndex";

await stores.companiesStore.loadCompanies();

const newOffer = ref({
    companies_id: null,
    users_id: null,
    employee_id: null,
});
const createClientZone = ref(false);
const input = ref({});
const company_users = ref([]);

const employees = await stores.usersStore.getEmployee("admin");

watch(
    () => newOffer.value.companies_id,
    async () => {
        company_users.value = await stores.usersStore.getUsersByCompany(
            newOffer.value.companies_id
        );
    }
);

function sendData() {
    if (
        newOffer.value["employee_id"] !== null &&
        newOffer.value["companies_id"] !== null
    ) {
        stores.offersStore.create(newOffer);
    }
}

function goBackStep3() {
    newOffer.value["companies_id"] = null;
    newOffer.value["users_id"] = null;
}
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
.createClientBtn {
    cursor: pointer;
    margin-top: 1em;
    display: block;
    border: 2.5px solid #3cb295;
    color: #3cb295;
    padding: 0.4em;
    border-radius: 5px;
}
.createClientBtn:hover {
    background: #3cb295;
    color: #fff;
}
.selectCompanyBtn {
    background: #3cb295;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
</style>
