<template>
    <div
        v-if="bikes.length > 0"
        class="widget p-cb"
        style="height: 375px; overflow-y: scroll"
    >
        <div
            class="widget p-cb d-flex"
            style="height: 100%; margin: 0px"
            v-for="bike in bikes"
            :key="bike.id"
        >
            <div class="row">
                <div class="col-sm-4 justify-content-center align-self-center">
                    <img
                        src="/images/velo-dev.jpg"
                        style="max-width: 100%"
                        alt="kameobikes"
                    />
                    <h4
                        style="
                            text-align: center;
                            color: #3cb295;
                            margin-top: 1em;
                        "
                    >
                        {{ bike.catalog.brand + " " + bike.catalog.model }}
                    </h4>
                </div>

                <div class="col-sm-8">
                    <div class="row" style="height: 50%">
                        <InfoCard
                            class="col-sm-6"
                            @click="
                                async () => {
                                    await showModal(bike.id);
                                    upCommingEntretienIsOpen = true;
                                }
                            "
                        >
                            <template #description>
                                Entretiens à venir
                            </template>
                            <template #information>
                                {{
                                    bike.entretiens.filter(
                                        (entretien) =>
                                            entretien.status !== "done"
                                    ).length
                                }}
                            </template>
                        </InfoCard>

                        <InfoCard
                            class="col-sm-6"
                            @click="
                                async () => {
                                    await showModal(bike.id);
                                    entretiensDoneIsOpen = true;
                                }
                            "
                        >
                            <template #description> Entretiens fait </template>
                            <template #information>
                                {{
                                    bike.entretiens.filter(
                                        (entretien) =>
                                            entretien.status === "done"
                                    ).length
                                }}
                            </template>
                        </InfoCard>
                    </div>

                    <div class="row" style="height: 50%">
                        <InfoCard
                            v-if="bike.contract_type !== 'selling'"
                            class="col-sm-6"
                            @click="
                                async () => {
                                    await showModal(bike.id);
                                    bikeRedemptionSimulationIsOpen = true;
                                }
                            "
                        >
                            <template #description> Valeur de rachat </template>
                            <template #information>
                                <i class="fa fa-euro-sign"></i>
                            </template>
                        </InfoCard>

                        <InfoCard
                            class="col-sm-6"
                            @click="
                                async () => {
                                    await showModal(bike.id);
                                    bikeInformationIsOpen = true;
                                }
                            "
                        >
                            <template #description> Informations </template>
                            <template #information>
                                <i class="fa fa-circle-info"></i>
                            </template>
                        </InfoCard>
                    </div>
                </div>
            </div>
        </div>

        <MediumModal
            :open="upCommingEntretienIsOpen"
            @close="upCommingEntretienIsOpen = false"
            v-if="bikeId !== null"
        >
            <div class="row">
                <div class="col-sm-12">
                    <h3
                        style="
                            text-align: center;
                            margin-bottom: 0px;
                            color: #3cb295;
                        "
                    >
                        Entretiens à venir
                    </h3>
                </div>
            </div>
            <br />
            <div
                class="row"
                v-show="
                    entretiens_modal.filter(
                        (entretien) => entretien.status.toLowerCase() !== 'done'
                    ).length > 0
                "
            >
                <div class="col-sm-12">
                    <table class="table" style="width: 100%">
                        <thead>
                            <th>#</th>
                            <th>Status</th>
                            <th>Planifié le</th>
                        </thead>
                        <tbody>
                            <tr
                                v-for="entretien in entretiens_modal.filter(
                                    (entretien) =>
                                        entretien.status.toLowerCase() !==
                                        'done'
                                )"
                                :key="entretien.id"
                            >
                                <td>
                                    {{ entretien.number_entretien }}
                                </td>
                                <td>
                                    {{
                                        entretien.status === "manualy_planned"
                                            ? "Planifié manuellement"
                                            : entretien.status ===
                                              "automaticaly_planned"
                                            ? "Planifié automatiquement"
                                            : entretien.status === "to_planned"
                                            ? "À planifié"
                                            : entretien.status === "confirmed"
                                            ? "confirmé"
                                            : entretien.status ===
                                              "waiting_pieces"
                                            ? "En attente de pièces"
                                            : entretien.status === "in_shop"
                                            ? "À l'atelier"
                                            : entretien.status === "done"
                                            ? "Terminé"
                                            : "Inconnu"
                                    }}
                                </td>
                                <td>
                                    {{ formatDate(entretien.planned_date) }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div
                class="row"
                v-show="
                    entretiens_modal.filter(
                        (entretien) => entretien.status.toLowerCase() !== 'done'
                    ).length <= 0
                "
            >
                <div class="col-sm-12">
                    <p
                        style="
                            font-weight: bold;
                            text-align: center;
                            font-size: 1.2em;
                        "
                    >
                        Aucun entretien planifié.
                    </p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col" style="text-align: center">
                    <button
                        class="btn btn-danger"
                        type="button"
                        @click="upCommingEntretienIsOpen = false"
                    >
                        Fermer
                    </button>
                </div>
            </div>
        </MediumModal>

        <MediumModal
            :open="entretiensDoneIsOpen"
            @close="entretiensDoneIsOpen = false"
            v-if="bikeId !== null"
        >
            <div class="row">
                <div class="col-sm-12">
                    <h3
                        style="
                            text-align: center;
                            margin-bottom: 0px;
                            color: #3cb295;
                        "
                    >
                        Entretiens fait
                    </h3>
                </div>
            </div>
            <br />
            <div
                class="row"
                v-show="
                    entretiens_modal.filter(
                        (entretien) => entretien.status.toLowerCase() === 'done'
                    ).length > 0
                "
            >
                <div class="col-sm-12">
                    <table class="table" style="width: 100%">
                        <thead>
                            <th>#</th>
                            <th>Status</th>
                            <th>Planifié le</th>
                            <th>Fait le</th>
                        </thead>
                        <tbody>
                            <tr
                                v-for="entretien in entretiens_modal.filter(
                                    (entretien) =>
                                        entretien.status.toLowerCase() ===
                                        'done'
                                )"
                                :key="entretien.id"
                            >
                                <td>
                                    {{ entretien.number_entretien }}
                                </td>
                                <td>
                                    {{
                                        entretien.status === "manualy_planned"
                                            ? "Planifié manuellement"
                                            : entretien.status ===
                                              "automaticaly_planned"
                                            ? "Planifié automatiquement"
                                            : entretien.status === "to_planned"
                                            ? "À planifié"
                                            : entretien.status === "confirmed"
                                            ? "confirmé"
                                            : entretien.status ===
                                              "waiting_pieces"
                                            ? "En attente de pièces"
                                            : entretien.status === "in_shop"
                                            ? "À l'atelier"
                                            : entretien.status === "done"
                                            ? "Terminé"
                                            : "Inconnu"
                                    }}
                                </td>
                                <td>
                                    {{ formatDate(entretien.planned_date) }}
                                </td>
                                <td>
                                    {{ formatDate(entretien.date) }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div
                class="row"
                v-show="
                    entretiens_modal.filter(
                        (entretien) => entretien.status.toLowerCase() === 'done'
                    ).length <= 0
                "
            >
                <div class="col-sm-12">
                    <p
                        style="
                            font-weight: bold;
                            text-align: center;
                            font-size: 1.2em;
                        "
                    >
                        Aucun entretien fait.
                    </p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col" style="text-align: center">
                    <button
                        class="btn btn-danger"
                        type="button"
                        @click="entretiensDoneIsOpen = false"
                    >
                        Fermer
                    </button>
                </div>
            </div>
        </MediumModal>

        <MediumModal
            :open="bikeRedemptionSimulationIsOpen"
            @close="bikeRedemptionSimulationIsOpen = false"
            v-if="bikeId !== null"
        >
            <div class="row">
                <div class="col-sm-12">
                    <h3
                        style="
                            text-align: center;
                            margin-bottom: 0px;
                            color: #3cb295;
                        "
                    >
                        Simulation de rachat
                    </h3>
                    <h5 style="text-align: center">
                        {{
                            formatDate(bike_stock.contract_start) +
                            " du " +
                            formatDate(bike_stock.contract_end)
                        }}
                    </h5>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <table class="table" style="width: 100%">
                        <thead style="display: block">
                            <tr
                                style="
                                    display: table;
                                    width: 100%;
                                    table-layout: fixed;
                                "
                            >
                                <th>Mois</th>
                                <th>Prix de rachat</th>
                            </tr>
                        </thead>
                        <tbody
                            style="
                                display: block;
                                height: 400px;
                                overflow-y: scroll;
                            "
                        >
                            <tr
                                :style="'display: table; width: 100%; table-layout: fixed;'"
                                v-for="(month, i) in monthDiff(
                                    bike_stock.contract_start,
                                    bike_stock.contract_end
                                )"
                                :key="month"
                            >
                                <td>
                                    {{
                                        i === 0
                                            ? "1er mois"
                                            : i + 1 + "ème mois"
                                    }}
                                </td>
                                <td>
                                    {{
                                        (
                                            (monthDiff(
                                                bike_stock.contract_start,
                                                bike_stock.contract_end
                                            ) -
                                                (i + 1)) *
                                                bike_stock.leasing_price *
                                                0.6 +
                                            0.16 * bike_stock.catalog.price_htva
                                        ).toFixed(2) + " €"
                                    }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col" style="text-align: center">
                    <button
                        class="btn btn-danger"
                        type="button"
                        @click="bikeRedemptionSimulationIsOpen = false"
                    >
                        Fermer
                    </button>
                </div>
            </div>
        </MediumModal>

        <MediumModal
            :open="bikeInformationIsOpen"
            @close="bikeInformationIsOpen = false"
            v-if="bikeId !== null"
        >
            <div class="row">
                <div class="col-sm-12">
                    <h3
                        style="
                            text-align: center;
                            margin-bottom: 0px;
                            color: #3cb295;
                        "
                    >
                        Informations sur le vélo
                    </h3>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3" v-show="!!bike_stock.catalog.brand">
                    <label style="color: #3cb295; font-weight: bold"
                        >Marque</label
                    >
                    <p>
                        {{ bike_stock.catalog.brand }}
                    </p>
                </div>
                <div class="col-sm-3" v-show="!!bike_stock.catalog.model">
                    <label style="color: #3cb295; font-weight: bold"
                        >Modèle</label
                    >
                    <p>
                        {{ bike_stock.catalog.model }}
                    </p>
                </div>
                <div class="col-sm-3" v-show="!!bike_stock.size">
                    <label style="color: #3cb295; font-weight: bold"
                        >Taille</label
                    >
                    <p>
                        {{ bike_stock.size }}
                    </p>
                </div>
                <div class="col-sm-3" v-show="!!bike_stock.color">
                    <label style="color: #3cb295; font-weight: bold"
                        >Couleur</label
                    >
                    <p>
                        {{ bike_stock.color }}
                    </p>
                </div>
                <div class="col-sm-3" v-show="!!bike_stock.contract_type">
                    <label style="color: #3cb295; font-weight: bold"
                        >Type de contrat</label
                    >
                    <p>
                        {{
                            bike_stock.contract_type === "leasing"
                                ? "Leasing mensuel"
                                : bike_stock.contract_type === "annual_leasing"
                                ? "Leasing annuel"
                                : bike_stock.contract_type === "full_leasing"
                                ? "Leasing préfinancé"
                                : bike_stock.contract_type === "selling"
                                ? "Vente"
                                : "Inconnu"
                        }}
                    </p>
                </div>
                <div class="col-sm-3" v-show="!!bike_stock.billing_type">
                    <label style="color: #3cb295; font-weight: bold"
                        >Type de paiement</label
                    >
                    <p>
                        {{
                            bike_stock.billing_type === "monthly"
                                ? "Mensuel"
                                : bike_stock.billing_type === "annualy"
                                ? "Annuel"
                                : bike_stock.billing_type === "paid"
                                ? "Payé"
                                : "Inconnu"
                        }}
                    </p>
                </div>
                <div class="col-sm-3" v-show="!!bike_stock.frame_number">
                    <label style="color: #3cb295; font-weight: bold"
                        >Numéro de cadre</label
                    >
                    <p>
                        {{ bike_stock.frame_number }}
                    </p>
                </div>
                <div class="col-sm-3" v-show="!!bike_stock.frame_reference">
                    <label style="color: #3cb295; font-weight: bold"
                        >Référence du vélo</label
                    >
                    <p>
                        {{ bike_stock.frame_reference }}
                    </p>
                </div>
                <div class="col-sm-3" v-show="!!bike_stock.key_reference">
                    <label style="color: #3cb295; font-weight: bold"
                        >Référence de la clé</label
                    >
                    <p>
                        {{ bike_stock.key_reference }}
                    </p>
                </div>
                <div class="col-sm-3" v-show="!!bike_stock.locker_reference">
                    <label style="color: #3cb295; font-weight: bold"
                        >Référence du cadenas</label
                    >
                    <p>
                        {{ bike_stock.locker_reference }}
                    </p>
                </div>
                <div class="col-sm-3" v-show="!!bike_stock.plate_number">
                    <label style="color: #3cb295; font-weight: bold"
                        >Numéro de plaque</label
                    >
                    <p>
                        {{ bike_stock.plate_number }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align: center">
                    <button
                        class="btn btn-danger"
                        type="button"
                        @click="bikeInformationIsOpen = false"
                    >
                        Fermer
                    </button>
                </div>
            </div>
        </MediumModal>
    </div>
</template>
<script setup>
// Import dependencies
import { ref } from "vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

import { formatDate } from "../../../functions/globalFunctions";

// Import components
import MediumModal from "../Modals/Medium.vue";
import InfoCard from "../ReusableComponents/Cards/MediumInfoCard.vue";

const props = defineProps(["bikes"]);

const upCommingEntretienIsOpen = ref(false);
const entretiensDoneIsOpen = ref(false);
const bikeRedemptionSimulationIsOpen = ref(false);
const bikeInformationIsOpen = ref(false);
const bikes = ref([]);
const bike_stock = ref({
    catalog: {
        brand: "",
        model: "",
    },
});
const bikeId = ref(null);
const entretiens_modal = ref([]);
let bikes_cache = {};
let entretiens_cache = {};

async function getEntretiens(data) {
    for (let i = 0; i < data.length; i++) {
        if (!(data[i].id in entretiens_cache)) {
            entretiens_cache[data[i].id] =
                await stores.entretiensStore.getEntretiensByBikeId(data[i].id);
        }
        data[i].entretiens = entretiens_cache[data[i].id];
    }
    return data;
}

const data = props.bikes;
bikes.value = await getEntretiens(data);

const showModal = async (id) => {
    if (id in bikes_cache) {
        bike_stock.value = bikes_cache[id];
    } else {
        const data = await stores.bikesStockStore.getBikeStockById(id);
        bike_stock.value = data;
        bikes_cache[id] = data;
    }
    const entretiens = await getEntretiens([{ id }]);
    entretiens_modal.value = entretiens[0].entretiens;
    bikeId.value = id;
};

const monthDiff = (start, end) => {
    const startDate = new Date(start);
    const endDate = new Date(end);
    let months = [];
    let month = startDate.getMonth();
    let year = startDate.getFullYear();
    while (month < endDate.getMonth() || year < endDate.getFullYear()) {
        months.push(new Date(year, month, 1));
        month++;
        if (month >= 12) {
            month = 0;
            year++;
        }
    }
    return months.length;
};
</script>
