<template>
    <div class="widget p-cb">
        <h4 style="color: #3cb295">Gestion des commandes</h4>
        <table class="table datatable" style="width: 100%; max-width: 100%">
            <thead>
                <tr>
                    <th style="text-align: left">#</th>
                    <th style="text-align: center">Commanditaire</th>
                    <th style="text-align: center">Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="order in orders" :key="order.id">
                    <td style="text-align: left">{{ order.id }}</td>
                    <td>{{ order.user }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                        <button
                            :style="
                                order.status !== 'En attente de confirmation'
                                    ? 'display: none;'
                                    : ''
                            "
                            class="btn btn-xs"
                            type="button"
                            @click="confirmedOrder(order.id)"
                        >
                            Confirmer
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script setup>
// Import dependencies
import { watch, ref } from "vue";

// Import functions
import { generateDatatable } from "../../../../functions/globalFunctions";

// Import stores
import * as stores from "../../../../store/StoresIndex";

// Define constants
const orders = ref([]);

watch(
    () => stores.ordersStore.getUserOrder,
    () => {
        const company_orders = stores.ordersStore.getUserOrder.companyOrders;
        company_orders.forEach((element) => {
            const order = {
                id: element.id,
                company: element.company.name,
                user:
                    element.user !== null
                        ? element.user.firstname + " " + element.user.lastname
                        : element.company.name,
                status: "Inconnu",
                nbBikes: "",
                nbAccessories: "",
            };
            const allStatus = [];
            element.bikes.forEach((bike) => {
                allStatus.push(bike.status);
            });
            element.accessories.forEach((accessory) => {
                allStatus.push(accessory.status);
            });
            allStatus.forEach((status) => {
                if (allStatus.includes("new")) {
                    order.status = "En attente de confirmation";
                } else if (allStatus.includes("confirmed")) {
                    order.status = "Confirmée";
                } else if (allStatus.includes("done")) {
                    order.status = "Terminée";
                }
            });
            orders.value.push(order);
        });
    }
);

const confirmedOrder = (id) => {
    orders.value.forEach((order) => {
        if (order.id === id) {
            order.status = "Confirmée";
        }
    });
    stores.ordersStore.confirmedOrder(id);
};

// Call functions
generateDatatable(false, false, false);
</script>
<style scoped>
td {
    text-align: center;
}
</style>
