<template>
    <div class="row" id="mainDynamicZone">
        <div class="col-sm-12 component-top-bar">
            <button
                @click="$router.go(-1)"
                style="width: 35px; height: 35px; padding: 0px; float: left"
                type="button"
                class="btn"
            >
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>
        <!-- Left line -->
        <div class="col-sm-6">
            <!-- Accessory informations sections -->
            <div
                class="widget p-cb"
                style="max-height: 600px; overflow-y: auto"
            >
                <h4>Informations sur l'accessoire</h4>
                <div>
                    <label class="form-label" style="color: #3cb395"
                        >Marque</label
                    >
                    <p>{{ accessory.catalog.brand }}</p>
                    <hr />
                </div>

                <!-- Client infos section -->
                <div
                    v-if="!['order', 'stock'].includes(accessory.contract_type)"
                    class="widget p-cb"
                    style="max-height: 600px; overflow-y: auto"
                >
                    <h4>Informations client</h4>
                    <div>
                        <label class="form-label" style="color: #3cb395"
                            >Client</label
                        >
                        <p>
                            {{ company.name }}
                        </p>
                        <hr />
                    </div>
                    <div>
                        <label class="form-label" style="color: #3cb395"
                            >Velo lié</label
                        >
                        <p v-if="!!accessory.bikes_id">
                            {{
                                accessory.bikes_id +
                                "-" +
                                accessory.catalog.brand +
                                "-" +
                                accessory.catalog.model
                            }}
                        </p>
                        <p v-else>Aucun</p>
                        <hr />
                    </div>
                    <div>
                        <label class="form-label" style="color: #3cb395"
                            >Utilisateur</label
                        >
                        <p v-if="!!accessory.users_id">
                            {{ user.firstname + " " + user.lastname }}
                        </p>
                        <p v-if="!accessory.users_id && !accessory.bikes_id">
                            Partagé
                        </p>
                        <p v-if="!accessory.users_id && !!accessory.bikes_id">
                            {{ bike ? bike.users_id : "Partagé" }}
                        </p>
                    </div>
                </div>
            </div>

            <!-- Client infos section -->
            <div
                v-if="!['order', 'stock'].includes(accessory.contract_type)"
                class="widget p-cb"
                style="max-height: 600px; overflow-y: auto"
            >
                <h4>Informations client</h4>
                <div>
                    <label class="form-label" style="color: #3cb395"
                        >Client</label
                    >
                    <p>
                        {{ company.name }}
                    </p>
                    <hr />
                </div>
                <div v-if="!!accessory.bikes_id">
                    <label class="form-label" style="color: #3cb395"
                        >Velo lié</label
                    >
                    <p>
                        {{
                            accessory.bikes_id +
                            "-" +
                            accessory.catalog.brand +
                            "-" +
                            accessory.catalog.model
                        }}
                    </p>
                    <hr />
                </div>
                <div v-else>
                    <label class="form-label" style="color: #3cb395"
                        >Velo lié</label
                    >
                    <p>Aucun</p>
                    <hr />
                </div>
                <div v-if="!!accessory.users_id">
                    <label class="form-label" style="color: #3cb395"
                        >Utilisateur</label
                    >
                    <p>
                        {{ user.firstname + " " + user.lastname }}
                    </p>
                </div>
                <div v-if="!accessory.users_id && !accessory.bikes_id">
                    <label class="form-label" style="color: #3cb395"
                        >Utilisateur</label
                    >
                    <p>Partagé</p>
                </div>
                <div v-if="!accessory.users_id && !!accessory.bikes_id">
                    <label class="form-label" style="color: #3cb395"
                        >Utilisateur</label
                    >
                    <p>
                        {{ bike ? bike.users_id : "Partagé" }}
                    </p>
                </div>
            </div>
        </div>

        <!-- Right line -->
        <div class="col-sm-6">
            <!-- General infos section -->
            <div
                class="widget p-cb"
                style="max-height: 600px; overflow-y: auto"
            >
                <h4>Informations générales</h4>
                <div>
                    <label class="form-label" style="color: #3cb395"
                        >Status de l'accessoire</label
                    >
                    <p v-if="accessory.contract_type === 'order'">Commandé</p>
                    <p v-if="accessory.contract_type === 'pending_delivery'">
                        En cours de livraison
                    </p>
                    <p v-if="accessory.contract_type === 'stock'">En stock</p>
                    <p v-if="accessory.contract_type === 'selling'">Vendu</p>
                    <p v-if="accessory.contract_type === 'leasing'">
                        En leasing
                    </p>
                    <p v-if="accessory.contract_type === 'stolen'">Volé</p>
                    <hr />
                </div>
                <div v-if="accessory.contract_type != 'order'">
                    <label class="form-label" style="color: #3cb395"
                        >Date de livraison</label
                    >
                    <p>{{ formatDate(accessory.delivery_date) }}</p>
                </div>
                <div v-if="accessory.contract_type === 'order'">
                    <label class="form-label" style="color: #3cb395"
                        >Date de livraison estimée</label
                    >
                    <p>
                        {{ formatDate(accessory.estimated_delivery_date) }}
                    </p>
                </div>
            </div>

            <!-- Contract infos section -->
            <div
                v-if="['selling', 'leasing'].includes(accessory.contract_type)"
                class="widget p-cb"
                style="max-height: 600px; overflow-y: auto"
            >
                <h4>Informations sur le contrat</h4>
                <div v-if="accessory.contract_type === 'leasing'">
                    <label class="form-label" style="color: #3cb395"
                        >Date de début de contrat</label
                    >
                    <p>{{ formatDate(accessory.contract_start) }}</p>
                    <hr />
                </div>
                <div v-if="accessory.contract_type === 'leasing'">
                    <label class="form-label" style="color: #3cb395"
                        >Date de fin de contrat</label
                    >
                    <p>{{ formatDate(accessory.contract_end) }}</p>
                    <hr />
                </div>
                <div v-if="accessory.contract_type === 'leasing'">
                    <label class="form-label" style="color: #3cb395"
                        >Prix de leasing</label
                    >
                    <p>{{ accessory.leasing_price }}</p>
                    <hr />
                </div>
                <div v-if="accessory.contract_type === 'selling'">
                    <label class="form-label" style="color: #3cb395"
                        >Date de vente</label
                    >
                    <p>{{ formatDate(accessory.selling_date) }}</p>
                    <hr />
                </div>
                <div v-if="accessory.contract_type === 'selling'">
                    <label class="form-label" style="color: #3cb395"
                        >Prix de vente</label
                    >
                    <p>{{ accessory.selling_price }}</p>
                </div>
            </div>

            <!-- Theft infos section -->
            <div
                v-if="accessory.contract_type === 'stolen'"
                class="widget p-cb"
                style="max-height: 600px; overflow-y: auto"
            >
                <h4>Informations sur le vol</h4>
                <div v-if="accessory.contract_type === 'stolen'">
                    <label class="form-label" style="color: #3cb395"
                        >Date du vol</label
                    >
                    <p>{{ formatDate(accessory.stolen_date) }}</p>
                    <hr />
                </div>
                <div v-if="accessory.contract_type === 'stolen'">
                    <label class="form-label" style="color: #3cb395"
                        >Remboursement</label
                    >
                    <p>{{ accessory.reimbursement_insurance }}</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref } from "vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import functions
import { formatDate } from "../../../functions/globalFunctions";

const route = useRoute();
const bike = ref({});
const company = ref({});
const user = ref({});

await stores.accessoriesStockStore.show(route.params.id);

const accessory = stores.accessoriesStockStore.getAccessoryStock;

if (accessory.users_id)
    stores.usersStore
        .getUserById(accessory.users_id)
        .then((data) => (user.value = data));
if (accessory.bikes_id)
    stores.bikesStockStore
        .getBikeStockById(accessory.bikes_id)
        .then((data) => (bike.value = data));
if (accessory.companies_id)
    stores.companiesStore
        .getCompanyById(accessory.companies_id)
        .then((data) => (company.value = data));
</script>
