<template>
    <div>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12 component-top-bar">
                <button
                    @click="$router.push({ name: 'accessories-stock-list' })"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button
                    @click="isOpen = true"
                    style="
                        height: 35px;
                        padding: 10px;
                        float: right;
                        margin-right: 5px;
                    "
                    type="button"
                    class="btn btn-danger"
                >
                    Supprimer l'accessoire du stock
                </button>
            </div>
            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form @change="stores.accessoriesStockStore.update()">
                        <!-- Accessory informations sections -->
                        <br />
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Informations sur l'accessoire
                        </h4>
                        <hr />

                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label
                                    for="brand"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Marque</label
                                >
                                <p>
                                    {{
                                        stores.accessoriesStockStore
                                            .getAccessoryStock.catalog.brand
                                    }}
                                </p>
                            </div>
                            <div class="form-group col-sm-4">
                                <label
                                    for="accessories_catalog_id"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Modèle</label
                                >
                                <p>
                                    {{
                                        stores.accessoriesStockStore
                                            .getAccessoryStock.catalog.model
                                    }}
                                </p>
                            </div>
                            <div class="form-group col-sm-4">
                                <label
                                    for="size"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Taille</label
                                >
                                <select
                                    :class="[
                                        stores.accessoriesStockStore.getErrors
                                            .size
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="size"
                                    id="size"
                                    v-model="
                                        stores.accessoriesStockStore
                                            .getAccessoryStock.size
                                    "
                                >
                                    <option
                                        :value="
                                            stores.accessoriesStockStore
                                                .getAccessoryStock.size
                                        "
                                    >
                                        {{
                                            stores.accessoriesStockStore
                                                .getAccessoryStock.size
                                        }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- General infos section -->
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Informations générales
                        </h4>
                        <hr />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="contract_type"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Status de l'accessoire</label
                                >
                                <select
                                    :class="[
                                        stores.accessoriesStockStore.getErrors
                                            .contract_type
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="contract_type"
                                    id="contract_type"
                                    v-model="
                                        stores.accessoriesStockStore
                                            .getAccessoryStock.contract_type
                                    "
                                    @change="resetFields('contract_type')"
                                >
                                    <option value="order">Commandé</option>
                                    <option value="stock">En stock</option>
                                    <option value="pending_delivery">
                                        Livraison en cours
                                    </option>
                                    <option value="selling">Vendu</option>
                                    <option value="leasing">En leasing</option>
                                    <option value="stolen">Volé</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div
                                v-if="
                                    stores.accessoriesStockStore
                                        .getAccessoryStock.contract_type !=
                                    'order'
                                "
                                class="form-group col-sm-6"
                            >
                                <label
                                    for="delivery_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date de livraison</label
                                >
                                <input
                                    :class="[
                                        stores.accessoriesStockStore.getErrors
                                            .delivery_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    type="date"
                                    name="delivery_date"
                                    id="delivery_date"
                                    v-model="
                                        stores.accessoriesStockStore
                                            .getAccessoryStock.delivery_date
                                    "
                                />
                            </div>
                            <div
                                v-if="
                                    stores.accessoriesStockStore
                                        .getAccessoryStock.contract_type ===
                                    'order'
                                "
                                class="form-group col-sm-6"
                            >
                                <label
                                    for="estimated_delivery_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date de livraison estimée</label
                                >
                                <input
                                    :class="[
                                        stores.accessoriesStockStore.getErrors
                                            .estimated_delivery_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    type="date"
                                    name="estimated_delivery_date"
                                    id="estimated_delivery_date"
                                    v-model="
                                        stores.accessoriesStockStore
                                            .getAccessoryStock
                                            .estimated_delivery_date
                                    "
                                />
                            </div>
                        </div>
                        <!-- Contract infos section -->
                        <div
                            name="contract_infos"
                            v-if="
                                stores.accessoriesStockStore.getAccessoryStock
                                    .contract_type === 'selling' ||
                                stores.accessoriesStockStore.getAccessoryStock
                                    .contract_type === 'leasing'
                            "
                        >
                            <h4
                                style="
                                    text-transform: uppercase;
                                    color: #3cb395;
                                    font-wieght: bold;
                                "
                            >
                                Informations sur le contrat
                            </h4>
                            <hr />

                            <div
                                v-if="
                                    stores.accessoriesStockStore
                                        .getAccessoryStock.contract_type ===
                                    'leasing'
                                "
                                class="row"
                            >
                                <div class="form-group col-sm-6">
                                    <label
                                        for="contract_start"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Debut de contrat</label
                                    >
                                    <input
                                        :class="[
                                            stores.accessoriesStockStore
                                                .getErrors.contract_start
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        type="date"
                                        name="contract_start"
                                        id="contract_start"
                                        v-model="
                                            stores.accessoriesStockStore
                                                .getAccessoryStock
                                                .contract_start
                                        "
                                    />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label
                                        for="contract_end"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Fin de contrat</label
                                    >
                                    <input
                                        :class="[
                                            stores.accessoriesStockStore
                                                .getErrors.contract_end
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        type="date"
                                        name="contract_end"
                                        id="contract_end"
                                        v-model="
                                            stores.accessoriesStockStore
                                                .getAccessoryStock.contract_end
                                        "
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div
                                    v-if="
                                        stores.accessoriesStockStore
                                            .getAccessoryStock.contract_type ===
                                        'selling'
                                    "
                                    class="form-group col-sm-6"
                                >
                                    <label
                                        for="selling_date"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Date de vente</label
                                    >
                                    <input
                                        :class="[
                                            stores.accessoriesStockStore
                                                .getErrors.selling_date
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        type="date"
                                        name="selling_date"
                                        id="selling_date"
                                        v-model="
                                            stores.accessoriesStockStore
                                                .getAccessoryStock.selling_date
                                        "
                                    />
                                </div>
                                <div
                                    v-if="
                                        stores.accessoriesStockStore
                                            .getAccessoryStock.contract_type ===
                                        'leasing'
                                    "
                                    class="form-group col-sm-6"
                                >
                                    <label
                                        for="leasing_price"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Prix de leasing</label
                                    >
                                    <input
                                        :class="[
                                            stores.accessoriesStockStore
                                                .getErrors.leasing_price
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        type="number"
                                        name="leasing_price"
                                        id="leasing_price"
                                        v-model="
                                            stores.accessoriesStockStore
                                                .getAccessoryStock.leasing_price
                                        "
                                    />
                                </div>
                                <div
                                    v-if="
                                        stores.accessoriesStockStore
                                            .getAccessoryStock.contract_type ===
                                        'selling'
                                    "
                                    class="form-group col-sm-6"
                                >
                                    <label
                                        for="selling_price"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Prix de vente</label
                                    >
                                    <input
                                        :class="[
                                            stores.accessoriesStockStore
                                                .getErrors.selling_price
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        type="number"
                                        name="selling_price"
                                        id="selling_price"
                                        v-model="
                                            stores.accessoriesStockStore
                                                .getAccessoryStock.selling_price
                                        "
                                    />
                                </div>
                            </div>
                        </div>
                        <!-- Client infos section -->
                        <div
                            name="contract_infos"
                            v-if="
                                stores.accessoriesStockStore.getAccessoryStock
                                    .contract_type === 'selling' ||
                                stores.accessoriesStockStore.getAccessoryStock
                                    .contract_type === 'leasing' ||
                                stores.accessoriesStockStore.getAccessoryStock
                                    .contract_type === 'pending_delivery' ||
                                stores.accessoriesStockStore.getAccessoryStock
                                    .contract_type === 'stolen'
                            "
                        >
                            <h4
                                style="
                                    text-transform: uppercase;
                                    color: #3cb395;
                                    font-wieght: bold;
                                "
                            >
                                Informations client
                            </h4>
                            <hr />

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label
                                        for="companies_id"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Client</label
                                    >
                                    <select
                                        :class="[
                                            stores.accessoriesStockStore
                                                .getErrors.companies_id
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        name="companies_id"
                                        id="companies_id"
                                        v-model="
                                            stores.accessoriesStockStore
                                                .getAccessoryStock.companies_id
                                        "
                                        @change="resetFields('companies_id')"
                                    >
                                        <option
                                            v-for="company in stores
                                                .companiesStore.getCompanies"
                                            :key="company.id"
                                            :value="company.id"
                                        >
                                            {{ company.name }}
                                        </option>
                                    </select>
                                </div>
                                <div
                                    v-show="
                                        stores.accessoriesStockStore
                                            .getAccessoryStock.users_id === null
                                    "
                                    class="form-group col-sm-6"
                                >
                                    <label
                                        for="bikes_id"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Velo lié</label
                                    >
                                    <select
                                        :class="[
                                            stores.accessoriesStockStore
                                                .getErrors.bikes_id
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        name="bikes_id"
                                        id="bikes_id"
                                        v-model="
                                            stores.accessoriesStockStore
                                                .getAccessoryStock.bikes_id
                                        "
                                        @change="resetFields('bikes_id')"
                                    >
                                        <option :value="null">Aucun</option>
                                        <option
                                            v-for="bike in bikes"
                                            :key="bike.id"
                                            :value="bike.id"
                                        >
                                            {{
                                                bike.id +
                                                "-" +
                                                bike.catalog.brand +
                                                "-" +
                                                bike.catalog.model
                                            }}
                                        </option>
                                    </select>
                                    <select
                                        :class="[
                                            stores.accessoriesStockStore
                                                .getErrors.users_id
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        name="bikes_id"
                                        id="bikes_id"
                                        v-model="
                                            stores.accessoriesStockStore
                                                .getAccessoryStock.users_id
                                        "
                                    >
                                        <option :value="null">Aucun</option>
                                        <option
                                            v-for="user in users"
                                            :key="user.id"
                                            :value="user.id"
                                        >
                                            {{
                                                user.firstname +
                                                " " +
                                                user.lastname
                                            }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div
                                    v-show="
                                        stores.accessoriesStockStore
                                            .getAccessoryStock.bikes_id === null
                                    "
                                    class="form-group col-sm-6"
                                >
                                    <label
                                        for="bike_id"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Utilisateur</label
                                    >
                                    <select
                                        :class="[
                                            stores.accessoriesStockStore
                                                .getErrors.users_id
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        name="bikes_id"
                                        id="bikes_id"
                                        v-model="
                                            stores.accessoriesStockStore
                                                .getAccessoryStock.users_id
                                        "
                                    >
                                        <option :value="null">Aucun</option>
                                        <option
                                            v-for="user in users"
                                            :key="user.id"
                                            :value="user.id"
                                        >
                                            {{
                                                user.firstname +
                                                " " +
                                                user.lastname
                                            }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Theft infos section -->
                        <div
                            name="contract_infos"
                            v-if="
                                stores.accessoriesStockStore.getAccessoryStock
                                    .contract_type === 'stolen'
                            "
                        >
                            <h4
                                style="
                                    text-transform: uppercase;
                                    color: #3cb395;
                                    font-wieght: bold;
                                "
                            >
                                Informations sur le vol
                            </h4>
                            <hr />

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label
                                        for="stolen_date"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Date du vol</label
                                    >
                                    <input
                                        :class="[
                                            stores.accessoriesStockStore
                                                .getErrors.stolen_date
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        type="date"
                                        name="stolen_date"
                                        id="stolen_date"
                                        v-model="
                                            stores.accessoriesStockStore
                                                .getAccessoryStock.stolen_date
                                        "
                                    />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label
                                        for="reimbursement_insurance"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Montant remboursé</label
                                    >
                                    <input
                                        :class="[
                                            stores.accessoriesStockStore
                                                .getErrors
                                                .reimbursement_insurance
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        type="number"
                                        name="reimbursement_insurance"
                                        id="reimbursement_insurance"
                                        v-model="
                                            stores.accessoriesStockStore
                                                .getAccessoryStock
                                                .reimbursement_insurance
                                        "
                                    />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <DeleteValidationModal
            :open="isOpen"
            @close="isOpen = !isOpen"
            :id="stores.accessoriesStockStore.getAccessoryStock.id"
            :store="stores.accessoriesStockStore"
        />
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref, watch } from "vue";
import DeleteValidationModal from "../Modals/DeleteValidationModal.vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

const route = useRoute();
const isOpen = ref(false);
const sizes = ref([]);
const bikes = ref([]);
const users = ref([]);

stores.companiesStore.loadCompanies();

await stores.accessoriesStockStore.show(route.params.id);

stores.accessoriesCatalogStore
    .getAccessorySizes(
        stores.accessoriesStockStore.getAccessoryStock.accessories_catalog_id
    )
    .then((data) => (sizes.value = data));
stores.bikesStockStore
    .getBikesByCompanyId(
        stores.accessoriesStockStore.getAccessoryStock.companies_id
    )
    .then((data) => (bikes.value = data));
stores.usersStore
    .getUsersByCompany(
        stores.accessoriesStockStore.getAccessoryStock.companies_id
    )
    .then((data) => (users.value = data));

async function resetFields(changedField) {
    users.value = await stores.usersStore.getUsersByCompany(
        stores.accessoriesStockStore.getAccessoryStock.companies_id
    );
    bikes.value = await stores.bikesStockStore.getBikesByCompanyId(
        stores.accessoriesStockStore.getAccessoryStock.companies_id
    );

    let fieldsToReset = [];
    if (changedField === "contract_type") {
        if (
            ["stock", "order"].includes(
                stores.accessoriesStockStore.getAccessoryStock.contract_type
            )
        ) {
            fieldsToReset = [
                "companies_id",
                "bikes_id",
                "users_id",
                "leasing_price",
                "selling_price",
                "selling_date",
                "contract_start",
                "contract_end",
            ];
        } else if (
            stores.accessoriesStockStore.getAccessoryStock.contract_type ===
            "pending_delivery"
        ) {
            fieldsToReset = [
                "leasing_price",
                "selling_price",
                "selling_date",
                "contract_start",
                "contract_end",
            ];
        } else if (
            stores.accessoriesStockStore.getAccessoryStock.contract_type ===
            "leasing"
        ) {
            fieldsToReset = ["selling_price", "selling_date"];
        } else if (
            stores.accessoriesStockStore.getAccessoryStock.contract_type ===
            "selling"
        ) {
            fieldsToReset = ["leasing_price", "contract_start", "contract_end"];
        }
        if (
            stores.accessoriesStockStore.getAccessoryStock.contract_type !=
            "order"
        ) {
            fieldsToReset.push("estimated_delivery_date");
        }
        if (
            stores.accessoriesStockStore.getAccessoryStock.contract_type !=
            "stolen"
        ) {
            fieldsToReset.push("stolen_date", "reimbursement_insurance");
        }
    }
    if (changedField === "companies_id") {
        fieldsToReset = ["bikes_id", "users_id"];
        stores.usersStore
            .getUserByCompany(
                stores.accessoriesStockStore.getAccessoryStock.companies_id
            )
            .then((data) => (users.value = data));
        stores.bikesStockStore
            .getBikesByCompanyId(
                stores.accessoriesStockStore.getAccessoryStock.companies_id
            )
            .then((data) => (bikes.value = data));
    }
    if (changedField === "bikes_id") {
        fieldsToReset = ["users_id"];
    }
    fieldsToReset.forEach((field) => {
        delete stores.accessoriesStockStore.getAccessoryStock[field];
    });
}
</script>
