<template>
    <Datatable
        :headers="headers"
        :storeName="storeName"
        :routeName="routeName"
        showBtn
        updateBtn
        contractTypeFilterBtn
        receptionCommande
    />
</template>
<script setup>
import Datatable from "../ReusableComponents/Datatable.vue";
const storeName = "accessoriesStockStore";
const routeName = "accessories-stock";
const headers = [
    { value: "id", name: "#" },
    { value: "name", name: "Client" },
    { value: "brand", name: "Marque" },
    { value: "model", name: "Modèle" },
    { value: "contract_type", name: "Contrat" },
    { value: "price", name: "Prix" },
];
</script>
