<template>
    <div>
        <Header title="Ajout d'un nouvel accessoire dans le stcok" />
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form @submit.prevent="sendForm">
                        <!-- Accessory informations sections -->
                        <br />
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Informations sur l'accessoire
                        </h4>
                        <hr />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="brand"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Marque</label
                                >
                                <select
                                    :class="[
                                        stores.accessoriesStockStore.getErrors
                                            .brand
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="brand"
                                    id="brand"
                                    v-model="input.brand"
                                    @change="resetFields('brand')"
                                >
                                    <option value="">Choisir</option>
                                    <option
                                        v-for="brand in brands"
                                        :key="brand"
                                        :value="brand"
                                    >
                                        {{ brand }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="accessories_catalog_id"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Modèle</label
                                >
                                <select
                                    :class="[
                                        stores.accessoriesStockStore.getErrors
                                            .accessories_catalog_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="accessories_catalog_id"
                                    id="accessories_catalog_id"
                                    v-model="input.accessories_catalog_id"
                                    @change="resetFields('model')"
                                >
                                    <option value="">Choisir</option>
                                    <option
                                        v-for="item in sorted_by_brand"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.model }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="size"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Taille</label
                                >
                                <select
                                    :class="[
                                        stores.accessoriesStockStore.getErrors
                                            .size
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="size"
                                    id="size"
                                    v-model="input.size"
                                >
                                    <option value="">Choisir</option>
                                    <option
                                        v-for="item in input.sizes"
                                        :key="item"
                                        :value="item"
                                    >
                                        {{ item }}
                                    </option>
                                    -->
                                </select>
                            </div>
                        </div>

                        <!-- General infos section -->
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Informations générales
                        </h4>
                        <hr />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="contract_type"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Status de l'accessoire</label
                                >
                                <select
                                    :class="[
                                        stores.accessoriesStockStore.getErrors
                                            .contract_type
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="contract_type"
                                    id="contract_type"
                                    v-model="input.contract_type"
                                >
                                    <option value="">Choisir</option>
                                    <option value="order" selected>
                                        Commandé
                                    </option>
                                    <option value="stock">En stock</option>
                                </select>
                            </div>
                            <div
                                class="form-group col-sm-6"
                                v-if="input.contract_type === 'stock'"
                            >
                                <label
                                    for="delivery_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date de livraison</label
                                >
                                <input
                                    :class="[
                                        stores.accessoriesStockStore.getErrors
                                            .delivery_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    type="date"
                                    name="delivery_date"
                                    id="delivery_date"
                                    v-model="input.delivery_date"
                                />
                            </div>
                            <div
                                class="form-group col-sm-6"
                                v-if="input.contract_type === 'order'"
                            >
                                <label
                                    for="estimated_delivery_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date de livraison estimée</label
                                >
                                <input
                                    :class="[
                                        stores.accessoriesStockStore.getErrors
                                            .estimated_delivery_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    type="date"
                                    name="estimated_delivery_date"
                                    id="estimated_delivery_date"
                                    v-model="input.estimated_delivery_date"
                                />
                            </div>
                        </div>
                        <br />
                        <div>
                            <label
                                style="
                                    width: 150px;
                                    margin: auto;
                                    color: #3cb395;
                                    text-align: center;
                                "
                                for="comment"
                                class="form-label"
                                >Nombre à ajouter</label
                            >
                            <input
                                style="width: 150px; margin: auto"
                                type="number"
                                name="nb_accessories"
                                class="form-control"
                                v-model="input.nb_accessories"
                            />
                            <br />
                            <button
                                style="width: 150px; margin: auto"
                                type="submit"
                                class="btn btn-block"
                            >
                                Ajouter au stock
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { ref } from "vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import components
import Header from "../ReusableComponents/HeaderComponent.vue";

const input = ref({
    brand: "",
    accessories_catalog_id: "",
    size: "",
    contract_type: "",
    nb_accessories: 1,
});
const brands = ref([]);
const sorted_by_brand = ref([]);

stores.accessoriesCatalogStore.getAccessoriesCatalogBrands().then((data) => {
    brands.value = data;
});

// Define function
function sendForm() {
    stores.accessoriesStockStore.create(input.value);
}

async function resetFields(changedField) {
    let fieldsToReset = [];
    if (changedField === "brand") {
        fieldsToReset = ["accessories_catalog_id", "size"];
        sorted_by_brand.value =
            await stores.accessoriesCatalogStore.getModelsfromBrand(
                input.value.brand
            );
    } else if (changedField === "model") {
        fieldsToReset = ["size"];
        input.value.sizes =
            await stores.accessoriesCatalogStore.getAccessorySizes(
                input.value.accessories_catalog_id
            );
    }
    fieldsToReset.forEach((field) => {
        delete input.value[field];
    });
}
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
.main {
    font-weight: bold;
    color: #3cb395;
    font-size: 1.5em;
    text-decoration: underline;
}
.sub {
    font-weight: 700;
    font-size: 1em;
}
</style>
