<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Ajouter une main d'oeuvre
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.go(-1)"
                    style="width: 35px; height: 35px; padding: 0px; float: left"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>

            <div class="col-sm-12">
                <form
                    @submit.prevent="
                        stores.entretiensStore.createEntretienDetails(input)
                    "
                >
                    <div class="widget p-cb">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label" for="category"
                                        >Catégorie</label
                                    >
                                    <select
                                        :class="[
                                            stores.entretiensStore.getErrors
                                                .category
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        name="category"
                                        id="category"
                                        v-model="input.category"
                                    >
                                        <option :value="null" disabled selected>
                                            Choisir une catégorie
                                        </option>
                                        <option
                                            v-for="(category, i) in categories"
                                            :key="i"
                                            :value="category"
                                        >
                                            {{ category }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="service"
                                    >Service</label
                                >
                                <select
                                    :class="[
                                        stores.entretiensStore.getErrors.service
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="service"
                                    id="service"
                                    v-model="input.service"
                                >
                                    <option :value="null" disabled>
                                        Choisir un service
                                    </option>
                                    <option
                                        v-for="(service, i) in sorted_services"
                                        :key="i"
                                        :value="service"
                                    >
                                        {{ service.description }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label" for="price"
                                    >Prix</label
                                >
                                <input
                                    :class="[
                                        stores.entretiensStore.getErrors.price
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    type="number"
                                    name="price"
                                    id="price"
                                    v-model="input.price"
                                />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="duration"
                                    >Durée {{ input.duration }} minutes</label
                                >
                                <input
                                    :class="[
                                        stores.entretiensStore.getErrors
                                            .duration
                                            ? 'error form-range'
                                            : 'form-range',
                                    ]"
                                    type="range"
                                    min="0"
                                    max="240"
                                    step="1"
                                    name="duration"
                                    id="duration"
                                    v-model="input.duration"
                                />
                            </div>
                        </div>
                        <div class="row" v-if="displayDetails">
                            <div class="col-sm-6">
                                <label class="form-label" for="details"
                                    >Détails</label
                                >
                                <input
                                    :class="[
                                        stores.entretiensStore.getErrors.price
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    type="text"
                                    name="details"
                                    id="details"
                                    v-model="input.details"
                                />
                            </div>
                        </div>
                        <br />
                        <div>
                            <button
                                style="width: 150px; margin: auto"
                                type="submit"
                                class="btn btn-block"
                            >
                                Ajouter
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { ref, watch, watchEffect } from "vue";
import { useRoute } from "vue-router";

// Import stores
import * as stores from "../../../../../store/StoresIndex";

const categories = await stores.servicesStore.getCategories();

const route = useRoute();
const sorted_services = ref([]);
const input = ref({
    type: "service",
    entretien_id: route.params.id,
    category: null,
    service: null,
    price: null,
    details: null,
    duration: 0,
});

watch(
    () => input.value.category,
    async () => {
        sorted_services.value =
            await stores.servicesStore.getServicesByCategory(
                input.value.category
            );
        displayDetails.value = false;
    }
);
const displayDetails = ref(false);

watch(
    () => input.value["service"],
    () => {
        input.value["price"] = input.value["service"].price_vat;
        input.value["duration"] = input.value["service"].minute;
        displayDetails.value =
            input.value.service.description == "Main d oeuvre horaire"
                ? true
                : false;
    }
);
</script>
<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
