<template>
    <Header title="Nouveau montage" />
    <div class="row" id="mainDynamicZone component-top-bar">
        <div class="col-sm-12" v-if="chooseBike === true">
            <div class="widget p-cb">
                <br />
                <h3 style="text-align: center">
                    Quel vélo voulez-vous monter ?
                </h3>
                <br />
                <div style="width: 300px; margin: auto; text-align: center">
                    <select
                        style="background: #3cb395; color: #fff"
                        name="bike"
                        id="bike"
                        v-model="assembly.bikes_id"
                        class="form-control"
                    >
                        <option :value="null" selected disabled>
                            Choisir ...
                        </option>
                        <option
                            v-for="item in not_assembled"
                            :key="item.id"
                            :value="item.id"
                        >
                            {{
                                item.frame_reference
                                    ? item.frame_reference +
                                      " - " +
                                      item.catalog.brand +
                                      " - " +
                                      item.catalog.model
                                    : "" +
                                      item.catalog.brand +
                                      " - " +
                                      item.cataog.model
                            }}
                        </option>
                    </select>
                </div>
                <br />
            </div>
        </div>
        <div class="col-sm-12" v-if="chooseDate === true">
            <div class="widget p-cb">
                <button
                    @click="resetBike"
                    style="width: 35px; height: 35px; padding: 0px; float: left"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
                <br /><br />
                <h3 style="text-align: center">À quelle date ?</h3>
                <br />
                <div style="width: 300px; margin: auto; text-align: center">
                    <input
                        type="date"
                        name="date"
                        id="date"
                        class="form-control"
                        v-model="assembly.date"
                    />
                </div>
                <br />
            </div>
        </div>
        <div class="col-sm-12" v-if="sumUp === true">
            <div class="widget p-cb">
                <button
                    @click="resetDate"
                    style="width: 35px; height: 35px; padding: 0px; float: left"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
                <br /><br />
                <h3 style="text-align: center">Résumé du montage</h3>
                <br />
                <div style="margin-left: 2em">
                    <ul style="list-style: none">
                        <li>
                            <span style="font-weight: bold; color: #3cb295"
                                >Vélo :
                            </span>
                            {{
                                bike_details.catalog.brand +
                                " " +
                                bike_details.catalog.model
                            }}
                        </li>
                        <li>
                            <span style="font-weight: bold; color: #3cb295"
                                >Référence :
                            </span>
                            {{
                                bike_details.frame_reference
                                    ? bike_details.frame_reference
                                    : "Pas de référence"
                            }}
                        </li>
                        <li>
                            <span style="font-weight: bold; color: #3cb295"
                                >Numéro de cadre :
                            </span>
                            {{
                                bike_details.frame_number
                                    ? bike_details.frame_number
                                    : "Pas de numéro de cadre"
                            }}
                        </li>
                        <li>
                            <span style="font-weight: bold; color: #3cb295"
                                >Date :
                            </span>
                            {{ assembly.date }}
                        </li>
                    </ul>
                </div>
                <br /><br />
                <div style="text-align: center">
                    <button
                        @click="stores.bikesAssemblyStore.create(assembly)"
                        style="width: 150px; margin: 1em"
                        type="button"
                        class="btn"
                    >
                        Confirmer
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
// Import dependencies
import { ref, watch } from "vue";
import { useRouter } from "vue-router";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import components
import Header from "../ReusableComponents/HeaderComponent.vue";

const router = useRouter();
const chooseBike = ref(true);
const chooseDate = ref(false);
const sumUp = ref(false);
const assembly = ref({
    bikes_id: null,
    date: null,
});
const bike_details = ref({});
const not_assembled = ref([]);

not_assembled.value = await stores.bikesStockStore.getBikesNotAssembled();

watch(
    () => assembly.value["bikes_id"],
    async (newValue, oldValue) => {
        chooseBike.value = false;
        chooseDate.value = true;
        bike_details.value = not_assembled.value.find(
            (bike) => bike.id === newValue
        );
    }
);

watch(
    () => assembly.value["date"],
    (newValue, oldValue) => {
        if (
            assembly.value["bikes_id"] !== null &&
            assembly.value["date"] !== null
        ) {
            chooseDate.value = false;
            sumUp.value = true;
        }
    }
);

function resetBike() {
    chooseBike.value = true;
    chooseDate.value = false;
}

function resetDate() {
    sumUp.value = false;
    chooseDate.value = true;
}
</script>
