<template>
    <Datatable
        :headers="headers"
        :storeName="storeName"
        :routeName="routeName"
        updateBtn
    />
</template>
<script setup>
import Datatable from "../ReusableComponents/Datatable.vue";
const storeName = "bikesAssemblyStore";
const routeName = "bikes-assembly";
const headers = [
    { value: "id", name: "#" },
    { value: "bike", name: "Vélo" },
    { value: "date", name: "Date" },
    { value: "status", name: "Statut" },
];
</script>
