<template>
    <Header
        :title="
            'Modifier le montage du ' +
            stores.bikesAssemblyStore.getBikeAssembly.bike.client_name
        "
    />
    <div class="row" id="mainDynamicZone">
        <div class="col-sm-12 component-top-bar">
            <button
                @click="$router.push({ name: 'bikes-assembly-list' })"
                style="width: 35px; height: 35px; padding: 0px"
                type="button"
                class="btn"
            >
                <i class="fa fa-arrow-left"></i>
            </button>
            <button
                @click="isOpen = true"
                style="
                    height: 35px;
                    padding: 10px;
                    float: right;
                    margin-right: 5px;
                "
                type="button"
                class="btn btn-danger"
            >
                Supprimer le montage
            </button>
        </div>

        <div class="col-sm-12">
            <div class="widget p-cb">
                <form @change="stores.bikesAssemblyStore.update">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="status">Statut</label>
                            <select
                                :class="[
                                    stores.bikesAssemblyStore.getErrors.status
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                name="status"
                                id="status"
                                v-model="
                                    stores.bikesAssemblyStore.getBikeAssembly
                                        .status
                                "
                            >
                                <option value="todo">En cours</option>
                                <option value="done">Terminé</option>
                            </select>
                        </div>
                        <!-- <div class="col-sm-4">
                                <label class="form-label" for="status">Vélo</label>
                                <select :class="[stores.bikesAssemblyStore.getErrors.bikes_id ? 'error form-control': 'form-control']" name="bike" id="bike" v-model="stores.bikesAssemblyStore.getBikeAssembly.bikes_id">
                                    <option :value="stores.bikesAssemblyStore.getBikeAssembly.bikes_id" disabled>
                                        {{  (stores.bikesStockStore.getBikeStockById(stores.bikesAssemblyStore.getBikeAssembly.bikes_id).frame_reference) ? stores.bikesStockStore.getBikeStockById(stores.bikesAssemblyStore.getBikeAssembly.bikes_id).frame_reference : 'Pas de référence' }} - {{ stores.bikesStockStore.getBikeStockById(stores.bikesAssemblyStore.getBikeAssembly.bikes_id).catalog.brand + ' ' + stores.bikesStockStore.getBikeStockById(stores.bikesAssemblyStore.getBikeAssembly.bikes_id).catalog.model }}
                                    </option>
                                    <option v-for="item in stores.bikesStockStore.getBikesNotAssembled" :key="item.id" :value="item.id">
                                        {{ item.frame_reference + ' - ' + item.catalog.brand + ' ' + item.catalog.model }}
                                    </option>
                                </select>
                            </div> -->
                        <div class="col-sm-6">
                            <label class="form-label" for="status">Date</label>
                            <input
                                :class="[
                                    stores.bikesAssemblyStore.getErrors.date
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                type="date"
                                name="date"
                                id="date"
                                v-model="
                                    stores.bikesAssemblyStore.getBikeAssembly
                                        .date
                                "
                            />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <DeleteValidationModal
        :open="isOpen"
        @close="isOpen = !isOpen"
        :id="stores.bikesAssemblyStore.getBikeAssembly.id"
        :store="stores.bikesAssemblyStore"
    />
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref } from "vue";
import DeleteValidationModal from "../Modals/DeleteValidationModal.vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import components
import Header from "../ReusableComponents/HeaderComponent.vue";

const isOpen = ref(false);
const route = useRoute();

await stores.bikesAssemblyStore.show(route.params.id);
</script>
