<template>
    <div>
        <br /><br />
        <div style="text-align: center">
            <i
                style="
                    color: #3cb295;
                    font-size: 10em;
                    margin-top: 0.5em;
                    margin-bottom: 0.25em;
                "
                class="fa fa-circle-check"
            ></i>
            <p style="color: #3cb295; font-weight: bold">
                Merci pour votre réservation !
            </p>
            <br />
            <p>
                Numéro de réservation :
                <span style="color: #3cb295; font-weight: bold">{{
                    reservation.id
                }}</span>
            </p>
            <p v-if="Object.keys(code).length !== 0">
                Code :
                <span style="color: #3cb295; font-weight: bold">{{
                    code.code
                }}</span>
            </p>
        </div>
    </div>
</template>
<script setup>
// Define dependencies
import { useRoute } from "vue-router";

// Import stores
import * as stores from "../../../store/StoresIndex";

const route = useRoute();

const reservation = await stores.reservationsStore.getReservationById(
    route.params.id
);
const code = await stores.reservationsStore.getReservationCodeByReservationId(
    route.params.id
);
</script>
