<template>
    <div>
        <Header title="Nouvelle réservation" />
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form @submit.prevent="sendFormVerification">
                        <div class="row" v-show="errorMessage !== ''">
                            <div class="col-sm-12" style="text-align: center">
                                <h4 style="color: red; font-weight: bold">
                                    {{ errorMessage }}
                                </h4>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <h3 class="col-sm-12" style="text-align: center">
                                Quand voulez-vous prendre le vélo ?
                            </h3>
                            <div class="form-group col-sm-6">
                                <label class="form-label" for="date"
                                    >Date</label
                                >
                                <input
                                    type="date"
                                    class="form-control date-picker"
                                    id="takingDate"
                                    :min="minTakingDate"
                                    :max="maxTakingDate"
                                    v-model="input.start_date"
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="form-label" for="hour"
                                    >Heure</label
                                >
                                <select
                                    name="start_time"
                                    id="start_time"
                                    v-model="input.start_time"
                                    class="form-control"
                                >
                                    <option value="" selected disabled>
                                        Choisir une heure
                                    </option>
                                    <option
                                        v-for="time in startTimesList"
                                        :key="time"
                                        :value="time"
                                    >
                                        {{ time }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <h3 class="col-sm-12" style="text-align: center">
                                Quand voulez-vous rendre le vélo ?
                            </h3>
                            <div class="form-group col-sm-6">
                                <label class="form-label" for="date"
                                    >Date</label
                                >
                                <input
                                    type="date"
                                    class="form-control date-picker"
                                    id="returningDate"
                                    :min="minReturningDate"
                                    :max="maxReturningDate"
                                    v-model="input.end_date"
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="form-label" for="hour"
                                    >Heure</label
                                >
                                <select
                                    name="end_time"
                                    id="end_time"
                                    v-model="input.end_time"
                                    class="form-control"
                                >
                                    <option value="" selected disabled>
                                        Choisir une heure
                                    </option>
                                    <option
                                        v-for="time in endTimesList"
                                        :key="time"
                                        :value="time"
                                    >
                                        {{ time }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="row" v-if="input.buildings.length > 1">
                            <h3 class="col-sm-12" style="text-align: center">
                                Où voulez-vous prendre et remettre le vélo ?
                            </h3>
                            <div class="form-group col-sm-6">
                                <label class="form-label" for="date"
                                    >Départ</label
                                >
                                <select
                                    class="form-control"
                                    name="start_location"
                                    id="start_location"
                                    v-model="input.start_location"
                                >
                                    <option value="" selected disabled>
                                        Choisir un lieu
                                    </option>
                                    <option
                                        v-for="building in input.buildings"
                                        :key="building.id"
                                        :value="building.id"
                                    >
                                        {{ building.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="form-label" for="date"
                                    >Arrivée</label
                                >
                                <select
                                    class="form-control"
                                    name="start_location"
                                    id="start_location"
                                    v-model="input.end_location"
                                >
                                    <option value="" selected disabled>
                                        Choisir un lieu
                                    </option>
                                    <option
                                        v-for="building in input.buildings"
                                        :key="building.id"
                                        :value="building.id"
                                    >
                                        {{ building.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-12" style="text-align: center">
                                <button type="submit" class="btn btn-primary">
                                    Rechercher
                                </button>
                            </div>
                        </div>
                    </form>
                    <div v-show="searchAvailableBikesZone">
                        <span v-show="bikesAvailableLoading">
                            <br />
                            <hr />
                            <br />
                            <p style="text-align: center">
                                Chargement en cours ...
                            </p>
                        </span>
                        <div v-show="!bikesAvailableLoading">
                            <br />
                            <hr />
                            <br />
                            <div
                                class="row"
                                v-if="
                                    stores.bikesStockStore
                                        .getAvailableSharedBikes.length > 0
                                "
                                style="max-height: 700px; overflow-y: scroll"
                            >
                                <div
                                    class="col-sm-4"
                                    v-for="bike in stores.bikesStockStore
                                        .getAvailableSharedBikes"
                                    :key="bike.id"
                                >
                                    <div class="widget p-cb">
                                        <div class="card-image">
                                            <img
                                                src="/images/velo-dev.jpg"
                                                alt=""
                                                class="img"
                                            />
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                {{ bike.catalog?.brand }}
                                            </h4>
                                            <h5 class="card-subtitle">
                                                {{ bike.catalog?.model }}
                                            </h5>

                                            <p class="card-info">
                                                <span class="card-info-label"
                                                    >Cadre :
                                                </span>
                                                {{
                                                    bike.frame_type === "H"
                                                        ? "Homme"
                                                        : bike.frame_type ===
                                                          "F"
                                                        ? "Femme"
                                                        : "Mixte"
                                                }}
                                            </p>

                                            <p class="card-info">
                                                <span class="card-info-label"
                                                    >Type : </span
                                                >{{ bike.catalog?.utilisation }}
                                            </p>
                                        </div>
                                        <div class="card-btn">
                                            <button
                                                style="
                                                    width: 150px;
                                                    margin: auto;
                                                    margin-bottom: 1em;
                                                "
                                                type="button"
                                                class="btn btn-block"
                                                @click.prevent="
                                                    bookSharedBike(bike)
                                                "
                                            >
                                                Reserver
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3
                                style="text-align: center; color: #3cb395"
                                v-else
                            >
                                Aucun vélo de disponible
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { onMounted, watch, reactive, ref } from "vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import components
import Header from "../ReusableComponents/HeaderComponent.vue";

await stores.buildingsStore.loadBuildings();

const input = ref({
    start_date: "",
    start_time: "",
    start_location: "",
    end_date: "",
    end_time: "",
    end_location: "",
    bikes: [],
    buildings: [],
});
const sharedBikesAvailable = ref([]);
const sharedBikesConditions = ref([]);
let sharedBikesCondition = reactive({});
let user = reactive({});
let company = reactive({});
let minTakingDate = ref(new Date().toISOString().split("T")[0]);
let maxTakingDate = ref(
    new Date(new Date().getTime() - 1 * 24 * 60 * 60 * 1000)
        .toISOString()
        .split("T")[0]
);
let minReturningDate = ref(new Date().toISOString().split("T")[0]);
let maxReturningDate = ref(
    new Date(new Date().getTime() - 1 * 24 * 60 * 60 * 1000)
        .toISOString()
        .split("T")[0]
);
const today = new Date();
const thisDate = today.toISOString().split("T")[0];
const thisMonth = today.getMonth() + 1;
const thisYear = today.getFullYear();
const thisHour = today.getHours();
const thisMinute = today.getMinutes();
const thisSecond = today.getSeconds();
const thisTimestamp = today.getTime();
const thisDay =
    today.getDay() === 1
        ? "monday"
        : today.getDay() === 2
        ? "tuesday"
        : today.getDay() === 3
        ? "wednesday"
        : today.getDay() === 4
        ? "thursday"
        : today.getDay() === 5
        ? "friday"
        : today.getDay() === 6
        ? "saturday"
        : "sunday";
const startTimesList = ref([]);
const endTimesList = ref([]);
const errorMessage = ref("");
const bikesAvailablesList = ref([]);
const bikesAvailableLoading = ref(false);
const searchAvailableBikesZone = ref(false);
const QUINZEMINUTES = 900000;

// Define computed
const roundToNearest15Minutes = (date) => {
    const minutes = 15;
    const ms = 1000 * 60 * minutes;
    const rounded = new Date(Math.ceil(date.getTime() / ms) * ms);
    return rounded;
};

const sendFormVerification = async () => {
    // Reset error message
    errorMessage.value = "";

    // Check if all fields are filled
    if (input.value.start_date !== "") {
        if (input.value.start_time !== "") {
            if (input.value.end_date !== "") {
                if (input.value.end_time !== "") {
                    if (input.value.buildings.length > 0) {
                        if (input.value.bikes.length > 0) {
                            if (input.value.start_location !== "") {
                                if (input.value.end_location !== "") {
                                    // Active loading
                                    stores.bikesStockStore.$state.availablesSharedBikes =
                                        [];
                                    searchAvailableBikesZone.value = true;
                                    bikesAvailableLoading.value = true;
                                    // Retrieve bikeAvailable list
                                    await stores.bikesStockStore.searchAvailablesBikesByData(
                                        input.value
                                    );
                                    let newArray = [];
                                    for (const bike of stores.bikesStockStore
                                        .$state.availablesSharedBikes) {
                                        newArray.push(
                                            await stores.bikesStockStore.getBikeStockById(
                                                bike
                                            )
                                        );
                                    }
                                    stores.bikesStockStore.$state.availablesSharedBikes =
                                        newArray;
                                    bikesAvailableLoading.value = false;
                                } else {
                                    errorMessage.value =
                                        "Veuillez choisir un lieu d'arrivée";
                                }
                            } else {
                                errorMessage.value =
                                    "Veuillez choisir un lieu de départ";
                            }
                        } else {
                            errorMessage.value =
                                "Une erreur est survenue, veuillez contacter un administrateur. (Error : BL2)";
                        }
                    } else {
                        errorMessage.value =
                            "Une erreur est survenue, veuillez contacter un administrateur. (Error : BL1)";
                    }
                } else {
                    errorMessage.value = "Veuillez choisir une heure de retour";
                }
            } else {
                errorMessage.value = "Veuillez choisir une date de retour";
            }
        } else {
            errorMessage.value = "Veuillez choisir une heure de départ";
        }
    } else {
        errorMessage.value = "Veuillez choisir une date de départ";
    }
};

const bookSharedBike = (bike) => {
    const reservationInfos = {
        dateStart:
            input.value.start_date + " " + input.value.start_time + ":00",
        dateEnd: input.value.end_date + " " + input.value.end_time + ":00",
        locationStart: input.value.start_location,
        locationEnd: input.value.end_location,
        bikeId: bike.id,
    };
    stores.reservationsStore.addReservation(reservationInfos);
};
user = stores.usersStore.getUserAuth;
company = user.company;
sharedBikesConditions.value =
    await stores.conditionsStore.getSharedBikesConditionsByCompanyId(
        company.id
    );
sharedBikesCondition = sharedBikesConditions.value.find(
    (condition) =>
        condition.users_id === user.id.toString() || condition.users_id === "*"
);

onMounted(async () => {
    // Condition specific to the user
    if (
        sharedBikesConditions.value.filter(
            (condition) => condition.users_id === user.id.toString()
        ).length === 1 &&
        sharedBikesConditions.value
            .filter((condition) => condition.users_id === user.id.toString())[0]
            .users_id.includes(user.id.toString())
    ) {
        // Get all shared bike conditions by company id

        // Get buildings list
        if (sharedBikesCondition) {
            const buildings = sharedBikesCondition.buildings_id;
            if (buildings === "*") {
                stores.buildingsStore.getBuildings
                    .filter(
                        (building) =>
                            building.companies_id ===
                            parseInt(sharedBikesCondition.company_id)
                    )
                    .forEach((building) => {
                        input.value.buildings.push({
                            id: building.id,
                            name: building.description,
                        });
                    });
            } else {
                stores.buildingsStore.getBuildings
                    .filter(
                        (building) =>
                            building.companies_id ===
                            parseInt(sharedBikesCondition.company_id)
                    )
                    .forEach((building) => {
                        input.value.buildings.push({
                            id: building.id,
                            name: building.description,
                        });
                    });

                buildings.split(",").forEach((building) => {
                    input.value.buildings.push({
                        id: building.id,
                        name: building.description,
                    });
                });
            }

            // Set start location and end location if user has access to one building
            if (input.value.buildings.length === 1) {
                input.value.start_location = input.value.buildings[0].id;
                input.value.end_location = input.value.buildings[0].id;
            }
        }

        // Get bikes list
        if (sharedBikesCondition) {
            const bikes = sharedBikesCondition.bikes_id;
            if (bikes === "*") {
                const bikes_by_companies =
                    await stores.bikesStockStore.getBikesByCompanyId(
                        sharedBikesCondition.company_id
                    );
                bikes_by_companies.forEach((bike) => {
                    input.value.bikes.push(bike.id);
                });
            } else {
                bikes.split(",").forEach((bike) => {
                    input.value.bikes.push(bike.id);
                });
            }
        }
        // Define min taking date
        if (
            sharedBikesCondition.days.includes(thisDay) &&
            parseFloat(
                sharedBikesCondition.end_taking_time.split(":")[0] +
                    "." +
                    sharedBikesCondition.end_taking_time.split(":")[1]
            ) > parseFloat(thisHour + "." + thisMinute)
        ) {
            minTakingDate.value = thisDate;
            minReturningDate.value = thisDate;
            input.value.start_date = thisDate;

            // Add options to the start time select
            const startHour = roundToNearest15Minutes(today).getTime();
            const endHour = new Date(
                today.getFullYear(),
                today.getMonth(),
                today.getDate(),
                parseFloat(
                    sharedBikesCondition.end_taking_time.split(":")[0] +
                        "." +
                        sharedBikesCondition.end_taking_time.split(":")[1]
                )
            ).getTime();
            const diff = endHour - startHour;
            const step = diff / QUINZEMINUTES;
            for (let i = 0; i <= step; i++) {
                const hour = new Date(startHour + i * QUINZEMINUTES);
                const getHour =
                    hour.getHours() < 10
                        ? "0" + hour.getHours()
                        : hour.getHours();
                const getMinute =
                    hour.getMinutes() === 0 ? "00" : hour.getMinutes();
                const hourString = getHour + ":" + getMinute;
                startTimesList.value.push(hourString);
            }
        } else {
            minTakingDate.value = new Date(
                new Date(minTakingDate.value).getTime() +
                    1 * 24 * 60 * 60 * 1000
            )
                .toISOString()
                .split("T")[0];
            minReturningDate.value = new Date(
                new Date(minTakingDate.value).getTime() +
                    1 * 24 * 60 * 60 * 1000
            )
                .toISOString()
                .split("T")[0];
        }
        // Define max taking date
        if (sharedBikesCondition.max_days_before_reservation !== null) {
            maxTakingDate.value = new Date(
                new Date(thisDate).getTime() +
                    sharedBikesCondition.max_days_before_reservation *
                        24 *
                        60 *
                        60 *
                        1000
            )
                .toISOString()
                .split("T")[0];
        }

        // Desactivate calendar day if is not includes in the condition days
        let excludedDays = [];
        if (!sharedBikesCondition.days.includes("monday")) {
            excludedDays.push(1);
        }
        if (!sharedBikesCondition.days.includes("tuesday")) {
            excludedDays.push(2);
        }
        if (!sharedBikesCondition.days.includes("wednesday")) {
            excludedDays.push(3);
        }
        if (!sharedBikesCondition.days.includes("thursday")) {
            excludedDays.push(4);
        }
        if (!sharedBikesCondition.days.includes("friday")) {
            excludedDays.push(5);
        }
        if (!sharedBikesCondition.days.includes("saturday")) {
            excludedDays.push(6);
        }
        if (!sharedBikesCondition.days.includes("sunday")) {
            excludedDays.push(0);
        }
        const pickers = document.querySelectorAll(".date-picker");
        pickers.forEach((picker) => {
            picker.addEventListener("input", function (e) {
                const day = new Date(this.value).getUTCDay();
                if (excludedDays.includes(day)) {
                    e.preventDefault();
                    this.value = "";
                    alert(
                        "Vous ne pouvez pas prendre de vélo le " +
                            this.value +
                            " car c'est un jour non autorisé pour votre réservation."
                    );
                    if (this.name === "start_date") {
                        input.value.start_date = "";
                        startTimesList.value = [];
                    } else {
                        input.value.end_date = "";
                        endTimesList.value = [];
                    }
                }
            });
        });
    }
    // Condition specific for all employees
    else if (
        sharedBikesConditions.value.filter(
            (condition) => condition.users_id === user.id.toString()
        ).length === 0
    ) {
        // Get all shared bike conditions by company id

        // Get buildings list
        if (sharedBikesCondition) {
            const buildings = sharedBikesCondition.buildings_id;
            if (buildings === "*") {
                stores.buildingsStore.getBuildings
                    .filter(
                        (building) =>
                            building.companies_id ===
                            parseInt(sharedBikesCondition.company_id)
                    )
                    .forEach((building) => {
                        input.value.buildings.push({
                            id: building.id,
                            name: building.description,
                        });
                    });
            } else {
                buildings.split(",").forEach((building) => {
                    input.value.buildings.push({
                        id: building.id,
                        name: building.description,
                    });
                });
            }
        }

        // Set start location and end location if user has access to one building
        if (input.value.buildings.length === 1) {
            input.value.start_location = input.value.buildings[0].id;
            input.value.end_location = input.value.buildings[0].id;
        }

        // Get bikes list
        if (sharedBikesCondition) {
            const bikes = sharedBikesCondition.bikes_id;
            if (bikes === "*") {
                const bikes_by_companies =
                    await stores.bikesStockStore.getBikesByCompanyId(
                        sharedBikesCondition.company_id
                    );
                bikes_by_companies.forEach((bike) => {
                    input.value.bikes.push(bike.id);
                });
            } else {
                bikes.split(",").forEach((bike) => {
                    input.value.bikes.push(bike.id);
                });
            }
        }

        // Define min taking date
        if (sharedBikesCondition) {
            if (
                sharedBikesCondition.days.includes(thisDay) &&
                parseFloat(
                    sharedBikesCondition.end_taking_time.split(":")[0] +
                        "." +
                        sharedBikesCondition.end_taking_time.split(":")[1]
                ) > parseFloat(thisHour + "." + thisMinute)
            ) {
                minTakingDate.value = thisDate;
                minReturningDate.value = thisDate;
                input.value.start_date = thisDate;

                // Add options to the start time select
                const startHour = roundToNearest15Minutes(today).getTime();
                const endHour = new Date(
                    today.getFullYear(),
                    today.getMonth(),
                    today.getDate(),
                    parseFloat(
                        sharedBikesCondition.end_taking_time.split(":")[0] +
                            "." +
                            sharedBikesCondition.end_taking_time.split(":")[1]
                    )
                ).getTime();
                const diff = endHour - startHour;
                const step = diff / QUINZEMINUTES;
                for (let i = 0; i <= step; i++) {
                    const hour = new Date(startHour + i * QUINZEMINUTES);
                    const getHour =
                        hour.getHours() < 10
                            ? "0" + hour.getHours()
                            : hour.getHours();
                    const getMinute =
                        hour.getMinutes() === 0 ? "00" : hour.getMinutes();
                    const hourString = getHour + ":" + getMinute;
                    startTimesList.value.push(hourString);
                }
            } else {
                minTakingDate.value = new Date(
                    new Date(minTakingDate.value).getTime() +
                        1 * 24 * 60 * 60 * 1000
                )
                    .toISOString()
                    .split("T")[0];
                minReturningDate.value = new Date(
                    new Date(minTakingDate.value).getTime() +
                        1 * 24 * 60 * 60 * 1000
                )
                    .toISOString()
                    .split("T")[0];
            }
            // Define max taking date
            if (sharedBikesCondition.max_days_before_reservation !== null) {
                maxTakingDate.value = new Date(
                    new Date(thisDate).getTime() +
                        sharedBikesCondition.max_days_before_reservation *
                            24 *
                            60 *
                            60 *
                            1000
                )
                    .toISOString()
                    .split("T")[0];
            }

            // Desactivate calendar day if is not includes in the condition days
            let excludedDays = [];
            if (!sharedBikesCondition.days.includes("monday")) {
                excludedDays.push(1);
            }
            if (!sharedBikesCondition.days.includes("tuesday")) {
                excludedDays.push(2);
            }
            if (!sharedBikesCondition.days.includes("wednesday")) {
                excludedDays.push(3);
            }
            if (!sharedBikesCondition.days.includes("thursday")) {
                excludedDays.push(4);
            }
            if (!sharedBikesCondition.days.includes("friday")) {
                excludedDays.push(5);
            }
            if (!sharedBikesCondition.days.includes("saturday")) {
                excludedDays.push(6);
            }
            if (!sharedBikesCondition.days.includes("sunday")) {
                excludedDays.push(0);
            }
            const pickers = document.querySelectorAll(".date-picker");
            pickers.forEach((picker) => {
                picker.addEventListener("input", function (e) {
                    const day = new Date(this.value).getUTCDay();
                    if (excludedDays.includes(day)) {
                        e.preventDefault();
                        alert(
                            "Vous ne pouvez pas prendre de vélo le " +
                                this.value +
                                " car c'est un jour non autorisé pour votre réservation."
                        );
                        this.value = "";
                        if (this.name === "start_date") {
                            input.value.start_date = "";
                            startTimesList.value = [];
                        } else {
                            input.value.end_date = "";
                            endTimesList.value = [];
                        }
                    }
                });
            });
        }
    }
});
// // Define watchers
// const available_bikes = ref([]);
// watch(() => stores.bikesStockStore.getAvailableSharedBikes, async (newValue) => {
//     let newArray = [];
//     for(const bike of newValue){
//         newArray.push(await stores.bikesStockStore.getBikeStockById(bike));
//     }
//     available_bikes.value = newArray;
// })

// Define max returning date
watch(
    () => input.value.start_date,
    (newValue) => {
        if (newValue !== "") {
            // Delete a all options from the start time select
            startTimesList.value = [];
            input.value.start_time = "";
            // Delete a all options from the end time select
            endTimesList.value = [];
            input.value.end_time = "";
            // Reset end date
            input.value.end_date = "";
            maxReturningDate.value = new Date(
                new Date(newValue).getTime() - 1 * 24 * 60 * 60 * 1000
            )
                .toISOString()
                .split("T")[0];

            // Define min taking date
            if (newValue === thisDate) {
                // Set min taking date and min returning date to the same date
                minTakingDate.value = thisDate;
                minReturningDate.value = thisDate;

                // Add options to the start time select
                const startHour = roundToNearest15Minutes(today).getTime();
                const endHour = new Date(
                    today.getFullYear(),
                    today.getMonth(),
                    today.getDate(),
                    parseFloat(
                        sharedBikesCondition.end_taking_time.split(":")[0] +
                            "." +
                            sharedBikesCondition.end_taking_time.split(":")[1]
                    )
                ).getTime();
                const diff = endHour - startHour;
                const step = diff / QUINZEMINUTES;
                for (let i = 0; i <= step; i++) {
                    const hour = new Date(startHour + i * QUINZEMINUTES);
                    const getHour =
                        hour.getHours() < 10
                            ? "0" + hour.getHours()
                            : hour.getHours();
                    const getMinute =
                        hour.getMinutes() === 0 ? "00" : hour.getMinutes();
                    const hourString = getHour + ":" + getMinute;
                    startTimesList.value.push(hourString);
                }
            } else {
                // Set min returning date
                minReturningDate.value = newValue;
                minReturningDate.value = newValue;

                // Add options to the start time select
                const startHour = new Date(
                    "2022-01-01 " +
                        sharedBikesCondition.start_taking_time +
                        ":00"
                ).getTime();
                const endHour = new Date(
                    "2022-01-01 " + sharedBikesCondition.end_taking_time + ":00"
                ).getTime();
                const diff = endHour - startHour;
                const step = diff / QUINZEMINUTES;
                for (let i = 0; i <= step; i++) {
                    const hour = new Date(startHour + i * QUINZEMINUTES);
                    const getHour =
                        hour.getHours() < 10
                            ? "0" + hour.getHours()
                            : hour.getHours();
                    const getMinute =
                        hour.getMinutes() === 0 ? "00" : hour.getMinutes();
                    const hourString = getHour + ":" + getMinute;
                    startTimesList.value.push(hourString);
                }
            }
        }
    }
);

watch(
    () => input.value.start_time,
    (newValue) => {
        if (newValue !== "") {
            // Delete a all options from the end time select
            endTimesList.value = [];
            input.value.end_time = "";
            // Reset end date
            input.value.end_date = "";

            // Create full date with start date and start time
            const startDate = new Date(
                input.value.start_date + " " + newValue + ":00"
            );
            const endDate = new Date(
                startDate.getTime() +
                    sharedBikesCondition.max_resevation_duration * 60 * 1000
            );
            const endDay = endDate.getDay();

            // Define max returning date
            if (endDay === 6 && sharedBikesCondition.week_end === "Y") {
                maxReturningDate.value = new Date(
                    endDate.getTime() + 2 * 24 * 60 * 60 * 1000
                )
                    .toISOString()
                    .split("T")[0];
            } else if (endDay === 0 && sharedBikesCondition.week_end === "Y") {
                maxReturningDate.value = new Date(
                    endDate.getTime() + 1 * 24 * 60 * 60 * 1000
                )
                    .toISOString()
                    .split("T")[0];
            } else {
                maxReturningDate.value = endDate.toISOString().split("T")[0];
            }
        }
    }
);

watch(
    () => input.value.end_date,
    (newValue) => {
        if (input.value.start_date !== "" && input.value.start_time !== "") {
            const endDate = new Date(
                new Date(
                    input.value.start_date +
                        " " +
                        input.value.start_time +
                        ":00"
                ).getTime() +
                    sharedBikesCondition.max_resevation_duration * 60 * 1000
            );

            // Delete a all options from the end time select
            endTimesList.value = [];

            if (endDate.toISOString().split("T")[0] === newValue) {
                // Define start time and end time
                const startHour = sharedBikesCondition.start_delivery_time;
                const endHour = endDate.getHours() + ":" + endDate.getMinutes();

                // Add options to the end time select
                const diff =
                    new Date("2022-01-01 " + endHour + ":00").getTime() -
                    new Date("2022-01-01 " + startHour + ":00").getTime();
                const step = diff / QUINZEMINUTES;
                for (let i = 0; i <= step; i++) {
                    const hour = new Date(
                        new Date("2022-01-01 " + startHour + ":00").getTime() +
                            i * QUINZEMINUTES
                    );
                    const getHour =
                        hour.getHours() < 10
                            ? "0" + hour.getHours()
                            : hour.getHours();
                    const getMinute =
                        hour.getMinutes() === 0 ? "00" : hour.getMinutes();
                    const hourString = getHour + ":" + getMinute;
                    endTimesList.value.push(hourString);
                }
            } else if (input.value.start_date === newValue) {
                // Define start time and end time
                const startHour = input.value.start_time;
                const endHour =
                    endDate.toISOString().split("T")[0] ===
                    input.value.start_date
                        ? endDate.getHours() + ":" + endDate.getMinutes()
                        : sharedBikesCondition.end_delivery_time;

                // Add options to the end time select
                const diff =
                    new Date("2022-01-01 " + endHour).getTime() -
                    new Date("2022-01-01 " + startHour + ":00").getTime();
                const step = diff / QUINZEMINUTES;
                for (let i = 0; i <= step; i++) {
                    const hour = new Date(
                        new Date("2022-01-01 " + startHour + ":00").getTime() +
                            i * QUINZEMINUTES
                    );
                    const getHour =
                        hour.getHours() < 10
                            ? "0" + hour.getHours()
                            : hour.getHours();
                    const getMinute =
                        hour.getMinutes() === 0 ? "00" : hour.getMinutes();
                    const hourString = getHour + ":" + getMinute;
                    endTimesList.value.push(hourString);
                }
            } else if (input.value.end_date !== "") {
                // Define start time and end time
                const startHour = sharedBikesCondition.start_delivery_time;
                const endHour = sharedBikesCondition.end_delivery_time;

                // Add options to the end time select
                const diff =
                    new Date("2022-01-01 " + endHour).getTime() -
                    new Date("2022-01-01 " + startHour + ":00").getTime();
                const step = diff / QUINZEMINUTES;
                for (let i = 0; i <= step; i++) {
                    const hour = new Date(
                        new Date("2022-01-01 " + startHour + ":00").getTime() +
                            i * QUINZEMINUTES
                    );
                    const getHour =
                        hour.getHours() < 10
                            ? "0" + hour.getHours()
                            : hour.getHours();
                    const getMinute =
                        hour.getMinutes() === 0 ? "00" : hour.getMinutes();
                    const hourString = getHour + ":" + getMinute;
                    endTimesList.value.push(hourString);
                }
            }
        }
    }
);
</script>
<style scoped>
label {
    font-weight: bold;
    color: #3cb395;
}
.img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.card-btn {
    text-align: center;
    margin-top: 1.5em;
}
.card-body {
    padding: 0;
    margin: 0;
}
.card-title {
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0.5em 0;
    color: #3cb295;
    margin-bottom: 0;
}
.card-subtitle {
    text-align: center;
    font-size: 1em;
    margin: 0 0 1.5em 0;
    padding: 0;
}
.card-info {
    font-size: 0.9em;
    margin: 0.5em 0;
}
.card-info-label {
    font-size: 0.9em;
    font-weight: bold;
    color: #3cb295;
}
</style>
