<template>
    <div class="container-chatbox">
        <link rel="prefetch" href="/images/icons/expand.svg" />
        <link rel="prefetch" href="/images/icons/collapse.svg" />
        <link rel="prefetch" href="/images/icons/send-icon.svg" />
        <button
            class="main-button"
            :class="{ tran: isOpenChat }"
            @click="fadeChat()"
        >
            <img src="/images/icons/comments-regular.svg" alt="chat-logo" />
            <div
                v-if="stores.chatsStore.getSession.notif_client_count > 0"
                class="notif-count"
            >
                {{ stores.chatsStore.getSession.notif_client_count }}
            </div>
        </button>
        <div
            v-if="isOpenChat2"
            class="chat-container"
            :class="{ 'anim-grow': isOpenChat, 'anim-shrink': !isOpenChat }"
        >
            <div
                class="chatbox"
                :class="{ sizeChatbox: !expandBox, sizeChatboxUp: expandBox }"
            >
                <div class="topbar">
                    <div class="topbarFlex">
                        <div class="title">Chat</div>
                        <div
                            class="employee"
                            v-if="stores.chatsStore.getSession.employee_id"
                        >
                            <img
                                class="employee-picture"
                                :src="'/storage/' + employee.avatar"
                                alt="employee-picture"
                            />
                            <div class="employee-name">
                                {{ employee.firstname }}<br />{{
                                    employee.lastname
                                }}
                            </div>
                        </div>
                        <div>
                            <button @click="expandBox = !expandBox">
                                <img
                                    v-if="expandBox"
                                    class="collapse"
                                    src="/images/icons/collapse.svg"
                                    alt="expand-icon"
                                />
                                <img
                                    v-else
                                    class="expand"
                                    src="/images/icons/expand.svg"
                                    alt="expand-icon"
                                />
                            </button>
                            <button @click="fadeChat()" class="X-button">
                                x
                            </button>
                        </div>
                    </div>
                </div>
                <div class="chat">
                    <div class="chat-message received">
                        <p>
                            Une question ? Posez là ici nous y répondrons
                            rapidement !
                        </p>
                    </div>
                    <div
                        v-for="message in stores.chatsStore.getChat"
                        :key="message.id"
                        :class="
                            message.sender_id ===
                            stores.usersStore.getUserAuth.id
                                ? 'chat-message sent'
                                : 'chat-message received'
                        "
                    >
                        <p>
                            {{ message.content }}
                        </p>
                    </div>
                    <Typing v-if="stores.chatsStore.getTypingState" />
                    <span ref="anchor"></span>
                </div>
                <form @submit.prevent="sendForm()" id="chatForm">
                    <span class="focus-border"></span>
                    <textarea
                        id="textInput2"
                        v-model="inputText"
                        placeholder="Écrivez un message..."
                        form="chatForm"
                        @keyup="
                            (e) =>
                                e.key === 'Enter' && !e.shiftKey
                                    ? sendForm()
                                    : null
                        "
                    />
                    <button
                        class="send"
                        type="submit"
                        :disabled="!inputText.trim()"
                    >
                        <img
                            src="/images/icons/send-icon.svg"
                            alt="send-icon"
                        />
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>

<script setup>
import { onMounted, onBeforeMount, ref, watch } from "vue";
import Typing from "./Typing.vue";
import { data, send, isEmpty } from "../../../functions/globalFunctions";
import * as stores from "../../../store/StoresIndex.js";
import { storeToRefs } from "pinia";

const isOpenChat = ref(false);
const isOpenChat2 = ref(false);
const expandBox = ref(false);
const employee = ref({});
const anchor = ref();
const inputText = ref("");

let audio = new Audio("/sounds/message_sound.mp3");
audio.volume = 0.25;
let timeoutId;

let TimeTyping = performance.now();
let TimeSend = performance.now();
const TimeDelay = 250;

watch(
    () => stores.chatsStore.getSession.employee_id,
    async () => {
        if (
            stores.chatsStore.getSession &&
            stores.chatsStore.getSession.employee_id
        )
            employee.value = await stores.usersStore.getUserById(
                stores.chatsStore.getSession.employee_id
            );
    }
);

const { getTypingState } = storeToRefs(stores.chatsStore);

watch(getTypingState, async () => {
    if (stores.chatsStore.getTypingState && isOpenChat.value) {
        setTimeout(() => {
            scroll();
        }, 250);
        // si l'autre utilisateur quitte sa fenêtre avant que l'event stopTyping s'envoi
        setTimeout(() => {
            if (stores.chatsStore.getTypingState) {
                stores.chatsStore.$state.typing_state = false;
            }
        }, 10000);
    }
});

watch(data, async (msg) => {
    // console.log("Message received");

    msg = JSON.parse(msg);

    switch (msg.event_type) {
        case "Typing":
            if (performance.now() - TimeTyping > TimeDelay) {
                // console.log("Typing Event");
                TimeTyping = performance.now();
                stores.chatsStore.typing(msg);
            }
            break;
        case "ChatSend":
            // console.log("ChatSend Event");
            const response = await stores.chatsStore.chatSend(msg);
            if (response) {
                if (isOpenChat.value) {
                    scroll();
                    stores.chatsStore.resetClientNotif();
                } else {
                    stores.chatsStore.$state.session.notif_client_count += 1;
                    audio.play();
                }
            }
            break;
        case "EmployeeAssign":
            // console.log("EmployeeAssign Event");
            stores.chatsStore.employeeAssign(msg);
            break;
    }
});

watch(inputText, () => {
    clearTimeout(timeoutId);
    handleTyping(
        true,
        stores.chatsStore.getSession.id,
        stores.usersStore.getUserAuth.id
    );
    timeoutId = setTimeout(function () {
        handleTyping(
            false,
            stores.chatsStore.getSession.id,
            stores.usersStore.getUserAuth.id
        );
    }, 3000);
});

// accéder à des ref du DOM peut faire une erreur undefined car est dépendant des fonctions de rendu
function scroll() {
    const time = performance.now();
    let scrolled = false;
    while (!scrolled) {
        // sinon potentielle boucle infini
        if (performance.now() - time > 250) {
            break;
        }
        if (anchor.value) {
            anchor.value.scrollIntoView({
                behavior: "smooth",
                block: "nearest",
            });
            scrolled = true;
        }
    }
}

function handleTyping(typing, session_id, sender_id) {
    if (performance.now() - TimeTyping > TimeDelay) {
        send(
            JSON.stringify({
                event_type: "Typing",
                typing: typing,
                session_id: session_id,
                sender_id: sender_id,
            })
        );
    }
}

onBeforeMount(() => {
    if (
        !(stores.usersStore.getUserAuth && stores.usersStore.getUserAuth.id) &&
        localStorage.getItem("chatId")
    ) {
        stores.usersStore.getUserAuth.id = parseInt(
            localStorage.getItem("chatId")
        );
    } else {
        const id = Date.now();
        stores.usersStore.getUserAuth.id = id;
        localStorage.setItem("chatId", id.toString());
    }
    stores.chatsStore
        .getSessionByClientId(stores.usersStore.getUserAuth.id)
        .then(
            (data) =>
                (stores.chatsStore.$state.session = isEmpty(data) ? {} : data)
        );
});

onMounted(() => {
    stores.chatsStore.show(stores.usersStore.getUserAuth.id);
});

async function sendForm() {
    if (inputText.value.trim()) {
        try {
            const message = inputText.value.trim();
            inputText.value = "";
            const session = stores.chatsStore.getSession;

            const session2 = await stores.chatsStore.create({
                sender_id: stores.usersStore.getUserAuth.id,
                session_id: !isEmpty(session) ? session.id : null,
                content: message,
            });

            if (!isEmpty(session)) {
                stores.chatsStore.incrementEmployeeNotif();
                if (performance.now() - TimeSend > TimeDelay) {
                    TimeSend = performance.now();
                    send(
                        JSON.stringify({
                            event_type: "ChatSend",
                            session: session2,
                            sender_id: stores.usersStore.getUserAuth.id,
                            content: message,
                            employee: false,
                        })
                    );
                }
                send(
                    JSON.stringify({
                        event_type: "Typing",
                        typing: false,
                        session_id: session.id,
                        sender_id: stores.usersStore.getUserAuth.id,
                    })
                );
            } else {
                stores.chatsStore.$state.session = session2;
                send(
                    JSON.stringify({
                        event_type: "NewSession",
                        client_id: stores.usersStore.getUserAuth.id,
                        session_id: session2.id,
                    })
                );
            }

            scroll();
        } catch (error) {
            console.error(error);
        }
    }
}

function fadeChat() {
    isOpenChat.value = !isOpenChat.value;

    if (isOpenChat.value) {
        if (stores.chatsStore.getSession.notif_client_count > 0) {
            stores.chatsStore.resetClientNotif();
        }
        setTimeout(() => {
            scroll();
        }, 500);
        isOpenChat2.value = true;
    } else {
        setTimeout(() => {
            isOpenChat2.value = false;
        }, 500);
    }
}
</script>

<style scoped>
.employee {
    display: flex;
    align-items: center;
    gap: 5px;
}
.employee-picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.employee-name {
    font-size: 12px;
    line-height: 15px;
}
.notif-count {
    position: absolute;
    color: white;
    background-color: red;
    top: 0;
    right: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.chat-message {
    display: flex;
    align-items: center;
}
.sent {
    flex-direction: row-reverse;
}
.sent > p {
    background-color: rgb(86, 86, 252);
}
.received > p {
    background-color: grey;
}
.chat-message > p {
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
    color: white;
    width: fit-content;
    max-width: 80%;
    white-space: pre-line;
    word-break: break-word;
}
.chat::-webkit-scrollbar {
    width: 0.5rem;
}
.chat {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    gap: 20px;
    height: 80%;
    width: 100%;
}
.sizeChatboxUp {
    width: 500px;
    height: 600px;
}
.collapse {
    position: relative;
    display: inline;
    margin-right: 20px;
    top: -5px;
    width: 30px;
    height: 30px;
}
.expand {
    position: relative;
    display: inline;
    margin-right: 20px;
    top: -5px;
    width: 20px;
    height: 20px;
}
textarea::-webkit-scrollbar {
    width: 0.3rem;
}

textarea::-webkit-scrollbar-track,
.chat::-webkit-scrollbar-track {
    background: #c6c4cb;
}

textarea::-webkit-scrollbar-thumb,
.chat::-webkit-scrollbar-thumb {
    background: #9e9ca3;
    border-radius: 2em;
}
textarea::-webkit-scrollbar-thumb:hover,
.chat::-webkit-scrollbar-thumb:hover {
    background: #737176;
}
.send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
}
.send:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.send > img {
    width: 40px;
    height: 40px;
}
textarea {
    resize: none;
    width: 85%;
    padding: 3px;
    box-shadow: none;
}
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid rgb(195, 195, 195);
    height: 10%;
    width: 100%;
}

/* focus animation */
.focus-border {
    position: absolute;
    bottom: calc(10% - 3px);
    right: 0;
    height: 3px;
    background-color: #3cb395;
    animation: out 0.35s forwards;
}

form:focus-within > .focus-border {
    left: 0;
    animation: in 0.35s forwards;
}

@keyframes in {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes out {
    from {
        width: 100%;
        transform-origin: bottom right;
    }
    to {
        width: 0;
        transform-origin: bottom right;
    }
}
/* end focus animation */

.title {
    color: #3cb395;
    font-size: 20px;
}
.topbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    height: 10%;
    width: 100%;
    border-bottom: 2px solid rgb(195, 195, 195);
}
.topbarFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}
.X-button {
    color: black;
    font-size: 32px;
    font-weight: 500;
}
.anim-grow {
    animation: chatGrow 0.4s ease-in-out forwards;
}
.anim-shrink {
    animation: chatShrink 0.4s ease-in-out forwards;
}
.tran {
    transform: translate(50px, 35px);
}
.chat-container {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.25s ease-in-out;
    transform-origin: bottom right;
    z-index: 50;
}
.sizeChatbox {
    width: 300px;
    height: 500px;
}
.chatbox {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    transform-origin: bottom right;
    transition: all 0.25s ease-in-out;
    overflow: hidden;
}
.container-chatbox {
    position: fixed;
    bottom: 7.5%;
    right: 4%;
    width: fit-content;
    height: fit-content;
    z-index: 100;
    opacity: 0;
    animation: fadeIn 1s 2s ease-in-out forwards;
}
.main-button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-color: #2cb396;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
}
img {
    width: 75%;
    height: 75%;
}

@keyframes chatGrow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes chatShrink {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
</style>
