<template>
    <div class="top-container">
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Gestion des chats
        </h2>
        <div
            v-bind="$attrs"
            v-if="
                stores.usersStore.getUserAuth.permission.includes(
                    'chatsManager'
                )
            "
            class="container"
        >
            <div v-if="sessions.length > 0" class="sessions">
                <div
                    :class="{ active: index === activeIndex }"
                    class="session"
                    v-for="(session, index) in sessions"
                    :key="session.client_id"
                    @click="
                        handleClick(
                            session.client_id,
                            index,
                            session.employee_id
                        )
                    "
                >
                    <div>
                        Client :
                        {{
                            typeof session.client === "number"
                                ? session.client
                                : session.client?.firstname
                        }}
                        {{
                            typeof session.client === "number"
                                ? ""
                                : session.client?.lastname
                        }}
                    </div>
                    <div>
                        Employé :
                        {{
                            session.employee
                                ? session.employee.firstname
                                : "Non"
                        }}
                        {{
                            session.employee
                                ? session.employee.lastname
                                : "Assignée"
                        }}
                    </div>
                    <div
                        v-if="session.notif_employee_count > 0"
                        class="notif-count"
                    >
                        {{ session.notif_employee_count }}
                    </div>
                    <button
                        class="button-answer"
                        v-if="!session.employee_id"
                        @click="assignEmployee(session.id)"
                    >
                        Répondre
                    </button>
                </div>
            </div>
            <div class="chat-container" v-if="sessions.length > 0">
                <div class="chatbox">
                    <div class="chat">
                        <div
                            v-for="message in stores.chatsStore.getChat"
                            :key="message.id"
                            class="chat-message"
                            :class="condition(message) ? 'sent' : 'received'"
                        >
                            <p>
                                {{ message.content }}
                            </p>
                        </div>
                        <Typing v-if="stores.chatsStore.getTypingState" />
                        <span ref="anchor"></span>
                    </div>
                    <form @submit.prevent="sendForm()" id="chatForm">
                        <span class="focus-border"></span>
                        <textarea
                            id="textInput"
                            v-model="inputText"
                            placeholder="Écrivez un message..."
                            form="chatForm"
                            @keyup="
                                (e) =>
                                    e.key === 'Enter' && !e.shiftKey
                                        ? sendForm()
                                        : null
                            "
                        />
                        <button
                            class="send"
                            type="submit"
                            :disabled="!inputText.trim() || !authorized"
                        >
                            <img
                                src="/images/icons/send-icon.svg"
                                alt="send-icon"
                            />
                        </button>
                    </form>
                </div>
            </div>
            <h2
                class="no-sessions"
                v-if="stores.chatsStore.getSessions.length === 0"
            >
                Aucune session de chat n'a été initiée
            </h2>
        </div>
        <h2 class="no-sessions" v-else>
            Vous n'avez pas les permissions requises pour accéder à cette page
        </h2>
    </div>
</template>

<script setup>
import * as stores from "../../../store/StoresIndex";
import Typing from "./Typing.vue";
import { onMounted, ref, watch, watchEffect } from "vue";
import { data, send } from "../../../functions/globalFunctions";
import { storeToRefs } from "pinia";

await stores.chatsStore.loadSessions();

const sessions = ref([]);

const activeIndex = ref(0);
const anchor = ref();
const inputText = ref("");
const authorized = ref(false);

let audio = new Audio("/sounds/message_sound.mp3");
audio.volume = 0.15;
let timeoutId;

let TimeTyping = performance.now();
let TimeSend = performance.now();
const TimeDelay = 250;
let users = {};

watchEffect(async () => {
    sessions.value = stores.chatsStore.getSessions;
    for (const session of sessions.value) {
        if (!(session.client_id in users)) {
            if (!(session.client_id.toString().length > 10)) {
                const data = await stores.usersStore.getUserById(
                    session.client_id
                );
                users[session.client_id] = data;
            } else {
                users[session.client_id] = session.client_id;
            }
        }
        session.client = users[session.client_id];
        if (session.employee_id) {
            if (!(session.employee_id in users)) {
                const data = await stores.usersStore.getUserById(
                    session.employee_id
                );
                users[session.employee_id] = data;
            }
            session.employee = users[session.employee_id];
        }
    }
});

const { getTypingState } = storeToRefs(stores.chatsStore);

watch(getTypingState, async () => {
    if (stores.chatsStore.getTypingState) {
        setTimeout(() => {
            scroll();
        }, 250);
        // si l'autre utilisateur quitte sa fenêtre avant que l'event stopTyping s'envoi
        setTimeout(() => {
            if (stores.chatsStore.getTypingState) {
                stores.chatsStore.$state.typing_state = false;
            }
        }, 10000);
    }
});

watch(data, async (msg) => {
    // console.log("Message received");

    msg = JSON.parse(msg);

    switch (msg.event_type) {
        case "Typing":
            if (performance.now() - TimeTyping > TimeDelay) {
                // console.log("Typing Event");
                TimeTyping = performance.now();
                stores.chatsStore.typing(msg);
            }
            break;
        case "ChatSend":
            // console.log("ChatSend Event");
            const active_session = document.getElementsByClassName("active")[0];
            const response = await stores.chatsStore.chatSend(msg);
            if (response) {
                scroll();
            }
            if (msg.session.id === stores.chatsStore.getSession.id) {
                if (authorized.value) {
                    resetEmployeeNotif();
                }
            }
            if (!msg.employee) {
                stores.chatsStore.updateSessionEmployeeCount(msg.session.id);
                audio.play();
            }
            if (stores.usersStore.getUserAuth.id !== msg.sender_id) {
                reAssignCorrectActiveIndex(active_session);
            }
            break;
        case "NewSession":
            // console.log("NewSession Event");
            const active_session2 =
                document.getElementsByClassName("active")[0];
            if (sessions.value.length === 0) {
                stores.chatsStore.show(msg.client_id);
            }
            stores.chatsStore.newSession(msg);
            reAssignCorrectActiveIndex(active_session2);
            audio.play();
            break;
        case "EmployeeAssign":
            // console.log("EmployeeAssign Event");
            stores.chatsStore.employeeAssignChatView(msg);
            break;
        case "resetEmployeeNotif":
            console.log("resetEmployeeNotif Event");
            stores.chatsStore.resetEmployeeNotifSocket(msg);
            break;
    }
});

watch(inputText, () => {
    if (authorized.value) {
        clearTimeout(timeoutId);
        handleTyping(
            true,
            stores.chatsStore.getSession.id,
            stores.usersStore.getUserAuth.id
        );
        timeoutId = setTimeout(function () {
            handleTyping(
                false,
                stores.chatsStore.getSession.id,
                stores.usersStore.getUserAuth.id
            );
        }, 3000);
    }
});

// accéder à des ref du DOM peut faire une erreur undefined car est dépendant des fonctions de rendu
function scroll() {
    const time = performance.now();
    let scrolled = false;
    while (!scrolled) {
        // sinon potentielle boucle infini
        if (performance.now() - time > 250) {
            break;
        }
        if (anchor.value) {
            anchor.value.scrollIntoView({
                behavior: "smooth",
                block: "nearest",
            });
            scrolled = true;
        }
    }
}

function handleTyping(typing, session_id, sender_id) {
    if (performance.now() - TimeTyping > TimeDelay) {
        send(
            JSON.stringify({
                event_type: "Typing",
                typing: typing,
                session_id: session_id,
                sender_id: sender_id,
            })
        );
    }
}

onMounted(async () => {
    if (stores.chatsStore.getSessions.length > 0) {
        if (
            stores.chatsStore.getSessions[0].employee_id ===
            stores.usersStore.getUserAuth.id
        ) {
            authorized.value = true;
        }

        await stores.chatsStore.show(
            stores.chatsStore.getSessions[0].client_id
        );

        if (
            stores.chatsStore.getSessions[0].notif_employee_count > 0 &&
            authorized.value
        ) {
            resetEmployeeNotif();
        }
    }
    setTimeout(() => {
        scroll();
    }, 2000);
});

function resetEmployeeNotif() {
    stores.chatsStore.resetEmployeeNotif();
    send(
        JSON.stringify({
            event_type: "resetEmployeeNotif",
            session_id: stores.chatsStore.getSession.id,
        })
    );
}

function condition(message) {
    return (
        message.sender_id === stores.usersStore.getUserAuth.id ||
        message.sender_id === message.session.employee_id ||
        message.sender_id === 0
    );
}

async function assignEmployee(session_id) {
    const employee_id = stores.usersStore.getUserAuth.id;
    await stores.chatsStore.assignEmployee({
        employee_id: employee_id,
        session_id: session_id,
    });
    send(
        JSON.stringify({
            event_type: "EmployeeAssign",
            session_id: session_id,
            employee_id: employee_id,
        })
    );

    resetEmployeeNotif();
    authorized.value = true;

    activeIndex.value = 0;
}

async function handleClick(client_id, index, employee_id) {
    if (activeIndex.value !== index) {
        activeIndex.value = index;
        await stores.chatsStore.show(client_id);
        if (employee_id === stores.usersStore.getUserAuth.id) {
            authorized.value = true;
        } else {
            authorized.value = false;
        }
        if (
            stores.chatsStore.getSession.notif_employee_count > 0 &&
            authorized.value
        ) {
            resetEmployeeNotif();
        }
        scroll();
        stores.chatsStore.$state.typing_state = false;
    }
}

function reAssignCorrectActiveIndex(active_session) {
    const text = active_session.firstChild.innerHTML;
    const sessions = document.getElementsByClassName("session");
    for (let i = 0; i < sessions.length; i++) {
        if (sessions[i].firstChild.innerHTML === text) {
            activeIndex.value = i;
            break;
        }
    }
}

async function sendForm() {
    if (inputText.value.trim() && authorized.value) {
        try {
            const id = stores.usersStore.getUserAuth.id;
            const session = stores.chatsStore.getSession;
            const message = inputText.value.trim();
            inputText.value = "";
            const active_session = document.getElementsByClassName("active")[0];

            await stores.chatsStore.create({
                sender_id: id,
                session_id: session.id,
                content: message,
            });

            reAssignCorrectActiveIndex(active_session);

            stores.chatsStore.incrementClientNotif();

            if (performance.now() - TimeSend > TimeDelay) {
                TimeSend = performance.now();
                send(
                    JSON.stringify({
                        event_type: "ChatSend",
                        session: session,
                        sender_id: id,
                        content: message,
                        employee: true,
                    })
                );
            }
            send(
                JSON.stringify({
                    event_type: "Typing",
                    typing: false,
                    session_id: session.id,
                    sender_id: id,
                })
            );

            scroll();
        } catch (error) {
            console.error(error);
        }
    }
}
</script>

<style scoped>
.top-container {
    width: 100%;
    height: 90%;
}
.notif-count {
    display: flex;
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: red;
    right: 2.5%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.chat-message {
    display: flex;
    align-items: center;
}
.sent {
    flex-direction: row-reverse;
}
.sent > p {
    background-color: rgb(86, 86, 252);
}
.received > p {
    background-color: grey;
}
.chat-message > p {
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
    color: white;
    width: fit-content;
    max-width: 80%;
    white-space: pre-line;
    word-break: break-word;
}
.chat::-webkit-scrollbar {
    width: 0.5rem;
}
.chat {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    gap: 20px;
    height: 90%;
    width: 100%;
}
textarea::-webkit-scrollbar {
    width: 0.3rem;
}

textarea::-webkit-scrollbar-track,
.chat::-webkit-scrollbar-track {
    background: #c6c4cb;
}

textarea::-webkit-scrollbar-thumb,
.chat::-webkit-scrollbar-thumb {
    background: #9e9ca3;
    border-radius: 2em;
}
textarea::-webkit-scrollbar-thumb:hover,
.chat::-webkit-scrollbar-thumb:hover {
    background: #737176;
}
.send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
}
.send:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.send > img {
    width: 40px;
    height: 40px;
}
textarea {
    resize: none;
    height: 100%;
    width: 85%;
    padding: 3px;
    box-shadow: none;
}
form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid rgb(195, 195, 195);
    height: 10%;
    width: 100%;
}

/* focus animation */
.focus-border {
    position: absolute;
    bottom: 100%;
    right: 0;
    height: 3px;
    background-color: #3cb395;
    animation: out 0.5s ease-in-out forwards;
}

form:focus-within > .focus-border {
    left: 0;
    animation: in 0.5s ease-in-out forwards;
}

@keyframes in {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes out {
    from {
        width: 100%;
        transform-origin: bottom right;
    }
    to {
        width: 0;
        transform-origin: bottom right;
    }
}
/* end focus animation */

.chat-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(207, 207, 207);
    width: 75%;
    height: 100%;
}
.chatbox {
    height: 100%;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.active {
    background-color: rgb(196, 196, 196);
}
.no-sessions {
    position: absolute;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button-answer {
    color: white;
    padding: 10px;
    background-color: #3cb395;
    border-radius: 10px;
    margin: 20px auto 5px auto;
}
.sessions {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(207, 207, 207);
    margin-left: 20px;
    width: 25%;
    height: 100%;
    overflow-y: auto;
}
.sessions::-webkit-scrollbar {
    width: 0.3rem;
}

.sessions::-webkit-scrollbar-track,
.chat::-webkit-scrollbar-track {
    background: #c6c4cb;
}

.sessions::-webkit-scrollbar-thumb,
.chat::-webkit-scrollbar-thumb {
    background: #9e9ca3;
    border-radius: 2em;
}
.sessions::-webkit-scrollbar-thumb:hover,
.chat::-webkit-scrollbar-thumb:hover {
    background: #737176;
}
.session {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
}
</style>
