<template>
    <div class="login-container">
        <img src="/images/logo.png" alt="KAMEO Bikes logo" />
        <form @submit.prevent="login" class="login-card">
            <div>
                <label for="email" class="form-label">Email</label>
                <input
                    type="email"
                    v-model="user.email"
                    autofocus
                    class="form-control"
                />
            </div>
            <div>
                <label for="password" class="form-label">Password</label>
                <input
                    type="password"
                    v-model="user.password"
                    class="form-control"
                />
            </div>
            <p id="errorLogin">Email ou mot de passe invalide</p>
            <button type="submit">Connexion</button>
        </form>
    </div>
</template>

<script setup>
import Auth from "../../Auth.js";
import axios from "axios";
import { useRouter } from "vue-router";
import { ref } from "vue";
const router = useRouter();
const user = ref({
    email: "",
    password: "",
});

const login = () => {
    axios
        .post("/api/login", user.value)
        .then((response) => {
            Auth.login(response.data.access_token, response.data.user);
            //set local storage
            if (window.localStorage.getItem("fromChatView") === "true") {
                window.localStorage.setItem("fromChatView", "false");
                router.push({ name: "chat-view" });
            } else {
                router.push({ name: "dashboard" });
            }
        })
        .catch((error) => {
            console.log(error);
            if (
                error.message.indexOf("422") !== -1 ||
                error.message.indexOf("401") !== -1
            ) {
                let errorMsg = document.querySelector("#errorLogin");
                errorMsg.style.opacity = 1;
            }
        });
};
</script>

<style scoped>
.login-container {
    background-color: rgba(243, 244, 246, 1);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container img {
    width: 130px;
}

.login-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 15px;
    width: 30%;
    height: 40%;
    border-radius: 10px;
}

.login-card div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#errorLogin {
    color: red;
    opacity: 0;
    margin: 0.5rem;
}

button {
    background-color: rgba(55, 65, 81, 1);
    border-radius: 10px;
    color: #fff;
    line-height: 1rem;
    height: 35px;
    width: 115px;
    margin-top: 1rem;
}

input[type="email"],
input[type="password"] {
    border-radius: 10px;
    width: 100%;
}
</style>
