<template>
    <div>
        <Header title="Nouvelle commande" />
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form @submit.prevent="sendForm()">
                        <div>
                            <h4
                                style="
                                    text-transform: uppercase;
                                    color: #3cb395;
                                    font-wieght: bold;
                                "
                            >
                                Informations sur la société
                            </h4>
                            <hr />
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <label
                                        for="companies_id"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Société</label
                                    >
                                    <select
                                        v-model="input.companies_id"
                                        id="companies_id"
                                        :class="[
                                            stores.ordersStore.getErrors
                                                .companies_id
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                    >
                                        <option :value="null" selected disabled>
                                            Choisir ...
                                        </option>
                                        <option
                                            v-for="item in stores.companiesStore.getCompanies.sort(
                                                (a, b) => a.name > b.name
                                            )"
                                            :key="item.id"
                                            :value="item.id"
                                        >
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </div>
                                <div
                                    class="col-md-6"
                                    v-show="
                                        checkCompany == true && users.length > 0
                                    "
                                >
                                    <label
                                        for="users_id"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Assigné à un utilisateur ?
                                        (Facultatif)</label
                                    >
                                    <select
                                        v-model="input.users_id"
                                        class="form-control"
                                        id="users_id"
                                    >
                                        <option
                                            v-for="item in company_users"
                                            :key="item.id"
                                            :value="item.id"
                                        >
                                            {{ item.firstname }}
                                            {{ item.lastname }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div>
                            <button
                                style="width: 150px; margin: auto"
                                type="submit"
                                class="btn btn-block"
                            >
                                Ajouter
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
// Import dependencies
import { ref, watch } from "vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import components
import Header from "../ReusableComponents/HeaderComponent.vue";

stores.companiesStore.loadCompanies();

// Define constants
const input = ref({
    companies_id: null,
});
const checkCompany = ref(false);
const company_users = ref([]);

watch(
    () => input.value.companies_id,
    async () => {
        company_users.value = await stores.usersStore.getUsersByCompany(
            input.value.companies_id
        );
    }
);

// Define methods
function sendForm() {
    const data = input.value;
    stores.ordersStore.create(data);
}
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
