<template>
    <Datatable
        :headers="headers"
        :storeName="storeName"
        :routeName="routeName"
        showBtn
        updateBtn
    />
</template>
<script setup>
import Datatable from "../ReusableComponents/Datatable.vue";
const storeName = "ordersStore";
const routeName = "grouped-orders";
const headers = [
    { value: "id", name: "#" },
    { value: "client", name: "Client" },
    { value: "user", name: "Utilisateur" },
    { value: "bikes_done", name: "Vélos livré" },
    { value: "bikes_not_done", name: "Vélos non livré" },
    { value: "accessories_done", name: "Accessoires livré" },
    { value: "accessories_not_done", name: "Accessoires non livré" },
    { value: "boxes_done", name: "Bornes livrée" },
    { value: "boxes_not_done", name: "Bornes non livré" },
];
</script>
