<template>
    <div class="row" id="mainDynamicZone">
        <div class="col-sm-12 component-top-bar">
            <button
                @click="$router.push({ name: 'grouped-orders-list' })"
                style="width: 35px; height: 35px; padding: 0px"
                type="button"
                class="btn"
            >
                <i class="fa fa-arrow-left"></i>
            </button>
            <button
                @click="isOpen = true"
                style="
                    height: 35px;
                    padding: 10px;
                    float: right;
                    margin-right: 5px;
                "
                type="button"
                class="btn btn-danger"
            >
                Supprimer la commande
            </button>
        </div>

        <div class="col-md-12">
            <div class="widget p-cb">
                <div>
                    <div v-if="stores.ordersStore.getOrder.company.name">
                        <h4>Informations sur la société</h4>
                        <label class="form-label" style="color: #3cb395"
                            >Nom de la société</label
                        >
                        <p>
                            {{ stores.ordersStore.getOrder.company.name }}
                        </p>
                    </div>
                    <hr />
                    <div v-if="stores.ordersStore.getOrder.user" class="row">
                        <h4>Utilisateur</h4>
                        <div
                            v-if="stores.ordersStore.getOrder.user.firstname"
                            class="col-sm-6"
                        >
                            <label class="form-label" style="color: #3cb395"
                                >Prénom</label
                            >
                            <p>
                                {{ stores.ordersStore.getOrder.user.firstname }}
                            </p>
                        </div>
                        <div
                            v-if="stores.ordersStore.getOrder.user.lastname"
                            class="col-sm-6"
                        >
                            <label class="form-label" style="color: #3cb395"
                                >Nom</label
                            >
                            <p>
                                {{ stores.ordersStore.getOrder.user.lastname }}
                            </p>
                        </div>
                        <div
                            v-if="stores.ordersStore.getOrder.user.email"
                            class="col-sm-6"
                        >
                            <label class="form-label" style="color: #3cb395"
                                >E-mail</label
                            >
                            <p>
                                {{ stores.ordersStore.getOrder.user.email }}
                            </p>
                        </div>
                        <div
                            v-if="stores.ordersStore.getOrder.user.phone"
                            class="col-sm-6"
                        >
                            <label class="form-label" style="color: #3cb395"
                                >Téléphone</label
                            >
                            <p>
                                {{ stores.ordersStore.getOrder.user.phone }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="widget p-cb">
                <div style="overflow-y: auto">
                    <h5 class="text-primary float-left">Vélos</h5>
                    <router-link
                        :to="{
                            name: 'bike-orders-create',
                            params: { id: route.params.id },
                        }"
                        tag="button"
                        class="btn btn-xs float-right"
                    >
                        Ajouter un vélo
                    </router-link>
                    <div v-show="bikes.length === 0">
                        <p
                            style="
                                font-weight: bold;
                                text-transform: uppercase;
                                color: #3cb295;
                                text-align: center;
                                margin-top: 50px;
                            "
                        >
                            Aucun vélo pour cette commande
                        </p>
                    </div>
                    <table class="table datatable" v-show="bikes.length > 0">
                        <thead>
                            <tr style="text-align: center">
                                <th>ID</th>
                                <th>Statut</th>
                                <th>Marque</th>
                                <th>Modèle</th>
                                <th>Type de contrat</th>
                                <th>Montant du contrat</th>
                                <th>ID vélo de stock</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="bike in bikes"
                                :key="bike.id"
                                style="text-align: center"
                            >
                                <td>{{ bike.id }}</td>
                                <td>{{ bike.status }}</td>
                                <td>{{ bike.catalog.brand }}</td>
                                <td>{{ bike.catalog.model }}</td>
                                <td>{{ bike.type }}</td>
                                <td>{{ bike.amount }} €</td>
                                <td>
                                    {{
                                        bike.bikes_id
                                            ? bike.bikes_id
                                            : "Non lié"
                                    }}
                                </td>
                                <td>
                                    <router-link
                                        :to="{
                                            name: 'bike-orders-update',
                                            params: { id: bike.id },
                                        }"
                                        tag="button"
                                        class="btn btn-xs"
                                    >
                                        <i class="fa fa-pencil-alt"></i>
                                    </router-link>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <h5 class="text-primary float-left">Accessoires</h5>
                    <router-link
                        :to="{
                            name: 'accessory-orders-create',
                            params: { id: route.params.id },
                        }"
                        tag="button"
                        class="btn btn-xs float-right"
                    >
                        Ajouter un accessoire
                    </router-link>
                    <div v-show="accessories.length === 0">
                        <p
                            style="
                                font-weight: bold;
                                text-transform: uppercase;
                                color: #3cb295;
                                text-align: center;
                                margin-top: 50px;
                            "
                        >
                            Aucun accessoire pour cette commande
                        </p>
                    </div>
                    <table
                        class="table datatable"
                        v-show="accessories.length > 0"
                    >
                        <thead>
                            <tr style="text-align: center">
                                <th>ID</th>
                                <th>Statut</th>
                                <th>Marque</th>
                                <th>Modèle</th>
                                <th>Type de contrat</th>
                                <th>Montant du contrat</th>
                                <th>ID accessoire de stock</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="accessory in accessories"
                                :key="accessory.id"
                                style="text-align: center"
                            >
                                <td>{{ accessory.id }}</td>
                                <td>{{ accessory.status }}</td>
                                <td>{{ accessory.catalog.brand }}</td>
                                <td>{{ accessory.catalog.model }}</td>
                                <td>{{ accessory.type }}</td>
                                <td>{{ accessory.amount }} €</td>
                                <td>
                                    {{
                                        accessory.accessories_id
                                            ? accessory.accessories_id
                                            : "Non lié"
                                    }}
                                </td>
                                <td>
                                    <router-link
                                        :to="{
                                            name: 'accessory-orders-update',
                                            params: { id: accessory.id },
                                        }"
                                        tag="button"
                                        class="btn btn-xs"
                                    >
                                        <i class="fa fa-pencil-alt"></i>
                                    </router-link>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <h5 class="text-primary float-left">Bornes</h5>
                    <router-link
                        :to="{
                            name: 'box-orders-create',
                            params: { id: route.params.id },
                        }"
                        tag="button"
                        class="btn btn-xs float-right"
                    >
                        Ajouter une borne
                    </router-link>
                    <div v-show="boxes.length === 0">
                        <p
                            style="
                                font-weight: bold;
                                text-transform: uppercase;
                                color: #3cb295;
                                text-align: center;
                                margin-top: 50px;
                            "
                        >
                            Aucune borne pour cette commande
                        </p>
                    </div>
                    <table class="table datatable" v-show="boxes.length > 0">
                        <thead>
                            <tr style="text-align: center">
                                <th>ID</th>
                                <th>Statut</th>
                                <th>Modèle</th>
                                <th>Montant installation</th>
                                <th>Montant de location</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="box in boxes"
                                :key="box.id"
                                style="text-align: center"
                            >
                                <td>{{ box.id }}</td>
                                <td>{{ box.status }}</td>
                                <td>{{ box.catalog.model }}</td>
                                <td>{{ box.installation_price }}</td>
                                <td>{{ box.amount }} €/mois</td>
                                <td>
                                    <router-link
                                        :to="{
                                            name: 'box-orders-update',
                                            params: { id: box.id },
                                        }"
                                        tag="button"
                                        class="btn btn-xs"
                                    >
                                        <i class="fa fa-pencil-alt"></i>
                                    </router-link>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <DeleteValidationModal
        :open="isOpen"
        @close="isOpen = !isOpen"
        :id="stores.ordersStore.getOrder.id"
        :store="stores.ordersStore"
    />
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref } from "vue";
import DeleteValidationModal from "../Modals/DeleteValidationModal.vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

const isOpen = ref(false);
const route = useRoute();
const accessories = ref([]);
const bikes = ref([]);
const boxes = ref([]);

stores.accessoriesOrdersStore
    .getAccessoriesFromGroupedOrder(route.params.id)
    .then((data) => (accessories.value = data));
stores.bikesOrdersStore
    .getBikesFromGroupedOrder(route.params.id)
    .then((data) => (bikes.value = data));
stores.boxesOrdersStore
    .getBoxesFromGroupedOrder(route.params.id)
    .then((data) => (boxes.value = data));

stores.ordersStore.show(route.params.id);
</script>
