<template>
    <div>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12 component-top-bar">
                <button
                    @click="$router.push({ name: 'grouped-orders-list' })"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button
                    @click="generatePurchaseOrderIsOpen = true"
                    style="
                        height: 35px;
                        padding: 10px;
                        float: right;
                        margin-right: 5px;
                    "
                    type="button"
                    :class="
                        bikes.length > 0 ||
                        accessories_order.length > 0 ||
                        boxes.length > 0
                            ? 'btn'
                            : 'btn disabled'
                    "
                >
                    Bon de commande
                </button>
                <button
                    @click="
                        generateInvoiceIsOpen = true;
                        loadData();
                    "
                    style="
                        height: 35px;
                        padding: 10px;
                        float: right;
                        margin-right: 5px;
                    "
                    type="button"
                    :class="
                        bikes.length > 0 ||
                        accessories_order.length > 0 ||
                        boxes.length > 0
                            ? 'btn'
                            : 'btn disabled'
                    "
                >
                    Facturer
                </button>
                <button
                    @click="generateCreditNoteIsOpen = true"
                    style="
                        height: 35px;
                        padding: 10px;
                        float: right;
                        margin-right: 5px;
                    "
                    type="button"
                    :class="
                        bikes.length > 0 ||
                        accessories_order.length > 0 ||
                        boxes.length > 0
                            ? 'btn'
                            : 'btn disabled'
                    "
                    :disabled="selling_bikes.length < 1"
                >
                    Créditer
                </button>
            </div>
            <div class="col-md-12">
                <div class="widget p-cb">
                    <div>
                        <div
                            class="col-sm-6"
                            v-show="!!stores.ordersStore.getOrder.company.name"
                        >
                            <label class="form-label" style="color: #3cb395"
                                >Prénom</label
                            >
                            <p>
                                {{ stores.ordersStore.getOrder.user.firstname }}
                            </p>
                        </div>
                        <div
                            v-show="!!stores.ordersStore.getOrder.user.lastname"
                            class="col-sm-6"
                        >
                            <label class="form-label" style="color: #3cb395"
                                >Nom</label
                            >
                            <p>
                                {{ stores.ordersStore.getOrder.user.lastname }}
                            </p>
                        </div>
                        <div
                            v-show="!!stores.ordersStore.getOrder.user.email"
                            class="col-sm-6"
                        >
                            <label class="form-label" style="color: #3cb395"
                                >E-mail</label
                            >
                            <p>
                                {{ stores.ordersStore.getOrder.user.email }}
                            </p>
                        </div>
                        <div
                            v-show="!!stores.ordersStore.getOrder.user.phone"
                            class="col-sm-6"
                        >
                            <label class="form-label" style="color: #3cb395"
                                >Téléphone</label
                            >
                            <p>
                                {{ stores.ordersStore.getOrder.user.phone }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="widget p-cb">
                    <div>
                        <h4>Contenu de la commande</h4>

                        <h4 class="text-primary">Vélos</h4>
                        <div v-show="bikes.length === 0">
                            <p
                                style="
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    color: #3cb295;
                                    text-align: center;
                                    margin-top: 50px;
                                "
                            >
                                Aucun vélo pour cette commande
                            </p>
                        </div>
                        <div v-show="bikes.length > 0" class="scroll-container">
                            <div
                                v-for="bike in bikes"
                                :key="bike.id"
                                class="scroll-card"
                            >
                                <div class="card">
                                    <img
                                        :data-bikeID="bike.id"
                                        :alt="
                                            'image vélo ' +
                                            bike.brand +
                                            ' ' +
                                            bike.model
                                        "
                                        :src="
                                            '/images_bikes/' +
                                            bike.id +
                                            '01_mini.jpg'
                                        "
                                        style="
                                            margin: auto;
                                            margin-bottom: 20px;
                                            width: 100%;
                                        "
                                        class="imageCatalog"
                                    />
                                    <img
                                        class="card-img-top"
                                        src="/images/logo.png"
                                        alt="Card image cap"
                                    />
                                    <div class="card-body">
                                        <router-link
                                            :to="{
                                                name: 'bike-orders-update',
                                                params: { id: bike.id },
                                            }"
                                            tag="button"
                                            class="btn btn-xs"
                                        >
                                            <i class="fa fa-pencil-alt"></i>
                                        </router-link>
                                        <h5 class="card-title">
                                            {{ bike.id }} Commande {{ bike.id }}
                                        </h5>
                                        <p class="card-text">
                                            Marque : {{ bike.catalog.brand
                                            }}<br />
                                            Modèle : {{ bike.catalog.model
                                            }}<br />
                                            Taille : {{ bike.size }}<br />
                                            Type de contrat : {{ bike.type }}
                                            <br />
                                            Montant : {{ bike.amount }} €<br />
                                            ID Stock :
                                            {{
                                                bike.bikes_id
                                                    ? bike.bikes_id
                                                    : "Non lié"
                                            }}
                                            <br />
                                            Statut : {{ bike.status }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>

                        <h4 class="text-primary">Accessoires</h4>
                        <div v-show="accessories_order.length === 0">
                            <p
                                style="
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    color: #3cb295;
                                    text-align: center;
                                    margin-top: 50px;
                                "
                            >
                                Aucun accessoire pour cette commande
                            </p>
                        </div>
                        <div
                            v-show="accessories_order.length > 0"
                            class="scroll-container"
                        >
                            <div
                                v-for="accessory in accessories_order"
                                :key="accessory.id"
                                class="scroll-card"
                            >
                                <div class="card">
                                    <img
                                        class="card-img-top"
                                        src="https://kameo.test/images/logo.png"
                                        alt="Card image cap"
                                    />
                                    <div class="card-body">
                                        <router-link
                                            :to="{
                                                name: 'accessory-orders-update',
                                                params: { id: accessory.id },
                                            }"
                                            tag="button"
                                            class="btn btn-xs"
                                        >
                                            <i class="fa fa-pencil-alt"></i>
                                        </router-link>
                                        <h5 class="card-title">
                                            Commande {{ accessory.id }}
                                        </h5>
                                        <p class="card-text">
                                            Marque : {{ accessory.catalog.brand
                                            }}<br />
                                            Modèle : {{ accessory.catalog.model
                                            }}<br />
                                            Taille : {{ accessory.size }}<br />
                                            Type de contrat :
                                            {{ accessory.type }}
                                            <br />
                                            Montant :
                                            {{ accessory.amount }} €<br />
                                            ID Stock :
                                            {{
                                                accessory.accessories_id
                                                    ? accessory.accessories_id
                                                    : "Non lié"
                                            }}
                                            <br />
                                            Statut : {{ accessory.status }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>

                        <h4 class="text-primary">Bornes</h4>
                        <div v-show="boxes.length === 0">
                            <p
                                style="
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    color: #3cb295;
                                    text-align: center;
                                    margin-top: 50px;
                                "
                            >
                                Aucune borne pour cette commande
                            </p>
                        </div>
                        <div v-show="boxes.length > 0" class="scroll-container">
                            <div
                                v-for="box in boxes"
                                :key="box.id"
                                class="scroll-card"
                            >
                                <div class="card">
                                    <img
                                        class="card-img-top"
                                        src="https://kameo.test/images/logo.png"
                                        alt="Card image cap"
                                    />
                                    <div class="card-body">
                                        <router-link
                                            :to="{
                                                name: 'box-orders-update',
                                                params: { id: box.id },
                                            }"
                                            tag="button"
                                            class="btn btn-xs"
                                        >
                                            <i class="fa fa-pencil-alt"></i>
                                        </router-link>
                                        <h5 class="card-title">
                                            Commande {{ box.id }}
                                        </h5>
                                        <p class="card-text">
                                            Modèle : {{ box.catalog.model
                                            }}<br />
                                            Installation :
                                            {{ box.installation_price }} €<br />
                                            Location :
                                            {{ box.amount }} €/mois<br />
                                            ID Stock :
                                            {{
                                                box.accessories_id
                                                    ? box.accessories_id
                                                    : "Non lié"
                                            }}
                                            <br />
                                            Statut : {{ box.status }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <MediumModal
        :open="generatePurchaseOrderIsOpen"
        @close="generatePurchaseOrderIsOpen = !generatePurchaseOrderIsOpen"
    >
        <form @change="verifyCondition">
            <h1 class="title text-center text-modal">
                Générer un bon de commande
            </h1>
            <p
                style="
                    color: red;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                "
            >
                {{ errorMessage }}
            </p>
            <ul style="list-style: none" @change="checked">
                <li v-show="bikes.length > 0">
                    <h3 class="title text-center text-modal">Vélo(s)</h3>
                    <table style="width: 50%; margin: auto">
                        <tr v-for="bike in bikes" :key="bike.id">
                            <td>{{ bike.catalog.brand }}</td>
                            <td>{{ bike.catalog.model }}</td>
                            <td>
                                <input
                                    type="checkbox"
                                    name="bike-orders-check"
                                    :value="{
                                        name: 'bike',
                                        id: bike.catalog.id,
                                        brand: bike.catalog.brand,
                                        model: bike.catalog.model,
                                        bike_id: bike.bikes_id,
                                    }"
                                    class="checkbox-round"
                                    v-model="inputChecked"
                                />
                            </td>
                        </tr>
                    </table>
                </li>
                <li v-show="accessories_order.length > 0">
                    <h3
                        class="title text-center text-modal"
                        style="padding-top: 1em"
                    >
                        Accessoire(s)
                    </h3>
                    <table style="width: 50%; margin: auto">
                        <tr
                            v-for="accessory in accessories_order"
                            :key="accessory.id"
                        >
                            <td>{{ accessory.catalog.brand }}</td>
                            <td>{{ accessory.catalog.model }}</td>
                            <td>
                                <input
                                    type="checkbox"
                                    name="accessory-orders-check"
                                    :value="{
                                        name: 'accessory',
                                        id: accessory.catalog.id,
                                        brand: accessory.catalog.brand,
                                        model: accessory.catalog.model,
                                        accessory_id: accessory.accessories_id,
                                    }"
                                    class="checkbox-round"
                                    v-model="inputChecked"
                                />
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>

            <!-- Buttons -->
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="
                            closeGeneratePurchaseOrder();
                            verifyCondition();
                        "
                    >
                        Fermer
                    </button>
                </div>
                <div class="col-sm-6">
                    <button
                        class="btn btn-block disabled"
                        type="button"
                        @click="generatePurchaseOrder"
                        id="generatePurchaseOrder"
                    >
                        Générer
                    </button>
                </div>
            </div>
        </form>
    </MediumModal>

    <MediumModal
        :open="generateInvoiceIsOpen"
        @close="generateInvoiceIsOpen = !generateInvoiceIsOpen"
    >
        <form @change="verifyCondition">
            <h1 class="title text-center text-modal">Générer une facture</h1>
            <p
                style="
                    color: red;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                "
            >
                {{ errorMessage }}
            </p>
            <ul style="list-style: none" @change="checked">
                <li v-show="bikes.length > 0">
                    <h3 class="title text-center text-modal">Vélo(s)</h3>
                    <table style="width: 50%; margin: auto">
                        <tr v-for="bike in bikes" :key="bike.id">
                            <td>{{ bike.catalog.brand }}</td>
                            <td>{{ bike.catalog.model }}</td>
                            <td>
                                <input
                                    type="checkbox"
                                    name="bike-orders-check"
                                    :value="{
                                        name: 'bike',
                                        id: bike.catalog.id,
                                        brand: bike.catalog.brand,
                                        model: bike.catalog.model,
                                        bike_id: bike.bikes_id,
                                    }"
                                    class="checkbox-round"
                                    v-model="inputChecked"
                                />
                            </td>
                        </tr>
                    </table>
                </li>
                <li v-show="accessories_order.length > 0">
                    <h3
                        class="title text-center text-modal"
                        style="padding-top: 1em"
                    >
                        Accessoire(s)
                    </h3>
                    <table style="width: 50%; margin: auto">
                        <tr
                            v-for="accessory in accessories_order"
                            :key="accessory.id"
                        >
                            <td>{{ accessory.catalog.brand }}</td>
                            <td>{{ accessory.catalog.model }}</td>
                            <td>
                                <input
                                    type="checkbox"
                                    name="accessory-orders-check"
                                    :value="{
                                        name: 'accessory',
                                        id: accessory.catalog.id,
                                        brand: accessory.catalog.brand,
                                        model: accessory.catalog.model,
                                        accessory_id: accessory.accessories_id,
                                    }"
                                    class="checkbox-round"
                                    v-model="inputChecked"
                                />
                            </td>
                        </tr>
                    </table>
                </li>
                <!-- <li v-show="stores.boxesOrdersStore.getBoxesFromGroupedOrder(route.params.id).length > 0"><h3 class="title text-center text-modal" style="padding-top:1em;">Borne(s)</h3>
                        <table style="width:50%;margin:auto;">
                            <tr v-for="boxe in stores.boxesOrdersStore.getBoxesFromGroupedOrder(route.params.id)" :key="boxe.id"  >
                                <td>{{ boxe.catalog.model }}</td>
                                <td><input type="checkbox"  name="boxe-orders-check" :value="{name :'boxe',id:boxe.catalog.id,model:boxe.catalog.model,boxe_id: boxe.boxes_id}" class="checkbox-round" v-model="inputChecked"></td>
                            </tr>
                        </table>
                    </li> -->
            </ul>

            <!-- Buttons -->
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="
                            closeGenerateInvoice();
                            verifyCondition();
                        "
                    >
                        Fermer
                    </button>
                </div>
                <div class="col-sm-6">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="generateInvoice"
                        id="generateInvoice"
                    >
                        Générer
                    </button>
                </div>
            </div>
        </form>
    </MediumModal>

    <MediumModal
        :open="generateCreditNoteIsOpen"
        @close="generateCreditNoteIsOpen = !generateCreditNoteIsOpen"
    >
        <form @change="verifyCondition">
            <h1 class="title text-center text-modal">
                Générer une note de crédit
            </h1>
            <p
                style="
                    color: red;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                "
            >
                {{ errorMessage }}
            </p>
            <ul style="list-style: none" @change="checked">
                <li v-show="selling_bikes.length > 0">
                    <h3 class="title text-center text-modal">Vélo(s)</h3>
                    <table style="width: 50%; margin: auto">
                        <tr v-for="bike in selling_bikes" :key="bike.id">
                            <td>{{ bike.catalog.brand }}</td>
                            <td>{{ bike.catalog.model }}</td>
                            <td>
                                <input
                                    type="checkbox"
                                    name="bike-orders-check"
                                    :value="{
                                        name: 'bike',
                                        id: bike.catalog.id,
                                        brand: bike.catalog.brand,
                                        model: bike.catalog.model,
                                        bike_id: bike.bikes_id,
                                    }"
                                    class="checkbox-round"
                                    v-model="inputChecked"
                                />
                            </td>
                        </tr>
                    </table>
                </li>
                <li v-show="selling_accessories_order.length > 0">
                    <h3
                        class="title text-center text-modal"
                        style="padding-top: 1em"
                    >
                        Accessoire(s)
                    </h3>
                    <table style="width: 50%; margin: auto">
                        <tr
                            v-for="accessory in selling_accessories_order"
                            :key="accessory.id"
                        >
                            <td>{{ accessory.catalog.brand }}</td>
                            <td>{{ accessory.catalog.model }}</td>
                            <td>
                                <input
                                    type="checkbox"
                                    name="accessory-orders-check"
                                    :value="{
                                        name: 'accessory',
                                        id: accessory.catalog.id,
                                        brand: accessory.catalog.brand,
                                        model: accessory.catalog.model,
                                        accessory_id: accessory.accessories_id,
                                    }"
                                    class="checkbox-round"
                                    v-model="inputChecked"
                                />
                            </td>
                        </tr>
                    </table>
                </li>
                <li v-show="boxes.length > 0">
                    <h3
                        class="title text-center text-modal"
                        style="padding-top: 1em"
                    >
                        Borne(s)
                    </h3>
                    <table style="width: 50%; margin: auto">
                        <tr v-for="boxe in boxes" :key="boxe.id">
                            <td>{{ boxe.catalog.model }}</td>
                            <td>
                                <input
                                    type="checkbox"
                                    name="boxe-orders-check"
                                    :value="{
                                        name: 'boxe',
                                        id: boxe.catalog.id,
                                        model: boxe.catalog.model,
                                        boxe_id: boxe.boxes_id,
                                    }"
                                    class="checkbox-round"
                                    v-model="inputChecked"
                                />
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>

            <!-- Buttons -->
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="
                            closeGenerateCreditNote();
                            verifyCondition();
                        "
                    >
                        Fermer
                    </button>
                </div>
                <div class="col-sm-6">
                    <button
                        class="btn btn-block disabled"
                        type="button"
                        @click="generateCreditNote"
                        id="generateCreditNote"
                    >
                        Générer
                    </button>
                </div>
            </div>
        </form>
    </MediumModal>
</template>

<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref } from "vue";

// Import components
import MediumModal from "../Modals/Medium.vue";

// Import stores
import * as stores from "../../../store/StoresIndex";
// const fs = require("fs"); // Or `import fs from "fs";` with ESM if // C'est un package node, et on est pas dans un environnement node

const route = useRoute();
const generatePurchaseOrderIsOpen = ref(false);
const generateInvoiceIsOpen = ref(false);
const generateCreditNoteIsOpen = ref(false);
const inputChecked = ref([]);
const errorMessage = ref("");
const accessories_order = ref([]);
const selling_accessories_order = ref([]);
const bikes = ref([]);
const selling_bikes = ref([]);
const boxes = ref([]);
let bikes_cache = {};

stores.boxesOrdersStore
    .getBoxesFromGroupedOrder(route.params.id)
    .then((data) => (boxes.value = data));

stores.accessoriesOrdersStore
    .getAccessoriesFromGroupedOrder(route.params.id)
    .then((data) => {
        accessories_order.value = data;
        selling_accessories_order.value = data.filter(
            (accessory) => accessory.type === "selling"
        );
    });

stores.bikesOrdersStore
    .getBikesFromGroupedOrder(route.params.id)
    .then((data) => {
        bikes.value = data;
        selling_bikes.value = data.filter((bike) => bike.type === "selling");
    });

stores.ordersStore.show(route.params.id);

const loadData = async () => {
    stores.boxesOrdersStore
        .getBoxesFromGroupedOrder(route.params.id)
        .then((data) => (boxes.value = data));

    stores.accessoriesOrdersStore
        .getAccessoriesFromGroupedOrder(route.params.id)
        .then((data) => {
            accessories_order.value = data;
            selling_accessories_order.value = data.filter(
                (accessory) => accessory.type === "selling"
            );
        });

    stores.bikesOrdersStore
        .getBikesFromGroupedOrder(route.params.id)
        .then((data) => {
            bikes.value = data;
            selling_bikes.value = data.filter(
                (bike) => bike.type === "selling"
            );
        });

    stores.ordersStore.show(route.params.id);
};

// Define methods
const verifyCondition = async () => {
    errorMessage.value = "";
    if (inputChecked.value.length > 0) {
        let bike_stock;

        for (const [i, input] of inputChecked.value.entries()) {
            if (input.name === "bike") {
                if (input.bike_id !== null) {
                    if (!(input.bike_id in bikes_cache)) {
                        bikes_cache[input.bike_id] =
                            await stores.bikesStockStore.getBikeStockById(
                                input.bike_id
                            );
                    }
                    bike_stock = bikes_cache[input.bike_id];
                }

                if (input.bike_id === null) {
                    document
                        .getElementById("generatePurchaseOrder")
                        .classList.add("disabled");
                    document
                        .getElementById("generateInvoice")
                        .classList.add("disabled");
                    document
                        .getElementById("generateCreditNote")
                        .classList.add("disabled");

                    errorMessage.value =
                        "Le vélo " +
                        input.brand +
                        " " +
                        input.model +
                        " n'a pas été enregistré dans le stock";
                } else if (
                    bike_stock.contract_type !== "selling" &&
                    errorMessage.value === ""
                ) {
                    document
                        .getElementById("generatePurchaseOrder")
                        .classList.add("disabled");
                    document
                        .getElementById("generateInvoice")
                        .classList.add("disabled");
                    document
                        .getElementById("generateCreditNote")
                        .classList.add("disabled");

                    const correspondance = {
                        order: "Commandé",
                        stock: "En stock",
                        pending_delivery: "Livraison en cours",
                        selling: "Vendu",
                        leasing: "En leasing",
                        stolen: "Volé",
                    };

                    errorMessage.value =
                        'Erreur : Le contrat du vélo est "' +
                        correspondance[bike_stock.contract_type] +
                        '", veuillez le modifier';
                } else if (
                    inputChecked.value.length === i + 1 &&
                    errorMessage.value === "" &&
                    input.bike_id != null
                ) {
                    document
                        .getElementById("generatePurchaseOrder")
                        .classList.remove("disabled");
                    document
                        .getElementById("generateInvoice")
                        .classList.remove("disabled");
                    document
                        .getElementById("generateCreditNote")
                        .classList.remove("disabled");
                }
            } else if (input.name === "accessory") {
                if (input.accessory_id === null) {
                    document
                        .getElementById("generatePurchaseOrder")
                        .classList.add("disabled");
                    document
                        .getElementById("generateInvoice")
                        .classList.add("disabled");
                    document
                        .getElementById("generateCreditNote")
                        .classList.add("disabled");

                    errorMessage.value =
                        "L'accessoire " +
                        input.brand +
                        " " +
                        input.model +
                        " n'a pas été enregistré dans le stock";
                } else if (
                    accessories_order.value !== "selling" &&
                    errorMessage.value === ""
                ) {
                    document
                        .getElementById("generatePurchaseOrder")
                        .classList.add("disabled");
                    document
                        .getElementById("generateInvoice")
                        .classList.add("disabled");
                    document
                        .getElementById("generateCreditNote")
                        .classList.add("disabled");

                    const correspondance = {
                        order: "Commandé",
                        stock: "En stock",
                        pending_delivery: "Livraison en cours",
                        selling: "Vendu",
                        leasing: "En leasing",
                        stolen: "Volé",
                    };
                    errorMessage.value =
                        "Erreur : Le contrat de l'accessoire est \"" +
                        correspondance[accessories_order.value[0].type] +
                        '", veuillez le modifier';
                } else if (
                    inputChecked.value.length === i + 1 &&
                    errorMessage.value === "" &&
                    input.accessory_id != null
                ) {
                    document
                        .getElementById("generatePurchaseOrder")
                        .classList.remove("disabled");
                    document
                        .getElementById("generateInvoice")
                        .classList.remove("disabled");
                    document
                        .getElementById("generateCreditNote")
                        .classList.remove("disabled");
                }
            } else if (input.name === "boxe") {
                if (input.boxe_id === null) {
                    document
                        .getElementById("generatePurchaseOrder")
                        .classList.add("disabled");
                    document
                        .getElementById("generateInvoice")
                        .classList.add("disabled");
                    document
                        .getElementById("generateCreditNote")
                        .classList.add("disabled");

                    errorMessage.value =
                        "La borne " +
                        input.model +
                        " n'a pas été enregistrée dans le stock";
                } else if (
                    inputChecked.value.length === i + 1 &&
                    errorMessage.value === "" &&
                    input.boxe_id != null
                ) {
                    document
                        .getElementById("generatePurchaseOrder")
                        .classList.remove("disabled");
                    document
                        .getElementById("generateInvoice")
                        .classList.remove("disabled");
                    document
                        .getElementById("generateCreditNote")
                        .classList.remove("disabled");
                }
            } else {
                if (
                    inputChecked.value.length === i + 1 &&
                    errorMessage.value === ""
                ) {
                    document
                        .getElementById("generatePurchaseOrder")
                        .classList.remove("disabled");
                    document
                        .getElementById("generateInvoice")
                        .classList.remove("disabled");
                    document
                        .getElementById("generateCreditNote")
                        .classList.remove("disabled");
                }
            }
        }
    } else {
        document
            .getElementById("generatePurchaseOrder")
            .classList.add("disabled");
        document.getElementById("generateInvoice").classList.add("disabled");
        document.getElementById("generateCreditNote").classList.add("disabled");
    }
};

function closeGeneratePurchaseOrder() {
    generatePurchaseOrderIsOpen.value = false;
    inputChecked.value = [];
    errorMessage.value = "";
}

function closeGenerateInvoice() {
    generateInvoiceIsOpen.value = false;
    inputChecked.value = [];
    errorMessage.value = "";
}

function closeGenerateCreditNote() {
    generateCreditNoteIsOpen.value = false;
    inputChecked.value = [];
    errorMessage.value = "";
}

function generateCreditNote() {
    stores.ordersStore.generateCreditNote(inputChecked.value).then(() => {
        generateCreditNoteIsOpen.value = false;
        inputChecked.value = [];
        errorMessage.value = "";
        verifyCondition();
    });
}

function generateInvoice() {
    stores.ordersStore.generateInvoice(inputChecked.value).then(() => {
        generateInvoiceIsOpen.value = false;
        inputChecked.value = [];
        errorMessage.value = "";
        verifyCondition();
    });
}

function generatePurchaseOrder() {
    stores.ordersStore.generatePurchaseOrder(inputChecked.value).then(() => {
        generatePurchaseOrderIsOpen.value = false;
        inputChecked.value = [];
        errorMessage.value = "";
        verifyCondition();
    });
}
</script>

<style scoped>
.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
}
.scroll-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
}
.scroll-card {
    width: 250px;
    flex-shrink: 0;
}
.card {
    margin-right: 1em;
}
.checkbox-round {
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #000000;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.text-modal {
    color: #3cb295;
}
.checkbox-round:checked {
    background-color: #3cb295;
}
</style>
;
