<template>
    <h4 style="color: #3cb295" class="float-left">Gestion des utilisateurs</h4>
    <button
        class="btn btn-xs float-right"
        type="button"
        @click="addUserIsOpen = true"
    >
        Ajouter un utilisateur
    </button>
</template>

<script>
export default {};
</script>

<style></style>
