<template>
    <div>
        <Header title="Planning atelier" />
        <div class="container-column">
            <div class="container-calendar">
                <div class="container-row">
                    <div class="multiselect">
                        <div
                            class="selectBox"
                            @click="showCheckboxes = !showCheckboxes"
                        >
                            <select>
                                <option>Employés</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div :class="showCheckboxes ? 'block' : 'none'">
                            <div v-for="(item, i) in splitDays" :key="i">
                                <input
                                    class="checkbox"
                                    type="checkbox"
                                    :id="`employee_${item.id}`"
                                    :name="`employee_${item.id}`"
                                    @change="employeeCheckBox($event, item.id)"
                                    :checked="cache ? cache[item.id] : false"
                                />
                                <label :for="`employee_${item.id}`">
                                    &nbsp;{{ item.label }}</label
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <vue-cal
                    hide-weekends
                    active-view="day"
                    locale="fr"
                    today-button
                    sticky-split-labels
                    :watchRealTime="true"
                    :selected-date="today.value"
                    :time-from="8 * 60"
                    :time-to="19 * 60"
                    :time-step="30"
                    :snap-to-time="15"
                    :disable-views="['years', 'year']"
                    :editable-events="{
                        title: false,
                        content: true,
                        drag: true,
                        resize: true,
                        delete: true,
                        create: false,
                    }"
                    :events="events"
                    :split-days="splitDays"
                    :min-cell-width="minCellWidth"
                    :min-split-width="minSplitWidth"
                    :on-event-click="recentEventChange"
                    @ready="getEvents"
                    @event-drop="onEventDropAndResize"
                    @event-duration-change="onEventDropAndResize"
                    @event-delete="Delete($event)"
                    @view-change="viewChange($event)"
                >
                </vue-cal>
            </div>
            <div class="container-backlog">
                <div
                    class="backlog p-cb"
                    @drop="drop($event)"
                    @dragover.prevent
                    @dragenter.prevent
                >
                    <h3>Commandes</h3>
                    <hr />
                    <div class="elem">
                        <div
                            class="external-event widget p-cb"
                            v-for="(item, i) in backlogOrders"
                            :key="i"
                            draggable="true"
                            @dragstart="onEventDragStart($event, item)"
                        >
                            <strong>{{
                                `${item.item_type} - ${item.id}`
                            }}</strong>
                            <div v-if="item.comment">{{ item.comment }}</div>
                        </div>
                        <div v-if="backlogOrders.length === 0">
                            Pas de commandes dans le backlog
                        </div>
                    </div>
                </div>
                <div
                    class="backlog widget p-cb"
                    @drop="drop($event)"
                    @dragover.prevent
                    @dragenter.prevent
                >
                    <h3>Tests</h3>
                    <hr />
                    <div class="elem">
                        <div
                            class="external-event widget p-cb"
                            v-for="(item, i) in backlogTests"
                            :key="i"
                            draggable="true"
                            @dragstart="onEventDragStart($event, item)"
                        >
                            <strong>{{
                                `${item.item_type} - ${item.id}`
                            }}</strong>
                            <div v-if="item.comment">{{ item.comment }}</div>
                        </div>
                        <div v-if="backlogTests.length === 0">
                            Pas de tests dans le backlog
                        </div>
                    </div>
                </div>
                <div
                    class="backlog widget p-cb"
                    @drop="drop($event)"
                    @dragover.prevent
                    @dragenter.prevent
                >
                    <h3>Entretiens</h3>
                    <hr />
                    <div class="elem">
                        <div
                            class="external-event widget p-cb"
                            v-for="(item, i) in backlogEntretiens"
                            :key="i"
                            draggable="true"
                            @dragstart="onEventDragStart($event, item)"
                        >
                            <strong>{{
                                `${item.item_type} - ${item.id}`
                            }}</strong>
                            <div v-if="item.description">
                                {{ item.description }}
                            </div>
                        </div>
                        <div v-if="backlogEntretiens.length === 0">
                            Pas d'entretiens dans le backlog
                        </div>
                    </div>
                </div>
                <div
                    class="backlog widget p-cb"
                    @drop="drop($event)"
                    @dragover.prevent
                    @dragenter.prevent
                >
                    <h3>Entretiens en attente</h3>
                    <hr />
                    <div class="elem">
                        <div
                            class="external-event widget p-cb"
                            v-for="(item, i) in backlogEntretiensWaiting"
                            :key="i"
                            draggable="true"
                            @dragstart="onEventDragStart($event, item)"
                        >
                            <strong>{{
                                `${item.item_type} - ${item.id}`
                            }}</strong>
                            <div v-if="item.description">
                                {{ item.description }}
                            </div>
                        </div>
                        <div v-if="backlogEntretiensWaiting.length === 0">
                            Pas d'entretiens en attente de pièces dans le
                            backlog
                        </div>
                    </div>
                </div>
                <div
                    class="backlog widget p-cb"
                    @drop="drop($event)"
                    @dragover.prevent
                    @dragenter.prevent
                >
                    <h3>Montage</h3>
                    <hr />
                    <div class="elem">
                        <div
                            class="external-event widget p-cb"
                            v-for="(item, i) in backlogAssembly"
                            :key="i"
                            draggable="true"
                            @dragstart="onEventDragStart($event, item)"
                        >
                            <strong>{{
                                `${item.item_type} - ${item.id}`
                            }}</strong>
                            <div v-if="item.comment">{{ item.comment }}</div>
                        </div>
                        <div v-if="backlogAssembly.length === 0">
                            Pas de montage de vélos dans le backlog
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <SmallModal :open="isOpenAssembly" @close="isOpenAssembly = false">
            <div class="row">
                <div v-if="isNotDone" class="col-sm-12">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="onEventClick()"
                    >
                        Marquer la tâche comme faite
                    </button>
                </div>
                <div v-if="!isNotDone" class="col-sm-12">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="onEventClick()"
                    >
                        Marquer la tâche comme à faire
                    </button>
                </div>
                <div class="col-sm-12">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="isOpenAssembly = false"
                    >
                        Fermer
                    </button>
                </div>
            </div>
        </SmallModal>
        <SmallModal :open="isOpenOrders" @close="isOpenOrders = false">
            <div class="row">
                <div v-if="isNotDone" class="col-sm-12">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="onEventClick()"
                    >
                        Marquer la tâche comme faite
                    </button>
                </div>
                <div v-if="!isNotDone" class="col-sm-12">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="onEventClick()"
                    >
                        Marquer la tâche comme à faire
                    </button>
                </div>
                <div class="col-sm-12">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="isOpenOrders = false"
                    >
                        Fermer
                    </button>
                </div>
            </div>
        </SmallModal>
        <SmallModal :open="isOpenTests" @close="isOpenTests = false">
            <div class="row">
                <div class="col-sm-12">
                    <label for="comment">Commentaire :</label>
                    <textarea
                        v-model="stores.bikeTestsStore.getBikeTest.comment"
                        id="comment"
                        name="comment"
                        class="testComment"
                    ></textarea>
                </div>
                <div v-if="isNotDone" class="col-sm-12">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="onEventClick()"
                    >
                        Marquer la tâche comme faite
                    </button>
                </div>
                <div v-if="!isNotDone" class="col-sm-12">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="onEventClick()"
                    >
                        Marquer la tâche comme à faire
                    </button>
                </div>
                <div class="col-sm-12">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="isOpenTests = false"
                    >
                        Fermer
                    </button>
                </div>
            </div>
        </SmallModal>
        <MediumModal :open="isOpenEntretiens" @close="isOpenEntretiens = false">
            <div class="col-md-12">
                <h4 style="text-transform: uppercase; color: #3cb395">
                    Éditer un entretien
                </h4>
                <hr />
                <div class="col-sm-12">
                    <label for="entretienComment">Description :</label>
                    <textarea
                        v-model="
                            stores.entretiensStore.getEntretien.description
                        "
                        id="entretienComment"
                        name="entretienComment"
                        class="entretienComment"
                    ></textarea>
                </div>
                <div class="col-sm-12">
                    <label for="entretienConfidentialComment">
                        Description confidentielle :
                    </label>
                    <textarea
                        v-model="stores.bikesStockStore.getBikeStock.comment"
                        id="entretienConfidentialComment"
                        name="entretienConfidentialComment"
                        class="entretienComment"
                    ></textarea>
                </div>
                <div class="widget p-cb">
                    <h5 class="text-primary float-left">Main d'oeuvre</h5>
                    <div class="col-sm-12">
                        <button
                            class="btn btn-block"
                            type="button"
                            @click="isOpenServiceModal = true"
                        >
                            Ajouter une main d'oeuvre
                        </button>
                    </div>
                    <div
                        v-show="
                            stores.entretiensStore.getEntretienServices(
                                clickedEvent.item_id
                            ).length === 0
                        "
                    >
                        <p
                            style="
                                font-weight: bold;
                                text-transform: uppercase;
                                color: #3cb295;
                                text-align: center;
                                margin-top: 50px;
                            "
                        >
                            Aucune main d'oeuvre pour cet entretien
                        </p>
                    </div>
                    <table
                        class="table"
                        id="datatable"
                        v-show="
                            stores.entretiensStore.getEntretienServices(
                                clickedEvent.item_id
                            ).length > 0
                        "
                    >
                        <thead>
                            <tr style="text-align: center">
                                <th>Description</th>
                                <th>Durée</th>
                                <th>Prix</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="service in stores.entretiensStore.getEntretienServices(
                                    clickedEvent.item_id
                                )"
                                :key="service.id"
                                style="text-align: center"
                            >
                                <td>
                                    {{
                                        stores.servicesStore.getServiceByIdAtelier(
                                            service.item_id
                                        ).description
                                    }}
                                </td>
                                <td>{{ service.duration }} minutes</td>
                                <td>{{ service.amount }} €</td>
                                <td style="text-align: right">
                                    <button
                                        type="button"
                                        @click="
                                            stores.entretiensStore.deleteEntretienDetails(
                                                service.id
                                            )
                                        "
                                        class="btn btn-xs btn-danger"
                                    >
                                        <i class="fa fa-trash-can"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <h5 class="text-primary float-left">Accessoire</h5>
                    <div class="col-sm-12">
                        <button
                            class="btn btn-block"
                            type="button"
                            @click="isOpenAccessoryModal = true"
                        >
                            Ajouter un accessoire
                        </button>
                    </div>
                    <div
                        v-show="
                            stores.entretiensStore.getEntretienAccessories(
                                clickedEvent.item_id
                            ).length === 0
                        "
                    >
                        <p
                            style="
                                font-weight: bold;
                                text-transform: uppercase;
                                color: #3cb295;
                                text-align: center;
                                margin-top: 50px;
                            "
                        >
                            Aucun accessoire pour cet entretien
                        </p>
                    </div>
                    <table
                        class="table"
                        id="datatable"
                        v-show="
                            stores.entretiensStore.getEntretienAccessories(
                                clickedEvent.item_id
                            ).length > 0
                        "
                    >
                        <thead>
                            <tr style="text-align: center">
                                <th>Marque</th>
                                <th>Modèle</th>
                                <th>Taille</th>
                                <th>Prix</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="accessory in entretien_accessories"
                                :key="accessory.id"
                                style="text-align: center"
                            >
                                <td>
                                    {{
                                        accessory && accessory.catalog
                                            ? accessory.catalog.brand
                                            : ""
                                    }}
                                </td>
                                <td>
                                    {{
                                        accessory && accessory.catalog
                                            ? accessory.catalog.model
                                            : ""
                                    }}
                                </td>
                                <td>
                                    {{ accessory.accessory_size }}
                                </td>
                                <td>{{ accessory.amount }} €</td>
                                <td style="text-align: right">
                                    <button
                                        type="button"
                                        @click="
                                            stores.entretiensStore.deleteEntretienDetails(
                                                accessory.id
                                            );
                                            statusSelect = null;
                                        "
                                        class="btn btn-xs btn-danger"
                                    >
                                        <i class="fa fa-trash-can"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <h5 class="text-primary float-left">Autres</h5>
                    <div class="col-sm-12">
                        <button
                            class="btn btn-block"
                            type="button"
                            @click="isOpenOtherModal = true"
                        >
                            Ajouter autre chose
                        </button>
                    </div>
                    <div
                        v-show="
                            stores.entretiensStore.getEntretienOthersAccessories(
                                clickedEvent.item_id
                            ).length === 0
                        "
                    >
                        <p
                            style="
                                font-weight: bold;
                                text-transform: uppercase;
                                color: #3cb295;
                                text-align: center;
                                margin-top: 50px;
                            "
                        >
                            Rien a lister
                        </p>
                    </div>
                    <table
                        class="table"
                        id="datatable"
                        v-show="
                            stores.entretiensStore.getEntretienOthersAccessories(
                                clickedEvent.item_id
                            ).length > 0
                        "
                    >
                        <thead>
                            <tr style="text-align: center">
                                <th>Description</th>
                                <th>Prix</th>
                                <th>Durée</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="item in stores.entretiensStore.getEntretienOthersAccessories(
                                    clickedEvent.item_id
                                )"
                                :key="item.id"
                                style="text-align: center"
                            >
                                <td>
                                    {{ item.description }}
                                </td>
                                <td>{{ item.amount }} €</td>
                                <td>{{ item.duration }} minutes</td>
                                <td style="text-align: right">
                                    <button
                                        type="button"
                                        @click="
                                            stores.entretiensStore.deleteEntretienDetails(
                                                item.id
                                            )
                                        "
                                        class="btn btn-xs btn-danger"
                                    >
                                        <i class="fa fa-trash-can"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <select
                    class="form-control statusSelect"
                    style="text-align: center"
                    v-model="statusSelect"
                >
                    <option
                        class="col-sm-12"
                        selected
                        disabled
                        hidden
                        :value="null"
                    >
                        Changez le statut
                    </option>
                    <option
                        v-if="isNotDone || isWaitingPieces"
                        class="col-sm-12"
                        style="text-align: center"
                        value="done"
                    >
                        <button class="btn btn-block" type="button">
                            Faite
                        </button>
                    </option>
                    <option
                        v-if="!isWaitingPieces"
                        class="col-sm-12"
                        value="waiting_pieces"
                    >
                        <button class="btn btn-block" type="button">
                            En attente de pièces
                        </button>
                    </option>
                    <option v-if="!isNotDone" class="col-sm-12" value="todo">
                        <button class="btn btn-block" type="button">
                            à faire
                        </button>
                    </option>
                </select>
                <div class="col-sm-12" style="margin-top: 20px">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="onEventClick()"
                    >
                        Confirmer
                    </button>
                </div>
                <div class="col-sm-12" style="margin-top: 20px">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="isOpenEntretiens = false"
                    >
                        Fermer
                    </button>
                </div>
            </div>
        </MediumModal>
        <MediumModal
            :open="isOpenServiceModal"
            @close="isOpenServiceModal = false"
        >
            <div class="col-sm-12">
                <h4 style="text-transform: uppercase; color: #3cb395">
                    Ajouter une main d'oeuvre
                </h4>
                <form
                    @submit.prevent="
                        stores.entretiensStore.createEntretienDetailsCalendar(
                            inputService
                        );
                        isOpenServiceModal = false;
                    "
                >
                    <div class="widget p-cb">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label" for="category"
                                        >Catégorie</label
                                    >
                                    <select
                                        :class="[
                                            stores.entretiensStore.getErrors
                                                .category
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        name="category"
                                        id="category"
                                        v-model="inputService.category"
                                    >
                                        <option :value="null" disabled>
                                            Choisir une catégorie
                                        </option>
                                        <option
                                            v-for="(category, i) in stores
                                                .servicesStore
                                                .getCategoriesAtelier"
                                            :key="i"
                                            :value="category"
                                        >
                                            {{ category }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="service"
                                    >Service</label
                                >
                                <select
                                    :class="[
                                        stores.entretiensStore.getErrors.service
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="service"
                                    id="service"
                                    v-model="inputService.service"
                                >
                                    <option :value="null" disabled>
                                        Choisir un service
                                    </option>
                                    <option
                                        v-for="(
                                            service, i
                                        ) in stores.servicesStore.getServicesByCategoryAtelier(
                                            inputService.category
                                        )"
                                        :key="i"
                                        :value="service"
                                    >
                                        {{ service.description }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label" for="price"
                                    >Prix</label
                                >
                                <input
                                    :class="[
                                        stores.entretiensStore.getErrors.price
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    type="number"
                                    name="price"
                                    id="price"
                                    v-model="inputService.price"
                                />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="duration"
                                    >Durée
                                    {{ inputService.duration }} minutes</label
                                >
                                <input
                                    :class="[
                                        stores.entretiensStore.getErrors
                                            .duration
                                            ? 'error form-range'
                                            : 'form-range',
                                    ]"
                                    type="range"
                                    min="0"
                                    max="240"
                                    step="1"
                                    name="duration"
                                    id="duration"
                                    v-model="inputService.duration"
                                />
                            </div>
                        </div>
                        <br />
                        <div>
                            <div class="col-sm-12" style="margin-top: 20px">
                                <button class="btn btn-block" type="submit">
                                    Ajouter
                                </button>
                            </div>
                            <div class="col-sm-12" style="margin-top: 20px">
                                <button
                                    class="btn btn-block"
                                    type="button"
                                    @click="isOpenServiceModal = false"
                                >
                                    Fermer
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </MediumModal>
        <MediumModal :open="isOpenOtherModal" @close="isOpenOtherModal = false">
            <div class="col-sm-12">
                <form
                    @submit.prevent="
                        stores.entretiensStore.createEntretienDetailsCalendar(
                            inputOther
                        );
                        isOpenOtherModal = false;
                    "
                >
                    <div class="widget p-cb">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label
                                        for="description"
                                        class="control-label"
                                        >Description*</label
                                    >
                                    <input
                                        type="text"
                                        :class="[
                                            stores.entretiensStore.getErrors
                                                .description
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        v-model="inputOther.description"
                                        id="description"
                                        placeholder="....."
                                    />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="price" class="control-label"
                                        >Prix*</label
                                    >
                                    <input
                                        type="number"
                                        :class="[
                                            stores.entretiensStore.getErrors
                                                .price
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        v-model="inputOther.price"
                                        id="price"
                                        placeholder="0"
                                    />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="duration" class="control-label"
                                        >Durée ({{
                                            inputOther.duration
                                        }}
                                        minutes)</label
                                    >
                                    <input
                                        type="range"
                                        :class="[
                                            stores.entretiensStore.getErrors
                                                .duration
                                                ? 'error form-range'
                                                : 'form-range',
                                        ]"
                                        v-model="inputOther.duration"
                                        id="duration"
                                        min="0"
                                        max="240"
                                        step="5"
                                    />
                                </div>
                            </div>
                            <br />
                            <div>
                                <div class="col-sm-12" style="margin-top: 20px">
                                    <button class="btn btn-block" type="submit">
                                        Ajouter
                                    </button>
                                </div>
                                <div class="col-sm-12" style="margin-top: 20px">
                                    <button
                                        class="btn btn-block"
                                        type="button"
                                        @click="isOpenOtherModal = false"
                                    >
                                        Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </MediumModal>
        <MediumModal
            :open="isOpenAccessoryModal"
            @close="isOpenAccessoryModal = false"
        >
            <div class="col-sm-12">
                <form
                    @submit.prevent="
                        stores.entretiensStore.createEntretienDetailsCalendar(
                            inputAccessory
                        );
                        statusSelect = null;
                        isOpenAccessoryModal = false;
                    "
                >
                    <div class="widget p-cb">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label" style="color: #3cb395"
                                    >Marque</label
                                >
                                <select
                                    class="form-control"
                                    v-model="inputAccessory.category"
                                    @change="updateModels()"
                                    name="category"
                                    id="category"
                                >
                                    <option :value="null" disabled>
                                        Choisir une catégorie
                                    </option>
                                    <option
                                        v-for="item in stores
                                            .tempAccessoriesCategoriesStore
                                            .getTempAccessoriesCategories"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.description }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label
                                    for="accessories_catalog_id"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Modèle</label
                                >
                                <select
                                    class="form-control"
                                    name="accessories_catalog_id"
                                    id="accessories_catalog_id"
                                    @change="updatePrice()"
                                    v-model="
                                        inputAccessory.accessories_catalog_id
                                    "
                                    :class="[
                                        stores.entretiensStore.getErrors
                                            .accessories_catalog_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option :value="null" disabled>
                                        Choisir un modèle
                                    </option>
                                    <option
                                        v-for="item in accessory_models"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.model }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label
                                    for="size"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Taille</label
                                >
                                <select
                                    class="form-control"
                                    name="size"
                                    id="size"
                                    v-model="inputAccessory.size"
                                    :class="[
                                        stores.entretiensStore.getErrors.size
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option :value="null" disabled>
                                        Choisir une taille
                                    </option>
                                    <option
                                        v-for="item in accessory_sizes"
                                        :key="item"
                                        :value="item"
                                    >
                                        {{ item }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label
                                    for="amount"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Montant</label
                                >
                                <input
                                    type="number"
                                    step="0.01"
                                    name="amount"
                                    class="form-control"
                                    id="amount"
                                    v-model="inputAccessory.amount"
                                    :class="[
                                        stores.entretiensStore.getErrors.amount
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <br />
                        <div>
                            <div class="col-sm-12" style="margin-top: 20px">
                                <button class="btn btn-block" type="submit">
                                    Ajouter
                                </button>
                            </div>
                            <div class="col-sm-12" style="margin-top: 20px">
                                <button
                                    class="btn btn-block"
                                    type="button"
                                    @click="isOpenAccessoryModal = false"
                                >
                                    Fermer
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </MediumModal>
        <SmallModal
            :open="isOpenConfirmationModal"
            @close="isOpenConfirmationModal = false"
        >
            <div class="row">
                <div class="col-sm-12">
                    Cette action remettra tous les accessoires en stock.<br />Êtes-vous
                    sûr de vouloir continuer ?
                </div>
                <div class="col-sm-12">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="onEventClick()"
                    >
                        Oui
                    </button>
                </div>
                <div class="col-sm-12">
                    <button
                        class="btn btn-block"
                        type="button"
                        @click="isOpenConfirmationModal = false"
                    >
                        Non
                    </button>
                </div>
            </div>
        </SmallModal>
    </div>
</template>

<script setup>
import VueCal from "vue-cal";
import "../../../../../node_modules/vue-cal/dist/drag-and-drop.cjs.js";
import "../../../../../node_modules/vue-cal/dist/vuecal.css";
import SmallModal from "../Modals/Small.vue";
import MediumModal from "../Modals/Medium.vue";
import Header from "../ReusableComponents/HeaderComponent.vue";
import { ref, onMounted, watchEffect, watch, onBeforeMount } from "vue";
import { storeToRefs } from "pinia";
import * as stores from "../../../store/StoresIndex";

try {
    await Promise.all([
        stores.CalendarTasksStore.loadCalendar(),
        stores.ordersStore.loadOrders(),
        stores.entretiensStore.loadEntretiens(),
        stores.bikeTestsStore.loadBikeTests(),
        stores.bikesAssemblyStore.loadBikesAssembly(),
        stores.servicesStore.loadServices(),
        stores.tempAccessoriesCategoriesStore.loadTempAccessoriesCategories(),
    ]);
} catch (error) {
    console.error(error);
}

const today = ref(new Date().toISOString().slice(0, 10));
const isOpenServiceModal = ref(false);
const isOpenAccessoryModal = ref(false);
const isOpenOtherModal = ref(false);
const isOpenConfirmationModal = ref(false);
const isOpenEntretiens = ref(false);
const isOpenAssembly = ref(false);
const isOpenOrders = ref(false);
const isOpenTests = ref(false);
const isNotDone = ref(false);
const isWaitingPieces = ref(false);
const showCheckboxes = ref(false);
const statusSelect = ref(null);
const minCellWidth = ref(400);
const minSplitWidth = ref(0);
const backlogOrders = ref([]);
const backlogTests = ref([]);
const backlogEntretiens = ref([]);
const backlogEntretiensWaiting = ref([]);
const backlogAssembly = ref([]);
const events = ref([]);
const entretien_accessories = ref();
const accessory_models = ref([]);
const accessory_sizes = ref([]);
const cache = ref(JSON.parse(localStorage.getItem("checkboxes")));
const splitDays = ref(await getEmployees());
const employeeCheck = ref(employeeCheckBoxsetup());
const clickedEvent = ref({ item_id: 1 });
const inputService = ref({
    type: "service",
    entretien_id: 1,
    category: null,
    service: null,
    price: null,
    duration: 0,
});
const inputOther = ref({
    type: "other",
    entretien_id: 1,
    description: null,
    price: null,
    duration: 0,
});
const inputAccessory = ref({
    type: "accessory",
    entretien_id: 1,
    category: null,
    accessories_catalog_id: null,
    size: null,
    amount: 0,
});

let day = today.value;
let timeoutId;
let timeoutId2;

watch(
    () => inputService.value["service"],
    () => {
        inputService.value["price"] = inputService.value["service"].price_vat;
        inputService.value["duration"] = inputService.value["service"].minute;
    }
);
watch(
    () => clickedEvent.value.item_id,
    () => {
        inputService.value.entretien_id = clickedEvent.value.item_id;
        inputOther.value.entretien_id = clickedEvent.value.item_id;
        inputAccessory.value.entretien_id = clickedEvent.value.item_id;
    }
);

onBeforeMount(() => {
    getEvents();
    Backlog();
});

const onMutation = () => {
    getEvents();
    Backlog();
    setTimeout(() => {
        setTitles();
    }, 1000);
};

const props = defineProps(["Mutationevent"]);

watch(
    () => props.Mutationevent,
    () => {
        onMutation();
    }
);

onMounted(() => {
    setTimeout(() => {
        employeeCheckBox();
    }, 100);

    setTimeout(() => {
        setTitles();
    }, 1000);

    //si vous connaissez l'équivalent en js, je suis preneur
    $("#comment").on("input propertychange change", () => {
        clearTimeout(timeoutId);
        timeoutId = setTimeout(function () {
            updateComment();
        }, 1000);
    });
    $(".entretienComment").on("input propertychange change", () => {
        clearTimeout(timeoutId2);
        timeoutId2 = setTimeout(function () {
            updateCommentEntretien();
        }, 1000);
    });
    updateEntretienDetails();
});

// accessory list

const accessories = ref({});

async function updateEntretienDetails() {
    entretien_accessories.value =
        stores.entretiensStore.getEntretienAccessories(
            clickedEvent.value.item_id
        );
    for (const accessory of entretien_accessories.value) {
        if (accessory.item_id in accessories.value) {
            accessory.catalog = accessories.value[accessory.item_id];
        } else {
            const data = await stores.accessoriesCatalogStore.getAccessoryById(
                accessory.item_id
            );
            accessory.catalog = data;
            accessories.value[accessory.item_id] = data;
        }
    }
}

const { entretiensDetails } = storeToRefs(stores.entretiensStore);

watch(entretiensDetails, () => {
    updateEntretienDetails();
});

// create accessory

async function updateModels() {
    accessory_sizes.value = null;
    inputAccessory.value.size = null;
    inputAccessory.value.amount = null;
    inputAccessory.value.accessories_catalog_id = null;
    stores.accessoriesCatalogStore
        .loadAccessoriesCatalogByCategorieForSelect(
            inputAccessory.value.category
        )
        .then((data) => (accessory_models.value = data));
}

async function updatePrice() {
    const accessory = await stores.accessoriesCatalogStore.getAccessoryById(
        inputAccessory.value.accessories_catalog_id
    );
    accessory_sizes.value = accessory.sizes;
    inputAccessory.value["amount"] = stores.accessoriesCatalogStore.getPrice(
        accessory,
        "selling"
    );
}

function viewChange(event) {
    day = event.endDate.toISOString().slice(0, 10);
    Backlog();
}

function employeeCheckBox(event, id) {
    if (event) {
        const checkbox = document.getElementsByClassName("checkbox");

        let nbrChecked = 0;

        Array.from(checkbox).forEach((item) => {
            if (item.checked) {
                nbrChecked++;
            }
        });

        if (nbrChecked === 0) {
            event.preventDefault();
            document.getElementById(`employee_${id}`).checked = true;
            return false;
        } else {
            if (cache.value[id] !== undefined && cache.value[id] !== null) {
                cache.value[id] = !cache.value[id];
            } else {
                cache.value[id] = true;
            }

            localStorage.setItem("checkboxes", JSON.stringify(cache.value));

            const foundIndex = employeeCheck.value.findIndex(
                (item) => item.id === id
            );

            if (foundIndex !== -1) {
                splitDays.value[foundIndex].hide =
                    !splitDays.value[foundIndex].hide;
            }

            setTimeout(() => {
                const splits =
                    document.getElementsByClassName("vuecal__cell-split");

                for (let i = 0; i < splits.length; i++) {
                    if (i % 2 === 0) {
                        splits[i].classList.remove("employee");
                        splits[i].classList.add("employee2");
                    } else {
                        splits[i].classList.remove("employee2");
                        splits[i].classList.add("employee");
                    }
                }
            }, 100);
        }
    }
}

function employeeCheckBoxsetup() {
    let list = [];
    splitDays.value.forEach((item) => {
        list.push({ id: item.id, hide: false });
    });
    return list;
}

async function getEmployees() {
    const sorted_employees = await stores.usersStore.getEmployeesByWorkAddress(
        15
    );

    if (!cache.value) {
        const firstEmployee =
            Array.isArray(sorted_employees) && sorted_employees.length > 0
                ? sorted_employees[0]
                : null;

        if (firstEmployee) {
            cache.value = { [firstEmployee.id]: true };
            localStorage.setItem("checkboxes", JSON.stringify(cache.value));
        }
    }

    let background = false;
    let employees = [];

    sorted_employees.forEach((item) => {
        employees.push({
            id: item.id,
            class: background ? "employee" : "employee2",
            label: item.firstname,
            hide: cache.value[item.id] ? false : true,
        });
        background = !background;
    });

    return employees;
}

function setTitles() {
    Array.from(document.getElementsByClassName("vuecal__event")).forEach(
        (item) => {
            let content,
                time,
                type = "";
            item.getElementsByClassName("vuecal__event-content")[0]
                ? (content = item.getElementsByClassName(
                      "vuecal__event-content"
                  )[0].textContent)
                : (content = "");
            if (item.getElementsByClassName("vuecal__event-time")[0]) {
                time =
                    item.getElementsByClassName("vuecal__event-time")[0]
                        .textContent;
            }
            if (item.getElementsByClassName("vuecal__event-title")[0]) {
                type = item.getElementsByClassName("vuecal__event-title")[0]
                    .textContent;
            }
            item.setAttribute("title", `${type}\n\n${time}\n\n${content}`);
        }
    );
}

function getEvents() {
    let eventsToShow = [];

    stores.CalendarTasksStore.getCalendar.forEach((item) => {
        item.split = item.employee_id;
        item.class =
            item.status !== "done"
                ? item.item_type.replaceAll(" ", "_")
                : item.item_type.replaceAll(" ", "_") + "2";
        item.start = `${item.date} ${item.start_time}`;
        item.end = `${item.date} ${item.end_time}`; // les \n ne marchent que pour les titres, et le hr que dans le template en soi
        item.content = `${item.comment ? item.comment : ""}${
            item.status === "waiting_pieces"
                ? '\n\n<hr style="height:1px;visibility:hidden;margin: 0;"/>En attente de pièces'
                : ""
        }`;
        item.title = `${item.item_type} - ${item.item_id}`;
        eventsToShow.push(item);
    });

    events.value = eventsToShow;
}

function getHours(event) {
    let hours = event
        .toISOString()
        .slice(0, 19)
        .replace("T", " ")
        .split(" ")[1];
    let hours2 = (parseInt(hours.slice(0, 2)) + 2).toString();

    hours2 < 10
        ? (hours = "0" + hours2 + hours.slice(2))
        : (hours = hours2 + hours.slice(2));

    return hours;
}

function getDate(event) {
    return event.toISOString().slice(0, 19).replace("T", " ").split(" ")[0];
}

function checkConflicts(hours_start, hours_end, date, employee_id, id) {
    let no_conflict = true;

    stores.CalendarTasksStore.getCalendar.forEach((element) => {
        if (no_conflict) {
            if (
                id != element.id &&
                element.date === date &&
                element.employee_id === employee_id &&
                !(
                    element.end_time <= hours_start ||
                    element.start_time >= hours_end
                )
            ) {
                alert("Conflit dans les horaires");
                no_conflict = false;
            }
        }
    });

    return no_conflict;
}

function eventFormat(item) {
    item.class = item.item_type.replaceAll(" ", "_");
    item.content = item.comment;
    item.title = `${item.item_type} - ${item.id}`;
    item.duration = 30;

    return item;
}

watchEffect(
    (stores.CalendarTasksStore.getCalendar,
    stores.ordersStore.getOrders,
    stores.bikeTestsStore.getBikeTests,
    stores.entretiensStore.getEntretiens,
    stores.bikesAssemblyStore.getBikesAssembly),
    Backlog()
);

function Backlog() {
    let BacklogOrders = [];

    stores.ordersStore.getOrders.forEach(function (element) {
        let assigned = false;
        stores.CalendarTasksStore.getCalendar.forEach(function (element2) {
            if (
                element2.item_id === element.id &&
                element2.item_type === "Order to prepare"
            ) {
                assigned = true;
            }
        });
        if (!assigned) {
            element.item_type = "Order to prepare";
            element.date = element.estimated_delivery_date;
            element.id_backlog = element.id;
            BacklogOrders.push(eventFormat(element));
        }
    });

    let BacklogTests = [];

    stores.bikeTestsStore.getBikeTests.forEach(function (element) {
        let assigned = false;
        stores.CalendarTasksStore.getCalendar.forEach(function (element2) {
            if (
                element2.item_id === element.id &&
                element2.item_type === "Test"
            ) {
                assigned = true;
            }
        });
        if (!assigned && day >= element.date && element.status !== "done") {
            element.item_type = "Test";
            element.id_backlog = element.id;
            BacklogTests.push(eventFormat(element));
        }
    });

    let BacklogMaintenance = [];
    let BacklogMaintenanceWaiting = [];

    stores.entretiensStore.getEntretiens.forEach(function (element) {
        let assigned = false;
        stores.CalendarTasksStore.getCalendar.forEach(function (element2) {
            if (
                element2.item_id === element.id &&
                element2.item_type === "Maintenance"
            ) {
                assigned = true;
            }
        });
        if (!assigned && day >= element.date && element.status !== "done") {
            element.item_type = "Maintenance";

            if (element.status === "waiting_pieces") {
                element.id_backlog = element.id;
                BacklogMaintenanceWaiting.push(eventFormat(element));
            } else {
                element.id_backlog = element.id;
                BacklogMaintenance.push(eventFormat(element));
            }
        }
    });

    let BacklogAssembly = [];

    stores.bikesAssemblyStore.getBikesAssembly.forEach(function (element) {
        let assigned = false;
        stores.CalendarTasksStore.getCalendar.forEach(function (element2) {
            if (
                element2.item_id === element.id &&
                element2.item_type === "Bike Assembly"
            ) {
                assigned = true;
            }
        });
        if (!assigned && day >= element.date && element.status !== "done") {
            element.item_type = "Bike Assembly";
            element.id_backlog = element.id;
            BacklogAssembly.push(eventFormat(element));
        }
    });

    backlogOrders.value = BacklogOrders;
    backlogTests.value = BacklogTests;
    backlogEntretiens.value = BacklogMaintenance;
    backlogEntretiensWaiting.value = BacklogMaintenanceWaiting;
    backlogAssembly.value = BacklogAssembly;
}

function recentEventChange(event, e) {
    e.stopPropagation();

    clickedEvent.value = event;

    switch (event.item_type) {
        case "Order to prepare":
            isOpenOrders.value = true;
            break;
        case "Test":
            isOpenTests.value = true;
            stores.bikeTestsStore.show(clickedEvent.value.item_id);
            break;
        case "Maintenance":
            stores.entretiensStore.show(clickedEvent.value.item_id).then(() => {
                updateEntretienDetails();
                stores.bikesStockStore.show(
                    stores.entretiensStore.getEntretien.bikes_id
                );
            });
            isOpenEntretiens.value = true;
            break;
        case "Bike Assembly":
            isOpenAssembly.value = true;
            break;
    }

    switch (event.status) {
        case "done":
            isNotDone.value = false;
            isWaitingPieces.value = false;
            break;
        case "waiting_pieces":
            isWaitingPieces.value = true;
            break;
        default:
            isNotDone.value = true;
            isWaitingPieces.value = false;
            break;
    }
}

function onEventClick() {
    if (clickedEvent.value.item_type === "Maintenance") {
        if (!statusSelect.value) {
            return;
        }

        if (
            (statusSelect.value === "todo" ||
                statusSelect.value === "waiting_pieces") &&
            clickedEvent.value.status === "done" &&
            stores.entretiensStore.getEntretienAccessories(
                clickedEvent.value.item_id
            ).length > 0 &&
            !isOpenConfirmationModal.value
        ) {
            isOpenConfirmationModal.value = true;
            return;
        }

        clickedEvent.value.status = statusSelect.value;
    } else if (clickedEvent.value.status === "todo") {
        clickedEvent.value.status = "done";
    } else {
        clickedEvent.value.status = "todo";
    }

    switch (clickedEvent.value.item_type) {
        case "Order to prepare":
            OrderDone(clickedEvent.value);
            break;
        case "Test":
            TestDone(clickedEvent.value);
            break;
        case "Maintenance":
            EntretienDone(clickedEvent.value);
            break;
        case "Bike Assembly":
            AssemblyDone(clickedEvent.value);
            break;
    }
}

async function EntretienDone(event) {
    const data2 = {
        id: event.id,
        status: event.status,
        item_id: event.item_id,
    };

    const data = {
        id: event.id,
        status: event.status === "todo" ? "to_planned" : event.status,
        item_id: event.item_id,
    };

    let promise;

    if (event.status === "done") {
        promise = stores.entretiensStore.updateEntretienDetails(
            data.item_id,
            data.status
        );
    } else {
        promise = stores.entretiensStore.updateEntretienDetailsReverse(
            data.item_id,
            data.status
        );
    }

    try {
        await Promise.all([
            promise,
            stores.CalendarTasksStore.updateEntretienDone(data2),
            stores.entretiensStore.updateEntretienStatusCalendar(data),
        ]);
        setTimeout(() => {
            setTitles();
        }, 1000);

        getEvents();
        isOpenEntretiens.value = false;
        statusSelect.value = null;
        isOpenConfirmationModal.value = false;
    } catch (error) {
        console.error(error);
    }
}

async function TestDone(event) {
    const data = {
        id: event.id,
        status: event.status,
        item_id: event.item_id,
        comment: stores.bikeTestsStore.getBikeTest.comment,
    };

    try {
        await stores.CalendarTasksStore.updateTestDone(data);

        setTimeout(() => {
            setTitles();
        }, 1000);

        getEvents();
        isOpenTests.value = false;
    } catch (error) {
        console.error(error);
    }
}

async function OrderDone(event) {
    const data = {
        id: event.id,
        status: event.status,
        item_id: event.item_id,
    };

    try {
        await stores.CalendarTasksStore.updateOrderDone(data);

        setTimeout(() => {
            setTitles();
        }, 1000);

        getEvents();
        isOpenOrders.value = false;
    } catch (error) {
        console.error(error);
    }
}

async function AssemblyDone(event) {
    const data = {
        id: event.id,
        status: event.status,
        item_id: event.item_id,
    };

    try {
        await stores.CalendarTasksStore.updateAssemblyDone(data);

        setTimeout(() => {
            setTitles();
        }, 1000);

        getEvents();
        isOpenAssembly.value = false;
    } catch (error) {
        console.error(error);
    }
}

async function updateCommentEntretien() {
    const data = {
        id: clickedEvent.value.id,
        item_id: clickedEvent.value.item_id,
        comment: stores.entretiensStore.getEntretien.description,
        confidential_comment: stores.bikesStockStore.getBikeStock.comment,
    };

    try {
        await Promise.all([
            stores.entretiensStore.updateEntretienCommentCalendar(data),
            stores.CalendarTasksStore.updateCommentEntretien(data),
        ]);
        setTimeout(() => {
            setTitles();
        }, 1000);

        getEvents();
    } catch (error) {
        console.error(error);
    }
}

async function updateComment() {
    const data = {
        id: clickedEvent.value.id,
        item_id: clickedEvent.value.item_id,
        comment: stores.bikeTestsStore.getBikeTest.comment,
    };

    try {
        await stores.CalendarTasksStore.updateComment(data);

        setTimeout(() => {
            setTitles();
        }, 1000);

        getEvents();
        isOpenAssembly.value = false;
    } catch (error) {
        console.error(error);
    }
}

function drop(ev) {
    ev.preventDefault();
    Delete(JSON.parse(ev.dataTransfer.getData("event")));
}

function onEventDragStart(e, draggable) {
    e.dataTransfer.setData("event", JSON.stringify(draggable));
    e.dataTransfer.setData("cursor-grab-at", e.offsetY);
}

function onEventDropAndResize({ event, originalEvent, external }) {
    const hours_start = getHours(event.start);
    const hours_end = getHours(event.end);
    const date = getDate(event.end);

    if (!checkConflicts(hours_start, hours_end, date, event.split, event.id)) {
        // pour rafraichir les events et faire revenir la tâche a son point d'origine
        getEvents();
    } else if (external) {
        DeleteExternalEventAndCreate(
            event,
            hours_start,
            hours_end,
            date,
            originalEvent
        );
    } else {
        Modify(event, hours_start, hours_end, date);
    }
}

function DeleteExternalEventAndCreate(
    event,
    hours_start,
    hours_end,
    date,
    originalEvent
) {
    let extEventToDeletePos = 0;
    switch (event.item_type) {
        case "Order to prepare":
            extEventToDeletePos = backlogOrders.value.findIndex(
                (item) => item.id_backlog === originalEvent.id_backlog
            );
            if (extEventToDeletePos !== -1) {
                Create(
                    event,
                    hours_start,
                    hours_end,
                    date,
                    extEventToDeletePos
                );
            }
            break;
        case "Test":
            extEventToDeletePos = backlogTests.value.findIndex(
                (item) => item.id_backlog === originalEvent.id_backlog
            );
            if (extEventToDeletePos !== -1) {
                Create(
                    event,
                    hours_start,
                    hours_end,
                    date,
                    extEventToDeletePos
                );
            }
            break;
        case "Maintenance":
            if (event.status === "waiting_pieces") {
                const extEventToDeletePos3 =
                    backlogEntretiensWaiting.value.findIndex(
                        (item) => item.id_backlog === originalEvent.id_backlog
                    );
                if (extEventToDeletePos3 !== -1) {
                    Create(
                        event,
                        hours_start,
                        hours_end,
                        date,
                        extEventToDeletePos3
                    );
                }
            } else {
                const extEventToDeletePos4 = backlogEntretiens.value.findIndex(
                    (item) => item.id_backlog === originalEvent.id_backlog
                );
                if (extEventToDeletePos4 !== -1) {
                    Create(
                        event,
                        hours_start,
                        hours_end,
                        date,
                        extEventToDeletePos4
                    );
                }
            }
            break;
        case "Bike Assembly":
            extEventToDeletePos = backlogAssembly.value.findIndex(
                (item) => item.id_backlog === originalEvent.id_backlog
            );
            if (extEventToDeletePos !== -1) {
                Create(
                    event,
                    hours_start,
                    hours_end,
                    date,
                    extEventToDeletePos
                );
            }
            break;
    }
}

async function Create(event, hours_start, hours_end, date, id) {
    const data = {
        comment: event.description ? event.description : event.comment,
        confidential_comment: event.confidential_description,
        date: date,
        employee_id: event.split,
        start_time: hours_start,
        end_time: hours_end,
        item_type: event.item_type,
        item_id: event.id,
        status: event.status === "waiting_pieces" ? "waiting_pieces" : "todo",
    };

    try {
        await stores.CalendarTasksStore.create(data);
    } catch (error) {
        console.error(error);
    }
}

async function Modify(event, hours_start, hours_end, date) {
    const data = {
        id: event.id,
        comment: event.comment,
        date: date,
        employee_id: event.split,
        start_time: hours_start,
        end_time: hours_end,
        status: event.status,
    };

    try {
        await stores.CalendarTasksStore.update(data);
    } catch (error) {
        console.error(error);
    }
}

async function Delete(event) {
    if (event.status !== "done") {
        try {
            await stores.CalendarTasksStore.destroy(event.id);
        } catch (error) {
            console.error(error);
        }
    }
}
</script>

<style>
/* You can easily set a different style for each split of your days. */
.vuecal__cell-split.employee {
    background-color: rgba(255, 255, 255, 0.5);
}
.vuecal__cell-split.employee2 {
    background-color: rgba(60, 178, 149, 0.25);
}

.vuecal__cell-split .split-label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

.vuecal__body {
    height: 400px;
    width: 100%;
}

.vuecal--day-view:not(.vuecal--overflow-x) .vuecal__split-days-headers {
    margin-right: 0.5rem;
}

/* Different color for different event types. */
.vuecal__event.Maintenance {
    background-color: rgba(0, 130, 170, 0.9);
    border: 1px solid rgb(233, 136, 46);
    color: #fff;
}
.vuecal__event.Order_to_prepare {
    background-color: rgba(170, 0, 0, 0.9);
    border: 1px solid rgb(144, 210, 190);
    color: #fff;
}
.vuecal__event.Test {
    background-color: rgba(34, 170, 0, 0.9);
    border: 1px solid rgb(235, 82, 82);
    color: #fff;
}
.vuecal__event.Bike_Assembly {
    background-color: rgba(162, 170, 0, 0.9);
    border: 1px solid rgb(235, 82, 82);
    color: #fff;
}

.vuecal__event.Maintenance2 {
    background-color: rgba(44, 44, 44, 0.8);
    border: 1px solid rgb(233, 136, 46);
    color: #fff;
}
.vuecal__event.Order_to_prepare2 {
    background-color: rgba(44, 44, 44, 0.8);
    border: 1px solid rgb(144, 210, 190);
    color: #fff;
}
.vuecal__event.Test2 {
    background-color: rgba(44, 44, 44, 0.8);
    border: 1px solid rgb(235, 82, 82);
    color: #fff;
}
.vuecal__event.Bike_Assembly2 {
    background-color: rgba(44, 44, 44, 0.8);
    border: 1px solid rgb(235, 82, 82);
    color: #fff;
}

.vuecal__now-line {
    color: rgb(255, 0, 0);
}

.vuecal__title {
    right: -60px;
}

.vuecal__bg::-webkit-scrollbar {
    width: 0.5rem;
}

.vuecal__bg::-webkit-scrollbar-track {
    background: #c6c4cb;
}

.vuecal__bg::-webkit-scrollbar-thumb {
    background: #9e9ca3;
    border-radius: 2em;
}
.vuecal__bg::-webkit-scrollbar-thumb:hover {
    background: #737176;
}

.vuecal__header {
    font-size: 0.8rem;
}

.container-calendar {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    height: 80%;
    width: 100%;
}

.container-backlog {
    display: flex;
    flex-direction: row;
    height: 20%;
    height: 100%;
}
.container-column {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90%;
    justify-content: space-around;
}

.container .p-cb {
    margin: 0;
    padding: 0;
}

.backlog {
    width: 20%;
    border: 0;
    box-shadow: none;
    padding: 1em 0.2em;
}

.elem {
    height: 9em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.backlog h3 {
    font-weight: 700;
    font-size: 0.9rem;
    margin: 0.5em 0 0.5em 0.5em;
}

.backlog hr {
    width: 95%;
    margin: 0 0 0 2.5%;
    color: #3cb395;
    height: 2px;
}

.elem::-webkit-scrollbar {
    display: none;
}
.backlog::-webkit-scrollbar {
    width: 0.5rem;
}

.backlog::-webkit-scrollbar-track {
    background: #c6c4cb;
}

.backlog::-webkit-scrollbar-thumb {
    background: #9e9ca3;
    border-radius: 2em;
}
.backlog::-webkit-scrollbar-thumb:hover {
    background: #737176;
}

.container-backlog .external-event {
    margin: 0.4em 0.3em;
    font-weight: normal;
    border-radius: 0;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px -1px,
        rgb(0 0 0 / 20%) 0px 1px 2px -1px;
}

.external-event label {
    margin: 0.2em 0.3em;
    font-weight: normal;
}

.external-event,
.external-events-drag-and-drop {
    background-color: rgba(160, 220, 255, 0.5);
    padding: 0.2em 0.4em;
    cursor: move;
    cursor: grab;
}
.vuecal__event {
    cursor: move;
    cursor: grab;
}
.testComment {
    resize: none;
    width: 370px;
    height: 200px;
    border-radius: 0.5rem;
    padding: 10px;
    margin-bottom: 15px;
}
.entretienComment {
    display: block;
    resize: none;
    width: 800px;
    height: 100px;
    border-radius: 0.5rem;
    padding: 10px;
    margin-bottom: 15px;
}
.block {
    position: absolute;
    display: block;
    width: 200px;
    z-index: 10;
    background-color: white;
    border: black solid 1px;
}
.block > div {
    margin: 10px;
}
.none {
    display: none;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 15%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

.statusSelect {
    background-color: #3cb395;
    color: white;
    text-transform: uppercase;
    margin: 0 auto;
    width: 96.5%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
}
.statusSelect:focus {
    background-color: #3cb395;
    color: white;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    width: 96.5%;
    font-weight: 600;
    font-size: 12px;
}
</style>
