<template>
    <div style="margin-top: 1em" v-if="verifyAccess('partage')">
        <div class="widget p-cb" style="max-height: 500px; overflow-y: auto">
            <table
                class="table"
                style="width: 100%"
                v-if="!addSpecialsConditionsToSharedBike"
            >
                <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Vélo</th>
                        <th>Batiment</th>
                        <th style="text-align: center">
                            <button
                                @click="showAddSpecialsConditionsToSharedBike"
                                type="button"
                                class="btn"
                                style="
                                    padding: 5px;
                                    font-size: 0.7em;
                                    margin-top: 5px;
                                "
                            >
                                Ajouter
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="bike in stores.conditionsStore.getSharedBikes"
                        :key="bike.id"
                    >
                        <td>
                            {{ bike.user }}
                        </td>
                        <td>
                            {{
                                bike.stock !== "*" &&
                                bike.bikes_id.split(",").length === 1
                                    ? bike.stock?.id +
                                      " - " +
                                      bike.stock?.frame_number
                                    : bike.stock
                            }}
                        </td>
                        <td>
                            {{ bike.buildings_id }}
                        </td>
                        <td style="text-align: center">
                            <button
                                @click="
                                    stores.conditionsStore.deleteSharedBike(
                                        bike.id
                                    )
                                "
                                type="button"
                                style="width: 30px; padding: 2.5px"
                                class="btn btn-danger"
                            >
                                <i class="fa fa-trash fa-xs"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p
                v-if="
                    stores.conditionsStore.getSharedBikes.length === 0 &&
                    addSpecialsConditionsToSharedBike
                "
                style="text-align: center; color: #3cb295; padding-top: 1em"
            >
                Aucun vélo proposé actuellement
            </p>
            <SharedBikesCreate
                v-if="addSpecialsConditionsToSharedBike"
                @goBack="goBack()"
                :company="company"
            />
        </div>
    </div>
    <div style="margin-bottom: 2em; text-align: center" v-else>
        <p
            style="
                font-weight: bold;
                text-transform: uppercase;
                color: #3cb295;
                text-align: center;
                margin-top: 50px;
            "
        >
            Ce plan n'est pas activé
        </p>
        <router-link
            :to="{
                name: 'companies-update',
                params: {
                    id: company.id,
                },
            }"
            tag="button"
            class="btn btn-xs"
        >
            Activer le plan
        </router-link>
    </div>
</template>

<script setup>
// Import dependencies
import { ref, watchEffect } from "vue";
import { useRoute } from "vue-router";

// Import stores
import * as stores from "../../../store/StoresIndex";
import SharedBikesCreate from "./SharedBikesCreate.vue";

let bikes_cache = {};
let users_cache = {};

// Define constante
const route = useRoute();
const addSpecialsConditionsToSharedBike = ref(false);

const props = defineProps(["company", "from"]);

let company;

if (props.from === "conditions") {
    company = props.company;
} else if (props.from === "fleet-manager") {
    company = await stores.companiesStore.getCompanyById(
        stores.usersStore.getUserAuth.companies_id
    );
    await stores.conditionsStore.showByCompanyId(company.id);
}

watchEffect(async () => {
    const shared_bikes = stores.conditionsStore.getSharedBikes;
    for (const bike of shared_bikes) {
        bike.stock = await getSharedBikesData(bike.bikes_id, "bike");
        bike.user = await getSharedBikesData(bike.users_id, "user");
    }
});

async function getSharedBikesData(ids, type) {
    if (ids !== "*") {
        if (ids.split(",").length > 1) {
            let elements = [];
            const split = ids.split(",");
            for (const id of split) {
                const bike_get =
                    type === "user" ? await getUser(id) : await getBike(id);
                elements.push(bike_get);
            }
            return elements.join(", ");
        } else if (ids.split(",").length === 1) {
            return (await type) === "user"
                ? await getUser(ids)
                : await getBike(ids);
        }
    } else {
        return ids;
    }
}

async function getUser(id) {
    if (!(id in users_cache)) {
        const data = await stores.usersStore.getFirstnameAndLastnameById(id);
        users_cache[id] = data;
    }
    return users_cache[id];
}

async function getBike(id) {
    if (!(id in bikes_cache)) {
        const data = await stores.bikesStockStore.getBikeStockById(id);
        bikes_cache[id] = data;
    }
    return bikes_cache[id];
}

const goBack = () => {
    addSpecialsConditionsToSharedBike.value = false;
};

const verifyAccess = (access) => {
    return (
        stores.conditionsStore.getCondition.access &&
        stores.conditionsStore.getCondition.access.includes(access)
    );
};
const showAddSpecialsConditionsToSharedBike = () => {
    stores.conditionsStore.$state.errors = {};
    addSpecialsConditionsToSharedBike.value = true;
};
</script>
