<template>
    <div>
        <form @submit.prevent="addNewSharedBike">
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label class="form-label" for="newSharedBikes_users"
                        >Utilisateurs</label
                    >
                    <select
                        :class="[
                            stores.conditionsStore.getErrors.users_id
                                ? 'error form-control'
                                : 'form-control',
                        ]"
                        @change.stop
                        name="newSharedBikes_users[]"
                        id="newSharedBikes_users"
                        v-model="newSharedBike.users_id"
                        multiple
                    >
                        <option value="*">Tous</option>
                        <option
                            v-for="user in users"
                            :key="user.id"
                            :value="user.id"
                        >
                            {{ user.firstname }}
                            {{ user.lastname }}
                        </option>
                    </select>
                </div>
                <div class="col-sm-4 form-group">
                    <label class="form-label" for="newSharedBikes_bikes"
                        >Vélos</label
                    >
                    <select
                        :class="[
                            stores.conditionsStore.getErrors.bikes_id
                                ? 'error form-control'
                                : 'form-control',
                        ]"
                        @change.stop
                        name="newSharedBikes_bikes[]"
                        id="newSharedBikes_bikes"
                        v-model="newSharedBike.bikes_id"
                        multiple
                    >
                        <option value="*">Tous</option>
                        <option
                            v-for="bike in shared_bikes"
                            :key="bike.id"
                            :value="bike.id"
                        >
                            {{ bike.id }} -
                            {{ bike.catalog.brand }}
                            {{ bike.catalog.model }}
                        </option>
                    </select>
                </div>
                <div class="col-sm-4 form-group">
                    <label class="form-label" for="newSharedBikes_buildings"
                        >Batiments</label
                    >
                    <select
                        :class="[
                            stores.conditionsStore.getErrors.buildings_id
                                ? 'error form-control'
                                : 'form-control',
                        ]"
                        @change.stop
                        name="newSharedBikes_buildings[]"
                        id="newSharedBikes_buildings"
                        v-model="newSharedBike.buildings_id"
                        multiple
                    >
                        <option value="*">Tous</option>
                        <option
                            v-for="building in buildings"
                            :key="building.id"
                            :value="building.id"
                        >
                            {{ building.reference }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 form-group">
                    <label class="form-label" for="newSharedBikes_days"
                        >Jours de réservation</label
                    >
                    <select
                        :class="[
                            stores.conditionsStore.getErrors.days
                                ? 'error form-control'
                                : 'form-control',
                        ]"
                        @change.stop
                        name="newSharedBikes_days[]"
                        id="newSharedBikes_days"
                        v-model="newSharedBike.days"
                        multiple
                    >
                        <option
                            value="monday,tuesday,wednesday,thursday,friday,saturday,sunday"
                        >
                            Tous
                        </option>
                        <option
                            value="monday,tuesday,wednesday,thursday,friday"
                        >
                            Jours ouvrables
                        </option>
                        <option value="monday">Lundi</option>
                        <option value="tuesday">Mardi</option>
                        <option value="wednesday">Mercredi</option>
                        <option value="thursday">Jeudi</option>
                        <option value="friday">Vendredi</option>
                        <option value="saturday">Samedi</option>
                        <option value="sunday">Dimanche</option>
                    </select>
                </div>
                <div class="col-sm-3 form-group">
                    <label
                        class="form-label"
                        for="newSharedBikes_weekend_access"
                        >Accès le week-end</label
                    >
                    <select
                        :class="[
                            stores.conditionsStore.getErrors.weekend_access
                                ? 'error form-control'
                                : 'form-control',
                        ]"
                        @change.stop
                        name="newSharedBikes_weekend_access[]"
                        id="newSharedBikes_weekend_access"
                        v-model="newSharedBike.weekend_access"
                    >
                        <option value="Y">Oui</option>
                        <option value="N">Non</option>
                    </select>
                </div>
                <div class="col-sm-3 form-group">
                    <label
                        class="form-label"
                        for="newSharedBikes_max_time_before_reservation"
                        >Temps avant réservation (Jour)</label
                    >
                    <input
                        :class="[
                            stores.conditionsStore.getErrors
                                .max_time_before_reservation
                                ? 'error form-control'
                                : 'form-control',
                        ]"
                        @change.stop
                        type="number"
                        name="newSharedBikes_max_time_before_reservation"
                        id="newSharedBikes_max_time_before_reservation"
                        v-model="newSharedBike.max_time_before_reservation"
                    />
                </div>
                <div class="col-sm-3 form-group">
                    <label
                        class="form-label"
                        for="newSharedBikes_max_time_reservation"
                        >Temps maximum de reservation (Minutes)</label
                    >
                    <input
                        :class="[
                            stores.conditionsStore.getErrors
                                .max_time_reservation
                                ? 'error form-control'
                                : 'form-control',
                        ]"
                        @change.stop
                        type="number"
                        name="newSharedBikes_max_time_reservation"
                        id="newSharedBikes_max_time_reservation"
                        v-model="newSharedBike.max_time_reservation"
                    />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 form-group">
                    <label class="form-label" for="start_taking_time"
                        >Heure de début de prise</label
                    >
                    <input
                        :class="[
                            stores.conditionsStore.getErrors.start_taking_time
                                ? 'error form-control'
                                : 'form-control',
                        ]"
                        @change.stop
                        type="time"
                        name="start_taking_time"
                        id="start_taking_time"
                        v-model="newSharedBike.start_taking_time"
                    />
                </div>
                <div class="col-sm-3 form-group">
                    <label class="form-label" for="end_taking_time"
                        >Heure de fin prise</label
                    >
                    <input
                        :class="[
                            stores.conditionsStore.getErrors.end_taking_time
                                ? 'error form-control'
                                : 'form-control',
                        ]"
                        @change.stop
                        type="time"
                        name="end_taking_time"
                        id="end_taking_time"
                        v-model="newSharedBike.end_taking_time"
                    />
                </div>
                <div class="col-sm-3 form-group">
                    <label class="form-label" for="start_delivery_time"
                        >Heure de début de remise</label
                    >
                    <input
                        :class="[
                            stores.conditionsStore.getErrors.start_delivery_time
                                ? 'error form-control'
                                : 'form-control',
                        ]"
                        @change.stop
                        type="time"
                        name="start_delivery_time"
                        id="start_delivery_time"
                        v-model="newSharedBike.start_delivery_time"
                    />
                </div>
                <div class="col-sm-3 form-group">
                    <label class="form-label" for="end_delivery_time"
                        >Heure de fin de remise</label
                    >
                    <input
                        :class="[
                            stores.conditionsStore.getErrors.end_delivery_time
                                ? 'error form-control'
                                : 'form-control',
                        ]"
                        @change.stop
                        type="time"
                        name="end_delivery_time"
                        id="end_delivery_time"
                        v-model="newSharedBike.end_delivery_time"
                    />
                </div>
            </div>

            <div class="row" style="margin-top: 1em">
                <div class="col-sm-12" style="text-align: center">
                    <button type="submit" class="btn">Ajouter</button>
                    <button
                        type="button"
                        @click="emits('goBack')"
                        class="btn btn-danger"
                    >
                        Annuler
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script setup>
// Import dependencies
import { ref } from "vue";
// Import stores
import * as stores from "../../../store/StoresIndex";

const emits = defineEmits(["goBack"]);

const props = defineProps(["company"]);

const shared_bikes = ref([]);
const users = ref([]);
const newSharedBike = ref({
    weekend_access: "N",
    max_time_before_reservation: 72,
    max_time_reservation: 12,
});

const buildings = await stores.buildingsStore.getBuildingByCompanyId(
    props.company.id
);

shared_bikes.value = await stores.bikesStockStore.getSharedBikesByCompanyId(
    props.company.id
);
users.value = await stores.usersStore.getUsersByCompany(props.company.id);

const addNewSharedBike = async () => {
    try {
        await stores.conditionsStore.createNewSharedBike(newSharedBike.value);
        if (
            typeof newSharedBike.value["users_id"] !== "undefined" &&
            typeof newSharedBike.value["buildings_id"] !== "undefined" &&
            typeof newSharedBike.value["bikes_id"] !== "undefined" &&
            typeof newSharedBike.value["days"] !== "undefined"
        ) {
            emits("goBack");
            newSharedBike.value = {
                weekend_access: "N",
                max_time_before_reservation: 72,
                max_time_reservation: 12,
            };
        }
    } catch (error) {}
};
</script>

<style scoped></style>
