* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    overflow-y: auto !important;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5 !important;
}

.blue {
    background-color: rgba(29, 113, 184, 1);
}

.red {
    background-color: rgba(214, 11, 82, 1);
}

.green {
    background-color: rgba(44, 179, 150, 1);
}

.banniere {
    width: 100%;
    height: auto;
}

.returnBack::before {
    background-size: 25px 25px;
    display: inline-block;

    width: 25px;
    height: 25px;
    vertical-align: bottom;
    content: "";
    -webkit-mask: url("/images/go-back.svg") no-repeat 50% 50%;
    mask: url("/images/go-back.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    margin-right: 10px;
}

.returnBack {
    display: inline-block;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    text-decoration: underline;
}

.title_vignette {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

hr {
    color: black;
    height: 1px;
    margin: 30px auto;
}

.widget,
.widget-form,
.p-cb {
    box-shadow: 0px 0px 5px rgba(75, 75, 75, 0.1) !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 1em !important;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

.widget > * {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

.right-ctn {
    z-index: -10000 !important;
}
.widget::-webkit-scrollbar {
    display: none;
}
.component-top-bar {
    padding: 0.5em 0;
}
.btn {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.right-ctn > .container {
    max-height: 98% !important;
    padding: 0;
    padding-right: 1em;
}
