<template>
    <NavBar />
    <div class="row">
        <div class="col-sm-3">
            <InfoComponent title="Utilisateurs" info="1568" icon="fa-user" />
        </div>
        <div class="col-sm-3">
            <InfoComponent title="Sociétés" info="1568" icon="fa-user" />
        </div>
        <div class="col-sm-3">
            <InfoComponent title="Vélos en stock" info="1568" icon="fa-user" />
        </div>
        <div class="col-sm-3">
            <InfoComponent title="Réservations" info="1568" icon="fa-user" />
        </div>
        <div class="col-sm-4">
            <QueriesLog />
        </div>
        <div class="col-sm-8">
            <StockManagement />
        </div>
    </div>
</template>
<script setup>
// Import components
import QueriesLog from "./QueriesLog.vue";
import NavBar from "./NavBar.vue";
import InfoComponent from "./InfoComponents.vue";
import StockManagement from "./StockManagement.vue";
</script>
<style scoped>
.row {
    margin: 1em;
}
</style>
