<template>
    <div class="container p-cb">
        <font-awesome-icon class="icon" :icon="icon" />
        <span class="title">{{ title }}</span>
        <span class="info">{{ info }}</span>
    </div>
</template>
<script setup>
defineProps({
    title: {
        type: String,
        required: true,
        default: "",
    },
    info: {
        type: String,
        required: true,
        default: "",
    },
    icon: {
        type: String,
        default: "fa-question",
        required: true,
    },
});
</script>
<style scoped>
.container {
    width: 100%;
    height: 75px;
    background-color: #3cb295;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    width: 100%;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    padding-left: 0.5em;
}
.info {
    color: #fff;
    font-size: 1.5em;
}
.icon {
    color: #fff;
    font-size: 2em;
    margin: 0;
}
</style>
