<template>
    <!-- Logs -->
    <div class="p-cb">
        <div class="header d-flex justify-content-between">
            <span class="title">{{ title }}</span>
            <span class="subtitle">{{ logs.length }}</span>
        </div>
        <hr class="bar" />
        <div class="log-container">
            <div
                class="p-cb mx-0 log d-flex justify-content-between"
                v-for="log in logs"
                :key="log.id"
                @click="openLogDetails(log)"
            >
                <span :class="log.status !== 200 ? 'status error' : 'status'">{{
                    log.status
                }}</span>
                <span class="path"
                    ><span class="method">{{ log.method }}</span> :
                    {{ log.path }}</span
                >
            </div>
        </div>
    </div>

    <!-- Log details -->
    <SmallModal :open="logDetailsIsOpen" v-if="logDetailsIsOpen">
        <div class="modal-header">
            <h5 class="modal-title">Détail de la requête</h5>
            <button type="button" class="close" @click="closeLogDetails">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="label" for="method">Date et heure</label>
                        :
                        <span class="description">{{
                            log.created_at.split("T")[0] +
                            " " +
                            log.created_at.split("T")[1].split(".")[0]
                        }}</span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="label" for="method">Méthode</label>
                        :
                        <span class="description">{{ log.method }}</span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="label" for="method">URL</label>
                        :
                        <span class="description"
                            >kameobikes.com/{{ log.path }}</span
                        >
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="label" for="method">Utilisateur</label>
                        :
                        <span class="description">{{ log.utilisateur }}</span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="label" for="method">Adresse IP</label>
                        :
                        <span class="description">{{ log.ip }}</span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="label" for="method">Statut</label>
                        :
                        <span class="description">{{ log.status }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary"
                @click="closeLogDetails"
            >
                Fermer
            </button>
        </div>
    </SmallModal>
</template>
<script setup>
// Import dependencies
import { reactive, ref } from "vue";

// Import stores
import * as stores from "../../store/StoresIndex";

// Import components
import SmallModal from "../Dashboard/Modals/Small.vue";

// Define constants
const logDetailsIsOpen = ref(false);
const log = ref(null);

// Define props
const props = defineProps({
    logs: {
        type: Array,
        required: true,
    },
    title: {
        type: String,
        required: true,
    },
});

// Define methods
const openLogDetails = (data) => {
    log.value = data;
    logDetailsIsOpen.value = true;
};

const closeLogDetails = () => {
    log.value = {};
    logDetailsIsOpen.value = false;
};
</script>
<style scoped>
.error {
    color: #ff0000;
}
.header > * {
    margin-bottom: 0px;
}
.header > .title {
    font-size: 1rem;
    font-weight: bold;
}
.bar {
    margin: 15px 0px 10px 0px;
    color: #3cb295;
}
.log-container {
    height: 400px;
    overflow: scroll;
    padding: -1em;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.log-container::-webkit-scrollbar {
    display: none;
}
.log-container > .log {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.log-container > .log:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.log > .status {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #3cb295;
}
.log > .path {
    width: 100%;
    margin-left: 1rem;
    text-align: center;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}
.form-group > .label {
    font-size: 1rem;
    font-weight: bold;
    color: #3cb295;
}
.form-group > .description {
    font-size: 1rem;
}
</style>
