<template>
    <div class="pos-f-t">
        <!-- Navbar -->
        <nav class="navbar px-5 py-0 d-flex justify-content-between">
            <img src="/images/logo.png" alt="kameo bikes logo" width="100" />
            <p class="title">Backlog</p>
        </nav>
    </div>
</template>
<script setup>
// Import dependencies
import { onMounted } from "vue";

// Import stores
import * as stores from "../../store/StoresIndex";

// Define method
onMounted(() => {
    stores.usersStore.loadUserAuth();
});
</script>
<style scoped>
.navbar {
    background-color: #3cb295;
    vertical-align: middle;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
}
.title {
    color: #fff;
    font-size: 2em;
}
</style>
