<template>
    <LogContainer title="Queries logs" :logs="stores.logsStore.getQueries" />
</template>
<script setup>
// Import components
import LogContainer from "./LogContainer.vue";

// Import stores
import * as stores from "../../store/StoresIndex";

// Load data
stores.logsStore.retrieveQueries();
</script>
