<template>
    <div class="p-cb">
        <div class="header d-flex justify-content-between">
            <span class="title">Stock management</span>
            <span class="subtitle">100</span>
        </div>
        <hr class="bar" />
        <div class="container">
            <div class="p-cb mx-0 log"></div>
        </div>
    </div>
</template>
<script setup>
import { onMounted } from "vue";
import * as stores from "../../store/StoresIndex";

await Promise.all([
    stores.bikesStockStore.loadBikesStock(),
    stores.accessoriesStockStore.loadAccessoryStock(), // Error ici
]);

// onMounted(() => {
//     const bikes = stores.bikesStockStore.getBikesStock;
//     const accessories = stores.accessoriesStockStore.getAccessoriesStock;
//     console.log(bikes);
//     console.log(accessories);
// });
</script>
<style scoped>
.header > * {
    margin-bottom: 0px;
}
.header > .title {
    font-size: 1rem;
    font-weight: bold;
}
.bar {
    margin: 15px 0px 10px 0px;
}
.container {
    width: 100%;
    height: 400px;
    padding: 0;
    overflow: scroll;
    -ms-overflow-style: none;
}
.log-container::-webkit-scrollbar {
    display: none;
}
.log {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container > .log {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.container > .log:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
</style>
