<template>
    <div class="widget p-cb" style="height: 375px; overflow-y: scroll">
        <div class="row">
            <div class="col-sm-12">
                <h5 style="color: #3cb295">Réservations en cours</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Vélo</th>
                            <th>Début</th>
                            <th>Fin</th>
                            <!-- <th></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="reservation in stores.reservationsStore
                                .getInProgressReservationsByUserAuth"
                            :key="reservation.id"
                        >
                            <td>{{ reservation.id }}</td>
                            <td>{{ reservation.bikes_id }}</td>
                            <td>{{ formatDate(reservation.start) }}</td>
                            <td>{{ formatDate(reservation.end) }}</td>
                            <!-- <td>
                                <button class="btn btn-xs btn-danger" type="button" @click.prevent="stores.reservationsStore.removeReservationById(reservation.id)">
                                    Annuler
                                </button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                <p
                    v-show="
                        stores.reservationsStore
                            .getInProgressReservationsByUserAuth.length === 0
                    "
                    style="
                        text-align: center;
                        font-weight: bold;
                        width: 100%;
                        color: #3cb295;
                    "
                >
                    Aucune réservation en cours
                </p>
            </div>

            <div class="col-sm-12">
                <h5 style="color: #3cb295">Réservations futur</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Vélo</th>
                            <th>Début</th>
                            <th>Fin</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="reservation in stores.reservationsStore
                                .getFutureReservationsByUserAuth"
                            :key="reservation.id"
                        >
                            <td>{{ reservation.id }}</td>
                            <td>{{ reservation.bikes_id }}</td>
                            <td>{{ formatDate(reservation.start) }}</td>
                            <td>{{ formatDate(reservation.end) }}</td>
                            <td>
                                <button
                                    class="btn btn-xs btn-danger"
                                    type="button"
                                    @click.prevent="
                                        stores.reservationsStore.removeReservationById(
                                            reservation.id
                                        )
                                    "
                                >
                                    Annuler
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p
                    v-show="
                        stores.reservationsStore.getFutureReservationsByUserAuth
                            .length === 0
                    "
                    style="
                        text-align: center;
                        font-weight: bold;
                        width: 100%;
                        color: #3cb295;
                    "
                >
                    Aucune réservation à venir
                </p>
            </div>

            <div class="col-sm-12">
                <h5 style="color: #3cb295">Réservations terminée</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Vélo</th>
                            <th>Début</th>
                            <th>Fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="reservation in stores.reservationsStore
                                .getPastReservationsByUserAuth"
                            :key="reservation.id"
                        >
                            <td>{{ reservation.id }}</td>
                            <td>{{ reservation.bikes_id }}</td>
                            <td>{{ formatDate(reservation.start) }}</td>
                            <td>{{ formatDate(reservation.end) }}</td>
                        </tr>
                    </tbody>
                </table>
                <p
                    v-show="
                        stores.reservationsStore.getPastReservationsByUserAuth
                            .length === 0
                    "
                    style="
                        text-align: center;
                        font-weight: bold;
                        width: 100%;
                        color: #3cb295;
                    "
                >
                    Aucune réservation terminée
                </p>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import stores
import * as stores from "../../../store/StoresIndex";

// Import functions
import { formatDate } from "../../../functions/globalFunctions";

// Define constants
await stores.reservationsStore.loadAllReservationsByUserAuth();
</script>
<style scoped>
.widget.p-cb {
    height: 100%;
    overflow: auto;
}
</style>
