<template>
    <div>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12 component-top-bar">
                <button
                    @click="$router.push({ name: 'bikes-stock-list' })"
                    style="width: 35px; height: 35px; padding: 0px; float: left"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>

            <!-- Left line -->
            <div class="grid">
                <!-- General informations -->
                <div
                    class="widget p-cb"
                    style="max-height: 600px; overflow-y: auto"
                >
                    <h4>Informations générales</h4>
                    <div>
                        <div v-show="!!bike.client_name">
                            <label class="form-label" style="color: #3cb395"
                                >Client</label
                            >
                            <p>{{ bike.client_name }}</p>
                            <hr />
                        </div>
                        <div v-show="!!bike.address">
                            <label class="form-label" style="color: #3cb395"
                                >Adresse du client</label
                            >
                            <p>{{ bike.address }}</p>
                            <hr />
                        </div>
                        <div v-show="!!bike.contract_type">
                            <label class="form-label" style="color: #3cb395"
                                >Type de contrat</label
                            >
                            <p>{{ bike.contract_type }}</p>
                            <hr />
                        </div>
                        <div>
                            <label class="form-label" style="color: #3cb395"
                                >Type d'utilisation</label
                            >
                            <p v-show="!!bike.users_id">Personnel</p>
                            <p v-show="!bike.users_id">Partagé</p>
                            <hr />
                        </div>
                        <div v-if="!!bike.users_id">
                            <label class="form-label" style="color: #3cb395"
                                >Propriétaire du vélo</label
                            >
                            <p>
                                {{ user.firstname + " " + user.lastname }}
                            </p>
                            <hr />
                        </div>
                        <div v-show="!!bike.billing_type">
                            <label class="form-label" style="color: #3cb395"
                                >Type de paiement</label
                            >
                            <p>{{ bike.billing_type }}</p>
                            <hr />
                        </div>
                        <div
                            v-show="!!bike.contract_start && bike.contract_end"
                        >
                            <label class="form-label" style="color: #3cb395"
                                >Durée du contrat</label
                            >
                            <p>
                                {{ formatDate(bike.contract_start) }}
                                <strong>au</strong>
                                {{ formatDate(bike.contract_end) }}
                            </p>
                            <hr />
                        </div>
                        <div v-show="!!bike.selling_date">
                            <label class="form-label" style="color: #3cb395"
                                >Date de vente</label
                            >
                            <p>{{ formatDate(bike.selling_date) }}</p>
                        </div>
                        <div v-show="!!bike.stolen_date">
                            <label class="form-label" style="color: #3cb395"
                                >Date du vol</label
                            >
                            <p>{{ formatDate(bike.stolen_date) }}</p>
                        </div>
                    </div>
                </div>

                <!-- Internals informations -->
                <div
                    class="widget p-cb"
                    style="max-height: 600px; overflow-y: auto"
                >
                    <h4>Informations internes</h4>
                    <div v-show="!!bike.bike_price">
                        <label class="form-label" style="color: #3cb395"
                            >Client</label
                        >
                        <p>{{ bike.client_name }}</p>
                        <hr />
                    </div>
                    <div v-show="!!bike.address">
                        <label class="form-label" style="color: #3cb395"
                            >Adresse du client</label
                        >
                        <p>{{ bike.address }}</p>
                        <hr />
                    </div>
                    <div v-show="!!bike.contract_type">
                        <label class="form-label" style="color: #3cb395"
                            >Type de contrat</label
                        >
                        <p>{{ bike.contract_type }}</p>
                        <hr />
                    </div>
                    <div>
                        <label class="form-label" style="color: #3cb395"
                            >Type d'utilisation</label
                        >
                        <p v-show="!!bike.users_id">Personnel</p>
                        <p v-show="!bike.users_id">Partagé</p>
                        <hr />
                    </div>
                    <div v-if="!!bike.users_id">
                        <label class="form-label" style="color: #3cb395"
                            >Propriétaire du vélo</label
                        >
                        <p>
                            {{ user.firstname + " " + user.lastname }}
                        </p>
                        <hr />
                    </div>
                    <div v-show="!!bike.billing_type">
                        <label class="form-label" style="color: #3cb395"
                            >Type de paiement</label
                        >
                        <p>{{ bike.billing_type }}</p>
                        <hr />
                    </div>
                    <div v-show="!!bike.contract_start && bike.contract_end">
                        <label class="form-label" style="color: #3cb395"
                            >Durée du contrat</label
                        >
                        <p>
                            {{ formatDate(bike.contract_start) }}
                            <strong>au</strong>
                            {{ formatDate(bike.contract_end) }}
                        </p>
                        <hr />
                    </div>
                    <div v-show="!!bike.selling_date">
                        <label class="form-label" style="color: #3cb395"
                            >Date de vente</label
                        >
                        <p>{{ formatDate(bike.selling_date) }}</p>
                    </div>
                    <div v-show="!!bike.stolen_date">
                        <label class="form-label" style="color: #3cb395"
                            >Date du vol</label
                        >
                        <p>{{ formatDate(bike.stolen_date) }}</p>
                    </div>
                </div>

                <!-- Internals informations -->
                <div
                    class="widget p-cb"
                    style="max-height: 600px; overflow-y: auto"
                >
                    <h4>Informations internes</h4>
                    <div v-show="!!bike.bike_price">
                        <label class="form-label" style="color: #3cb395"
                            >Prix d'achat</label
                        >
                        <p>{{ bike.bike_price }}€</p>
                        <hr />
                    </div>
                    <div v-show="!!bike.bike_buying_date">
                        <label class="form-label" style="color: #3cb395"
                            >Date d'achat</label
                        >
                        <p>{{ formatDate(bike.bike_buying_date) }}</p>
                        <hr />
                    </div>
                    <div v-show="!!bike.reimbursement_insurance">
                        <label class="form-label" style="color: #3cb395"
                            >Montant remboursé du vol</label
                        >
                        <p>{{ bike.reimbursement_insurance }}€</p>
                        <hr />
                    </div>
                    <div v-show="!!bike.estimated_delivery_date">
                        <label class="form-label" style="color: #3cb395"
                            >Date de livraison estimée</label
                        >
                        <p>{{ formatDate(bike.estimated_delivery_date) }}</p>
                        <hr />
                    </div>
                    <div v-show="!!bike.delivery_date">
                        <label class="form-label" style="color: #3cb395"
                            >Date de livraison</label
                        >
                        <p>{{ formatDate(bike.delivery_date) }}</p>
                    </div>
                    <div>
                        <label class="form-label" style="color: #3cb395"
                            >Localisation du vélo</label
                        >
                        <p v-show="bike.localisation">
                            {{ bike.localisation }}
                        </p>
                        <p v-show="!bike.localisation" @click.prevent="troll">
                            Pas d'informations sur la localisation
                        </p>
                    </div>
                </div>

                <!-- Block tarif informations -->
                <div
                    class="widget p-cb"
                    style="max-height: 600px; overflow-y: auto"
                    v-show="!!bike.leasing_price || !!bike.selling_price"
                >
                    <h4>Informations tarifaires</h4>
                    <div v-show="!!bike.leasing_price">
                        <label class="form-label" style="color: #3cb395"
                            >Prix du leasing</label
                        >
                        <p>{{ bike.leasing_price }}€</p>
                        <hr />
                    </div>
                    <div v-show="!!bike.selling_price">
                        <label class="form-label" style="color: #3cb395"
                            >Prix de vente</label
                        >
                        <p>{{ bike.selling_price }}€</p>
                    </div>
                </div>

                <!-- Block bikes informations -->
                <div
                    class="widget p-cb"
                    style="max-height: 600px; overflow-y: auto"
                >
                    <h4>Informations sur le vélo</h4>
                    <div>
                        <div v-show="!!bike.frame_reference">
                            <label class="form-label" style="color: #3cb395"
                                >Référence interne</label
                            >
                            <p>{{ bike.frame_reference }}</p>
                            <hr />
                        </div>
                        <div
                            v-show="bike.catalog ? !!bike.catalog.brand : false"
                        >
                            <label class="form-label" style="color: #3cb395"
                                >Marque</label
                            >
                            <p>{{ bike.catalog ? bike.catalog.brand : "" }}</p>
                            <hr />
                        </div>
                        <div
                            v-show="bike.catalog ? !!bike.catalog.model : false"
                        >
                            <label class="form-label" style="color: #3cb395"
                                >Modèle</label
                            >
                            <p>{{ bike.catalog ? bike.catalog.model : "" }}</p>
                            <hr />
                        </div>
                        <div v-show="!!bike.size">
                            <label class="form-label" style="color: #3cb395"
                                >Taille</label
                            >
                            <p>{{ bike.size }}</p>
                            <hr />
                        </div>
                        <div>
                            <label class="form-label" style="color: #3cb395"
                                >Couleur</label
                            >
                            <p v-show="bike.color">{{ bike.color }}</p>
                            <p v-show="!bike.color">
                                Aucune couleur renseignée
                            </p>
                            <hr />
                        </div>
                        <div v-show="!!bike.frame_number">
                            <label class="form-label" style="color: #3cb395"
                                >Numéro de cadre</label
                            >
                            <p>{{ bike.frame_reference }}</p>
                            <hr />
                        </div>
                        <div>
                            <label class="form-label" style="color: #3cb395"
                                >Référence du cadenas</label
                            >
                            <p v-show="bike.locker_reference">
                                {{ bike.locker_reference }}
                            </p>
                            <p v-show="!bike.locker_reference">
                                Pas de référence disponible
                            </p>
                            <hr />
                        </div>
                        <div>
                            <label class="form-label" style="color: #3cb395"
                                >Référence de la clé</label
                            >
                            <p v-show="bike.key_reference">
                                {{ bike.key_reference }}
                            </p>
                            <p v-show="!bike.key_reference">
                                Pas de référence disponible
                            </p>
                            <hr />
                        </div>
                        <div>
                            <label class="form-label" style="color: #3cb395"
                                >Numéro de plaque</label
                            >
                            <p v-show="bike.plate_number">
                                {{ bike.plate_number }}
                            </p>
                            <p v-show="!bike.plate_number">
                                Pas de numéro de plaque
                            </p>
                            <hr />
                        </div>
                        <div>
                            <label class="form-label" style="color: #3cb395"
                                >Identification GPS</label
                            >
                            <p v-show="bike.gps_id">{{ bike.gps_id }}</p>
                            <p v-show="!bike.gps_id">Pas de GPS disponible</p>
                        </div>
                    </div>
                </div>

                <!-- Insurances informations -->
                <div
                    class="widget p-cb"
                    style="max-height: 600px; overflow-y: auto"
                >
                    <h4>Informations sur les assurances</h4>
                    <div>
                        <label class="form-label" style="color: #3cb395"
                            >Assurance ?</label
                        >
                        <p v-show="bike.insurance === 'Y'">Oui</p>
                        <p v-show="bike.insurance === 'N'">Non</p>
                        <hr />
                    </div>
                    <div>
                        <label class="form-label" style="color: #3cb395"
                            >Assurance individuelle</label
                        >
                        <p v-show="bike.insurance_individual === 'Y'">Oui</p>
                        <p v-show="bike.insurance_individual === 'N'">Non</p>
                        <hr />
                    </div>
                    <div>
                        <label class="form-label" style="color: #3cb395"
                            >Assurance responsabilité civile</label
                        >
                        <p v-show="bike.insurance_civil_responsibility === 'Y'">
                            Oui
                        </p>
                        <p v-show="bike.insurance_civil_responsibility === 'N'">
                            Non
                        </p>
                        <p
                            v-show="
                                !!bike.insurance_civil_responsibility_contract
                            "
                        >
                            <a
                                :href="
                                    'http://kameo.test/storage/' +
                                    bike.insurance_civil_responsibility_contract
                                "
                                style="color: #3cb295"
                                >Voir le contrat</a
                            >
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref } from "vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import functions
import { formatDate } from "../../../functions/globalFunctions";

const route = useRoute();
const bike = ref({});
const user = ref({});

bike.value = await stores.bikesStockStore.getBikeStockById(route.params.id);

if (bike.value.users_id)
    stores.usersStore
        .getUserById(bike.value.users_id)
        .then((data) => (user.value = data));

// Troll function hahahaha
function troll() {
    alert("Mais où est mon vélo ?");
}
</script>

<style scoped>
.grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-left: 16px;
    width: 95%;
}
</style>
