<template>
    <Datatable
        :headers="headers"
        :storeName="storeName"
        :routeName="routeName"
        showBtn
        updateBtn
        contractTypeFilterBtn
        receptionCommande
    />
</template>
<script setup>
import Datatable from "../ReusableComponents/Datatable.vue";
const storeName = "bikesStockStore";
const routeName = "bikes-stock";
const headers = [
    { value: "id", name: "#" },
    { value: "client", name: "Client" },
    { value: "brand", name: "Marque" },
    { value: "model", name: "Model" },
    { value: "frame_number", name: "Numéro de cadre" },
    { value: "contract_type", name: "Contrat" },
    { value: "price", name: "Prix" },
    { value: "utilisation", name: "Utilisation" },
];
</script>
