<template>
    <div>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12 component-top-bar">
                <button
                    @click="$router.push({ name: 'bikes-stock-list' })"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button
                    @click="isOpen = true"
                    style="
                        height: 35px;
                        padding: 10px;
                        float: right;
                        margin-right: 5px;
                    "
                    type="button"
                    class="btn btn-danger"
                >
                    Supprimer le vélo du stock
                </button>
            </div>

            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form @change="stores.bikesStockStore.update(formData)">
                        <!-- General infos section -->
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Informations générales
                        </h4>
                        <hr />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="contract_type"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Status du vélo</label
                                >
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .contract_type
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="contract_type"
                                    id="contract_type"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .contract_type
                                    "
                                >
                                    <option value="order">Commandé</option>
                                    <option value="stock">En stock</option>
                                    <option value="pending_delivery">
                                        Livraison en cours
                                    </option>
                                    <option value="selling">Vendu</option>
                                    <option value="leasing">En leasing</option>
                                    <option value="stolen">Volé</option>
                                </select>
                            </div>
                            <div
                                class="form-group col-sm-6"
                                v-show="
                                    !['stock', 'order'].includes(
                                        stores.bikesStockStore.getBikeStock
                                            .contract_type
                                    )
                                "
                            >
                                <label
                                    for="company"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Client</label
                                >
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .client_name
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="company"
                                    id="company"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .companies_id
                                    "
                                >
                                    <option
                                        v-for="item in stores.companiesStore
                                            .getCompanies"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.name }}
                                    </option>
                                </select>
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .users_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="user"
                                    id="utilisation_type"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .users_id
                                    "
                                >
                                    <option
                                        v-for="user in users"
                                        :key="user.id"
                                        :value="user.id"
                                    >
                                        {{ user.firstname }} {{ user.lastname }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div
                            class="row"
                            v-show="
                                ['stolen'].includes(
                                    stores.bikesStockStore.getBikeStock
                                        .contract_type
                                )
                            "
                        >
                            <div class="form-group col-sm-6">
                                <label
                                    for="stolen_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date du vol</label
                                >
                                <input
                                    type="date"
                                    name="stolen_date"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .stolen_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="stolen_date"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .stolen_date
                                    "
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="reimbursement_insurance"
                                    class="form-label"
                                    style="reimbursement_insurance: #3cb395"
                                    >Remboursement assurance</label
                                >
                                <input
                                    type="number"
                                    name="reimbursement_insurance"
                                    placeholder="0"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .reimbursement_insurance
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="reimbursement_insurance"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .reimbursement_insurance
                                    "
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div
                                class="form-group col-sm-6"
                                v-if="
                                    ['leasing'].includes(
                                        stores.bikesStockStore.getBikeStock
                                            .contract_type
                                    )
                                "
                            >
                                <label
                                    for="utilisation_type"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Type d'utilisation</label
                                >
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .utilisation_type
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="utilisation_type"
                                    id="utilisation_type"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .utilisation_type
                                    "
                                >
                                    <option value="shared">Partagé</option>
                                    <option value="staff">Personnel</option>
                                </select>
                            </div>

                            <div
                                class="form-group col-sm-6"
                                v-if="
                                    stores.bikesStockStore.getBikeStock
                                        .utilisation_type == 'staff' &&
                                    ['leasing'].includes(
                                        stores.bikesStockStore.getBikeStock
                                            .contract_type
                                    )
                                "
                            >
                                <label
                                    for="user"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Propriétaire du vélo</label
                                >
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .users_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="user"
                                    id="utilisation_type"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .users_id
                                    "
                                >
                                    <option
                                        v-for="item in stores.usersStore.getUserByCompany(
                                            stores.bikesStockStore.getBikeStock
                                                .companies_id
                                        )"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.firstname }} {{ item.lastname }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div
                                class="form-group col-sm-6"
                                v-if="
                                    ['leasing'].includes(
                                        stores.bikesStockStore.getBikeStock
                                            .contract_type
                                    )
                                "
                            >
                                <label
                                    for="contract_type"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Type de paiement</label
                                >
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .billing_type
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="contract_type"
                                    id="contract_type"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .billing_type
                                    "
                                >
                                    <option value="monthly">Chaque mois</option>
                                    <option value="annual">Chaque année</option>
                                    <option value="paid">Payé</option>
                                </select>
                            </div>
                            <div
                                class="form-group col-sm-6"
                                v-show="
                                    !['stock', 'order', 'stolen'].includes(
                                        stores.bikesStockStore.getBikeStock
                                            .contract_type
                                    )
                                "
                            >
                                <label
                                    for="address"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Adresse</label
                                >
                                <input
                                    type="text"
                                    name="address"
                                    :class="[
                                        stores.bikesStockStore.getErrors.address
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="address"
                                    placeholder="Entrer une adresse"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .address
                                    "
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div
                                class="form-group col-sm-3"
                                v-show="
                                    ['leasing'].includes(
                                        stores.bikesStockStore.getBikeStock
                                            .contract_type
                                    )
                                "
                            >
                                <label
                                    for="contract_start"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Début du contrat</label
                                >
                                <input
                                    type="date"
                                    name="contract_start"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .contract_start
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="contract_start"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .contract_start
                                    "
                                />
                            </div>
                            <div
                                class="form-group col-sm-3"
                                v-show="
                                    ['leasing'].includes(
                                        stores.bikesStockStore.getBikeStock
                                            .contract_type
                                    )
                                "
                            >
                                <label
                                    for="contract_end"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Fin du contrat</label
                                >
                                <input
                                    type="date"
                                    name="contract_end"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .contract_end
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="contract_end"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .contract_end
                                    "
                                />
                            </div>
                            <div
                                class="col-sm-6"
                                v-show="
                                    ['selling'].includes(
                                        stores.bikesStockStore.getBikeStock
                                            .contract_type
                                    )
                                "
                            >
                                <label
                                    for="selling_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date de vente</label
                                >
                                <input
                                    type="date"
                                    name="selling_date"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .selling_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="selling_date"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .selling_date
                                    "
                                />
                            </div>
                        </div>

                        <!-- Bike informations sections -->
                        <br />
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Informations sur le vélo
                        </h4>
                        <hr />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="frame_number"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Référence interne</label
                                >
                                <input
                                    type="text"
                                    name="frame_number"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .frame_number
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="frame_number"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .frame_number
                                    "
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="frame_reference"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Numéro de cadre</label
                                >
                                <input
                                    type="text"
                                    name="frame_reference"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .frame_reference
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="frame_reference"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .frame_reference
                                    "
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="size"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Taille</label
                                >
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors.size
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="size"
                                    id="size"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock.size
                                    "
                                >
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="UNIQUE">Unique</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="color"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Couleur</label
                                >
                                <input
                                    type="text"
                                    name="color"
                                    placeholder="Entrer une couleur"
                                    :class="[
                                        stores.bikesStockStore.getErrors.color
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="color"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .color
                                    "
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="locker_reference"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Référence du cadenas</label
                                >
                                <input
                                    type="text"
                                    name="locker_reference"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .locker_reference
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="locker_reference"
                                    placeholder="Entrer une référence"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .locker_reference
                                    "
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="key_reference"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Référence de la clé</label
                                >
                                <input
                                    type="text"
                                    name="key_reference"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .key_reference
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="key_reference"
                                    placeholder="Entrer une référence"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .key_reference
                                    "
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="plate_number"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Numero de plaque</label
                                >
                                <input
                                    type="text"
                                    name="plate_number"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .plate_number
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="plate_number"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .plate_number
                                    "
                                    placeholder="Entrer une référence"
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="gps_id"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Identification du GPS</label
                                >
                                <input
                                    type="text"
                                    placeholder="Entrer un identifiant GPS"
                                    name="gps_id"
                                    :class="[
                                        stores.bikesStockStore.getErrors.gps_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="gps_id"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .gps_id
                                    "
                                />
                            </div>
                        </div>

                        <!-- Intern informations sections -->
                        <br />
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Informations internes
                        </h4>
                        <hr />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="bike_price"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Prix d'achat</label
                                >
                                <input
                                    type="number"
                                    name="bike_price"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .bike_price
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="bike_price"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .bike_price
                                    "
                                    placeholder="Entrer un prix"
                                />
                            </div>
                            <div class="col-sm-6">
                                <label
                                    for="bike_buying_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date d'achat</label
                                >
                                <input
                                    type="date"
                                    name="bike_buying_date"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .bike_buying_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="bike_buying_date"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .bike_buying_date
                                    "
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label
                                    for="estimated_delivery_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date de livraison estimée</label
                                >
                                <input
                                    type="date"
                                    name="estimated_delivery_date"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .estimated_delivery_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="estimated_delivery_date"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .estimated_delivery_date
                                    "
                                />
                            </div>
                            <div class="col-sm-3">
                                <label
                                    for="delivery_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date de livraison</label
                                >
                                <input
                                    type="date"
                                    name="delivery_date"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .delivery_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="delivery_date"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .delivery_date
                                    "
                                />
                            </div>
                            <div class="col-sm-6">
                                <label
                                    for="localisation"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Localisation du vélo</label
                                >
                                <input
                                    type="text"
                                    name="localisation"
                                    placeholder="Entrer une localisation"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .localisation
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="localisation"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .localisation
                                    "
                                />
                            </div>
                        </div>

                        <!-- Prices informations sections -->
                        <br />
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Informations tarifaires
                        </h4>
                        <hr />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="leasing_price"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Prix du leasing</label
                                >
                                <input
                                    type="number"
                                    placeholder="Entrer un prix"
                                    name="leasing_price"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .leasing_price
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="leasing_price"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .leasing_price
                                    "
                                />
                            </div>
                            <div class="col-sm-6">
                                <label
                                    for="selling_price"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Prix de vente</label
                                >
                                <input
                                    type="number"
                                    placeholder="Entrer un prix"
                                    name="selling_price"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .selling_price
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="selling_price"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .selling_price
                                    "
                                />
                            </div>
                        </div>

                        <!-- Insurances informations sections -->
                        <br />
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Informations sur les assurances
                        </h4>
                        <hr />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="insurance"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Assurance</label
                                >
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .insurance
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="insurance"
                                    id="insurance"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .insurance
                                    "
                                >
                                    <option value="Y">Oui</option>
                                    <option value="N">Non</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="insurance_individual"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Assurance individuelle</label
                                >
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .insurance_individual
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="insurance_individual"
                                    id="insurance_individual"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .insurance_individual
                                    "
                                >
                                    <option value="Y">Oui</option>
                                    <option value="N">Non</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="insurance_civil_responsibility"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Assurance responsabilité civile</label
                                >
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .insurance_civil_responsibility
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="insurance_civil_responsibility"
                                    id="insurance_civil_responsibility"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .insurance_civil_responsibility
                                    "
                                >
                                    <option value="Y">Oui</option>
                                    <option value="N">Non</option>
                                </select>
                            </div>
                            <div
                                class="form-group col-sm-6"
                                v-if="
                                    stores.bikesStockStore.getBikeStock
                                        .insurance_civil_responsibility === 'Y'
                                "
                            >
                                <label
                                    for="insurance_civil_responsibility_contract"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Référence du contrat</label
                                >
                                <input
                                    type="text"
                                    placeholder="Entrer une référence"
                                    name="insurance_civil_responsibility_contract"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .insurance_civil_responsibility_contract
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="insurance_civil_responsibility_contract"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .insurance_civil_responsibility_contract
                                    "
                                />
                            </div>
                        </div>

                        <!-- Others informations sections -->
                        <br />
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Autres informations
                        </h4>
                        <hr />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="usable"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Utilisable</label
                                >
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors.usable
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="usable"
                                    id="usable"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .usable
                                    "
                                >
                                    <option value="Y">Oui</option>
                                    <option value="N">Non</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="status"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Status</label
                                >
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors.status
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="status"
                                    id="status"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .status
                                    "
                                >
                                    <option value="actif">Actif</option>
                                    <option value="inactif">Inactif</option>
                                </select>
                            </div>
                            <div class="col-sm-12">
                                <label
                                    for="comment_billing"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Commentaire de facturation</label
                                >
                                <textarea
                                    style="resize: none"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .comment_billing
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    placeholder="...."
                                    name="comment_billing"
                                    id="comment_billing"
                                    cols="30"
                                    rows="10"
                                    v-model="
                                        stores.bikesStockStore.getBikeStock
                                            .comment_billing
                                    "
                                ></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <DeleteValidationModal
            :open="isOpen"
            @close="isOpen = !isOpen"
            :id="stores.bikesStockStore.getBikeStock.id"
            :store="stores.bikesStockStore"
        />
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref, watchEffect } from "vue";
import DeleteValidationModal from "../Modals/DeleteValidationModal.vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

const isOpen = ref(false);
const users = ref([]);
const route = useRoute();
const formData = new FormData();

// Call functions
stores.bikesStockStore.show(route.params.id);

stores.companiesStore.loadCompanies();

watchEffect(async () => {
    if (
        stores.bikesStockStore.getBikeStock.utilisation_type == "staff" &&
        ["leasing"].includes(stores.bikesStockStore.getBikeStock.contract_type)
    ) {
        users.value = await stores.usersStore.getUsersByCompany(
            stores.bikesStockStore.getBikeStock.companies_id
        );
    }
});
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
