<template>
    <div>
        <Header title="Ajout d'un nouveau vélo dans le stock" />
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.push({ name: 'bikes-stock-list' })"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>

            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form @submit.prevent="sendForm">
                        <!-- General infos section
                            <h4 style="text-transform: uppercase; color: #3cb395; font-wieght: bold; ">Informations générales</h4>
                            <hr>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="contract_type" class="form-label" style="color: #3cb395;">Status du vélo</label>
                                    <select :class="[stores.bikesStockStore.getErrors.contract_type ? 'error form-control': 'form-control']" name="contract_type" id="contract_type" v-model="input.contract_type">
                                        <option value="order" selected>Commandé</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6" v-show="['pending_delivery', 'leasing', 'selling', 'stolen'].includes(input.contract_type)">
                                    <label for="company" class="form-label" style="color: #3cb395;">Client</label>
                                    <select :class="[stores.bikesStockStore.getErrors.client_name ? 'error form-control': 'form-control']" name="company" id="company" v-model="input.companies_id">
                                        <option v-for="item in stores.companiesStore.getCompanies" :key="item.id" :value="item.id">{{ item.name }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6" v-show="['leasing'].includes(input.contract_type) && !!input.companies_id">
                                    <label for="utilisation_type" class="form-label" style="color: #3cb395;">Type d'utilisation</label>
                                    <select :class="[stores.bikesStockStore.getErrors.utilisation_type ? 'error form-control': 'form-control']" name="utilisation_type" id="utilisation_type" v-model="input.utilisation_type">
                                        <option value="staff">Personnel</option>
                                        <option value="share">Partagé</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6" v-if="['leasing', 'selling', 'stolen'].includes(input.contract_type) && input.utilisation_type == 'staff' && !!input.companies_id">
                                    <label for="user" class="form-label" style="color: #3cb395;">Propriétaire du vélo</label>
                                    <select :class="[stores.bikesStockStore.getErrors.user ? 'error form-control': 'form-control']" name="user" id="user" v-model="input.user">
                                        <option v-for="item in stores.usersStore.getUserByCompany(input.companies_id)" :key="item.id" :value="item.id">{{ item.firstname }} {{ item.lastname }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6" v-if="['leasing', 'selling', 'stolen'].includes(input.contract_type) && input.utilisation_type == 'share' && !!input.companies_id">
                                    <label for="user" class="form-label" style="color: #3cb395;">Accès au vélo</label>
                                    <select :class="[stores.bikesStockStore.getErrors.user ? 'error form-control': 'form-control']" name="user[]" id="user" v-model="input.user" multiple>
                                        <option v-for="item in stores.usersStore.getUserByCompany(input.companies_id)" :key="item.id" :value="item.id">{{ item.firstname }} {{ item.lastname }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" v-show="['stolen'].includes(input.contract_type) && !!input.companies_id">
                                <div class="form-group col-sm-6">
                                    <label for="stolen_date" class="form-label" style="color: #3cb395;">Date du vol</label>
                                    <input type="date" name="stolen_date" :class="[stores.bikesStockStore.getErrors.stolen_date ? 'error form-control': 'form-control']" id="stolen_date" v-model="input.stolen_date" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="reimbursement_insurance" class="form-label" style="color: #3cb395;">Montant remboursé</label>
                                    <input type="number" name="reimbursement_insurance" :class="[stores.bikesStockStore.getErrors.reimbursement_insurance ? 'error form-control': 'form-control']" id="reimbursement_insurance" v-model="input.reimbursement_insurance" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6" v-show="['leasing'].includes(input.contract_type) && !!input.companies_id">
                                    <label for="contract_type" class="form-label" style="color: #3cb395;">Type de paiement</label>
                                    <select :class="[stores.bikesStockStore.getErrors.billing_type ? 'error form-control': 'form-control']" name="contract_type" id="contract_type" v-model="input.billing_type">
                                        <option value="monthly">Chaque mois</option>
                                        <option value="annual">Chaque année</option>
                                        <option value="paid">Payé</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6" v-show="['pending_delivery' ,'leasing', 'selling'].includes(input.contract_type) && !!input.companies_id">
                                    <label for="address" class="form-label" style="color: #3cb395;">Adresse</label>
                                    <input type="text" name="address" :class="[stores.bikesStockStore.getErrors.address ? 'error form-control': 'form-control']" id="address" placeholder="Rue de la Brasserie, 8 à 4000 Liège" v-model="input.address" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-3" v-show="['leasing'].includes(input.contract_type) && !!input.companies_id">
                                    <label for="contract_start" class="form-label" style="color: #3cb395;">Début du contrat</label>
                                    <input type="date" name="contract_start" :class="[stores.bikesStockStore.getErrors.contract_start ? 'error form-control': 'form-control']" id="contract_start" v-model="input.contract_start" />
                                </div>
                                <div class="form-group col-sm-3" v-show="['leasing'].includes(input.contract_type) && !!input.companies_id">
                                    <label for="contract_end" class="form-label" style="color: #3cb395;">Fin du contrat</label>
                                    <input type="date" name="contract_end" :class="[stores.bikesStockStore.getErrors.contract_end ? 'error form-control': 'form-control']" id="contract_end" v-model="input.contract_end" />
                                </div>
                                <div class="col-sm-6" v-show="['selling'].includes(input.contract_type) && !!input.companies_id">
                                    <label for="selling_date" class="form-label" style="color: #3cb395;">Date de vente</label>
                                    <input type="date" name="selling_date" :class="[stores.bikesStockStore.getErrors.selling_date ? 'error form-control': 'form-control']" id="selling_date" v-model="input.selling_date" />
                                </div>
                            </div> -->

                        <!-- Bike informations sections -->
                        <br />
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Informations sur le vélo
                        </h4>
                        <hr />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="brand"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Marque</label
                                >
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors.brand
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="brand"
                                    id="brand"
                                    v-model="input.brand"
                                >
                                    <option value="" disabled>
                                        Choisir une option
                                    </option>
                                    <option value="Conway">Conway</option>
                                    <option value="Ahooga">Ahooga</option>
                                    <option value="Benno">Benno</option>
                                    <option value="Bzen">Bzen</option>
                                    <option value="Douze">Douze</option>
                                    <option value="Kayza">Kayza</option>
                                    <option value="Moustache">Moustache</option>
                                    <option value="Victoria">Victoria</option>
                                    <option value="Giant">Giant</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="bikes_catalog_id"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Modèle</label
                                >
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .bikes_catalog_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="bikes_catalog_id"
                                    id="bikes_catalog_id"
                                    v-model="input.bikes_catalog_id"
                                >
                                    <option value="" disabled>
                                        Choisir une option
                                    </option>
                                    <option
                                        v-for="item in models"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.model }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="size"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Taille</label
                                >
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors.size
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="size"
                                    id="size"
                                    v-model="input.size"
                                >
                                    <option value="" disabled>
                                        Choisir une option
                                    </option>
                                    <option
                                        v-for="item in sizes"
                                        :key="item"
                                        :value="item"
                                    >
                                        {{ item }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="color"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Couleur</label
                                >
                                <input
                                    type="text"
                                    name="color"
                                    placeholder="Noir"
                                    :class="[
                                        stores.bikesStockStore.getErrors.color
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="color"
                                    v-model="input.color"
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="frame_number"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Référence interne</label
                                >
                                <input
                                    type="text"
                                    placeholder="123456789"
                                    name="frame_number"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .frame_number
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="frame_number"
                                    v-model="input.frame_number"
                                />
                            </div>
                            <!-- <div class="form-group col-sm-6">
                                    <label for="frame_reference" class="form-label" style="color: #3cb395;">Numéro de cadre</label>
                                    <input type="text" placeholder="123456789" name="frame_reference" :class="[stores.bikesStockStore.getErrors.frame_reference ? 'error form-control': 'form-control']" id="frame_reference" v-model="input.frame_reference" />
                                </div> -->
                        </div>

                        <!-- <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="locker_reference" class="form-label" style="color: #3cb395;">Référence du cadenas</label>
                                    <input type="text" name="locker_reference" :class="[stores.bikesStockStore.getErrors.locker_reference ? 'error form-control': 'form-control']" id="locker_reference" placeholder="123456789" v-model="input.locker_reference" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="key_reference" class="form-label" style="color: #3cb395;">Référence de la clé</label>
                                    <input type="text" name="key_reference" :class="[stores.bikesStockStore.getErrors.key_reference ? 'error form-control': 'form-control']" id="key_reference" placeholder="123456789" v-model="input.key_reference" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="plate_number" class="form-label" style="color: #3cb395;">Numero de plaque</label>
                                    <input type="text" name="plate_number" :class="[stores.bikesStockStore.getErrors.plate_number ? 'error form-control': 'form-control']" id="plate_number" v-model="input.plate_number" placeholder="123456789" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="gps_id" class="form-label" style="color: #3cb395;">Identification du GPS</label>
                                    <input type="text" placeholder="123456789" name="gps_id" :class="[stores.bikesStockStore.getErrors.gps_id ? 'error form-control': 'form-control']" id="gps_id" v-model="input.gps_id" />
                                </div>
                            </div> -->

                        <!-- Intern informations sections -->
                        <br />
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Informations internes
                        </h4>
                        <hr />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="bike_price"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Prix d'achat</label
                                >
                                <input
                                    type="number"
                                    name="bike_price"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .bike_price
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="bike_price"
                                    v-model="input.bike_price"
                                    placeholder="0"
                                />
                            </div>
                            <div class="col-sm-6">
                                <label
                                    for="bike_buying_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date d'achat</label
                                >
                                <input
                                    type="date"
                                    name="bike_buying_date"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .bike_buying_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="bike_buying_date"
                                    v-model="input.bike_buying_date"
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="estimated_delivery_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date de livraison estimée</label
                                >
                                <input
                                    type="date"
                                    name="estimated_delivery_date"
                                    :class="[
                                        stores.bikesStockStore.getErrors
                                            .estimated_delivery_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="estimated_delivery_date"
                                    v-model="input.estimated_delivery_date"
                                />
                            </div>
                            <!-- <div class="col-sm-3">
                                    <label for="delivery_date" class="form-label" style="color: #3cb395;">Date de livraison</label>
                                    <input type="date" name="delivery_date" :class="[stores.bikesStockStore.getErrors.delivery_date ? 'error form-control': 'form-control']" id="delivery_date" v-model="input.delivery_date" />
                                </div> -->
                            <!-- <div class="col-sm-6">
                                    <label for="localisation" class="form-label" style="color: #3cb395;">Localisation du vélo</label>
                                    <input type="text" name="localisation" placeholder="Magasin Fragné" :class="[stores.bikesStockStore.getErrors.localisation ? 'error form-control': 'form-control']" id="localisation" v-model="input.localisation" />
                                </div> -->
                        </div>

                        <!-- Prices informations sections
                            <br>
                            <h4 style="text-transform: uppercase; color: #3cb395; font-wieght: bold; ">Informations tarifaires</h4>
                            <hr>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="leasing_price" class="form-label" style="color: #3cb395;">Prix du leasing</label>
                                    <input type="number" placeholder="0" name="leasing_price" :class="[stores.bikesStockStore.getErrors.leasing_price ? 'error form-control': 'form-control']" id="leasing_price" v-model="input.leasing_price" />
                                </div>
                                <div class="col-sm-6">
                                    <label for="selling_price" class="form-label" style="color: #3cb395;">Prix de vente</label>
                                    <input type="number" placeholder="0" name="selling_price" :class="[stores.bikesStockStore.getErrors.selling_price ? 'error form-control': 'form-control']" id="selling_price" v-model="input.selling_price" />
                                </div>
                            </div> -->

                        <!-- Insurances informations sections
                            <br>
                            <h4 style="text-transform: uppercase; color: #3cb395; font-wieght: bold; ">Informations sur les assurances</h4>
                            <hr>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="insurance" class="form-label" style="color: #3cb395;">Assurance</label>
                                    <select :class="[stores.bikesStockStore.getErrors.insurance ? 'error form-control': 'form-control']" name="insurance" id="insurance" v-model="input.insurance">
                                        <option value="Y">Oui</option>
                                        <option value="N">Non</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="insurance_individual" class="form-label" style="color: #3cb395;">Assurance individuelle</label>
                                    <select :class="[stores.bikesStockStore.getErrors.insurance_individual ? 'error form-control': 'form-control']" name="insurance_individual" id="insurance_individual" v-model="input.insurance_individual">
                                        <option value="Y">Oui</option>
                                        <option value="N">Non</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="insurance_civil_responsibility" class="form-label" style="color: #3cb395;">Assurance responsabilité civile</label>
                                    <select :class="[stores.bikesStockStore.getErrors.insurance_civil_responsibility ? 'error form-control': 'form-control']" name="insurance_civil_responsibility" id="insurance_civil_responsibility" v-model="input.insurance_civil_responsibility">
                                        <option value="Y">Oui</option>
                                        <option value="N">Non</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6" v-if="input.insurance_civil_responsibility === 'Y'">
                                    <label for="insurance_civil_responsibility_contract" class="form-label" style="color: #3cb395;">Référence du contrat</label>
                                    <input type="text" placeholder="Entrer une référence" name="insurance_civil_responsibility_contract" :class="[stores.bikesStockStore.getErrors.insurance_civil_responsibility_contract ? 'error form-control': 'form-control']" id="insurance_civil_responsibility_contract" v-model="input.insurance_civil_responsibility_contract" />
                                </div>
                            </div> -->

                        <!-- Others informations sections -->
                        <br />
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Autres informations
                        </h4>
                        <hr />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="usable"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Utilisable</label
                                >
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors.usable
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="usable"
                                    id="usable"
                                    v-model="input.usable"
                                >
                                    <option value="Y">Oui</option>
                                    <option value="N">Non</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="status"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Status</label
                                >
                                <select
                                    :class="[
                                        stores.bikesStockStore.getErrors.status
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="status"
                                    id="status"
                                    v-model="input.status"
                                >
                                    <option value="actif">Actif</option>
                                    <option value="inactif">inactif</option>
                                </select>
                            </div>
                            <!-- <div class="col-sm-12">
                                    <label for="comment_billing" class="form-label" style="color: #3cb395;">Commentaire de facturation</label>
                                    <textarea style="resize: none;" :class="[stores.bikesStockStore.getErrors.comment_billing ? 'error form-control': 'form-control']" placeholder="....." name="comment_billing" id="comment_billing" cols="30" rows="10" v-model="input.comment_billing"></textarea>
                                </div> -->
                        </div>

                        <br />
                        <div>
                            <button
                                style="width: 150px; margin: auto"
                                type="submit"
                                class="btn btn-block"
                            >
                                Ajouter au stock
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { ref, watch, reactive } from "vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import components
import Header from "../ReusableComponents/HeaderComponent.vue";

const input = reactive({
    brand: "",
    bikes_catalog_id: "",
    size: "",
    usable: "Y",
    status: "actif",
});
const sizes = ref([]);
const models = ref([]);

watch(
    () => input.bikes_catalog_id,
    async (bikes_catalog_id) => {
        if (bikes_catalog_id) {
            sizes.value = await stores.bikesCatalogStore.getSizesModel(
                bikes_catalog_id
            );
        }
    }
);

watch(
    () => input.brand,
    async (brand) => {
        if (brand) {
            models.value = await stores.bikesCatalogStore.getModelsFromBrand(
                brand
            );
        }
    }
);

// Define function
function sendForm() {
    stores.bikesStockStore.create(input);
}
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
