<template>
    <div class="row" id="mainDynamicZone">
        <div class="col-sm-12 component-top-bar">
            <button
                @click="$router.push({ name: 'bikes-catalog-list' })"
                style="width: 35px; height: 35px; padding: 0px"
                type="button"
                class="btn"
            >
                <i class="fa fa-arrow-left"></i>
            </button>
            <button
                @click="isOpen = true"
                style="
                    height: 35px;
                    padding: 10px;
                    float: right;
                    margin-right: 5px;
                "
                type="button"
                class="btn btn-danger"
            >
                Supprimer le vélo du catalogue
            </button>
        </div>

        <div class="col-sm-12">
            <div class="widget p-cb">
                <form @change="stores.bikesCatalogStore.update(formData)">
                    <h4
                        style="
                            text-transform: uppercase;
                            color: #3cb395;
                            font-wieght: bold;
                        "
                    >
                        Données principales
                    </h4>
                    <hr />
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label
                                for="brand"
                                class="form-label"
                                style="color: #3cb395"
                                >Marque</label
                            >
                            <input
                                type="text"
                                name="brand"
                                :class="[
                                    stores.bikesCatalogStore.getErrors.brand
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="brand"
                                placeholder="Conway"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .brand
                                "
                            />
                        </div>
                        <div class="form-group col-sm-4">
                            <label
                                for="model"
                                class="form-label"
                                style="color: #3cb395"
                                >Modèle</label
                            >
                            <input
                                type="text"
                                name="model"
                                :class="[
                                    stores.bikesCatalogStore.getErrors.model
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="model"
                                placeholder="Cairon"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .model
                                "
                            />
                        </div>
                        <div class="form-group col-sm-4">
                            <label
                                for="frame_type"
                                class="form-label"
                                style="color: #3cb395"
                                >Type de cadre</label
                            >
                            <select
                                :class="[
                                    stores.bikesCatalogStore.getErrors
                                        .frame_type
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                name="frame_type"
                                id="frame_type"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .frame_type
                                "
                            >
                                <option value="H">Homme</option>
                                <option value="F">Femme</option>
                                <option value="MIXTE">Mixte</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label
                                for="utilisation"
                                class="form-label"
                                style="color: #3cb395"
                                >Utilisation</label
                            >
                            <select
                                name="utilisation"
                                :class="[
                                    stores.bikesCatalogStore.getErrors
                                        .utilisation
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="utilisation"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .utilisation
                                "
                            >
                                <option value="Ville et chemin">
                                    Ville et chemin
                                </option>
                                <option value="Tout chemin">Tout chemin</option>
                                <option value="VTT">VTT</option>
                                <option value="Ville">Ville</option>
                                <option value="Speed Pedelec">
                                    Speed Pedelec
                                </option>
                                <option value="Cargo">Cargo</option>
                                <option value="Pliant">Pliant</option>
                                <option value="Gravel">Gravel</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label
                                for="electric"
                                class="form-label"
                                style="color: #3cb395"
                                >Electrique</label
                            >
                            <select
                                :class="[
                                    stores.bikesCatalogStore.getErrors.electric
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                name="electric"
                                id="electric"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .electric
                                "
                            >
                                <option value="Y">Oui</option>
                                <option value="N">Non</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label
                                for="electric"
                                class="form-label"
                                style="color: #3cb395"
                                >Afficher ?</label
                            >
                            <select
                                :class="[
                                    stores.bikesCatalogStore.getErrors.display
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                name="electric"
                                id="electric"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .display
                                "
                            >
                                <option value="1">Oui</option>
                                <option value="0">Non</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label
                                for="sizes"
                                class="form-label"
                                style="color: #3cb395"
                                >Tailles</label
                            >
                            <select
                                :class="[
                                    stores.bikesCatalogStore.getErrors.sizes
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                name="sizes[]"
                                id="sizes"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .sizes
                                "
                                multiple
                            >
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="UNIQUE">UNIQUE</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label
                                for="season"
                                class="form-label"
                                style="color: #3cb395"
                                >Saison</label
                            >
                            <select
                                name="season"
                                :class="[
                                    stores.bikesCatalogStore.getErrors.season
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="season"
                                placeholder="2020-2021"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .season
                                "
                            >
                                <option value="" disabled>
                                    Choisir une option
                                </option>
                                <option value="2019-2020">2019-2020</option>
                                <option value="2020-2021">2020-2021</option>
                                <option value="2021-2022">2021-2022</option>
                                <option value="2022-2023">2022-2023</option>
                                <option value="2023-2024">2023-2024</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label
                                for="status"
                                class="form-label"
                                style="color: #3cb395"
                                >Status</label
                            >
                            <select
                                :class="[
                                    stores.bikesCatalogStore.getErrors.status
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                name="status"
                                id="status"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .status
                                "
                            >
                                <option value="actif">Actif</option>
                                <option value="inactif">Inactif</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <h4
                        style="
                            text-transform: uppercase;
                            color: #3cb395;
                            font-wieght: bold;
                        "
                    >
                        Données mécaniques
                    </h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-4">
                            <label
                                for="motor"
                                class="form-label"
                                style="color: #3cb395"
                                >Moteur</label
                            >
                            <input
                                type="text"
                                name="motor"
                                :class="[
                                    stores.bikesCatalogStore.getErrors.motor
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="motor"
                                placeholder="Bosh"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .motor
                                "
                            />
                        </div>
                        <div class="col-sm-4">
                            <label
                                for="battery"
                                class="form-label"
                                style="color: #3cb395"
                                >Batterie</label
                            >
                            <input
                                type="text"
                                name="battery"
                                :class="[
                                    stores.bikesCatalogStore.getErrors.battery
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="battery"
                                placeholder="Bosh"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .battery
                                "
                            />
                        </div>
                        <div class="col-sm-4">
                            <label
                                for="transmission"
                                class="form-label"
                                style="color: #3cb395"
                                >Transmission</label
                            >
                            <input
                                type="text"
                                name="transmission"
                                :class="[
                                    stores.bikesCatalogStore.getErrors
                                        .transmission
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="transmission"
                                placeholder="Bosh"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .transmission
                                "
                            />
                        </div>
                        <div class="col-sm-4">
                            <label
                                for="wheel_size"
                                class="form-label"
                                style="color: #3cb395"
                                >Taille des roues</label
                            >
                            <input
                                type="number"
                                name="wheel_size"
                                :class="[
                                    stores.bikesCatalogStore.getErrors
                                        .wheel_size
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="wheel_size"
                                placeholder="10"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .wheel_size
                                "
                            />
                        </div>
                        <div class="col-sm-4">
                            <label
                                for="fork"
                                class="form-label"
                                style="color: #3cb395"
                                >Fourche</label
                            >
                            <input
                                type="text"
                                name="fork"
                                :class="[
                                    stores.bikesCatalogStore.getErrors.fork
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="fork"
                                placeholder="Fox"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog.fork
                                "
                            />
                        </div>
                        <div class="col-sm-4">
                            <label
                                for="absorber"
                                class="form-label"
                                style="color: #3cb395"
                                >Suspension</label
                            >
                            <input
                                type="text"
                                name="absorber"
                                :class="[
                                    stores.bikesCatalogStore.getErrors.absorber
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="absorber"
                                placeholder="Fox"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .absorber
                                "
                            />
                        </div>
                        <div class="col-sm-4">
                            <label
                                for="gears"
                                class="form-label"
                                style="color: #3cb395"
                                >Roulement</label
                            >
                            <select
                                name="gears"
                                :class="[
                                    stores.bikesCatalogStore.getErrors.gears
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="gears"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .gears
                                "
                            >
                                <option value="" disabled>
                                    Choisir une option
                                </option>
                                <option value="1">1</option>
                                <option value="5">5</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="Changement continu">
                                    Changement continu
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label
                                for="shifter"
                                class="form-label"
                                style="color: #3cb395"
                                >Levier de vitesse</label
                            >
                            <input
                                type="text"
                                name="shifter"
                                :class="[
                                    stores.bikesCatalogStore.getErrors.shifter
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="shifter"
                                placeholder="Shimano"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .shifter
                                "
                            />
                        </div>
                        <div class="col-sm-4">
                            <label
                                for="cassette"
                                class="form-label"
                                style="color: #3cb395"
                                >Cassette</label
                            >
                            <input
                                type="text"
                                name="cassette"
                                :class="[
                                    stores.bikesCatalogStore.getErrors.cassette
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="cassette"
                                placeholder="Shimano"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .cassette
                                "
                            />
                        </div>
                        <div class="col-sm-4">
                            <label
                                for="brakes"
                                class="form-label"
                                style="color: #3cb395"
                                >Frein</label
                            >
                            <input
                                type="text"
                                name="brakes"
                                :class="[
                                    stores.bikesCatalogStore.getErrors.brakes
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="brakes"
                                placeholder="Shimano"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .brakes
                                "
                            />
                        </div>
                        <div class="col-sm-4">
                            <label
                                for="front_brakes_size"
                                class="form-label"
                                style="color: #3cb395"
                                >Taille frein avant</label
                            >
                            <input
                                type="number"
                                name="front_brakes_size"
                                :class="[
                                    stores.bikesCatalogStore.getErrors
                                        .front_brakes_size
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="front_brakes_size"
                                placeholder="12"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .front_brakes_size
                                "
                            />
                        </div>
                        <div class="col-sm-4">
                            <label
                                for="back_brakes_size"
                                class="form-label"
                                style="color: #3cb395"
                                >Taille frein arrière</label
                            >
                            <input
                                type="number"
                                name="back_brakes_size"
                                :class="[
                                    stores.bikesCatalogStore.getErrors
                                        .back_brakes_size
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="back_brakes_size"
                                placeholder="12"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .back_brakes_size
                                "
                            />
                        </div>
                        <div class="col-sm-4">
                            <label
                                for="weight"
                                class="form-label"
                                style="color: #3cb395"
                                >Poid</label
                            >
                            <input
                                type="number"
                                name="weight"
                                :class="[
                                    stores.bikesCatalogStore.getErrors.weight
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="weight"
                                placeholder="24"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .weight
                                "
                            />
                        </div>
                    </div>
                    <br />
                    <h4
                        style="
                            text-transform: uppercase;
                            color: #3cb395;
                            font-wieght: bold;
                        "
                    >
                        Données de stock
                    </h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <label
                                for="minimal_stock"
                                class="form-label"
                                style="color: #3cb395"
                                >Stock minimum</label
                            >
                            <input
                                type="number"
                                name="minimal_stock"
                                :class="[
                                    stores.bikesCatalogStore.getErrors
                                        .minimal_stock
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="minimal_stock"
                                placeholder="1862"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .minimal_stock
                                "
                            />
                        </div>
                        <div class="col-sm-6">
                            <label
                                for="optimal_stock"
                                class="form-label"
                                style="color: #3cb395"
                                >Stock optimal</label
                            >
                            <input
                                type="number"
                                name="optimal_stock"
                                :class="[
                                    stores.bikesCatalogStore.getErrors
                                        .optimal_stock
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                                id="optimal_stock"
                                placeholder="56"
                                v-model="
                                    stores.bikesCatalogStore.getBikeCatalog
                                        .optimal_stock
                                "
                            />
                        </div>
                    </div>
                    <br />
                    <h4
                        style="
                            text-transform: uppercase;
                            color: #3cb395;
                            font-wieght: bold;
                        "
                    >
                        Données tarifaires
                    </h4>
                    <hr />
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label
                                for="buying_price"
                                class="form-label"
                                style="color: #3cb395"
                                >Prix d'achat</label
                            >
                            <div class="input-group mb-3">
                                <input
                                    type="text"
                                    name="buying_price"
                                    :class="[
                                        stores.bikesCatalogStore.getErrors
                                            .buying_price
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="buying_price"
                                    placeholder="2548"
                                    v-model="
                                        stores.bikesCatalogStore.getBikeCatalog
                                            .buying_price
                                    "
                                />
                                <div class="input-group-prepend">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label
                                for="price_htva"
                                class="form-label"
                                style="color: #3cb395"
                                >Prix htva</label
                            >
                            <div class="input-group mb-3">
                                <input
                                    type="text"
                                    name="price_htva"
                                    :class="[
                                        stores.bikesCatalogStore.getErrors
                                            .price_htva
                                            ? 'error form-control form-control'
                                            : 'form-control',
                                    ]"
                                    id="price_htva"
                                    placeholder="2548"
                                    v-model="
                                        stores.bikesCatalogStore.getBikeCatalog
                                            .price_htva
                                    "
                                />
                                <div class="input-group-prepend">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4
                        style="
                            text-transform: uppercase;
                            color: #3cb395;
                            font-wieght: bold;
                        "
                    >
                        Galerie
                    </h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label" style="color: #3cb395"
                                >Les images seront affichées par ordre
                                alphabétique</label
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label class="form-label" style="color: #be3d3d">{{
                                stores.bikesCatalogStore.getFileErrors.message
                            }}</label>
                            <label type="button" class="btn btn-block"
                                >Ajouter des images
                                <input
                                    type="file"
                                    name="images[]"
                                    class="form-control"
                                    id="images"
                                    accept="image/jpg,image/jpeg,image/png,image/gif,image/svg,image/webp,video/mp4,video/webm,video/ogg"
                                    multiple
                                    hidden
                                    @change="
                                        uploadFile({
                                            e: $event,
                                            formData: formData,
                                            action: 'update',
                                            store: stores.bikesCatalogStore,
                                            stateFiles:
                                                stores.bikesCatalogStore
                                                    .getBikeCatalog.pictures,
                                            fileType: ['image', 'video'],
                                        })
                                    "
                                />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div
                            class="col-sm-3"
                            v-for="item in stores.bikesCatalogStore
                                .getBikeCatalog.pictures"
                            :key="item"
                        >
                            <div class="imgContainer">
                                <img
                                    v-if="
                                        [
                                            'jpg',
                                            'jpeg',
                                            'png',
                                            'gif',
                                            'svg',
                                            'webp',
                                        ].includes(
                                            item.split('.').pop().toLowerCase()
                                        )
                                    "
                                    id="catalogImage"
                                    :src="
                                        '../../../../../storage/bikes_pictures/' +
                                        route.params.id +
                                        '/' +
                                        item
                                    "
                                />
                                <video
                                    v-if="
                                        ['mp4', 'webm', 'ogg'].includes(
                                            item.split('.').pop().toLowerCase()
                                        )
                                    "
                                    id="catalogImage"
                                    :src="
                                        '../../../../../storage/bikes_pictures/' +
                                        route.params.id +
                                        '/' +
                                        item
                                    "
                                    controls
                                ></video>
                                <div class="overlay">{{ item }}</div>
                                <button
                                    id="deleteImageButton"
                                    type="button"
                                    class="btn btn-danger"
                                    @click="
                                        removePicture({
                                            id: route.params.id,
                                            vue: 'update',
                                            name: item,
                                            store: stores.bikesCatalogStore,
                                        })
                                    "
                                >
                                    X
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <DeleteValidationModal
        :open="isOpen"
        @close="isOpen = !isOpen"
        :id="stores.bikesCatalogStore.getBikeCatalog.id"
        :store="stores.bikesCatalogStore"
    />
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref } from "vue";
import DeleteValidationModal from "../Modals/DeleteValidationModal.vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import function
import { uploadFile, removePicture } from "../../../functions/globalFunctions";

const isOpen = ref(false);
const route = useRoute();
var formData = new FormData();

// Call functions
stores.bikesCatalogStore.show(route.params.id);
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
#catalogImage {
    width: 100%;
    max-height: 200px;
    position: relative;
}
#deleteImageButton {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(190, 61, 61);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 0px;
    opacity: 0;
}
.imgContainer {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.imgContainer:hover .overlay {
    opacity: 1;
}
.imgContainer:hover #deleteImageButton {
    opacity: 1;
}
</style>
