<template>
    <div class="row" id="mainDynamicZone">
        <div class="col-sm-12 component-top-bar">
            <button
                @click="$router.push({ name: 'bikes-catalog-list' })"
                style="width: 35px; height: 35px; padding: 0px; float: left"
                type="button"
                class="btn"
            >
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>

        <div class="col-sm-6">
            <div class="widget p-cb" style="height: 600px">
                <h4>Informations générales</h4>
                <div style="overflow-y: auto; height: 500px">
                    <div
                        v-show="!!stores.bikesCatalogStore.getBikeCatalog.brand"
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Marque</label
                        >
                        <p>
                            {{ stores.bikesCatalogStore.getBikeCatalog.brand }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="!!stores.bikesCatalogStore.getBikeCatalog.model"
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Modèle</label
                        >
                        <p>
                            {{ stores.bikesCatalogStore.getBikeCatalog.model }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog.frame_type
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >type de cadre</label
                        >
                        <p>
                            {{
                                stores.bikesCatalogStore.getBikeCatalog
                                    .frame_type
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog
                                .utilisation
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Utilisation</label
                        >
                        <p>
                            {{
                                stores.bikesCatalogStore.getBikeCatalog
                                    .utilisation
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog.electric
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Utilisation</label
                        >
                        <p>
                            {{
                                stores.bikesCatalogStore.getBikeCatalog.electric
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="!!stores.bikesCatalogStore.getBikeCatalog.sizes"
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Tailles</label
                        >
                        <p>
                            {{
                                stores.bikesCatalogStore.getBikeCatalog.sizes.join(
                                    ", "
                                )
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog.season
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Saison</label
                        >
                        <p>
                            {{ stores.bikesCatalogStore.getBikeCatalog.season }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog
                                .minimal_stock
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Stock minimum</label
                        >
                        <p>
                            {{
                                stores.bikesCatalogStore.getBikeCatalog
                                    .minimal_stock
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog
                                .optimal_stock
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Stock optimal</label
                        >
                        <p>
                            {{
                                stores.bikesCatalogStore.getBikeCatalog
                                    .optimal_stock
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog.status
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Status</label
                        >
                        <p>
                            {{ stores.bikesCatalogStore.getBikeCatalog.status }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="widget p-cb">
                <h4>Galerie</h4>
                <div
                    style="
                        overflow-y: auto;
                        overflow-x: clip;
                        max-height: 250px;
                    "
                >
                    <div class="row">
                        <p
                            v-show="
                                stores.bikesCatalogStore.getBikeCatalog.pictures
                                    ?.length === 0 ||
                                !stores.bikesCatalogStore.getBikeCatalog
                                    .pictures
                            "
                            style="
                                text-align: center;
                                color: #3cb395;
                                text-transform: uppercase;
                            "
                        >
                            Pas d'images disponibles
                        </p>
                        <div
                            class="col-sm-6"
                            v-for="item in stores.bikesCatalogStore
                                .getBikeCatalog.pictures"
                            :key="item"
                        >
                            <img
                                v-if="
                                    [
                                        'jpg',
                                        'jpeg',
                                        'png',
                                        'gif',
                                        'svg',
                                        'webp',
                                    ].includes(
                                        item.split('.').pop().toLowerCase()
                                    )
                                "
                                id="catalogImage"
                                :src="
                                    '../../../../../storage/bikes_pictures/' +
                                    route.params.id +
                                    '/' +
                                    item
                                "
                            />
                            <video
                                v-if="
                                    ['mp4', 'webm', 'ogg'].includes(
                                        item.split('.').pop().toLowerCase()
                                    )
                                "
                                id="catalogImage"
                                :src="
                                    '../../../../../storage/bikes_pictures/' +
                                    route.params.id +
                                    '/' +
                                    item
                                "
                                controls
                            ></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="widget p-cb">
                <h4>Informations tarifaires</h4>
                <div style="overflow-y: auto">
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog
                                .buying_price
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Prix d'achat</label
                        >
                        <p>
                            {{
                                stores.bikesCatalogStore.getBikeCatalog
                                    .buying_price
                            }}€
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog.price_htva
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Prix htva</label
                        >
                        <p>
                            {{
                                stores.bikesCatalogStore.getBikeCatalog
                                    .price_htva
                            }}€
                        </p>
                    </div>
                </div>
            </div>

            <div class="widget p-cb" style="max-height: 600px">
                <h4>Informations mécanique</h4>
                <div style="overflow-y: auto; max-height: 500px">
                    <p
                        v-show="
                            !stores.bikesCatalogStore.getBikeCatalog.motor &&
                            !stores.bikesCatalogStore.getBikeCatalog.battery &&
                            !stores.bikesCatalogStore.getBikeCatalog.transmition
                        "
                        style="
                            text-align: center;
                            color: #3cb395;
                            text-transform: uppercase;
                        "
                    >
                        Pas d'informations mécanique disponible
                    </p>
                    <div
                        v-show="!!stores.bikesCatalogStore.getBikeCatalog.motor"
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Moteur</label
                        >
                        <p>
                            {{ stores.bikesCatalogStore.getBikeCatalog.motor }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog.battery
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Batterie</label
                        >
                        <p>
                            {{
                                stores.bikesCatalogStore.getBikeCatalog.battery
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog
                                .transmition
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Transmission</label
                        >
                        <p>
                            {{
                                stores.bikesCatalogStore.getBikeCatalog
                                    .transmition
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog.wheel_size
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Taille des roues</label
                        >
                        <p>
                            {{
                                stores.bikesCatalogStore.getBikeCatalog
                                    .wheel_size
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="!!stores.bikesCatalogStore.getBikeCatalog.fork"
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Fourche</label
                        >
                        <p>
                            {{ stores.bikesCatalogStore.getBikeCatalog.fork }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog.absorber
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Suspension</label
                        >
                        <p>
                            {{
                                stores.bikesCatalogStore.getBikeCatalog.absorber
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="!!stores.bikesCatalogStore.getBikeCatalog.gears"
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Roulement</label
                        >
                        <p>
                            {{ stores.bikesCatalogStore.getBikeCatalog.gears }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog.shifter
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Levier de vitesse</label
                        >
                        <p>
                            {{
                                stores.bikesCatalogStore.getBikeCatalog.shifter
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog.cassette
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Cassette</label
                        >
                        <p>
                            {{
                                stores.bikesCatalogStore.getBikeCatalog.cassette
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog.brakes
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Frein</label
                        >
                        <p>
                            {{ stores.bikesCatalogStore.getBikeCatalog.brakes }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog
                                .front_brakes_size
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Taille du frein avant</label
                        >
                        <p>
                            {{
                                stores.bikesCatalogStore.getBikeCatalog
                                    .front_brakes_size
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog
                                .back_brakes_size
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Taille du frein arrière</label
                        >
                        <p>
                            {{
                                stores.bikesCatalogStore.getBikeCatalog
                                    .back_brakes_size
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.bikesCatalogStore.getBikeCatalog.weight
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Poids</label
                        >
                        <p>
                            {{ stores.bikesCatalogStore.getBikeCatalog.weight }}
                        </p>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";

// Import stores
import * as stores from "../../../store/StoresIndex";

const route = useRoute();

// Call functions
stores.bikesCatalogStore.show(route.params.id);
</script>
<style scoped>
#catalogImage {
    width: 100%;
    max-height: 200px;
    position: relative;
}
</style>
