<template>
    <Datatable
        :headers="headers"
        :storeName="storeName"
        :routeName="routeName"
        showBtn
        updateBtn
    />
</template>
<script setup>
import Datatable from "../ReusableComponents/Datatable.vue";
const storeName = "bikesCatalogStore";
const routeName = "bikes-catalog";
const headers = [
    { value: "id", name: "#" },
    { value: "brand", name: "Marque" },
    { value: "model", name: "Modèle" },
    { value: "frame_type", name: "Type de carde" },
    { value: "utilisation", name: "Utilisation" },
    { value: "countS", name: "S" },
    { value: "countM", name: "M" },
    { value: "countL", name: "L" },
    { value: "countXL", name: "XL" },
    { value: "price_htva", name: "Prix" },
];
</script>
