<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Détail du vélo
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.go(-1)"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>

            <div class="col-sm-12" style="text-align: center">
                <img src="/images/velo-dev.jpg" alt="bike" class="img-bike" />
                <p
                    v-if="bike.users_id !== null"
                    style="color: #3cb295; font-size: 1.2em; font-weight: bold"
                >
                    Vélo de
                    {{ bike.user?.firstname }}
                </p>
            </div>

            <div class="col-sm-12 text-center p-2">
                <p v-if="bike.contract_type !== 'selling'">
                    Contrat du
                    <span class="font-weight-bold"
                        >{{ formatDate(bike.contract_start)
                        }}<span class="font-weight-normal"> au </span
                        >{{ formatDate(bike.contract_end) }}</span
                    >
                </p>
                <p v-if="bike.contract_type !== 'selling'">
                    Valeur du contrat :
                    <span class="font-weight-bold"
                        >{{ bike.leasing_price }}€/mois</span
                    >
                </p>
                <p v-if="bike.contract_type === 'selling'">
                    Prix d'achat :
                    <span class="font-weight-bold">{{
                        bike.selling_price
                    }}</span>
                    €
                </p>
            </div>

            <div class="col-sm-6">
                <button
                    class="btn w-100"
                    type="btn"
                    @click="moreInformationsIsOpen = true"
                >
                    Plus d'informations
                </button>
            </div>

            <div class="col-sm-6">
                <button
                    class="btn w-100"
                    type="btn"
                    @click="entretiensInformationsIsOpen = true"
                >
                    Entretiens
                </button>
            </div>
        </div>

        <SmallModal
            :open="moreInformationsIsOpen"
            @close="moreInformationsIsOpen = false"
        >
            <div class="modal-header">
                <h5 class="modal-title">Plus d'informations</h5>
                <button
                    type="button"
                    class="close"
                    @click="moreInformationsIsOpen = !moreInformationsIsOpen"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <p
                            style="
                                color: #3cb295;
                                font-size: 1.2em;
                                font-weight: bold;
                            "
                        >
                            Marque
                        </p>
                        <p>{{ bike.catalog?.brand }}</p>
                    </div>
                    <div class="col-sm-6 text-center">
                        <p
                            style="
                                color: #3cb295;
                                font-size: 1.2em;
                                font-weight: bold;
                            "
                        >
                            Modèle
                        </p>
                        <p>{{ bike.catalog?.model }}</p>
                    </div>
                    <div class="col-sm-6 text-center">
                        <p
                            style="
                                color: #3cb295;
                                font-size: 1.2em;
                                font-weight: bold;
                            "
                        >
                            Taile
                        </p>
                        <p>{{ bike.size }}</p>
                    </div>
                    <div class="col-sm-6 text-center" v-if="!!bike.color">
                        <p
                            style="
                                color: #3cb295;
                                font-size: 1.2em;
                                font-weight: bold;
                            "
                        >
                            Couleur
                        </p>
                        <p>{{ bike.color }}</p>
                    </div>
                    <div class="col-sm-6 text-center">
                        <p
                            style="
                                color: #3cb295;
                                font-size: 1.2em;
                                font-weight: bold;
                            "
                        >
                            Année
                        </p>
                        <p>{{ bike.catalog?.season }}</p>
                    </div>
                    <div class="col-sm-6 text-center">
                        <p
                            style="
                                color: #3cb295;
                                font-size: 1.2em;
                                font-weight: bold;
                            "
                        >
                            Numéro de cadre
                        </p>
                        <p>{{ bike.frame_number }}</p>
                    </div>
                    <div
                        class="col-sm-6 text-center"
                        v-if="!!bike.locker_reference"
                    >
                        <p
                            style="
                                color: #3cb295;
                                font-size: 1.2em;
                                font-weight: bold;
                            "
                        >
                            Référence du cadenas
                        </p>
                        <p>{{ bike.locker_reference }}</p>
                    </div>
                    <div
                        class="col-sm-6 text-center"
                        v-if="!!bike.key_reference"
                    >
                        <p
                            style="
                                color: #3cb295;
                                font-size: 1.2em;
                                font-weight: bold;
                            "
                        >
                            Référence de la clé
                        </p>
                        <p>{{ bike.key_reference }}</p>
                    </div>
                    <div
                        class="col-sm-6 text-center"
                        v-if="!!bike.key_reference"
                    >
                        <p
                            style="
                                color: #3cb295;
                                font-size: 1.2em;
                                font-weight: bold;
                            "
                        >
                            Vélo assuré ?
                        </p>
                        <p>{{ bike.insurance === "Y" ? "Oui" : "Non" }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    @click="moreInformationsIsOpen = !moreInformationsIsOpen"
                >
                    Fermer
                </button>
            </div>
        </SmallModal>

        <MediumModal
            :open="entretiensInformationsIsOpen"
            @close="entretiensInformationsIsOpen = false"
        >
            <div class="modal-header">
                <h5 class="modal-title">Entretiens</h5>
                <button
                    type="button"
                    class="close"
                    @click="
                        entretiensInformationsIsOpen =
                            !entretiensInformationsIsOpen
                    "
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Dâte prévue</th>
                                    <th>Dâte</th>
                                    <th>Statut</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="entretien in entretiens"
                                    :key="entretien.id"
                                >
                                    <td>{{ entretien.id }}</td>
                                    <td>
                                        {{ formatDate(entretien.planned_date) }}
                                    </td>
                                    <td>{{ formatDate(entretien.date) }}</td>
                                    <td>
                                        {{
                                            entretien.status ===
                                                "manualy_planned" ||
                                            entretien.status ===
                                                "automaticaly_planned"
                                                ? "A venir"
                                                : entretien.status ===
                                                  "to_planned"
                                                ? "A plannifier"
                                                : entretien.status === "done"
                                                ? "Terminé"
                                                : entretien.status ===
                                                  "confirmed"
                                                ? "Confirmé"
                                                : entretien.status === "in_shop"
                                                ? "En magasin"
                                                : entretien.status ===
                                                  "waiting_pieces"
                                                ? "En attente de pièces"
                                                : "Inconnu"
                                        }}
                                    </td>
                                    <th class="text-right">
                                        <button
                                            class="btn btn-primary btn-xs"
                                            @click="
                                                showEntretienComment(
                                                    entretien.description
                                                )
                                            "
                                        >
                                            <i class="fa fa-comment"></i>
                                        </button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    @click="
                        entretiensInformationsIsOpen =
                            !entretiensInformationsIsOpen
                    "
                >
                    Fermer
                </button>
            </div>
        </MediumModal>

        <SmallModal
            :open="entretienCommentIsOpen"
            @close="closeEntretienComment"
        >
            <div class="modal-header">
                <h5 class="modal-title">Commentaire</h5>
                <button
                    type="button"
                    class="close"
                    @click="closeEntretienComment"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p
                            class="text-center font-weight-bold"
                            style="color: #3cb295"
                            v-if="entretienComment === null"
                        >
                            Pas de commentaire
                        </p>
                        <p v-else>{{ entretienComment }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn"
                    @click="closeEntretienComment"
                >
                    Fermer
                </button>
            </div>
        </SmallModal>
    </div>
</template>
<script setup>
// Import dependencies
import { ref } from "vue";
import { useRoute } from "vue-router";

// Import stores
import * as stores from "../../../../store/StoresIndex";

// Import functions
import {
    generateDatatable,
    formatDate,
} from "../../../../functions/globalFunctions";

// Import components
import MediumModal from "../../Modals/Medium";
import SmallModal from "../../Modals/Small";

const route = useRoute();
const moreInformationsIsOpen = ref(false);
const entretiensInformationsIsOpen = ref(false);
const entretienCommentIsOpen = ref(false);
const entretienComment = ref("");
const bike = ref({});
const entretiens = ref([]);

bike.value = await stores.bikesStockStore.getBikeStockById(route.params.id);
if (bike.value.users_id)
    stores.usersStore
        .getUserById(bike.value.users_id)
        .then((data) => (bike.value.user = data));

stores.entretiensStore
    .getEntretiensByBikeId(route.params.id)
    .then((data) => (entretiens.value = data));

// Call functions
generateDatatable(false, false, false);

// Define methods
const resetEntretienComment = () => {
    entretienComment.value = "";
};

const closeEntretienComment = () => {
    entretienCommentIsOpen.value = false;
    resetEntretienComment();
};

const showEntretienComment = (comment) => {
    entretienComment.value = comment;
    entretienCommentIsOpen.value = true;
};
</script>
<style scoped>
.img-bike {
    width: 500px;
    max-width: 100%;
    object-fit: contain;
}
.btn {
    background-color: #3cb395 !important;
    border-color: #3cb395 !important;
}
</style>
