<template>
    <div class="widget p-cb">
        <h4 style="color: #3cb295">Gestion des vélos</h4>
        <table class="table datatable" style="width: 100%; max-width: 100%">
            <thead>
                <tr>
                    <th style="text-align: left">#</th>
                    <th style="text-align: center">Marque</th>
                    <th style="text-align: center">Modèle</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="bike in bikes" :key="bike.id">
                    <td style="text-align: left">{{ bike.id }}</td>
                    <td style="text-align: center">{{ bike.catalog.brand }}</td>
                    <td style="text-align: center">{{ bike.catalog.model }}</td>
                    <td>
                        <router-link
                            :to="{
                                name: 'fleet-manager-bike-management',
                                params: { id: bike.id },
                            }"
                            tag="button"
                            class="btn btn-xs"
                        >
                            <i class="fa fa-eye"></i>
                        </router-link>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script setup>
// Import stores
import * as stores from "../../../../store/StoresIndex";

// Import functions
import { generateDatatable } from "../../../../functions/globalFunctions";

const bikes = await stores.bikesStockStore.getBikesByCompanyAuth();

// Call functions
generateDatatable(false, false, false);
</script>
