<template>
    <div class="container">
        <img src="/images/404.jpg" alt="Kameo bikes 404 not found" />
    </div>
</template>
<script setup>
import Auth from "../Auth";

const { onMounted } = require("@vue/runtime-core");

onMounted(() => {
    let tID = setTimeout(function () {
        if (Auth.check()) {
            this.location.href = "/dashboard";
        } else {
            this.location.href = "/";
        }
        window.clearTimeout(tID); // clear time out. }, 5000); //after 5 sec
    });
});
</script>
<style scoped>
.container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img {
    display: block;
    margin: 0 auto;
}
</style>
