<template>
    <div class="card">
        <div><h2>SHOP</h2></div>
        <div>
            <p>
                <strong>Besoin de faire réparer votre vélo ?</strong><br />
                Consultez nos tarifs et réservez en ligne !
            </p>
        </div>
        <div>
            <img
                src="/images/repair_miniature.jpg"
                alt="miniature banner pro KAMEO Bikes"
            />
        </div>
    </div>
</template>

<script></script>

<style scoped>
.card {
    overflow: hidden;
}
h2 {
    text-align: center;
    width: 50%;
    margin: 0 25%;
    background-color: red;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    text-align: center;
    padding: 1em;
}
strong {
    font-weight: bold;
}
</style>
