<template>
    <Navigation />
    <main>
        <div class="full-width">
            <h1>CONDITIONS GÉNÉRALES D'UTILISATION</h1>

            <p>
                Welcome toKAMEO Bikes website<br />
                KAMEO BIKES SPRL is a Belgian company established at<br />
                Quai de Rome, 22<br />
                4000 Liège, Belgium.<br />
                Company number 0681.879.712.<br />
                VAT number BE0681.879.712.<br />
                E-mail address: info@kameobikes.com<br />
                We respect your privacy<br />
                This website uses cookies, plugins and hyperlinks.<br />
                At KAMEO Bikes we are committed to protecting and respecting
                your privacy. For more information, read our Privacy Policy.<br />
            </p>

            <h2>Intellectual property</h2>
            <p>
                If you comply with these terms, we grant you a non-exclusive,
                non-transferable, limited and revocable right of use of the
                website for non-commercial purposes, as described in this
                document.<br /><br />

                This website and all content that we put at your disposal,
                including software, pictures, graphic elements, logos,
                documents, texts, slogans, user content, and other information
                (“Content”), as well as all related intellectual property rights
                (including copyrights, database rights and trademark rights) and
                other rights, are our exclusive property, or are the property of
                their respective holders.<br /><br />

                You are not allowed to copy, display, republish, translate,
                offer, transfer or distribute in any way, any part of the
                website or of the Content, except as explicitly allowed in these
                terms or otherwise explicitly permitted in writing by us and the
                respective holders.
            </p>

            <h2>Contents</h2>
            <p>
                KAMEO Bikes may provide links to third party
                apps/contents/services for information purposes via hyperlinks
                or plugins.<br />
                KAMEO Bikes may also allow users to post contents such as
                pictures, ratings, reviews, comments, questions, and other
                information (“User Contents”), which are the property of the
                user concerned.<br />
                You agree not to post User Contents with any commercial or
                professional purposes or that may be unlawful, harmful, abusive,
                offensive, defamatory, infringing, harassing, invasive of
                personal privacy or otherwise inappropriate. We reserve the
                right to refuse and/or remove any User Contents that we believe,
                in our sole discretion, violate these terms.<br />
                By posting User Contents on this website: you grant us a
                non-exclusive, transferable, sub-licensable, royalty-free,
                perpetual, worldwide and irrevocable license to use, modify,
                translate, reproduce, publish and distribute your User Contents
                in connection with KAMEO Bikes and any other of our services and
                of the services of our affiliated companies; you grant each User
                of this website a non-exclusive, non-transferable and
                royalty-free license to use your User Contents as permitted
                through the features of the website and in accordance with these
                terms; you represent and warrant that you have all rights
                necessary for the purpose of this section.<br />
            </p>

            <h2>Liability</h2>
            <p>
                We do not explicitly or implicitly make any commitment
                concerning: the website’s availability at a specific place and a
                specific point in time, or its compatibility with your hardware,
                or undisturbed use, continuity, the absence of viruses, bugs or
                other faults and any remedies; the website’s content, including
                the User Contents and the links to third-party
                apps/contents/services.<br />
                To the extent permitted by applicable law, we are not liable for
                any harm resulting from the website and our products and
                services, unless in the case of an intentional fault.<br />
                Our liability is in any case excluded for indirect damages such
                as loss of income, loss of productivity and loss of data, or for
                moral damages, including (but not limited to) reputational
                damage.<br />
                The limitation of liability in the foregoing sections applies to
                the extent permitted by applicable law, irrespective of the
                applicable liability regime, and even in case of a serious
                fault.<br />
            </p>
            <h2>Governing law</h2>

            <p>
                These terms are exclusively governed by Belgian law. The courts
                of the place of our registered office have exclusive
                jurisdiction to settle any dispute regarding these terms,
                without prejudice to the applicable mandatory law that provides
                that the courts of your place of residence are competent.<br />
                If you do not accept these terms, then you must stop all use or
                visiting of the website and you should not purchase any bikes or
                book a test ride.<br />
                Language. Our website is translated in several languages either
                by us or by automatic translation services. The language of
                reference in case of dispute will be French and therefore the
                French version on our website.
            </p>

            <h2>Sales terms and conditions</h2>

            <p>
                The sales terms and conditions apply to every single offer of
                product and service offers from KAMEO Bikes to a client.<br />
                You shall bear the sole and exclusive responsibility for all
                aspects of your rides, including the compliance with all road,
                traffic and insurance rules that may apply to you. These rules
                may vary in each country. It is your responsibility to assess
                your compliance in this respect and to add, if required by your
                country rules, a bell or specific reflectors, etc.<br />
                You shall bear your owns costs relating to the use of your KAMEO
                Bikes bike and accessories, including any costs relating to
                reloading of the battery, etc.<br />
                Placing an online order on the website constitutes a formal
                acceptance of KAMEO Bikes sales terms and conditions and of
                KAMEO Bikes’ data protection policy, which are available on our
                website.<br />
                KAMEO Bikes describes in a clear, complete and accurate way the
                products it sells to you, as well as the steps of the delivery
                process.<br />
                The purchase agreement is concluded once KAMEO Bikes confirms
                your order in writing. The confirmation will be issued as soon
                as KAMEO Bikes has the confirmation of your payment. When you
                order a bike with additional accessories, the complete order
                will be delivered at once. In case one or several accessories
                would be missing, our team will contact with you and they will
                offer you the possibility to send directly the bike and to
                organize a second delivery, free of charge, with the missing
                articles.<br />
                The applicable prices are those in force at the moment of the
                conclusion of the purchase agreement. During the period
                mentioned in KAMEO Bikes’ offer, prices do not change, except
                for changes that may result from different applicable tax rates.
            </p>

            <h2>Delivery and execution</h2>

            <p>
                The delivery period indicated by KAMEO Bikes shall be based on
                the circumstances applicable to KAMEO Bikes at the time the
                agreement became effective.<br />
                Unless the parties have agreed otherwise, KAMEO Bikes shall
                deliver the goods by transferring the physical possession or
                control of the goods to the consumer without undue delay, and
                not later than 30 days from the conclusion of the contract.<br />
                In the case we failed to fulfil our obligation to deliver the
                goods at the time or within the time limit agreed upon with you,
                you shall call upon KAMEO Bikes to make the delivery within an
                additional period of time appropriate to the circumstances. If
                KAMEO Bikes fails to deliver the goods within that additional
                period of time, you shall be entitled to terminate the
                contract.<br />
                The delivery takes place via the selected courier chosen by
                KAMEO Bikes. You will receive a mail notification with the name
                of the company and you will be able to track your delivery.<br />
                When KAMEO Bikes dispatches the goods to you, the risk of loss
                or of damage to the goods shall pass to you at the moment that
                either yourself or a third party indicated by you will sign the
                delivery document for the reception of the goods.<br />
            </p>

            <h2>Delivery</h2>
            <p>
                KAMEO Bikes bikes are resold bikes from our suppliers.<br />
                We deliver to your door In Belgium for a supplementary cost
                (found at checkout).<br />
                If agreed to deliver the bike, KAMEO Bikes reserves the right to
                decline the order or delivery at any time. For more information,
                write to info@kameobikes.com
            </p>

            <h2>Value added tax (VAT)</h2>

            <p>
                The prices on our website are including VAT.<br />
                Companies within the EU, Norway and Switzerland who have a valid
                VAT registration number may make an order exempt of VAT. You
                will find the instructions on the checkout page.
            </p>

            <h2>Invoice</h2>

            <p>
                The invoice will be edited and sent via mail to your address on
                the day of the bike shipment.<br />
                On the invoice, you will find the Bike Identification Number
                (BIN). Each bike has a specific BIN engraved by CNC machine.
                This number is important and will have to be mentioned in all
                correspondence with KAMEO Bikes. It will also be required by
                your insurance company in case you would like to ensure your
                bike.
            </p>

            <h2>Voucher – Coupon</h2>

            <p>
                During a marketing event, a bike fair or for a specific reason,
                you might receive a coupon or a voucher valid on your future
                purchase of a KAMEO Bikes bike on www.kameobikes.com.<br />
                Vouchers cannot be cumulated. You may use only one voucher for
                one bike purchase.<br />
                Vouchers are valid when purchasing a new KAMEO Bikes bike. They
                are not applicable on Return and Exchange bikes.<br />
                KAMEO Bikes vouchers are valid only for KAMEO Bikes bikes
                ordered and paid via the KAMEO Bikes e-shop.
            </p>

            <h2>Force majeure</h2>
            <p>
                If KAMEO Bikes is unable to fulfil any of its obligations
                towards the Client due to force majeure, these obligations shall
                be suspended during the force majeure situation.<br />
                Events of force majeure are all circumstances external to KAMEO
                Bikes’ will and control that render the respect of our
                obligations completely or partly impossible. Such events include
                amongst others strikes, fire, disruption of energy supplies or
                telecommunication networks or communication systems and/or the
                temporary downtime of the e-shop, late delivery or absence of
                delivery by suppliers or other third parties.<br />
            </p>

            <h2>Complaints</h2>
            <p>
                If you would have complaints concerning our products, please do
                not hesitate to contact us as indicated in the warranty.<br />
                These conditions are exclusively governed by Belgian law,
                regardless of your place of residence. The courts of the place
                of our registered office have exclusive jurisdiction to settle
                any dispute regarding these conditions, without prejudice to the
                applicable mandatory law that provides that the courts of your
                place of residence are competent.<br />
                If you are a consumer, you can contact the Federal Consumer
                Mediation Service for an out of court settlement of consumer
                disputes.<br />
                In case of a cross border dispute, you can contact the Online
                Dispute Resolution platform of the European Union.<br />
            </p>

            <h2>Ambassador program</h2>
            <p>
                Booking a test ride with KAMEO Bikes<br />
                KAMEO Bikes is building a network of “Ambassadors” to facilitate
                test rides in most of European big cities.<br />
                Ambassadors are usually KAMEO Bikes riders who are willing to
                share their experience with potential new KAMEO Bikes customers.
                Ambassadors might also be employee from either a bike shop or a
                bike renting platform or the legal representation in specific
                case, who have been accredited by KAMEO Bikes for organizing
                test ride.<br />
                In Europe, KAMEO Bikes has signed a partnership agreement with
                specific platform, B2B businesses or bike shops. When taking a
                test ride with one of these KAMEO Bikes accredited partners, in
                addition to the KAMEO Bikes test rides terms and conditions, the
                test rider will have to agree with the specific terms and
                conditions of the partner.<br />
                KAMEO Bikes Ambassador<br />
                The role of the KAMEO Bikes Ambassador is to facilitate the test
                ride.<br />
                KAMEO Bikes Ambassador will explain to the test rider how to
                ride a KAMEO Bikes bike, how to charge it, how to do the
                necessary adjustment e.g. saddle, and how to change a wheel or a
                tire.<br />
                In case of additional information is needed, the test rider will
                refer to www.kameobikes.com website.<br />
                KAMEO Bikes Ambassador will secure the bike is in proper
                conditions for a safe ride.
            </p>

            <h2>Test rider</h2>
            <p>
                The test rider is willing to test the bike and its riding
                characteristics. For this, he is committed to ride the bike
                according to its purpose, meaning on roads and in the city.
                KAMEO Bikes bikes are smart electric city bikes specially
                designed for city commuting.<br />
                Before the ride, the test rider is required to hand his passport
                or ID card to the KAMEO Bikes Ambassador, in order to collect
                the necessary data, i.e. first and last name, passport or ID
                card number. The data will be deleted after returning the bike
                in good conditions to the Ambassador.<br />
                The ambassador is obliged to take all necessary steps to
                properly secure the personal data he collects.<br />
                The test rider declares he is in good health conditions and he
                is not under influence of alcohol or any drugs. He confirms
                being 18 years old or above.<br />
                The test rider takes full responsibility for himself and for the
                bike. He is committed to comply with the regulation that applies
                on the roads and in the region he will be riding. In case of
                accident or theft, he will register a declaration at the Police
                and he will inform the KAMEO Bikes Ambassador as quickly as
                possible.<br />
                The test rider is responsible for the KAMEO Bikes bike he is
                test riding and he will take all the necessary measures to avoid
                theft, including using a bike lock.<br />
            </p>

            <h2>
                Liability of the test rider, KAMEO Bikes Ambassador and KAMEO
                BIKES SPRL
            </h2>
            <p>
                KAMEO Bikes Ambassador and KAMEO BIKES SPRL are not liable for
                any type of accident that could occur during the test ride,
                whatever the reason of the accident.<br />
                In case of theft documented with the appropriate Police
                declaration, the test rider will have to cover an indemnity to
                KAMEO BIKES SPRL equivalent to 25% of a new KAMEO Bikes similar
                bike.<br />
                The test rider is liable to the KAMEO Bikes Ambassador and to
                KAMEO BIKES SPRL in case of misusage of the bike creating damage
                to the bike. On the other hand, the test rider is not liable for
                damages created by minor negligence creating wear and tear to
                the bike.<br />
                The test rider remains the only one liable in front of the
                Police or in front of the Justice in case of violation of laws,
                regulations or any others matters linked to the KAMEO Bikes test
                ride.<br />
            </p>

            <h2>Privacy Policy</h2>
            <p>
                KAMEO Bikes may store the personal data provided by the test
                rider (first and last name, mobile phone number and/or e-mail
                address), use them for the purpose of processing any purchase by
                the test rider and to contact him by phone or e-mail for product
                information, unless he objected to this. The consent may be
                revoked at any time.<br />
                In case photos of the test ride would be shared by the test
                rider on social media (e.g. photos of the tested bike or photos
                of the test rider himself) the test rider accepts these photos
                might be shared on the KAMEO Bikes social media or KAMEO Bikes
                websites.<br />
            </p>

            <h2>Data protection</h2>
            <p>
                The administrator of personal data collected from the test
                riders is the KAMEO BIKES SPRL, registered in Liège, Belgium.
                The processing of personal data will take place according to the
                rules set out in the Regulation of the European Parliament and
                Council (EU) 2016/679 of 27 April 2016 on the protection of
                individuals with regard to the processing of personal data and
                on the free flow of such data and repeal Directive 95/46 / EC
                (General Regulation on Data Protection).<br />
                Personal data provided by the test riders will be processed in
                order to organize and conduct the purchase of KAMEO Bikes as
                well as to obtain information about the experience of riding
                KAMEO Bikes bikes by the test riders.<br />
                Providing personal data is voluntary, but it is necessary to
                conduct the purchase.<br />
                The test riders who provide personal data have the right to
                access their personal data and subject to the law, have the
                right to:<br />
            </p>
            <ul>
                <li>rectify data</li>
                <li>delete data</li>
                <li>limit data processing</li>
                <li>data transfer</li>
                <li>raise objections</li>
                <li>withdrawal of consent at any time</li>
            </ul>
            <p>
                KAMEO Bikes will collect from participants the following
                data:<br />
            </p>
            <ul>
                <li>name and surname</li>
                <li>e-mail address</li>
                <li>telephone number</li>
            </ul>
            <p>
                KAMEO Bikes will also collect from the client the following
                data: shipping address.<br />
                Test riders and clients have the right to lodge a complaint to
                the President of the Office for Personal Data Protection.<br />
                KAMEO Bikes declares that the data of test riders and clients
                will not be processed in an automated manner and will not be
                profiled.<br />
                The data of the test riders and clients will not be made
                available to external entities, except for provisions provided
                for by law.<br />
                The data of the test riders and clients will be kept for the
                period necessary to achieve the above-mentioned objectives.<br />
                KAMEO Bikes applies technical and organizational measures aimed
                at adequate, appropriate to the threats and categories of data
                covered by the protection of the entrusted personal data. KAMEO
                Bikes has implemented appropriate measures to ensure the degree
                of security corresponding to the risk taking into account the
                state of technical knowledge, implementation cost and nature,
                scope, purpose and context of processing and the risk of
                violating the rights and freedoms of individuals with varying
                likelihood and severity of the threat. In particular, the
                organizer takes into account the risks associated with the
                processing of data resulting from :<br />
            </p>
            <ul>
                <li>accidental or unlawful destruction</li>
                <li>loss, modification, unauthorized disclosure of data</li>
                <li>
                    unauthorized access to personal data sent, stored or
                    otherwise processed
                </li>
            </ul>
            <p>
                KAMEO Bikes does not take any responsibility regarding data
                collected by the Ambassador or the accredited partner.<br />
            </p>
            <h2>Severability</h2>

            <p>
                If any provisions of these terms is found to be invalid under
                any applicable law, such provision shall be deleted without
                affecting the remaining provisions herein.
            </p>

            <h2>Variation of Terms</h2>

            <p>
                KAMEO Bikes is permitted to revise these terms at any time as it
                sees fit, and by using this Website you are expected to review
                these Terms on a regular basis.
            </p>
        </div>
    </main>
    <Footer />
    <Suspense>
        <ChatBox />
    </Suspense>
</template>

<script setup>
import Footer from "./Footer.vue";
import Navigation from "./Navigation.vue";
import ChatBox from "./Dashboard/Chat/ChatBox.vue";
</script>

<style scoped>
h1 {
    margin: 0.6em 0;
    font-size: 1.8em;
    font-weight: bold;
}

h2 {
    margin: 0.8em 0;
    font-size: 1.8em;
    font-weight: bold;
    color: #2cb396;
}

p {
    margin: 1em 0;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5;
}

.full-width {
    width: 80%;
    margin: 2em auto;
    padding: 10px;
}

ul {
    list-style: disc;
}
</style>
