<template>
    <footer>
        <div id="transition">
            <div></div>
        </div>
        <div id="footer">
            <div class="visible-sm">
                <img
                    src="/images/icons/KAMEO_Logo_Activites_Carre_Blanc_Mono.svg"
                />
            </div>
            <div class="hidden-sm">
                <strong>Plan du site</strong>
                <ul>
                    <li>
                        <router-link :to="{ name: 'home' }"
                            >Accueil</router-link
                        >
                    </li>
                    <ul>
                        <li>
                            <router-link :to="{ name: 'pro' }">Pro</router-link>
                        </li>
                        <ul>
                            <li>
                                <router-link :to="{ name: 'pro-employeur' }"
                                    >Employeur</router-link
                                >
                            </li>
                            <li>
                                <router-link :to="{ name: 'pro-employee' }"
                                    >Employé</router-link
                                >
                            </li>
                            <li>
                                <router-link :to="{ name: 'pro-independant' }"
                                    >Indépendant</router-link
                                >
                            </li>
                        </ul>
                        <li>
                            <router-link :to="{ name: 'shop-home' }"
                                >Shop</router-link
                            >
                        </li>
                        <ul>
                            <li>
                                <router-link :to="{ name: 'shop-velo' }"
                                    >Catalogue Vélo</router-link
                                >
                            </li>
                            <li>
                                <router-link :to="{ name: 'shop-accessoires' }"
                                    >Catalogue Accessoires</router-link
                                >
                            </li>
                        </ul>
                        <li>
                            <router-link :to="{ name: 'repair' }"
                                >Repair</router-link
                            >
                        </li>
                        <li>
                            <router-link :to="{ name: 'blog' }"
                                >Blog</router-link
                            >
                        </li>
                        <li>
                            <router-link :to="{ name: 'contact' }"
                                >Contact</router-link
                            >
                        </li>
                    </ul>
                </ul>
            </div>
            <div>
                <p style="text-align: center">
                    Quai de Rome 22, 4000 Liège<br />
                    +32 490 71 21<br />
                    info@kameobikes.com
                </p>
                <div style="text-align: center">
                    <span><strong>Follow us </strong></span>

                    <div
                        style="
                            display: flex;
                            justify-content: center;
                            gap: 10px;
                        "
                    >
                        <a href="https://www.facebook.com/kameobikes">
                            <img
                                src="/images/icons/Facebook.svg"
                                alt="icone facebook"
                                title="icone facebook"
                                class="socialNetworkIcon"
                            />
                        </a>
                        <a href="https://www.linkedin.com/company/14053262/">
                            <img
                                src="/images/icons/Linkedin.svg"
                                alt="icone linkedin"
                                title="icone linkedin"
                                class="socialNetworkIcon"
                            />
                        </a>
                        <a href="https://www.instagram.com/kameobikes/">
                            <img
                                src="/images/icons/Instagram.svg"
                                alt="icone instagram"
                                title="icone instagram"
                                class="socialNetworkIcon"
                            />
                        </a>
                    </div>
                </div>
                <div style="text-align: center; color: white; font-size: 0.8em">
                    <p style="width: 100%">
                        2022 KAMEO BIKES<br />
                        <router-link
                            :to="{ name: 'politique-confidentialite' }"
                        >
                            Politique de confidentialité </router-link
                        ><br />
                        <router-link :to="{ name: 'cgu' }">
                            Conditions générales d'utilisation
                        </router-link>
                    </p>
                </div>
            </div>
            <div>
                <p style="text-align: center">
                    <strong>Horaires d'ouverture :</strong><br />
                    Lundi : <strong>Fermé</strong><br />
                    Mardi : <strong>07h30 - 18h</strong><br />
                    Mercredi : <strong>09h - 18h</strong><br />
                    Jeudi : <strong>09h - 19h</strong><br />
                    Vendredi : <strong>09h - 18h</strong><br />
                    Samedi : <strong>09h-18h</strong><br />
                    Dimanche : <strong>Fermé</strong>
                </p>
            </div>
        </div>
    </footer>
</template>

<script setup>
const { onMounted } = require("@vue/runtime-core");

onMounted(() => {
    let footer = document.querySelector("footer");
    let url = window.location.href;

    if (url.indexOf("shop") != -1) {
        footer.style.backgroundColor = "#d60b52";
    } else if (url.indexOf("pro") != -1) {
        footer.style.backgroundColor = "#2cb396";
    } else if (url.indexOf("repair") != -1) {
        footer.style.backgroundColor = "#1d71b8";
    } else {
        footer.style.backgroundColor = "#000000";
    }
});
</script>

<style scoped>
footer {
    background-color: red;
}
#footer {
    padding: 50px 10%;
    color: white;
    width: 100%;
    margin: auto;
    background-color: #ffffff00;
}
#footer a:not(.btn):not(:hover),
#footer p {
    color: white;
}
#footer > div {
    margin: auto;
    width: 100%;
}
#footer div li {
    text-align: left;
    margin-top: -10px;
}
#transition {
    width: 100%;
    height: 100px;
}
#transition div {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
}
@media (min-width: 1024px) {
    #footer {
        display: flex;
        flex-wrap: wrap;
    }

    #footer > div {
        margin: auto;
        width: 33%;
    }
}
.hidden-sm {
    display: none;
}
.hidden-sm strong {
    text-align: left;
}
.visible-sm {
    display: block;
    text-align: center;
}
.visible-sm img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
ul {
    padding-inline-start: 40px;
}
@media (min-width: 1124px) {
    .hidden-sm {
        display: block;
    }

    .visible-sm {
        display: none;
    }
}

.socialNetworkIcon {
    width: 15px;
}
</style>
