<template>
    <div id="home-screen-container">
        <Navigation class="nav" />
        <!-- Slider Wrapper -->
        <!-- Reprendre le systeme pour le mettre dans une vue -->
        <!-- <Slider /> -->
        <div class="css-slider-wrapper">
            <input
                type="radio"
                name="slider"
                class="slide-radio1"
                checked
                id="slider_1"
            />
            <input
                type="radio"
                name="slider"
                class="slide-radio2"
                id="slider_2"
            />
            <input
                type="radio"
                name="slider"
                class="slide-radio3"
                id="slider_3"
            />
            <input
                type="radio"
                name="slider"
                class="slide-radio4"
                id="slider_4"
            />

            <!-- Slider Pagination -->
            <div class="slider-pagination">
                <label for="slider_1" class="page1"></label>
                <label for="slider_2" class="page2"></label>
                <label for="slider_3" class="page3"></label>
                <label for="slider_4" class="page4"></label>
            </div>

            <!-- Slider #1 -->
            <div class="slider slide-1">
                <img src="/images//logo.png" alt="KAMEO Bikes Logo" />

                <img
                    src="/images/home_slider/main-1.jpg"
                    alt="Image d'acceuil du slider kameo bikes"
                />
                <div class="slider-content">
                    <h2>Notre magasin est ouvert !</h2>
                    <h4>Venez y découvrir une large variété de vélo.</h4>
                </div>
            </div>

            <!-- Slider #2 -->
            <div class="slider slide-2">
                <img
                    src="/images/home_slider/shop-1.png"
                    alt="Image shop du slider kameo bikes"
                />
                <div class="slider-content">
                    <h2>Shop</h2>
                    <h4>Une large gamme de vélo pour tous les gouts !</h4>
                    <router-link :to="{ name: 'shop-home' }">
                        <button type="button" class="buy-now-btn" name="button">
                            Découvrir
                        </button>
                    </router-link>
                </div>
            </div>

            <!-- Slider #3 -->
            <div class="slider slide-3">
                <img
                    src="/images/home_slider/pro-1.png"
                    alt="Image pro du slider kameo bikes"
                />
                <div class="slider-content">
                    <h2>Pro</h2>
                    <h4>Nos plans réservé aux entreprises !</h4>
                    <router-link :to="{ name: 'pro' }">
                        <button type="button" class="buy-now-btn" name="button">
                            Découvrir
                        </button>
                    </router-link>
                </div>
            </div>

            <!-- Slider #4 -->
            <div class="slider slide-4">
                <img
                    src="/images/home_slider/repair-1.png"
                    alt="Image réparation du slider kameo bikes"
                />
                <div class="slider-content">
                    <h2>Repair</h2>
                    <h4>Des spécialistes prêt a réparer votre vélo !</h4>
                    <router-link :to="{ name: 'repair' }">
                        <button type="button" class="buy-now-btn" name="button">
                            Découvrir
                        </button>
                    </router-link>
                </div>
            </div>
        </div>
    </div>

    <div id="card-container">
        <!-- Boucle for sur card avec valeur différentes -->
        <div class="card">
            <router-link :to="{ name: 'shop-home' }">
                <div class="card-header">
                    <h2 class="card-title red">Shop</h2>
                    <p>
                        <strong>Vous êtes un particulier ?</strong
                        ><br />Découvrez nos centaines de vélos via notre
                        catalogue
                    </p>
                </div>
                <div class="card-image">
                    <img
                        src="/images/miniature_shop.jpg"
                        alt="miniature banner pro KAMEO Bikes"
                    />
                </div>
            </router-link>
        </div>
        <div class="card">
            <router-link :to="{ name: 'pro-home' }">
                <div class="card-header">
                    <h2 class="card-title green">Pro</h2>
                    <p>
                        <strong>Vous êtes une entreprise ?</strong><br />Nous
                        vous proposons des solutions de vélos partagés ou vélos
                        de société
                    </p>
                </div>
                <div class="card-image">
                    <img
                        src="/images/b2b_miniature.jpg"
                        alt="miniature banner pro KAMEO Bikes"
                    />
                </div>
            </router-link>
        </div>
        <div class="card">
            <router-link :to="{ name: 'repair-home' }">
                <div class="card-header">
                    <h2 class="card-title blue">Repair</h2>
                    <p>
                        <strong>Besoin de faire réparer votre vélo ?</strong
                        ><br />Consultez nos tarifs et réservez en ligne !
                    </p>
                </div>
                <div class="card-image">
                    <img
                        src="/images/repair_miniature.jpg"
                        alt="miniature banner pro KAMEO Bikes"
                    />
                </div>
            </router-link>
        </div>
    </div>
    <Footer />
    <Suspense>
        <ChatBox />
    </Suspense>
</template>

<script setup>
// import Card from './Card.vue'
import { onMounted } from "vue";
import Footer from "./Dashboard/Footer.vue";
import ChatBox from "./Dashboard/Chat/ChatBox.vue";
import Navigation from "./Navigation.vue";
import Card from "./Card.vue";
// import Slider from "./Slider.vue";
const TIMEOUT = 6000;

let $radios;
let $activeRadio;
let currentIndex;
let radiosLength;

let interval = setInterval(handleNext, TIMEOUT);

function handleNext() {
    $radios = $('input[class*="slide-radio"]');
    $activeRadio = $('input[class*="slide-radio"]:checked');

    currentIndex = $activeRadio.index();
    radiosLength = $radios.length;

    $radios.attr("checked", false);

    if (currentIndex >= radiosLength - 1) {
        $radios.first().click();
    } else {
        $activeRadio.next('input[class*="slide-radio"]').click();
    }
}

function myStopFunction() {
    clearInterval(interval);
}

onMounted(() => {
    document.querySelector(".slider").onmouseover = function () {
        myStopFunction();
    };

    document.querySelector(".slider").onmouseout = function () {
        clearInterval(interval);
        interval = setInterval(handleNext, TIMEOUT);
    };
});
</script>

<style scoped>
.nav {
    position: absolute;
}
.card {
    width: 30%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 20px -15px #000;
    transition: all 0.5s ease-in-out;
}
.card:hover {
    transform: scale(1.025);
    transition: all 0.5s ease-in-out;
}
.card-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-image img {
    width: 100%;
    height: auto;
    margin-bottom: -3px;
    border-radius: 0 0 10px 10px;
}
.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    padding: 1em;
    height: 100%;
}
.card-title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin: -0.9em 0 1em 0;
    padding: 0.675em 0 0.675em 0;
    width: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
}
.css-slider-wrapper {
    display: block;
    background: #fff;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-bottom-right-radius: 500px;
    box-shadow: 0px 10px 30px -20px #000;
}
.slider {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    -webkit-transition: -webkit-transform 1600ms;
    transition: -webkit-transform 1600ms, transform 1600ms;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.slide-1 {
    background: black;
    left: 0;
}
.slide-2 {
    background: linear-gradient(
        0deg,
        rgba(214, 11, 82, 1) 25%,
        rgba(255, 255, 255, 1) 100%
    );
    left: 100%;
}
.slide-3 {
    background: linear-gradient(
        0deg,
        rgba(44, 179, 150, 1) 25%,
        rgba(255, 255, 255, 1) 100%
    );
    left: 200%;
}
.slide-4 {
    background: linear-gradient(
        0deg,
        rgba(29, 113, 184, 1) 25%,
        rgba(255, 255, 255, 1) 100%
    );
    left: 300%;
}
.slider {
    display: flex;
    justify-content: flex-start;
}
.slider-content {
    width: 635px;
    padding-left: 100px;
}
.slider h2 {
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    opacity: 0;
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    margin-top: 0;
    letter-spacing: 2px;
}
.slider h4 {
    font-size: 22px;
    color: rgba(70, 70, 70, 0.75);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2;
    opacity: 0;
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
}
.slider > img {
    position: absolute;
    right: 10%;
    bottom: 0;
    height: 100%;
    opacity: 0;
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
}
.buy-now-btn {
    background-color: black;
    width: 220px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0px 0px 25px -15px #000;
}
.buy-now-btn:hover {
    transform: translateY(-5px);
}
.buy-now-btn:after {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    right: 35px;
    top: 18px;
}
.slider .buy-now-btn:focus {
    outline: none;
}
.slider h2 {
    -webkit-transition: opacity 800ms, -webkit-transform 800ms;
    transition: transform 800ms, opacity 800ms;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}
.slider h4 {
    -webkit-transition: opacity 800ms, -webkit-transform 800ms;
    transition: transform 800ms, opacity 800ms;
    -webkit-transition-delay: 1.4s;
    transition-delay: 1.4s;
}
.slider > img {
    -webkit-transition: opacity 800ms, -webkit-transform 800ms;
    transition: transform 800ms, opacity 800ms;
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s;
}
.slider-pagination {
    position: absolute;
    bottom: 30px;
    width: 575px;
    left: 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
}
.slider-pagination label {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    background: #fff;
    margin: 0 10px;
    cursor: pointer;
}
.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .page2,
.slide-radio3:checked ~ .slider-pagination .page3,
.slide-radio4:checked ~ .slider-pagination .page4 {
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    background: transparent;
}
.slide-radio1:checked ~ .slider {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.slide-radio2:checked ~ .slider {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.slide-radio3:checked ~ .slider {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}
.slide-radio4:checked ~ .slider {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}
.slide-radio1:checked ~ .slide-1 h2,
.slide-radio2:checked ~ .slide-2 h2,
.slide-radio3:checked ~ .slide-3 h2,
.slide-radio4:checked ~ .slide-4 h2,
.slide-radio1:checked ~ .slide-1 h4,
.slide-radio2:checked ~ .slide-2 h4,
.slide-radio3:checked ~ .slide-3 h4,
.slide-radio4:checked ~ .slide-4 h4,
.slide-radio1:checked ~ .slide-1 > img,
.slide-radio2:checked ~ .slide-2 > img,
.slide-radio3:checked ~ .slide-3 > img,
.slide-radio4:checked ~ .slide-4 > img {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
@media only screen and (max-width: 768px) {
    .slider h2 {
        font-size: 20px;
    }

    .slider h4 {
        font-size: 16px;
    }

    .slider-content {
        padding: 0 2%;
    }

    .slider-pagination {
        left: 2%;
    }

    .slider .buy-now-btn {
        padding: 0 15px;
        width: 175px;
        height: 42px;
    }

    .slider .buy-now-btn:after {
        top: 15px;
    }

    .slider > img {
        right: 2%;
    }

    .slide-1 > img {
        right: -110px;
    }

    #card-container {
        margin: auto;
        text-align: center;
        padding: 20px;
    }

    .slide-1 img {
        left: 0;
    }

    .slide-2 img {
        width: 100%;
        height: 75%;
        margin-bottom: 1em;
    }

    .slide-2 .slider-content {
        margin-top: -20em;
    }

    .slide-3 img {
        width: 100%;
        height: 60%;
        margin-bottom: 2em;
    }

    .slide-3 .slider-content {
        margin-top: -20em;
    }

    .slide-4 img {
        width: 100%;
        height: 75%;
        margin-bottom: 1em;
    }

    .slide-4 .slider-content {
        margin-top: -20em;
    }
}
@media (min-width: 769px) {
    #card-container {
        margin: 2em auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        width: 90%;
    }

    .slide-1 img {
        left: 0;
        min-width: 100%;
    }
}
#home-screen-container {
    height: 100vh;
}
.slide-1 h2 {
    color: #fff;
}
.slide-1 h4 {
    color: #fff;
}
</style>
