<template>
    <div class="navigation">
        <div id="mobile-logo">
            <img src="/images/KAMEO_Logo.svg" alt="Logo kameo bikes" />
        </div>
        <div class="navigation-left">
            <router-link :to="{ name: 'home' }" tag="img" class="img-link">
                <img src="/images/KAMEO_Logo.svg" alt="Logo kameo bikes" />
            </router-link>
        </div>
        <div class="navigation-center">
            <router-link :to="{ name: 'shop-home' }">
                <div class="vignette" style="background-color: #d60b52">
                    SHOP
                </div>
            </router-link>
            <router-link :to="{ name: 'pro-home' }">
                <div class="vignette" style="background-color: #2cb396">
                    PRO
                </div>
            </router-link>
            <router-link :to="{ name: 'repair-home' }">
                <div class="vignette">REPAIR</div>
            </router-link>
        </div>
        <div class="navigation-right">
            <router-link :to="{ name: 'login' }">
                <button class="login-btn">Login</button>
            </router-link>
        </div>
    </div>
</template>

<script></script>

<style scoped>
.img-link {
    width: 200px;
}
.img-link:hover {
    border: 0px;
}
.login-btn {
    background-color: rgba(70, 70, 70, 0.75);
    width: 97px;
    height: 30px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    border-radius: 15px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin-left: 20px;
    transition: all 0.2s;
    cursor: pointer;
    transition: all 0.2s;
}
.login-btn:hover {
    transform: scale(1.025);
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 25px -15px #000;
}
@media only screen and (max-width: 768px) {
    #mobile-logo {
        display: block;
        width: 190px;
    }
}
@media (min-width: 769px) {
    #mobile-logo {
        display: none;
    }
}
.vignette {
    display: inline-block;
    width: 100px;
    margin: 0 5px;
    background-color: #1d71b8;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.vignette:hover {
    scale: 1.05;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 25px -15px #000;
}
.navigation {
    width: 100%;
    height: 100px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.navigation-left {
    display: flex;
    margin-left: -90px;
    margin-top: -33px;
    cursor: pointer;
}
.navigation-center {
    display: flex;
    margin-top: -40px;
}
.navigation-right {
    display: flex;
    align-items: center;
}
.navigation .login-btn:focus {
    outline: none;
}
</style>
