<template>
    <div>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12 component-top-bar">
                <button
                    @click="$router.push({ name: 'bills-list' })"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button
                    @click="isOpen = true"
                    style="
                        height: 35px;
                        padding: 10px;
                        float: right;
                        margin-right: 5px;
                    "
                    type="button"
                    class="btn btn-danger"
                >
                    Supprimer la facture
                </button>
            </div>

            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form
                        @change="stores.billsStore.update(formData)"
                        enctype="multipart/form-data"
                    >
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Données principales
                        </h4>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <div style="margin-left: 1.5em">
                                    <input
                                        type="checkbox"
                                        :true-value="1"
                                        :false-value="0"
                                        id="invoice_sent"
                                        v-model="
                                            stores.billsStore.getBill
                                                .invoice_sent
                                        "
                                        :class="[
                                            stores.billsStore.getErrors
                                                .invoice_sent
                                                ? 'error form-check-input'
                                                : 'form-check-input',
                                        ]"
                                    />
                                    <label
                                        for="invoice_sent"
                                        class="form-check-label"
                                        style="color: #3cb395; margin-left: 1em"
                                        >Envoyée ?</label
                                    >
                                </div>
                            </div>
                            <div
                                v-if="
                                    stores.billsStore.getBill.invoice_sent === 1
                                "
                                class="form-group col-sm-6"
                            >
                                <label
                                    for="invoice_sent_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date d'envoi</label
                                >
                                <input
                                    type="date"
                                    name="invoice_sent_date"
                                    id="invoice_sent_date"
                                    v-model="
                                        stores.billsStore.getBill
                                            .invoice_sent_date
                                    "
                                    :class="[
                                        stores.billsStore.getErrors
                                            .invoice_sent_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <div style="margin-left: 1.5em">
                                    <input
                                        type="checkbox"
                                        :true-value="1"
                                        :false-value="0"
                                        id="invoice_sent"
                                        v-model="
                                            stores.billsStore.getBill
                                                .invoice_paid
                                        "
                                        :class="[
                                            stores.billsStore.getErrors
                                                .invoice_paid
                                                ? 'error form-check-input'
                                                : 'form-check-input',
                                        ]"
                                    />
                                    <label
                                        for="invoice_paid"
                                        class="form-check-label"
                                        style="color: #3cb395; margin-left: 1em"
                                        >Payée ?</label
                                    >
                                </div>
                            </div>
                            <div
                                v-if="
                                    stores.billsStore.getBill.invoice_paid === 1
                                "
                                class="form-group col-sm-6"
                            >
                                <label
                                    for="invoice_paid_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date de paiement</label
                                >
                                <input
                                    type="date"
                                    name="invoice_paid_date"
                                    id="invoice_paid_date"
                                    v-model="
                                        stores.billsStore.getBill
                                            .invoice_paid_date
                                    "
                                    :class="[
                                        stores.billsStore.getErrors
                                            .invoice_paid_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="communication"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Moyen de paiement</label
                                >
                                <select
                                    name="payement"
                                    id="payement"
                                    v-model="stores.billsStore.getBill.payement"
                                    :class="[
                                        stores.billsStore.getErrors.payement
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="">Non renseigné</option>
                                    <option value="cash">Cash</option>
                                    <option value="sumUp">Bancontact</option>
                                    <option value="visa">Visa</option>
                                    <option value="transfert">Versement</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="file"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Modifier le fichier ?</label
                                >
                                <input
                                    type="file"
                                    name="file"
                                    id="file"
                                    :class="[
                                        stores.billsStore.getErrors.file
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    @change="setFile"
                                />
                            </div>
                        </div>
                        <br />
                        <div v-if="stores.billsStore.getBill.file_name">
                            <h4 style="text-align: center" class="text-primary">
                                Facture actuelle
                            </h4>
                            <object
                                id="offerManagementPDF"
                                type="application/pdf"
                                width="100%"
                                height="800px"
                                :data="
                                    '/storage/' +
                                    stores.billsStore.getBill.file_name
                                "
                            >
                                <p>
                                    Apparemment vous n'avez pas un plug-in pour
                                    lire directement un fichier PDF. Vous pouvez
                                    <a
                                        style="
                                            color: #3cb295;
                                            text-decoration: underline;
                                        "
                                        :href="
                                            '/storage/' +
                                            stores.billsStore.getBill.file_name
                                        "
                                        download
                                        >cliquer ici pour télécharger le
                                        fichier.</a
                                    >
                                </p>
                            </object>
                        </div>
                        <br />
                    </form>
                </div>
            </div>
        </div>
        <DeleteValidationModal
            :open="isOpen"
            @close="isOpen = !isOpen"
            :id="stores.billsStore.getBill.id"
            :store="stores.billsStore"
        />
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref } from "vue";
import DeleteValidationModal from "../Modals/DeleteValidationModal.vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

const isOpen = ref(false);
const route = useRoute();
const formData = new FormData();

// Define functions
function setFile(e) {
    formData.append("file", e.target.files[0]);
}

// Call functions
stores.billsStore.show(route.params.id);
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
