<template>
    <Datatable
        :headers="headers"
        :storeName="storeName"
        :routeName="routeName"
        pdfBtn
        updateBtn
    />
</template>
<script setup>
import Datatable from "../ReusableComponents/Datatable.vue";
const storeName = "billsStore";
const routeName = "bills";
const headers = [
    { value: "id", name: "#" },
    { value: "type", name: "Type" },
    { value: "client", name: "Société" },
    { value: "amount_tvac", name: "Prix TVAC" },
    { value: "date", name: "Date" },
    { value: "invoice_limit_paid_date", name: "Date limite" },
    { value: "invoice_sent", name: "Envoyé", icon: true },
    { value: "invoice_paid", name: "Payé", icon: true },
    { value: "accounting", name: "Comptabilité", icon: true },
];
</script>
