<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Ajouter une facture
        </h2>
        <div class="col-sm-12">
            <button
                @click="$router.push({ name: 'bills-list' })"
                style="width: 35px; height: 35px; padding: 0px"
                type="button"
                class="btn"
            >
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>

        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form
                        @submit.prevent="sendForm()"
                        enctype="multipart/form-data"
                    >
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Données principales
                        </h4>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="companies_id"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Société payeuse</label
                                >
                                <select
                                    style="background: #3cb395; color: #fff"
                                    name="companies_id"
                                    id="companies_id"
                                    :class="[
                                        stores.billsStore.getErrors.companies_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    v-model="input.companies_id"
                                >
                                    <option value="101" selected>
                                        KAMEO Bikes
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="beneficiary_company"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Société bénéficiaire</label
                                >
                                <input
                                    type="text"
                                    name="beneficiary_company"
                                    id="beneficiary_company"
                                    placeholder="Nom du bénéficiaire"
                                    v-model="input.beneficiary_company"
                                    :class="[
                                        stores.billsStore.getErrors
                                            .beneficiary_company
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="amount_htva"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Montant HTVA</label
                                >
                                <input
                                    type="number"
                                    step="0.01"
                                    min="0"
                                    id="amount_htva"
                                    v-model="input.amount_htva"
                                    :class="[
                                        stores.billsStore.getErrors.amount_htva
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="amount_tvac"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Montant TVAC</label
                                >
                                <input
                                    type="number"
                                    step="0.01"
                                    min="0"
                                    name="amount_tvac"
                                    id="amount_tvac"
                                    v-model="input.amount_tvac"
                                    :class="[
                                        stores.billsStore.getErrors.amount_tvac
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date de la facture</label
                                >
                                <input
                                    type="date"
                                    name="date"
                                    id="date"
                                    v-model="input.date"
                                    :class="[
                                        stores.billsStore.getErrors.date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>

                            <div class="form-group col-sm-6">
                                <label
                                    for="invoice_limit_paid_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date limite de paiement</label
                                >
                                <input
                                    type="date"
                                    name="invoice_limit_paid_date"
                                    id="invoice_limit_paid_date"
                                    v-model="input.invoice_limit_paid_date"
                                    :class="[
                                        stores.billsStore.getErrors
                                            .invoice_limit_paid_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <div style="margin-left: 1.5em">
                                    <input
                                        type="checkbox"
                                        :true-value="1"
                                        :false-value="0"
                                        id="invoice_sent"
                                        v-model="input.invoice_sent"
                                        :class="[
                                            stores.billsStore.getErrors
                                                .invoice_sent
                                                ? 'error form-check-input'
                                                : 'form-check-input',
                                        ]"
                                    />
                                    <label
                                        for="invoice_sent"
                                        class="form-check-label"
                                        style="color: #3cb395; margin-left: 1em"
                                        >Envoyée ?</label
                                    >
                                </div>
                            </div>
                            <div
                                v-show="input.invoice_sent === 1"
                                class="form-group col-sm-4"
                            >
                                <label
                                    for="invoice_sent_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date d'envoi</label
                                >
                                <input
                                    type="date"
                                    name="invoice_sent_date"
                                    id="invoice_sent_date"
                                    v-model="input.invoice_sent_date"
                                    :class="[
                                        stores.billsStore.getErrors
                                            .invoice_sent_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <div style="margin-left: 1.5em">
                                    <input
                                        type="checkbox"
                                        :true-value="1"
                                        :false-value="0"
                                        id="invoice_paid"
                                        v-model="input.invoice_paid"
                                        :class="[
                                            stores.billsStore.getErrors
                                                .invoice_paid
                                                ? 'error form-check-input'
                                                : 'form-check-input',
                                        ]"
                                    />
                                    <label
                                        for="invoice_paid"
                                        class="form-check-label"
                                        style="color: #3cb395; margin-left: 1em"
                                        >Payée ?</label
                                    >
                                </div>
                            </div>
                            <div
                                v-show="input.invoice_paid === 1"
                                class="form-group col-sm-4"
                            >
                                <label
                                    for="invoice_paid_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date de paiement</label
                                >
                                <input
                                    type="date"
                                    name="invoice_paid_date"
                                    id="invoice_paid_date"
                                    v-model="input.invoice_paid_date"
                                    :class="[
                                        stores.billsStore.getErrors
                                            .invoice_paid_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="communication"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Communication</label
                                >
                                <input
                                    type="text"
                                    name="communication"
                                    id="communication"
                                    placeholder="Kameo Bikes"
                                    v-model="input.communication"
                                    :class="[
                                        stores.billsStore.getErrors
                                            .communication
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="file"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Fichier</label
                                >
                                <input
                                    type="file"
                                    name="file"
                                    id="file"
                                    :class="[
                                        stores.billsStore.getErrors.file
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    @change="setFile"
                                />
                            </div>
                        </div>

                        <br />
                        <div>
                            <button
                                style="width: 150px; margin: auto"
                                type="submit"
                                class="btn btn-block"
                            >
                                Créer la facture
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
// Import dependencies
import { ref } from "vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

const input = ref({});
const formData = new FormData();

function setFile(e) {
    formData.append("file", e.target.files[0]);
}

// Define functions
function sendForm() {
    formData.append("form", JSON.stringify(input.value));
    stores.billsStore.create(formData);
}
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
