<template>
    <img src="/images/repair_banner.jpg" class="banniere" />
    <div class="presentation">
        <div class="presentation-title">
            <h1>KAMEO BIKES - ATELIER DE REPARATION</h1>
        </div>

        <div class="grid sm:grid-flow-col presentation-card">
            <div class="card">
                <h2>Réserver un entretien</h2>
                <p>
                    Nous disposons d'un système de réservation automatique,
                    profitez-en !
                </p>
                <a class="btn-card" href="#booking">
                    <div>
                        <span> RESERVER </span>
                    </div>
                </a>
            </div>
            <div class="card">
                <h2>Liste des prix</h2>
                <p>
                    <strong>Cliquez ici</strong> pour consulter la liste des
                    interventions que nous pouvons effectuer, ainsi que les prix
                    correspondants.
                </p>
                <a class="btn-card" href="#priceList">
                    <div>
                        <span> CONSULTER </span>
                    </div>
                </a>
                <!-- <a class="btn-card" href="#priceList">
                    <div>
                        <span> CONSULTER </span>
                    </div>
                </a> -->
            </div>
            <div class="card">
                <h2>Contact</h2>
                <p>
                    Vous avez une question supplémentaire ?
                    <strong>Cliquez ici</strong> pour être redirigé(e) vers
                    notre formulaire de contact.
                </p>
                <router-link class="btn-card" :to="{ name: 'contact-pro' }">
                    <div>
                        <span> CONTACT </span>
                    </div>
                </router-link>
            </div>
        </div>
    </div>

    <div class="full-width tarif">
        <div id="booking">
            <h2>Réservation d'un entretien de vélo</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <iframe
                            src="https://outlook.office365.com/owa/calendar/EntretienVlo@kameobikesbusiness.onmicrosoft.com/bookings/"
                            scrolling="yes"
                        ></iframe>
                    </div>
                </div>
            </div>
            <section id="priceList">
                <h2>Tarifs indicatifs (pack)</h2>
                <div class="grid-template-5 pricing-table">
                    <div class="plan">
                        <summary>
                            <div class="plan-header">
                                <h4>Entretien basique</h4>
                                <div class="plan-price">60<sup>€</sup></div>
                                <a href="#booking" class="tarif-btn"
                                    ><span
                                        ><i class="fa fa-calendar"></i>
                                        Réserver</span
                                    ></a
                                ><br />
                                <span class="text-dark plan-description"
                                    >Ce pack correspond aux contrôles, serrages,
                                    changements de pièces et réglages des
                                    différentes parties de votre vélo détaillées
                                    ci-dessous:</span
                                >
                            </div>
                        </summary>
                        <details>
                            <div class="plan-list">
                                <ul>
                                    <li>
                                        Serrage cintre + potence + réglage du
                                        jeu de direction
                                    </li>
                                    <li>
                                        Réglage levier de frein + contrôle et
                                        réglage des patins de frein + tension
                                        des câbles
                                    </li>
                                    <li>
                                        Réglage et lubrification des dérailleurs
                                        et chaîne
                                    </li>
                                    <li>
                                        Dévoilage des roues + réglage des axes
                                        de roue + pression pneumatique
                                    </li>
                                    <li>
                                        Serrage et graissage de la tige de selle
                                    </li>
                                </ul>
                            </div>
                        </details>
                    </div>
                    <div class="plan">
                        <summary>
                            <div class="plan-header">
                                <h4>Pack main d'oeuvre et transmission</h4>
                                <div class="plan-price">60<sup>€</sup></div>
                                <a
                                    href="#booking"
                                    style="
                                        background-color: #1d71b8;
                                        color: white;
                                        margin-bottom: 20px;
                                        font-weight: 800;
                                        display: table;
                                        margin: 0 auto;
                                        padding: 0px 20px 0px 20px;
                                    "
                                    ><span
                                        ><i class="fa fa-calendar"></i>
                                        Réserver</span
                                    ></a
                                ><br />
                                <span
                                    class="text-dark plan-description"
                                    style="
                                        padding-left: 2em;
                                        padding-right: 2em;
                                        margin-bottom: -2em;
                                    "
                                    >Ce pack correspond aux contrôles, serrages,
                                    changements de pièces et réglages des
                                    différentes parties de votre vélo détaillées
                                    ci-dessous:</span
                                >
                            </div>
                        </summary>
                        <details>
                            <div class="plan-list">
                                <ul>
                                    <li>Dérailleurs avant / arrière</li>
                                    <li>Chaîne</li>
                                    <li>Roue libre ou cassette</li>
                                    <li>Patte ou galet de dérailleur</li>
                                    <li>Manettes ou leviers de dérailleur</li>
                                    <li>Pédalier</li>
                                </ul>
                            </div>
                        </details>
                    </div>

                    <div class="plan">
                        <summary>
                            <div class="plan-header">
                                <h4>Pack main d'oeuvre<br />sécurité</h4>
                                <div class="plan-price">60<sup>€</sup></div>
                                <a
                                    href="#booking"
                                    style="
                                        background-color: #1d71b8;
                                        color: white;
                                        margin-bottom: 20px;
                                        font-weight: 800;
                                        display: table;
                                        margin: 0 auto;
                                        padding: 0px 20px 0px 20px;
                                    "
                                    ><span
                                        ><i class="fa fa-calendar"></i>
                                        Réserver</span
                                    ></a
                                ><br />
                                <span
                                    class="text-dark text-center plan-description"
                                    style="
                                        padding-left: 2em;
                                        padding-right: 2em;
                                        margin-bottom: -2em;
                                    "
                                    >Le pack main d'oeuvre et sécurité permet le
                                    contrôle, le serrage et le réglage de
                                    :</span
                                >
                            </div>
                        </summary>
                        <details>
                            <div class="plan-list">
                                <ul class="text-center">
                                    <li>la direction</li>
                                    <li>les roues</li>
                                    <li>le freinage</li>
                                    <li>la transmission</li>
                                </ul>
                            </div>
                        </details>
                    </div>
                    <div class="plan">
                        <summary>
                            <div class="plan-header">
                                <h4>Forfait remise en état</h4>
                                <div class="plan-price">120<sup>€</sup></div>
                                <a
                                    href="#booking"
                                    style="
                                        background-color: #1d71b8;
                                        color: white;
                                        margin-bottom: 20px;
                                        font-weight: 800;
                                        display: table;
                                        margin: 0 auto;
                                        padding: 0px 20px 0px 20px;
                                    "
                                    ><span
                                        ><i class="fa fa-calendar"></i>
                                        Réserver</span
                                    ></a
                                ><br />
                                <span
                                    class="text-dark text-center plan-description"
                                    style="
                                        padding-left: 2em;
                                        padding-right: 2em;
                                        margin-bottom: -2em;
                                    "
                                    >Le pack de remise en état correspond aux
                                    changements de pièces et réglages de
                                    l'ensemble des organes de votre vélo :</span
                                >
                            </div>
                        </summary>
                        <details>
                            <div class="plan-list">
                                <ul class="text-center">
                                    <li>Freinage</li>
                                    <li>Direction</li>
                                    <li>Transmissions</li>
                                    <li>Roues</li>
                                    <li>Manettes ou leviers de dérailleurs</li>
                                </ul>
                            </div>
                        </details>
                        <p style="padding: 20px">
                            Ce pack ne comprend pas les parties hydrauliques du
                            vélo.
                        </p>
                    </div>

                    <div class="plan">
                        <summary>
                            <div class="plan-header">
                                <h4>Remise en état du freinage</h4>
                                <div class="plan-price">55<sup>€</sup></div>
                                <a
                                    href="#booking"
                                    style="
                                        background-color: #1d71b8;
                                        color: white;
                                        margin-bottom: 20px;
                                        font-weight: 800;
                                        display: table;
                                        margin: 0 auto;
                                        padding: 0px 20px 0px 20px;
                                    "
                                    ><span
                                        ><i class="fa fa-calendar"></i>
                                        Réserver</span
                                    ></a
                                ><br />
                                <span
                                    class="text-dark text-center plan-description"
                                    style="
                                        padding-left: 2em;
                                        padding-right: 2em;
                                        margin-bottom: -2em;
                                    "
                                    >Nous vous conseillons la remise en état du
                                    freinage si plusieurs pièces sont à changer
                                    :</span
                                >
                            </div>
                        </summary>
                        <details>
                            <div class="plan-list">
                                <ul class="text-center">
                                    <li>Câble et gaine de frein</li>
                                    <li>Patins de frein</li>
                                    <li>Etriers</li>
                                    <li>Disques</li>
                                    <li>Leviers de frein</li>
                                    <li>Purge de frein</li>
                                    <li>
                                        Kit de frein hydraulique complet de
                                        frein
                                    </li>
                                </ul>
                            </div>
                        </details>
                    </div>
                </div>
            </section>
            <section>
                <h2>
                    Tarifs indicatifs de la main d'oeuvre (TVAC, hors pièces)
                </h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Roues</th>
                            <th scope="col" style="width: 75px"></th>
                        </tr>
                    </thead>
                    <tbody class="text-left">
                        <tr>
                            <td>Remplacement chambre à air/pneu</td>
                            <td><span style="display: block">8 €</span></td>
                        </tr>
                        <tr>
                            <td>
                                Remplacement/Réparation d’une chambre à air ou
                                d’un pneu sur vélo Hollandais, moyeux Nexus,
                                frein à tambour
                            </td>
                            <td>20 €</td>
                        </tr>
                        <tr>
                            <td>
                                Révision moyeu roue
                                (démontage-nettoyage-graissage-remontage)
                            </td>
                            <td>25 €</td>
                        </tr>
                        <tr>
                            <td>Dévoilage d'une roue</td>
                            <td>12 €</td>
                        </tr>
                        <tr>
                            <td>Remplacement d’un rayon(pour 3 rayons min)</td>
                            <td>18 €</td>
                        </tr>
                        <tr>
                            <td>Serrage moyeu</td>
                            <td>10 €</td>
                        </tr>
                        <tr>
                            <td>Montage d'une roue</td>
                            <td>50 €</td>
                        </tr>
                        <tr>
                            <td>Changement roue avant</td>
                            <td>18 €</td>
                        </tr>
                        <tr>
                            <td>Changement roue arrière</td>
                            <td>24 €</td>
                        </tr>
                        <tr>
                            <td>Changement roue arrière (roue à tambour)</td>
                            <td>30 €</td>
                        </tr>
                        <tr>
                            <td>Graissage moyeu</td>
                            <td>25 €</td>
                        </tr>
                        <tr>
                            <td>
                                Changement roue ou chambre à air ou pneu sturmey
                            </td>
                            <td>28 €</td>
                        </tr>
                        <tr>
                            <td>Changement roulements d'une roue</td>
                            <td>28 €</td>
                        </tr>
                        <tr>
                            <td>Changement corps roue libre</td>
                            <td>28 €</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Transmission</th>
                            <th scope="col" style="width: 75px"></th>
                        </tr>
                    </thead>
                    <tbody class="text-left">
                        <tr>
                            <td>
                                Remplacement d’un câble et gaine avec réglage
                            </td>
                            <td>14 €</td>
                        </tr>
                        <tr>
                            <td>Remplacement de la chaine</td>
                            <td>10 €</td>
                        </tr>
                        <tr>
                            <td>
                                Remplacement d’une roue libre à vis ou cassette
                            </td>
                            <td>10 €</td>
                        </tr>
                        <tr>
                            <td>Réglage d’un dérailleur</td>
                            <td>10 €</td>
                        </tr>
                        <tr>
                            <td>Remplacement d’un dérailleur</td>
                            <td>15 €</td>
                        </tr>
                        <tr>
                            <td>
                                Changement ou redressage de la patte de
                                dérailleur
                            </td>
                            <td>17 €</td>
                        </tr>
                        <tr>
                            <td>Changement d'une manette de dérailleur</td>
                            <td>20 €</td>
                        </tr>
                        <tr>
                            <td>Montage roue libre ou cassette</td>
                            <td>10 €</td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Freins</th>
                            <th scope="col" style="width: 75px"></th>
                        </tr>
                    </thead>
                    <tbody class="text-left">
                        <tr>
                            <td>Réglage d’un frein</td>
                            <td>10 €</td>
                        </tr>
                        <tr>
                            <td>Remplacement patins avec réglages</td>
                            <td>12 €</td>
                        </tr>
                        <tr>
                            <td>Remplacement câble et gaine avec réglages</td>
                            <td>14 €</td>
                        </tr>
                        <tr>
                            <td>Remplacement manettes avec réglages</td>
                            <td>20 €</td>
                        </tr>
                        <tr>
                            <td>Changement disque frein</td>
                            <td>15 €</td>
                        </tr>
                        <tr>
                            <td>Changement étrier frein mécanique</td>
                            <td>16 €</td>
                        </tr>
                        <tr>
                            <td>Changement étrier frein hydraulique</td>
                            <td>30 €</td>
                        </tr>
                        <tr>
                            <td>Purge</td>
                            <td>25 €</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Direction et pédalier</th>
                            <th scope="col" style="width: 75px"></th>
                        </tr>
                    </thead>
                    <tbody class="text-left">
                        <tr>
                            <td>Réglage du jeu de direction</td>
                            <td>5 €</td>
                        </tr>
                        <tr>
                            <td>
                                Réglage du pédalier (le double si vélo
                                hollandais)
                            </td>
                            <td>17 €</td>
                        </tr>
                        <tr>
                            <td>Changement du pédalier ou de la couronne</td>
                            <td>20 €</td>
                        </tr>
                        <tr>
                            <td>
                                Révision et/ou remplacement du jeu de direction
                                ou axe pédalier
                            </td>
                            <td>25 €</td>
                        </tr>
                        <tr>
                            <td>Remplacement pédales</td>
                            <td>7 €</td>
                        </tr>
                        <tr>
                            <td>Remplacement manivelles</td>
                            <td>13 €</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Autres</th>
                            <th scope="col" style="width: 75px"></th>
                        </tr>
                    </thead>
                    <tbody class="text-left">
                        <tr>
                            <td>Montage accessoire</td>
                            <td>7 €</td>
                        </tr>
                        <tr>
                            <td>Montage garde boue ou porte bagage</td>
                            <td>20 €</td>
                        </tr>
                        <tr>
                            <td>Entretien basique</td>
                            <td>30 €</td>
                        </tr>
                        <tr>
                            <td>Pose guidoline</td>
                            <td>20 €</td>
                        </tr>
                        <tr>
                            <td>Pose éclairage dynamo</td>
                            <td>35 €</td>
                        </tr>
                        <tr>
                            <td>Changement guidon VTT - City</td>
                            <td>20 €</td>
                        </tr>
                        <tr>
                            <td>Changement guidon Course</td>
                            <td>30 €</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th scpoe="col">Cadre</th>
                            <th scope="col" style="width: 75px"></th>
                        </tr>
                    </thead>
                    <tbody class="text-left">
                        <tr>
                            <td>Changement cintre (route)</td>
                            <td>20 €</td>
                        </tr>
                        <tr>
                            <td>Changement cintre (vtt)</td>
                            <td>30 €</td>
                        </tr>
                        <tr>
                            <td>Montage entretoises direction</td>
                            <td>10 €</td>
                        </tr>
                        <tr>
                            <td>Changement étoiles ahead</td>
                            <td>15 €</td>
                        </tr>
                        <tr>
                            <td>
                                Graissage jeu de direction ou boîtier de
                                pédalier
                            </td>
                            <td>25 €</td>
                        </tr>
                        <tr>
                            <td>Changement billes jeu de direction</td>
                            <td>25 €</td>
                        </tr>
                        <tr>
                            <td>Changement jeu de direction</td>
                            <td>20 €</td>
                        </tr>
                        <tr>
                            <td>Changement potence</td>
                            <td>25 €</td>
                        </tr>
                        <tr>
                            <td>Changement fourche</td>
                            <td>45 €</td>
                        </tr>
                        <tr>
                            <td>Montage vélo complet</td>
                            <td>180 €</td>
                        </tr>
                        <tr>
                            <td>
                                Changement de la tige de selle ou de la selle
                            </td>
                            <td>10 €</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</template>

<script setup></script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    scroll-behavior: smooth;
}
h1 {
    color: white;
}
h2 {
    color: #1d71b8;
    font-size: 1.5em;
}
summary::marker {
    color: #ffffffff;
}
iframe {
    border: 0;
    width: 100%;
    height: 1500px;
}
details {
    margin: 20px 0px 0px 10px;
}
.presentation {
    width: 100%;
    margin: auto;
    background-color: #1d71b8;
    margin-bottom: 20px;
    padding: 20px 0px 50px 0px;
}
.tarif {
    width: 80%;
    margin: auto;
}
.presentation-title {
    width: 80%;
    margin: auto;
}
.presentation-card {
    width: 80%;
    margin: auto;
    column-gap: 20px;
    row-gap: 20px;
}
.presentation-card .card {
    position: relative;
    background-color: white;
}
.card h2 {
    text-align: center;
}
.card p {
    padding-bottom: 40px;
    margin-bottom: 100px;
}
.btn-card div {
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding-bottom: 20px;
    display: block;
}
.btn-card span {
    background-color: #1d71b8;
    color: white;
    margin-bottom: 20px;
    font-weight: 800;
    display: table;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
}
.tarif-btn {
    background-color: #1d71b8;
    color: white;
    margin-bottom: 20px;
    font-weight: 800;
    display: table;
    margin: 0 auto;
    padding: 0px 20px;
}
.col-md-12 {
    padding: 0;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}
.table td,
.table th {
    border: 1px solid #ddd;
    padding: 8px;
}
.table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table tr:hover {
    background-color: #ddd;
}
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1d71b8;
    color: white;
}
.card {
    border-radius: 20px;
    background-color: white;
}
.grid {
    display: grid;
    grid-auto-rows: 1fr;
    margin: 0 auto;
    column-gap: 9px;
    row-gap: 20px;
}
.grid a p {
    padding: 0px 20px 0px 20px;
}
.grid p {
    padding: 0px 20px 0px 20px;
}
.grid-template-2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 20px 0px 20px;
}
.grid-template-5 {
    display: grid;
    grid-template-columns: 1fr;
}
.grid-1 {
    grid-column: span 1;
    padding: 10px;
    padding: 20px;
    height: 100%;
    padding: 20px;
    margin-right: 10px;
}
.grid-2 {
    grid-column: span 2;
    padding: 10px;
    padding: 20px;
    height: 100%;
    padding: 20px;
    margin-right: 10px;
}
.pricing-table {
    padding-top: 50px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.pricing-table .plan {
    margin-bottom: 60px;
    margin-right: 10px;
    border-color: #e3e3e3;
    border-style: solid;
    border-width: 0 1px 1px;
}
.pricing-table .plan .plan-header {
    position: relative;
    background: #34495e;
    text-align: center;
}
.pricing-table .plan .plan-header {
    background-color: #fbfbfb;
    border-bottom: 1px solid #e3e3e3;
    padding: 22px;
    position: relative;
    text-align: center;
}
.pricing-table .plan-header > h4 {
    margin-bottom: 0;
}
.pricing-table .plan .plan-header .plan-price {
    font-size: 70px;
    font-weight: 600;
    position: relative;
    text-align: center;
    padding: 20px 0;
}
.pricing-table .plan .plan-header .plan-price sup {
    font-size: 24px;
    position: relative;
    top: -30px;
    color: #bdc3c7;
}
.pricing-table .plan .plan-header .plan-price span {
    font-size: 16px;
    color: #bdc3c7;
}
.pricing-table .plan-list {
    padding: 20px 0 40px;
}
.pricing-table .plan-list ul {
    display: table;
    margin: 0 auto;
    padding: 0 40px;
}
.pricing-table .plan-list ul li {
    list-style: none;
    border-bottom: 1px solid #eaeceb;
    font-size: 0.8em;
    line-height: 42px;
}
.pricing-table .plan-list ul li:last-child {
    border: none;
}
.pricing-table .plan-list ul li i {
    margin-right: 12px;
}
.pricing-table .plan-list ul li span {
    color: #34495e;
}
.plan-description {
    padding-bottom: 0px;
    margin: 0px;
}
@media screen and (min-width: 768px) {
    .grid-template-2 {
        display: grid;
        grid-template-columns: 100px 2fr;
        padding: 20px 20px 0px 20px;
    }
}
@media screen and (min-width: 768px) {
    .grid-template-5 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-auto-rows: 1fr;
    }
}
@media screen and (min-width: 1366px) {
    .grid-template-5 {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-auto-rows: 1fr;
    }
}
</style>
