<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Ajouter des accessoires à l'offre
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.go(-1)"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>

            <div class="col-md-12">
                <div class="widget p-cb">
                    <form @submit.prevent="sendForm()">
                        <h4 class="text-primary">
                            Ajouter une offre d'accessoire
                        </h4>
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur l'accessoire
                            </h5>
                            <div class="col-md-4">
                                <label class="form-label" style="color: #3cb395"
                                    >Catégorie</label
                                >
                                <select
                                    class="form-control"
                                    v-model="input.category"
                                    @change="updateModels()"
                                    name="category"
                                    id="category"
                                >
                                    <option
                                        v-for="item in stores
                                            .tempAccessoriesCategoriesStore
                                            .getTempAccessoriesCategories"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.description }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label
                                    for="accessories_catalog_id"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Modèle</label
                                >
                                <select
                                    class="form-control"
                                    name="accessories_catalog_id"
                                    id="accessories_catalog_id"
                                    @change="updatePrice()"
                                    v-model="input.accessories_catalog_id"
                                    :class="[
                                        stores.offersStore.getErrors
                                            .accessories_catalog_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option
                                        v-for="item in models"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.model }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label
                                    for="size"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Taille</label
                                >
                                <select
                                    class="form-control"
                                    name="size"
                                    id="size"
                                    v-model="input.size"
                                    :class="[
                                        stores.offersStore.getErrors.size
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option
                                        v-for="item in sizes"
                                        :key="item"
                                        :value="item"
                                    >
                                        {{ item }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur le contrat
                            </h5>
                            <!-- <div class='col-md-4'>
                                <label class="form-label" style="color: #3cb395;">Statut</label>
                                <select class="form-control" v-model="input.status" :class="[stores.offersStore.getErrors.status ? 'error form-control': 'form-control']">
                                    <option value='new'>Nouveau</option>
                                    <option value='confirmed'>Confirmé</option>
                                    <option value='done'>Terminé</option>
                                </select>
                            </div> -->
                            <div class="col-md-4">
                                <label
                                    for="contract_type"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Type de contrat</label
                                >
                                <select
                                    class="form-control"
                                    v-model="input.contract_type"
                                    @change="updatePrice()"
                                    name="contract_type"
                                    id="contract_type"
                                    :class="[
                                        stores.offersStore.getErrors
                                            .contract_type
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="leasing">Leasing</option>
                                    <option value="selling">Vente</option>
                                    <option value="annual_leasing">
                                        Leasing annuel
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label
                                    for="amount"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Montant</label
                                >
                                <input
                                    type="number"
                                    step="0.01"
                                    name="amount"
                                    class="form-control"
                                    id="amount"
                                    v-model="input.amount"
                                    :class="[
                                        stores.offersStore.getErrors.amount
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <hr />
                        <br />
                        <div>
                            <button
                                style="width: 150px; margin: auto"
                                type="submit"
                                class="btn btn-block"
                            >
                                Ajouter à l'offre
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref } from "vue";

// Import stores
import * as stores from "../../../../store/StoresIndex";

await stores.tempAccessoriesCategoriesStore.loadTempAccessoriesCategories();

const route = useRoute();
const models = ref();
const sizes = ref();
const input = ref({});

async function updateModels() {
    sizes.value = null;
    input.value.size = null;
    input.value.amount = null;
    input.value.accessories_catalog_id = null;
    stores.accessoriesCatalogStore
        .loadAccessoriesCatalogByCategorieForSelect(input.value.category)
        .then((data) => (models.value = data));
}

async function updatePrice() {
    const accessory = await stores.accessoriesCatalogStore.getAccessoryById(
        input.value.accessories_catalog_id
    );
    sizes.value = accessory.sizes;
    input.value["amount"] = stores.accessoriesCatalogStore.getPrice(
        accessory,
        input.value["contract_type"]
    );
}

function sendForm() {
    const data = input.value;
    stores.offersStore.createAccessoryDetails(data, route.params.id);
}
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
