<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Ajouter des vélos à l'offre
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.go(-1)"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>

            <div class="col-md-12">
                <div class="widget p-cb">
                    <form @submit.prevent="sendForm()">
                        <h4 class="text-primary">Ajouter une offre de vélo</h4>
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur le vélo
                            </h5>
                            <div class="col-md-4">
                                <label class="form-label" style="color: #3cb395"
                                    >Marque</label
                                >
                                <select
                                    class="form-control"
                                    name="brand"
                                    v-model="input.brand"
                                    id="brand"
                                    :class="[
                                        stores.offersStore.getErrors.brand
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="Ahooga">Ahooga</option>
                                    <option value="Benno">Benno</option>
                                    <option value="Bzen">Bzen</option>
                                    <option value="Douze">Douze</option>
                                    <option value="Kayza">Kayza</option>
                                    <option value="Moustache">Moustache</option>
                                    <option value="Victoria">Victoria</option>
                                    <option value="Conway">Conway</option>
                                    <option value="Giant">Giant</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label
                                    for="bikes_catalog_id"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Modèle</label
                                >
                                <select
                                    class="form-control"
                                    name="bikes_catalog_id"
                                    id="bikes_catalog_id"
                                    @change="updatePrice()"
                                    v-model="input.bikes_catalog_id"
                                    :class="[
                                        stores.offersStore.getErrors
                                            .bikes_catalog_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option
                                        v-for="item in models"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.model }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label
                                    for="size"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Taille</label
                                >
                                <select
                                    class="form-control"
                                    name="size"
                                    id="size"
                                    v-model="input.size"
                                    :class="[
                                        stores.offersStore.getErrors.size
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option
                                        v-for="item in sizes"
                                        :key="item"
                                        :value="item"
                                    >
                                        {{ item }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur le contrat
                            </h5>
                            <!-- <div class='col-md-4'>
                                <label class="form-label" style="color: #3cb395;">Statut</label>
                                <select class="form-control" v-model="input.status" :class="[stores.offersStore.getErrors.status ? 'error form-control': 'form-control']">
                                    <option value='new'>Nouveau</option>
                                    <option value='confirmed'>Confirmé</option>
                                    <option value='done'>Terminé</option>
                                </select>
                            </div> -->
                            <div class="col-md-4">
                                <label
                                    for="contract_type"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Type de contrat</label
                                >
                                <select
                                    class="form-control"
                                    v-model="input.contract_type"
                                    @change="updatePrice()"
                                    name="contract_type"
                                    id="contract_type"
                                    :class="[
                                        stores.offersStore.getErrors
                                            .contract_type
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="leasing">Leasing</option>
                                    <option value="selling">Vente</option>
                                    <option value="full_leasing">
                                        Leasing Pré-financé
                                    </option>
                                    <option value="annual_leasing">
                                        Leasing annuel
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label
                                    for="amount"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Montant</label
                                >
                                <input
                                    type="number"
                                    ref="leasingPrice"
                                    step="0.01"
                                    name="amount"
                                    class="form-control"
                                    id="amount"
                                    v-model="input.amount"
                                    :class="[
                                        stores.offersStore.getErrors.amount
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <hr />
                        <br />
                        <div>
                            <button
                                style="width: 150px; margin: auto"
                                type="submit"
                                class="btn btn-block"
                            >
                                Ajouter à l'offre
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { watch, ref, reactive } from "vue";

// Import stores
import * as stores from "../../../../store/StoresIndex";

const route = useRoute();
const input = reactive({});
const sizes = ref([]);
const models = ref([]);

watch(
    () => input.bikes_catalog_id,
    async (bikes_catalog_id) => {
        if (bikes_catalog_id) {
            sizes.value = await stores.bikesCatalogStore.getSizesModel(
                bikes_catalog_id
            );
        }
    }
);

watch(
    () => input.brand,
    async (brand) => {
        if (brand) {
            models.value = await stores.bikesCatalogStore.getModelsFromBrand(
                brand
            );
        }
    }
);

// Define methods
async function updatePrice() {
    const bike = models.value.find(
        (bike) => bike.id === input.bikes_catalog_id
    );
    if (bike && input["contract_type"]) {
        input["amount"] = stores.bikesCatalogStore.getPrice(
            bike,
            input["contract_type"]
        );
    }
}

// Define methods
function sendForm() {
    const data = input;
    stores.offersStore.createBikeDetails(data, route.params.id);
}
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
