<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Ajouter des bornes à l'offre
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.go(-1)"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>

            <div class="col-md-12">
                <div class="widget p-cb">
                    <form @submit.prevent="sendForm()">
                        <h4 class="text-primary">Ajouter une offre de borne</h4>
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur le modèle
                            </h5>
                            <div class="col-md-4">
                                <label class="form-label" style="color: #3cb395"
                                    >Modèle</label
                                >
                                <select
                                    class="form-control"
                                    v-model="input.boxes_catalog_id"
                                    name="boxes_catalog_id"
                                    id="boxes_catalog_id"
                                    @change="updatePrices()"
                                    :class="[
                                        stores.offersStore.getErrors
                                            .boxes_catalog_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option
                                        v-for="item in stores.boxesCatalogStore
                                            .getBoxesCatalog"
                                        :key="item.id"
                                        :value="item.id"
                                        :data-installation="
                                            item.installation_price
                                        "
                                        :data-location="item.location_price"
                                    >
                                        {{ item.model }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur le contrat
                            </h5>
                            <!-- <div class='col-md-4'>
                                <label class="form-label" style="color: #3cb395;">Statut</label>
                                <select class="form-control" v-model="input.status" :class="[stores.offersStore.getErrors.status ? 'error form-control': 'form-control']">
                                    <option value='new'>Nouveau</option>
                                    <option value='confirmed'>Confirmé</option>
                                    <option value='done'>Terminé</option>
                                </select>
                            </div> -->
                            <div class="col-md-4">
                                <label
                                    for="installation_price"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Installation</label
                                >
                                <input
                                    type="number"
                                    step="0.01"
                                    name="installation_price"
                                    class="form-control"
                                    id="installation_price"
                                    v-model="input.installation_price"
                                    :class="[
                                        stores.offersStore.getErrors
                                            .installation_price
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="col-md-4">
                                <label
                                    for="location_price"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Location</label
                                >
                                <input
                                    type="number"
                                    step="0.01"
                                    name="location_price"
                                    class="form-control"
                                    id="location_price"
                                    v-model="input.location_price"
                                    :class="[
                                        stores.offersStore.getErrors
                                            .location_price
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <hr />
                        <br />
                        <div>
                            <button
                                style="width: 150px; margin: auto"
                                type="submit"
                                class="btn btn-block"
                            >
                                Ajouter à l'offre'
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref } from "vue";

// Import stores
import * as stores from "../../../../store/StoresIndex";

await stores.boxesCatalogStore.loadBoxesCatalog();

const route = useRoute();
const input = ref({});

// Define methods
function updatePrices() {
    input.value["installation_price"] =
        stores.boxesCatalogStore.getBoxesCatalog.find(
            (item) => item.id == input.value["boxes_catalog_id"]
        ).installation_price;
    input.value["location_price"] =
        stores.boxesCatalogStore.getBoxesCatalog.find(
            (item) => item.id == input.value["boxes_catalog_id"]
        ).location_price;
}

// Define methods
function sendForm() {
    const data = input.value;
    stores.offersStore.createBoxDetails(data, route.params.id);
}
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
