<template>
    <div class="widget p-cb">
        <div class="top">
            <span class="title">Mon calendrier</span>
            <span class="month"
                ><button
                    id="previousMonth"
                    class="previousMonth"
                    @click.prevent="previousMonth"
                >
                    <i class="fa fa-angle-left"></i></button
                >{{
                    currentMonth == 1
                        ? "Janvier"
                        : currentMonth == 2
                        ? "Fevrier"
                        : currentMonth == 3
                        ? "Mars"
                        : currentMonth == 4
                        ? "Avril"
                        : currentMonth == 5
                        ? "Mai"
                        : currentMonth == 6
                        ? "Juin"
                        : currentMonth == 7
                        ? "Juillet"
                        : currentMonth == 8
                        ? "Aout"
                        : currentMonth == 9
                        ? "Septembre"
                        : currentMonth == 10
                        ? "Octobre"
                        : currentMonth == 11
                        ? "Novembre"
                        : currentMonth == 12
                        ? "Decembre"
                        : "Inconnu"
                }}<button
                    id="nextMonth"
                    class="nextMonth disabled"
                    @click.prevent="nextMonth"
                >
                    <i class="fa fa-angle-right"></i></button
            ></span>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Lundi</th>
                    <th>Mardi</th>
                    <th>Mercredi</th>
                    <th>Jeudi</th>
                    <th>Vendredi</th>
                    <th>Samedi</th>
                    <th>Dimanche</th>
                </tr>
            </thead>
            <tbody>
                <tr id="week-1"></tr>
                <tr id="week-2"></tr>
                <tr id="week-3"></tr>
                <tr id="week-4"></tr>
                <tr id="week-5"></tr>
            </tbody>
        </table>
    </div>
</template>
<script setup>
import axios from "axios";
import { onMounted, ref } from "vue";
const date = ref(new Date());
const currentMonth = ref(date.value.getMonth() + 1);
const currentYear = ref(date.value.getFullYear());
const days = ref([]);
const daysChecked = ref(
    await axios.get("/api/calendar/days", {
        params: {
            month: currentMonth.value,
            year: currentYear.value,
        },
    })
);
const nbDaysOfMonth = ref(
    new Date(currentYear.value, currentMonth.value, 0).getDate()
);
const firstDayOfMonth = ref(
    new Date(currentYear.value, currentMonth.value - 1, 1).getDay()
);
const lastDayOfMonth = ref(
    new Date(currentYear.value, currentMonth.value, 0).getDay()
);

const checkDay = (date, td) => {
    const day = days.value.find((day) => day.fullDate === date);
    if (
        day.isWeekend == false &&
        new Date() >= new Date(day.year, day.month - 1, day.day)
    ) {
        day.checked = !day.checked;
        if (day.checked == true) {
            document.getElementById(date).style.backgroundColor = "#3cb295";
        } else {
            document.getElementById(date).style.backgroundColor = "";
        }
        axios.post("/api/calendar/check-day", { date }).then((res) => {
            const status = res.data.status;
            const state = res.data.state;
            if (status === "success") {
                if (state === "Added") {
                    document.getElementById(date).style.backgroundColor =
                        "#3cb295";
                } else if (state === "Removed") {
                    document.getElementById(date).style.backgroundColor = "";
                }
            }
        });
    } else {
        td.style.backgroundColor = "rgba(177, 29, 29, 0.5)";
        setTimeout(() => {
            if (day.isWeekend == true) {
                td.style.backgroundColor = "#f5f5f5";
            } else {
                td.style.backgroundColor = "";
            }
        }, 300);
    }
};

onMounted(() => {
    for (let i = 1; i <= nbDaysOfMonth.value; i++) {
        days.value.push({
            day: i < 10 ? "0" + i : i,
            month:
                currentMonth.value < 10
                    ? "0" + currentMonth.value
                    : currentMonth.value,
            year: currentYear.value,
            fullDate:
                (i < 10 ? "0" : "") +
                i +
                "-" +
                (currentMonth.value < 10 ? "0" : "") +
                currentMonth.value +
                "-" +
                currentYear.value,
            checked:
                daysChecked.value["data"].find(
                    (day) =>
                        day.date ===
                        (i < 10 ? "0" : "") +
                            i +
                            "-" +
                            (currentMonth.value < 10 ? "0" : "") +
                            currentMonth.value +
                            "-" +
                            currentYear.value
                ) !== undefined
                    ? true
                    : false,
            isWeekend:
                new Date(
                    currentYear.value,
                    currentMonth.value - 1,
                    i
                ).getDay() === 0 ||
                new Date(
                    currentYear.value,
                    currentMonth.value - 1,
                    i
                ).getDay() === 6
                    ? true
                    : false,
        });
    }
    // Append grey days before the first day of the month
    for (let i = 1; i < firstDayOfMonth.value; i++) {
        const td = document.createElement("td");
        td.style.backgroundColor = "#f5f5f5";
        td.style.height = "35px";
        document.getElementById("week-1").appendChild(td);
    }
    // Append days of the month
    days.value.forEach((day, index) => {
        const td = document.createElement("td");
        td.style.height = "35px";
        td.style.transition = "all 0.5s ease";
        td.innerHTML = day.isWeekend
            ? "<span class='day'>" +
              day.day +
              "</span><i class='fa fa-bicycle' style='float: inline-end; padding-top: inherit; font-size: 1.2rem; color: #f5f5f5;'></i>"
            : "<span class='day'>" +
              day.day +
              "</span><i class='fa fa-bicycle' style='float: inline-end; padding-top: inherit; font-size: 1.2rem; color: #fff;'></i>";
        if (
            day.isWeekend ||
            new Date() <
                new Date(currentYear.value, currentMonth.value - 1, day.day)
        ) {
            td.style.cursor = "not-allowed";
        } else {
            td.style.cursor = "pointer";
        }
        td.id = day.fullDate;
        td.style.backgroundColor =
            day.checked === true ? "#3cb295" : day.isWeekend ? "#f5f5f5" : "";
        td.onclick = () => {
            checkDay(day.fullDate, td);
        };
        document
            .getElementById(
                "week-" + Math.ceil((index + firstDayOfMonth.value) / 7)
            )
            .appendChild(td);
    });
    // Append grey days after the last day of the month
    for (let i = lastDayOfMonth.value; i < 7; i++) {
        const td = document.createElement("td");
        td.style.backgroundColor = "#f5f5f5";
        td.style.height = "35px";
        document.getElementById("week-5").appendChild(td);
    }
});

const previousMonth = async () => {
    document.getElementById("previousMonth").classList.add("disabled");
    document.getElementById("nextMonth").classList.remove("disabled");
    document.querySelectorAll("tbody tr").forEach((tr) => {
        tr.innerHTML = "";
    }),
        currentMonth.value--;
    days.value = [];
    const daysChecked = ref(
        await axios.get("/api/calendar/days", {
            params: {
                month: currentMonth.value,
                year: currentYear.value,
            },
        })
    );
    nbDaysOfMonth.value = new Date(
        currentYear.value,
        currentMonth.value,
        0
    ).getDate();
    firstDayOfMonth.value = new Date(
        currentYear.value,
        currentMonth.value - 1,
        1
    ).getDay();
    lastDayOfMonth.value = new Date(
        currentYear.value,
        currentMonth.value,
        0
    ).getDay();
    for (let i = 1; i <= nbDaysOfMonth.value; i++) {
        days.value.push({
            day: i < 10 ? "0" + i : i,
            month:
                currentMonth.value < 10
                    ? "0" + currentMonth.value
                    : currentMonth.value,
            year: currentYear.value,
            fullDate:
                (i < 10 ? "0" : "") +
                i +
                "-" +
                (currentMonth.value < 10 ? "0" : "") +
                currentMonth.value +
                "-" +
                currentYear.value,
            checked:
                daysChecked.value["data"].find(
                    (day) =>
                        day.date ===
                        (i < 10 ? "0" : "") +
                            i +
                            "-" +
                            (currentMonth.value < 10 ? "0" : "") +
                            currentMonth.value +
                            "-" +
                            currentYear.value
                ) !== undefined
                    ? true
                    : false,
            isWeekend:
                new Date(
                    currentYear.value,
                    currentMonth.value - 1,
                    i
                ).getDay() === 0 ||
                new Date(
                    currentYear.value,
                    currentMonth.value - 1,
                    i
                ).getDay() === 6
                    ? true
                    : false,
        });
    }
    // Append grey days before the first day of the month
    for (let i = 1; i < firstDayOfMonth.value; i++) {
        const td = document.createElement("td");
        td.style.backgroundColor = "#f5f5f5";
        td.style.height = "35px";
        document.getElementById("week-1").appendChild(td);
    }
    // Append days of the month
    days.value.forEach((day, index) => {
        const td = document.createElement("td");
        td.style.height = "35px";
        td.style.transition = "all 0.5s ease";
        td.innerHTML = day.isWeekend
            ? "<span class='day'>" +
              day.day +
              "</span><i class='fa fa-bicycle' style='float: inline-end; padding-top: inherit; font-size: 1.2rem; color: #f5f5f5;'></i>"
            : "<span class='day'>" +
              day.day +
              "</span><i class='fa fa-bicycle' style='float: inline-end; padding-top: inherit; font-size: 1.2rem; color: #fff;'></i>";

        if (
            day.isWeekend ||
            new Date() <
                new Date(currentYear.value, currentMonth.value - 1, day.day)
        ) {
            td.style.cursor = "not-allowed";
        } else {
            td.style.cursor = "pointer";
        }
        td.id = day.fullDate;
        td.style.backgroundColor =
            day.checked === true ? "#3cb295" : day.isWeekend ? "#f5f5f5" : "";
        td.onclick = () => {
            checkDay(day.fullDate, td);
        };
        document
            .getElementById(
                "week-" + Math.ceil((index + firstDayOfMonth.value) / 7)
            )
            .appendChild(td);
    });
    // Append grey days after the last day of the month
    if (lastDayOfMonth.value !== 0) {
        for (let i = lastDayOfMonth.value; i < 7; i++) {
            const td = document.createElement("td");
            td.style.backgroundColor = "#f5f5f5";
            td.style.height = "35px";
            document.getElementById("week-5").appendChild(td);
        }
    }
};

const nextMonth = async () => {
    document.getElementById("previousMonth").classList.remove("disabled");
    document.getElementById("nextMonth").classList.add("disabled");
    document.querySelectorAll("tbody tr").forEach((tr) => {
        tr.innerHTML = "";
    }),
        currentMonth.value++;
    days.value = [];
    const daysChecked = ref(
        await axios.get("/api/calendar/days", {
            params: {
                month: currentMonth.value,
                year: currentYear.value,
            },
        })
    );
    nbDaysOfMonth.value = new Date(
        currentYear.value,
        currentMonth.value,
        0
    ).getDate();
    firstDayOfMonth.value = new Date(
        currentYear.value,
        currentMonth.value - 1,
        1
    ).getDay();
    lastDayOfMonth.value = new Date(
        currentYear.value,
        currentMonth.value,
        0
    ).getDay();
    for (let i = 1; i <= nbDaysOfMonth.value; i++) {
        days.value.push({
            day: i < 10 ? "0" + i : i,
            month:
                currentMonth.value < 10
                    ? "0" + currentMonth.value
                    : currentMonth.value,
            year: currentYear.value,
            fullDate:
                (i < 10 ? "0" : "") +
                i +
                "-" +
                (currentMonth.value < 10 ? "0" : "") +
                currentMonth.value +
                "-" +
                currentYear.value,
            checked:
                daysChecked.value["data"].find(
                    (day) =>
                        day.date ===
                        (i < 10 ? "0" : "") +
                            i +
                            "-" +
                            (currentMonth.value < 10 ? "0" : "") +
                            currentMonth.value +
                            "-" +
                            currentYear.value
                ) !== undefined
                    ? true
                    : false,
            isWeekend:
                new Date(
                    currentYear.value,
                    currentMonth.value - 1,
                    i
                ).getDay() === 0 ||
                new Date(
                    currentYear.value,
                    currentMonth.value - 1,
                    i
                ).getDay() === 6
                    ? true
                    : false,
        });
    }
    // Append grey days before the first day of the month
    for (let i = 1; i < firstDayOfMonth.value; i++) {
        const td = document.createElement("td");
        td.style.backgroundColor = "#f5f5f5";
        td.style.height = "35px";
        document.getElementById("week-1").appendChild(td);
    }
    // Append days of the month
    days.value.forEach((day, index) => {
        const td = document.createElement("td");
        td.style.height = "35px";
        td.style.transition = "all 0.5s ease";
        td.innerHTML = day.isWeekend
            ? "<span class='day'>" +
              day.day +
              "</span><i class='fa fa-bicycle' style='float: inline-end; padding-top: inherit; font-size: 1.2rem; color: #f5f5f5;'></i>"
            : "<span class='day'>" +
              day.day +
              "</span><i class='fa fa-bicycle' style='float: inline-end; padding-top: inherit; font-size: 1.2rem; color: #fff;'></i>";
        if (
            day.isWeekend ||
            new Date() <
                new Date(currentYear.value, currentMonth.value - 1, day.day)
        ) {
            td.style.cursor = "not-allowed";
        } else {
            td.style.cursor = "pointer";
        }
        td.id = day.fullDate;
        td.style.backgroundColor =
            day.checked === true ? "#3cb295" : day.isWeekend ? "#f5f5f5" : "";
        td.onclick = () => {
            checkDay(day.fullDate, td);
        };
        document
            .getElementById(
                "week-" + Math.ceil((index + firstDayOfMonth.value) / 7)
            )
            .appendChild(td);
    });
    // Append grey days after the last day of the month
    if (lastDayOfMonth.value !== 0) {
        for (let i = lastDayOfMonth.value; i < 7; i++) {
            const td = document.createElement("td");
            td.style.backgroundColor = "#f5f5f5";
            td.style.height = "35px";
            document.getElementById("week-5").appendChild(td);
        }
    }
};
</script>
<style scoped>
.widget {
    height: 375px;
}
.title {
    font-size: 1.5rem;
    color: #3cb395;
}
.month {
    font-size: 0.9rem;
    color: rgb(60, 179, 149);
    float: right;
    font-weight: bold;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5em;
}
thead {
    color: #3cb395;
}
th,
td {
    width: 14.28%;
    height: 35px;
    transition: all 0.3s;
    margin: 0;
}
td {
    border: 2px solid #3cb395;
    height: 35px;
    text-align: center;
    transition: all 0.3s;
}
.nextMonth {
    margin-left: 1em;
    font-size: 0.9em;
}
.previousMonth {
    margin-right: 1em;
    font-size: 0.9em;
}
.disabled {
    color: rgb(204, 204, 204);
    pointer-events: none;
    cursor: default;
}
</style>
