<template>
    <div class="full-width-blog">
        <div class="returnBack" onclick="history.back()">Retour</div>
        <h1 style="color: #d60b52">Comment choisir son vélo ?</h1>
        <p>
            Les ventes et leasing de vélos sont en pleine croissance. Chez KAMEO
            Bikes, on constate également une demande de plus en plus forte. Que
            cela soit pour des vélos de loisir ou comme nouveau moyen de
            transport, tout le monde veut un nouveau vélo !
        </p>
        <p>
            Cependant, si beaucoup souhaitent s’équiper d’un vélo, peu savent
            comment par où commencer. De multiples gammes -
            <strong
                >urbain, trekking, VTC, VTT, speed pédélec, pliable, route,
                gravel, cargo</strong
            >
            - s’offrent à vous avec des terminologies parfois obscures pour les
            non-initiés. On fait le point ensemble sur les critères essentiels
            afin de définir vos besoins et que vous puissiez ainsi choisir, en
            toute connaissance de cause, votre futur vélo préféré !
        </p>

        <h2>Sur quel type de parcours comptez-vous rouler ?</h2>
        <p>
            Route bétonnée ? Ravel ? Chemin de terre damé ? Chemin dans les bois
            ? Off-road dans les bois ? Le graphique ci-dessous vous indique les
            gammes de vélos compatibles avec les différents terrain de jeu.
        </p>
        <div style="width: 100%; text-align: center">
            <img
                src="/images/blog/ChoixVelo1.jpg"
                alt="image choix velo"
                width="100%"
            />
        </div>
        <h2>
            Votre vélo est-il un outil professionnel ?<br />
            Votre compagnon de loisir préféré ?<br />
            Ou bien, vous envisagez une utilisation mixte ?<br />
        </h2>
        <p>
            Si vous comptez utiliser votre vélo pour vos trajets
            domicile-travail, veillez à prendre un vélo tout équipé.
            L’équipement conseillé est :
        </p>
        <ul>
            <li>Un porte paquet robuste pouvant supporter 25 kg</li>
            <li>
                Des garde-boues rigides et, si possible, fixés au cadre ainsi
                qu’au porte paquet. Plus ils sont fixés, moins vous aurez de
                bruits et/ou de risque de frottement sur le pneu.
            </li>
            <li>Une béquille</li>
            <li>
                Des lampes connectées au moteur et à la batterie afin de ne pas
                devoir recharger des piles ou une batterie supplémentaire
            </li>
        </ul>
        <div style="width: 100%; text-align: center">
            <img
                src="/images/blog/ChoixVelo_Velo.jpg"
                alt="image choix velo"
                width="100%"
            />
        </div>
        <p>
            Pensez évidement aussi à vous équiper pour vos trajets quotidien :
            casque, sacoche, vêtements imperméables en cas de pluie et gilet
            fluo.<br /><br />

            Certaines gammes de vélo sont plus orientées loisir et d’autres pour
            les déplacements quotidiens. D’un côté, les vélos urbains, speed
            pédélec, cargo et les vélos pliants sont 4 gammes adaptées pour les
            trajets domicile-travail. A l’opposé, les routes, gravels et VTT ont
            plutôt une orientation loisir. Les vélos Trekking et VTC sont, eux,
            les vrais polyvalents !<br /><br />

            Il est important de souligner que certaines gammes sont prévues pour
            des usages tout à fait spécifiques comme les Speed pédélec, pliants
            et cargo.<br /><br />

            Les Speed pédélec sont des vélos avec une assistance électrique
            jusqu’à 45 km/h. Ils sont conçus pour les long trajets quotidiens.
            Ils demandent une immatriculation et un permis de conduire.<br /><br />

            Les Pliants sont vos alliés pour combinés les différents modes de
            transport. Vous l’emmenez facilement en train ou dans le coffre
            d’une voiture.<br /><br />

            Les Cargo et longtail sont là pour vous aider à transporter du
            matériel ou vos enfants à vélo.<br /><br />
        </p>
        <div style="width: 100%; text-align: center">
            <img
                src="/images/blog/ChoixVelo_Velo2.jpg"
                alt="image choix velo"
                width="100%"
            />
        </div>
        <h2>
            Comment vous positionnez-vous pour être à l’aise à vélo ?<br />
            Le type de cadre et sa taille influencent directement votre posture,
            il est impératif de les choisir pour avoir une position
            confortable.<br />
        </h2>
        <p>
            <strong
                >Le vélo qui vous convient est celui sur lequel vous vous sentez
                bien !</strong
            >
            Dans la plupart des gammes, vous retrouverez 3 types de cadres
            différents Wave (col de cygne), Trapèze, Diamant (tube supérieur à
            l’horizontale) – pour s’adapter à tous les cyclistes. Un cadre Wave
            est plus simple à enjamber qu’un cadre diamant et le trapèze est un
            intermédiaire.
        </p>
        <div style="width: 100%; text-align: center">
            <img
                src="/images/blog/ChoixVelo2.jpg"
                alt="image choix velo"
                width="100%"
            />
        </div>
        <p>
            Le genre ne définit pas le type de cadre. Les dames comme les hommes
            peuvent préférer un modèle droit ou un col de cygne, ce qui importe
            encore une fois, c’est votre confort !<br /><br />

            Outre la capacité d’enjambement, la posture a de l’importance. Vous
            préférez une position plus sportive et penchée sur le vélo ou plus
            droite ? Prêtez-y attention, la géométrie du cadre joue énormément.
            N’hésitez pas à demander un conseil à votre vendeur. Un vélo avec
            une potence ( la pièce reliant le guidon à votre fourche ) réglable
            en inclinaison vous permettra certainement de trouver l’ ajustement
            optimal. Cela aura néanmoins une limite liée au cadre, d’où
            l’importance de se faire conseiller.<br /><br />

            Quant à la taille du vélo, elle est comparable à celle des
            vêtements. On retrouve des cadres de S à XL. Comme pour les
            vêtements, les tailles changent d’une marque à l’autre. Demandez
            donc le conseil de votre vendeur qui connait bien sa marque. En
            moyenne, vous pouvez considérer les valeurs suivantes :<br /><br />
        </p>
        <ul>
            <li>>1m60 : <strong>S</strong></li>
            <li>1m60&#38;lt; &#38;gt; 1m75 : <strong>M</strong></li>
            <li>1m75&#38;lt; &#38;gt; 1m85 : <strong>L</strong></li>
            <li>>1m85 : <strong>XL</strong></li>
        </ul>
        <h2>Choix final</h2>
        <p>
            Maintenant que vous savez le type de vélo que vous voulez acquérir,
            vous devez faire votre choix entre les différents modèles au sein
            d’une même gamme. Pour cela, il faudra prendre en considération
            votre fréquence d’utilisation du vélo, les kms que vous comptez
            parcourir, votre budget et naturellement, vos goûts et couleurs pour
            le look !
        </p>
        <h2>Et si c'est un électrique ?</h2>
        <p>
            Pour l’assistance électrique, deux pièces complémentaires sont à
            spécifier : le moteur et la batterie. La partie qui suit est assez
            technique mais elle vous permettra de maitrisez tout ce qu’il faut
            pour choisir !<br />
            Nous prenons pour exemple les moteurs Bosch car ce sont les leaders
            du marché.
        </p>
        <h2>Comment comparer différents moteurs électriques entre eux ?</h2>
        <p>
            Le moteur a une puissance exprimée en watts (symbole W),
            généralement 250 W qui est la limite légale pour les vélos dont
            l’assistance fonctionne jusque 25 km/h. Ils ont donc tous la même
            puissance. La donnée qui est importante pour vous est le couple du
            moteur. Il correspond à la force d’entrainement du moteur. Plus il
            est élevé, plus votre vélo électrique grimpera facilement les côtes.
            Chez Bosch on retrouve des moteurs avec des couples allant de 40 à
            75 Nm.<br />
            Vous retrouverez sur ce graphique les utilisations de prédilection
            de chaque moteur :
        </p>
        <div style="width: 100%; text-align: center">
            <img
                src="/images/blog/ChoixVelo3.jpg"
                alt="image choix velo"
                width="100%"
            />
        </div>
        <h2>Conseils de KAMEO Bikes</h2>
        <p>
            En Belgique nous avons différents types de dénivelé. Nous vous
            conseillons au minimum les moteurs suivants selon votre ville et
            pour une utilisation vélo-taff :
        </p>
        <ul>
            <li>Bruxelles : Active line plus, 50 Nm</li>
            <li>Liège : Performance line, 63 Nm</li>
            <li>Namur : Performance line, 63 Nm</li>
            <li>Charleroi : Active line plus, 50 Nm</li>
            <li>Campagne relativement plate : Active line plus, 50 Nm</li>
            <li>Campagne vallonnée : Performance line, 63 Nm</li>
            <li>Ardennes : Performance line CX, 75Nm</li>
        </ul>
        <h2>De quelle batterie ai-je besoin ?</h2>
        <p>
            Chaque utilisateur souhaite maximiser l’autonomie de son vélo
            électrique. Il est difficile de quantifier exactement l’autonomie
            d’une batterie, un peu comme il est compliqué de prédire une
            distance réalisée par une voiture avec une quantité de carburant.
            Cela dépend fortement des conditions du trajet comme la vitesse et
            le profil du parcours. Cependant, il y a une donnée objective qui
            est la capacité de la batterie = l’énergie électrique stockée dans
            celle-ci. Cette information est donnée en Wh ( watt heure, c’est
            l’unité ). On peut comparer ceci au volume d’un réservoir d’une
            voiture.<br />
            Pour un même moteur et une même conduite, plus le réservoir est
            grand, plus on peut faire de km. C’est pareil à vélo ! Bosch le
            leader pour les batteries et moteur possède des batteries de 300,
            400, 500 et 625 Wh. Pour vous faire une idée de l’autonomie nous
            vous invitions à simuler votre autonomie
            <a
                href="https://www.bosch-ebike.com/fr/service/assistant-dautonomie/"
                style="color: #d60b52"
                target="_blanck"
                >ici</a
            >.
        </p>
        <div style="width: 100%; text-align: center">
            <img
                src="/images/blog/ChoixVelo_Velo3.jpg"
                alt="image choix velo"
                width="100%"
            />
        </div>
        <h2>Autres composants</h2>
        <p>
            Le dérailleur, les freins, les suspensions sont les autres
            composants d’un vélo électrique. Il est difficile sans connaissances
            techniques ou une maîtrise du marché de différencier un bon
            composant d’un autre. Demandez conseil à des professionnels,
            cependant évitez les marques no-name et fiez-vous aux leaders de
            chaque catégorie comme SRAM, Shimano pour les dérailleurs qui vous
            proposeront des modèles robustes.
        </p>
        <h2>Rappel des points d'attention</h2>
        <p>
            <strong>
                <ol>
                    <li>Type de parcours</li>
                    <li>Fonction du vélo</li>
                    <li>Position et taille</li>
                    <li>Fréquence d’utilisation et budget</li>
                    <li>Données techniques et situation</li>
                </ol>
            </strong>
        </p>
    </div>
</template>

<script setup></script>

<style scoped>
.full-width-blog {
    width: 60%;
    margin: auto;
}
</style>
