<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Modifier une commande
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.go(-1)"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button
                    @click="isOpen = true"
                    style="
                        height: 35px;
                        padding: 10px;
                        float: right;
                        margin-right: 5px;
                    "
                    type="button"
                    class="btn btn-danger"
                >
                    Supprimer ce vélo de la commande
                </button>
            </div>

            <div class="col-md-12">
                <div class="widget p-cb">
                    <form @change="stores.bikesOrdersStore.update">
                        <h4 class="text-primary">
                            Modifier une commande de vélo
                        </h4>
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur le vélo
                            </h5>
                            <div class="col-md-3">
                                <label class="form-label" style="color: #3cb395"
                                    >Marque</label
                                >
                                <select
                                    @change="resetCatalogId"
                                    :class="[
                                        stores.bikesOrdersStore.getErrors.brand
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="brand"
                                    v-model="
                                        stores.bikesOrdersStore.getOrder.catalog
                                            .brand
                                    "
                                >
                                    <option value="Ahooga">Ahooga</option>
                                    <option value="Benno">Benno</option>
                                    <option value="Bzen">Bzen</option>
                                    <option value="Douze">Douze</option>
                                    <option value="Kayza">Kayza</option>
                                    <option value="Moustache">Moustache</option>
                                    <option value="Victoria">Victoria</option>
                                    <option value="Conway">Conway</option>
                                    <option value="Giant">Giant</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label
                                    for="bikes_catalog_id"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Modèle</label
                                >
                                <select
                                    name="bikes_catalog_id"
                                    id="bikes_catalog_id"
                                    @change="updatePrice(true)"
                                    v-model="
                                        stores.bikesOrdersStore.getOrder
                                            .bikes_catalog_id
                                    "
                                    :class="[
                                        stores.bikesOrdersStore.getErrors
                                            .bikes_catalog_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option
                                        v-for="item in models"
                                        :key="item.id"
                                        :value="item.id"
                                    >
                                        {{ item.model }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label
                                    for="size"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Taille</label
                                >
                                <select
                                    name="size"
                                    v-model="
                                        stores.bikesOrdersStore.getOrder.size
                                    "
                                    :class="[
                                        stores.bikesOrdersStore.getErrors.size
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option
                                        v-for="item in sizes"
                                        :key="item"
                                        :value="item"
                                    >
                                        {{ item }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label
                                    for="stock"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Stock</label
                                >
                                <select
                                    name="stock"
                                    @change="updateBikeStock()"
                                    v-model="
                                        stores.bikesOrdersStore.getOrder
                                            .bikes_id
                                    "
                                    :class="[
                                        stores.bikesOrdersStore.getErrors
                                            .bikes_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option
                                        v-if="
                                            stores.bikesOrdersStore.getOrder
                                                .bikes_id
                                        "
                                        :value="
                                            stores.bikesOrdersStore.getOrder
                                                .bikes_id
                                        "
                                        disabled
                                    >
                                        {{ order_bike ? order_bike.id : "" }}
                                        -
                                        {{
                                            order_bike
                                                ? order_bike.frame_number
                                                : ""
                                        }}
                                        {{
                                            order_bike
                                                ? "- " + order_bike.color
                                                : ""
                                        }}
                                    </option>
                                    <option :value="null">Non lié</option>
                                    <option
                                        v-for="item in bikes"
                                        :key="item"
                                        :value="item.id"
                                    >
                                        {{ item.id }} - {{ item.frame_number }}
                                        {{
                                            item.color ? "- " + item.color : ""
                                        }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur le contrat
                            </h5>
                            <div class="col-md-4">
                                <label class="form-label" style="color: #3cb395"
                                    >Statut</label
                                >
                                <select
                                    :class="[
                                        stores.bikesOrdersStore.getErrors.status
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    v-model="
                                        stores.bikesOrdersStore.getOrder.status
                                    "
                                >
                                    <option value="new">Nouveau</option>
                                    <option value="confirmed">Confirmé</option>
                                    <option value="done">Terminé</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" style="color: #3cb395"
                                    >Type de contrat</label
                                >
                                <select
                                    :class="[
                                        stores.bikesOrdersStore.getErrors.type
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    @change="updatePrice(false)"
                                    v-model="
                                        stores.bikesOrdersStore.getOrder.type
                                    "
                                >
                                    <option value="leasing">Leasing</option>
                                    <option value="selling">Vente</option>
                                    <option value="full_leasing">
                                        Leasing Pré-financé
                                    </option>
                                    <option value="annual_leasing">
                                        Leasing annuel
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label
                                    for="amount"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Montant</label
                                >
                                <input
                                    type="number"
                                    step="0.01"
                                    name="amount"
                                    id="amount"
                                    v-model="
                                        stores.bikesOrdersStore.getOrder.amount
                                    "
                                    :class="[
                                        stores.bikesOrdersStore.getErrors.amount
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur la livraison
                            </h5>
                            <div class="col-md-4">
                                <label class="form-label" style="color: #3cb395"
                                    >Date estimée de livraison</label
                                >
                                <input
                                    type="date"
                                    name="estimated_delivery_date"
                                    :class="[
                                        stores.bikesOrdersStore.getErrors
                                            .estimated_delivery_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="estimated_delivery_date"
                                    v-model="
                                        stores.bikesOrdersStore.getOrder
                                            .estimated_delivery_date
                                    "
                                />
                            </div>
                            <div class="col-md-4">
                                <label
                                    for="delivery_date"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Date de livraison</label
                                >
                                <input
                                    type="date"
                                    name="delivery_date"
                                    :class="[
                                        stores.bikesOrdersStore.getErrors
                                            .delivery_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="delivery_date"
                                    v-model="
                                        stores.bikesOrdersStore.getOrder
                                            .delivery_date
                                    "
                                />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <DeleteValidationModal
            :open="isOpen"
            @close="isOpen = !isOpen"
            :id="stores.bikesOrdersStore.getOrder.id"
            :store="stores.bikesOrdersStore"
        />
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { watch, ref } from "vue";
import DeleteValidationModal from "../Modals/DeleteValidationModal.vue";
import { storeToRefs } from "pinia";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Define constante
const isOpen = ref(false);
const route = useRoute();
const sizes = ref([]);
const models = ref([]);
const order_bike = ref([]);
const bikes = ref([]);

await stores.bikesOrdersStore.show(route.params.id);
stores.bikesCatalogStore
    .getSizesModel(stores.bikesOrdersStore.getOrder.bikes_catalog_id)
    .then((data) => (sizes.value = data));
stores.bikesCatalogStore
    .getModelsFromBrand(stores.bikesOrdersStore.getOrder.catalog.brand)
    .then((data) => (models.value = data));
stores.bikesStockStore
    .getBikeStockById(stores.bikesOrdersStore.getOrder.bikes_id)
    .then((data) => (order_bike.value = data));
stores.bikesStockStore
    .getBikesByCatalogIdAndSize(
        stores.bikesOrdersStore.getOrder.bikes_catalog_id,
        stores.bikesOrdersStore.getOrder.size
    )
    .then((data) => (bikes.value = data));

const { bikeOrder } = storeToRefs(stores.bikesOrdersStore);

watch(
    [() => bikeOrder.value.bikes_catalog_id, () => bikeOrder.value.size],
    async ([bikes_catalog_id, size]) => {
        bikes.value = await stores.bikesStockStore.getBikesByCatalogIdAndSize(
            bikes_catalog_id,
            size
        );
    }
);

async function updateBikeStock() {
    order_bike.value = await stores.bikesStockStore.getBikeStockById(
        stores.bikesOrdersStore.getOrder.bikes_id
    );
}

// Define methods
async function updatePrice(fromModels) {
    if (fromModels) stores.bikesOrdersStore.getOrder.size = null;
    const bike = models.value.find(
        (bike) => bike.id === stores.bikesOrdersStore.getOrder.bikes_catalog_id
    );
    stores.bikesOrdersStore.getOrder.amount = stores.bikesCatalogStore.getPrice(
        bike,
        stores.bikesOrdersStore.getOrder.type
    );
    sizes.value = await stores.bikesCatalogStore.getSizesModel(
        stores.bikesOrdersStore.getOrder.bikes_catalog_id
    );
}

async function resetCatalogId() {
    stores.bikesOrdersStore.getOrder.bikes_catalog_id = null;
    sizes.value = [];
    stores.bikesOrdersStore.getOrder.size = null;
    models.value = await stores.bikesCatalogStore.getModelsFromBrand(
        stores.bikesOrdersStore.getOrder.catalog.brand
    );
}
</script>
<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
