<template>
    <div class="row" id="mainDynamicZone">
        <div class="col-sm-12">
            <button
                @click="$router.go(-1)"
                style="width: 35px; height: 35px; padding: 0px"
                type="button"
                class="btn"
            >
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>

        <div class="col-md-12">
            <div class="widget p-cb">
                <form @submit.prevent="sendForm()">
                    <h4 class="text-primary">Ajouter une commande de vélo</h4>
                    <div class="row">
                        <h5 class="text-primary">Informations sur le vélo</h5>
                        <div class="col-md-4">
                            <label class="form-label" style="color: #3cb395"
                                >Marque</label
                            >
                            <select
                                class="form-control"
                                name="brand"
                                v-model="input.brand"
                                id="brand"
                                :class="[
                                    stores.bikesOrdersStore.getErrors.brand
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                            >
                                <option value="Ahooga">Ahooga</option>
                                <option value="Benno">Benno</option>
                                <option value="Bzen">Bzen</option>
                                <option value="Douze">Douze</option>
                                <option value="Kayza">Kayza</option>
                                <option value="Moustache">Moustache</option>
                                <option value="Victoria">Victoria</option>
                                <option value="Conway">Conway</option>
                                <option value="Giant">Giant</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label
                                for="bikes_catalog_id"
                                class="form-label"
                                style="color: #3cb395"
                                >Modèle</label
                            >
                            <select
                                class="form-control"
                                name="bikes_catalog_id"
                                id="bikes_catalog_id"
                                @change="updatePrice()"
                                v-model="input.bikes_catalog_id"
                                :class="[
                                    stores.bikesOrdersStore.getErrors
                                        .bikes_catalog_id
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                            >
                                <option
                                    v-for="item in models"
                                    :key="item.id"
                                    :value="item.id"
                                >
                                    {{ item.model }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label
                                for="size"
                                class="form-label"
                                style="color: #3cb395"
                                >Taille</label
                            >
                            <select
                                class="form-control"
                                name="size"
                                id="size"
                                v-model="input.size"
                                :class="[
                                    stores.bikesOrdersStore.getErrors.size
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                            >
                                <option
                                    v-for="item in sizes"
                                    :key="item"
                                    :value="item"
                                >
                                    {{ item }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <h5 class="text-primary">
                            Informations sur le contrat
                        </h5>
                        <div class="col-md-4">
                            <label class="form-label" style="color: #3cb395"
                                >Statut</label
                            >
                            <select
                                class="form-control"
                                v-model="input.status"
                                :class="[
                                    stores.bikesOrdersStore.getErrors.status
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                            >
                                <option value="new">Nouveau</option>
                                <option value="confirmed">Confirmé</option>
                                <option value="done">Terminé</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label
                                for="contract_type"
                                class="form-label"
                                style="color: #3cb395"
                                >Type de contrat</label
                            >
                            <select
                                class="form-control"
                                v-model="input.contract_type"
                                @change="updatePrice()"
                                name="contract_type"
                                id="contract_type"
                                :class="[
                                    stores.bikesOrdersStore.getErrors
                                        .contract_type
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                            >
                                <option value="leasing">Leasing</option>
                                <option value="selling">Vente</option>
                                <option value="full_leasing">
                                    Leasing Pré-financé
                                </option>
                                <option value="annual_leasing">
                                    Leasing annuel
                                </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label
                                for="amount"
                                class="form-label"
                                style="color: #3cb395"
                                >Montant</label
                            >
                            <input
                                type="number"
                                ref="leasingPrice"
                                step="0.01"
                                name="amount"
                                class="form-control"
                                id="amount"
                                v-model="input.amount"
                                :class="[
                                    stores.bikesOrdersStore.getErrors.amount
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                            />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <h5 class="text-primary">
                            Informations sur la livraison
                        </h5>
                        <div class="col-md-4">
                            <label class="form-label" style="color: #3cb395"
                                >Date estimée de livraison</label
                            >
                            <input
                                type="date"
                                name="estimated_delivery_date"
                                class="form-control"
                                id="estimated_delivery_date"
                                v-model="input.estimated_delivery_date"
                                :class="[
                                    stores.bikesOrdersStore.getErrors
                                        .estimated_delivery_date
                                        ? 'error form-control'
                                        : 'form-control',
                                ]"
                            />
                        </div>
                    </div>
                    <br />
                    <div>
                        <button
                            style="width: 150px; margin: auto"
                            type="submit"
                            class="btn btn-block"
                        >
                            Ajouter à la commande groupée
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { reactive, ref, watch } from "vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

const route = useRoute();
const input = reactive({});
const sizes = ref([]);
const models = ref([]);

watch(
    () => input.bikes_catalog_id,
    async (bikes_catalog_id) => {
        if (bikes_catalog_id) {
            sizes.value = await stores.bikesCatalogStore.getSizesModel(
                bikes_catalog_id
            );
        }
    }
);

watch(
    () => input.brand,
    async (brand) => {
        if (brand) {
            models.value = await stores.bikesCatalogStore.getModelsFromBrand(
                brand
            );
        }
    }
);

// Define methods
function updatePrice() {
    const bike = models.value.find(
        (bike) => bike.id === input.bikes_catalog_id
    );
    if (bike && input["contract_type"]) {
        input["amount"] = stores.bikesCatalogStore.getPrice(
            bike,
            input["contract_type"]
        );
    }
}

function sendForm() {
    const data = input;
    data.grouped_orders_id = route.params.id;
    stores.bikesOrdersStore.create(data);
}
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
