<template>
    <div class="catalogue">
        <div class="returnBack" onclick="history.back()">Retour</div>

        <h1>Catalogue</h1>

        <div class="gallery">
            <div
                class="item"
                v-for="item in stores.accessoriesCatalogStore
                    .getAccessoriesCatalog"
                :key="item.id"
            >
                <router-link
                    :to="{
                        name: 'details-accessoires',
                        params: { id: item.id },
                    }"
                >
                    <img
                        src="/images_bikes/velo_mini.jpg"
                        alt="image vélo {{ item.brand }} {{ item.model }}"
                    /><br />
                </router-link>
                <span class="stock"> IN STOCK </span>
                <div class="item-box">
                    <router-link
                        :to="{
                            name: 'details-accessoires',
                            params: { id: item.id },
                        }"
                    >
                        <div class="item-content">
                            <strong>{{ item.brand }} {{ item.model }}</strong
                            ><br />
                            <strong class="prix"
                                >{{ item.price_htva }} €</strong
                            >
                        </div>
                    </router-link>

                    <router-link
                        class="btn-details"
                        :to="{
                            name: 'details-accessoires',
                            params: { id: item.id },
                        }"
                    >
                        EN SAVOIR PLUS
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
// Import dependencies
import { useRoute } from "vue-router";
// Import stores
import * as stores from "../../store/StoresIndex";

// Import functions
import { onBeforeMount } from "vue";

// Define constants
onBeforeMount(async () => {
    await stores.accessoriesCatalogStore.loadAccessoriesCatalogByCategorie(
        route.params.accessoire
    );
});
const route = useRoute();
// recup id

function test(tab) {
    let final;
    tab.forEach((t) => {
        if (t.id == 202) {
            final.push(t);
        }
    });
    return tab;
    // return tab.filter(function (el) {
    //     return el.toLowerCase().indexOf(requete.toLowerCase()) !== -1;
    // });
}
let idCategorie;
switch (route.params.accessoire) {
    case "cadenas":
        idCategorie = 2;
        break;
    case "casque":
        idCategorie = 480;
        break;
    case "textiles":
        idCategorie = 2;
        break;
    case "sacoches":
        idCategorie = 2;
        break;
    case "phare":
        idCategorie = 2;
        break;
    case "siege_enfant":
        idCategorie = 2;
        break;
    case "pompes":
        idCategorie = 2;
        break;
    case "produits_nettoyants":
        idCategorie = 2;
        break;
    case "selle":
        idCategorie = 2;
        break;
    case "pedale":
        idCategorie = 2;
        break;
    case "support_smartphone":
        idCategorie = 2;
        break;
    case "enfant":
        idCategorie = 2;
        break;
}
</script>

<style scoped>
.returnBack,
.title_vignette {
    color: #d60b52;
}

.returnBack::before {
    background-color: #d60b52;
}
a:hover {
    color: black;
}
h1 {
    color: #d60b52;
    display: inline-block;
    margin-left: 20px;
}
img {
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
}
.prix {
    font-size: 1.5em;
}
.stock {
    color: #d60b52;
}
.catalogue {
    width: 70%;
    margin: auto;
}
.btn-details {
    background-color: #d60b52;
    color: white;
    padding: 10px;
}
.gallery {
    margin: auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.item {
    border: solid 1px grey;
    text-align: center;
}
.item-box {
    padding: 20px;
    border-radius: 5px;
    margin: 15px;
}
.item-content {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.btn {
    background-color: #d60b52;
    color: white;
    padding: 0 24px;
    border-radius: 24px;
}
@media screen and (min-width: 760px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1400px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}
</style>
