<template>
    <div class="full-width">
        <div class="returnBack" onclick="history.back()">Retour</div>
        <h1 style="color: #d60b52; display: inline">Blog</h1>
        <div class="gallery" style="padding-top: 20px">
            <div>
                <h2>Comment choisir son nouveau vélo ?</h2>
                <img src="/images/blog/ChoixVelo_Cover.jpg" />
                <p style="padding: 0px 20px 0px 20px">
                    Suivez notre guide pour faire votre meilleur choix.<br /><br />
                </p>
                <div style="width: 100%; text-align: center">
                    <router-link
                        :to="{ name: 'choisir-son-velo' }"
                        class="actionCall"
                    >
                        LIRE L'ARTICLE
                    </router-link>
                </div>
            </div>
            <div>
                <h2>Nouveau magasin à Liège</h2>
                <img src="/images/blog/vue3D_cover.jpg" />
                <p style="padding: 0px 20px 0px 20px">
                    Saviez-vous que comment choisir votre vélo ?<br /><br />
                </p>
                <div class="blog-btn" style="width: 100%; text-align: center">
                    <router-link
                        :to="{ name: 'nouveau-magasin' }"
                        class="actionCall"
                    >
                        LIRE L'ARTICLE
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup></script>

<style scoped>
.returnBack,
.title_vignette {
    color: #d60b52;
}

.returnBack::before {
    background-color: #d60b52;
}
img {
    width: 100%;
    height: auto;
}
.full-width {
    width: 80%;
    margin: auto;
}
.gallery {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.gallery > div {
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gallery > a > div > h2 {
    margin-top: 0px;
}
.gallery > div > div {
    margin-bottom: 10px;
}
.actionCall {
    background-color: #d60b52;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}
@media screen and (min-width: 760px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
</style>
