<template>
    <div id="main">
        <div class="sliderTest">
            <div id="slide1">
                <img
                    src="/images/shop_banner.jpg"
                    alt="Banner image for shop"
                    class="shopBanner"
                />
                <span id="portfolioLink">
                    <router-link :to="{ name: 'categorie-velo' }">
                        Découvrir notre catalogue
                    </router-link>
                </span>
            </div>
            <div id="slide2">
                <img
                    src="/images/we_are_open_banner.jpg"
                    alt="We are open banner"
                    class="shopBanner"
                />
            </div>
            <span class="icon-arrow_back3" id="prev3"></span>
            <span class="icon-arrow_forward3" id="next3"></span>
        </div>
        <div class="visible-sm">
            <img
                src="/images/shop_banner_sm.jpg"
                alt="Banner image for shop"
                width="100%"
            />
        </div>
        <div class="titreCategorieVelo">
            <h1>KAMEO SHOP - SPECIALISTE VELO A LIEGE</h1>
        </div>
        <div style="width: 80%; margin: auto" class="hidden-sm">
            <div style="width: 100%; position: relative">
                <div
                    style="width: 100%"
                    class="overviewCatalogGrid"
                    id="overviewCatalogGrid"
                >
                    <router-link
                        :to="{
                            name: 'catalog-utilisation',
                            params: { utilisation: 'Ville' },
                        }"
                    >
                        <div
                            class="categorySelection"
                            style="
                                background-image: url('/images/covers/mini/ville.jpg');
                            "
                        >
                            <h2
                                class="vignette"
                                style="background-color: black; color: white"
                            >
                                Vélos de ville
                            </h2>
                        </div>
                    </router-link>
                    <router-link
                        :to="{
                            name: 'catalog-utilisation',
                            params: { utilisation: 'Ville et chemin' },
                        }"
                    >
                        <div
                            class="categorySelection"
                            style="
                                background-image: url('/images/covers/mini/villechemin.jpg');
                            "
                        >
                            <h2
                                class="vignette"
                                style="background-color: black; color: white"
                            >
                                Vélos ville et chemin
                            </h2>
                        </div>
                    </router-link>
                    <router-link
                        :to="{
                            name: 'catalog-utilisation',
                            params: { utilisation: 'Tout chemin' },
                        }"
                    >
                        <div
                            class="categorySelection"
                            style="
                                background-image: url('/images/covers/mini/toutchemin.jpg');
                            "
                        >
                            <h2
                                class="vignette"
                                style="background-color: black; color: white"
                            >
                                Vélos tout chemin
                            </h2>
                        </div>
                    </router-link>
                    <router-link
                        :to="{
                            name: 'catalog-utilisation',
                            params: { utilisation: 'VTT' },
                        }"
                    >
                        <div
                            class="categorySelection"
                            style="
                                background-image: url('/images/covers/mini/vtt.jpg');
                            "
                        >
                            <h2
                                class="vignette"
                                style="background-color: black; color: white"
                            >
                                Vélos VTT
                            </h2>
                        </div>
                    </router-link>
                    <router-link
                        :to="{
                            name: 'catalog-utilisation',
                            params: { utilisation: 'speed' },
                        }"
                    >
                        <div
                            class="categorySelection"
                            style="
                                background-image: url('/images/covers/mini/speed.jpg');
                            "
                        >
                            <h2
                                class="vignette"
                                style="background-color: black; color: white"
                            >
                                Vélos Speedelec
                            </h2>
                        </div>
                    </router-link>
                    <router-link
                        :to="{
                            name: 'catalog-utilisation',
                            params: { utilisation: 'cargo' },
                        }"
                    >
                        <div
                            class="categorySelection"
                            style="
                                background-image: url('/images/covers/mini/cargo.jpg');
                            "
                        >
                            <h2
                                class="vignette"
                                style="background-color: black; color: white"
                            >
                                Vélos Cargo
                            </h2>
                        </div>
                    </router-link>
                    <router-link
                        :to="{
                            name: 'catalog-utilisation',
                            params: { utilisation: 'pliant' },
                        }"
                    >
                        <div
                            class="categorySelection"
                            style="
                                background-image: url('/images/covers/mini/pliant.jpg');
                            "
                        >
                            <h2
                                class="vignette"
                                style="background-color: black; color: white"
                            >
                                Vélos pliants
                            </h2>
                        </div>
                    </router-link>
                    <router-link
                        :to="{
                            name: 'catalog-utilisation',
                            params: { utilisation: 'gravel' },
                        }"
                    >
                        <div
                            class="categorySelection"
                            style="
                                background-image: url('/images/covers/mini/gravel.jpg');
                            "
                        >
                            <h2
                                class="vignette"
                                style="background-color: black; color: white"
                            >
                                Vélos gravel
                            </h2>
                        </div>
                    </router-link>
                    <router-link
                        :to="{
                            name: 'catalog-utilisation',
                            params: { utilisation: 'enfant' },
                        }"
                    >
                        <div
                            class="categorySelection"
                            style="
                                background-image: url('/images/covers/mini/enfant.jpg');
                            "
                        >
                            <h2
                                class="vignette"
                                style="background-color: black; color: white"
                            >
                                Vélos enfant
                            </h2>
                        </div>
                    </router-link>
                </div>
                <span
                    class="icon-arrow_back"
                    id="prev"
                    style="float: left; display: none"
                ></span>
                <span
                    class="icon-arrow_forward"
                    style="float: right"
                    id="next"
                ></span>
            </div>
        </div>
        <div style="width: 100%; margin: auto; padding: 10px" id="bikesGallery">
            <router-link
                :to="{
                    name: 'catalog-utilisation',
                    params: { utilisation: 'Ville' },
                }"
            >
                <div
                    class="categorySelection"
                    style="
                        background-image: url('/images/covers/mini/ville.jpg');
                    "
                >
                    <h2
                        class="vignette"
                        style="background-color: black; color: white"
                    >
                        Vélos de ville
                    </h2>
                </div>
            </router-link>
            <router-link
                :to="{
                    name: 'catalog-utilisation',
                    params: { utilisation: 'Ville et chemin' },
                }"
            >
                <div
                    class="categorySelection"
                    style="
                        background-image: url('/images/covers/mini/villechemin.jpg');
                    "
                >
                    <h2
                        class="vignette"
                        style="background-color: black; color: white"
                    >
                        Vélos ville et chemin
                    </h2>
                </div>
            </router-link>
            <router-link
                :to="{
                    name: 'catalog-utilisation',
                    params: { utilisation: 'Tout chemin' },
                }"
            >
                <div
                    class="categorySelection"
                    style="
                        background-image: url('/images/covers/mini/toutchemin.jpg');
                    "
                >
                    <h2
                        class="vignette"
                        style="background-color: black; color: white"
                    >
                        Vélos tout chemin
                    </h2>
                </div>
            </router-link>
            <router-link
                :to="{
                    name: 'catalog-utilisation',
                    params: { utilisation: 'VTT' },
                }"
            >
                <div
                    class="categorySelection"
                    style="background-image: url('/images/covers/mini/vtt.jpg')"
                >
                    <h2
                        class="vignette"
                        style="background-color: black; color: white"
                    >
                        Vélos VTT
                    </h2>
                </div>
            </router-link>
            <router-link
                :to="{
                    name: 'catalog-utilisation',
                    params: { utilisation: 'speed' },
                }"
            >
                <div
                    class="categorySelection"
                    style="
                        background-image: url('/images/covers/mini/speed.jpg');
                    "
                >
                    <h2
                        class="vignette"
                        style="background-color: black; color: white"
                    >
                        Vélos Speedelec
                    </h2>
                </div>
            </router-link>
            <router-link
                :to="{
                    name: 'catalog-utilisation',
                    params: { utilisation: 'cargo' },
                }"
            >
                <div
                    class="categorySelection"
                    style="
                        background-image: url('/images/covers/mini/cargo.jpg');
                    "
                >
                    <h2
                        class="vignette"
                        style="background-color: black; color: white"
                    >
                        Vélos Cargo
                    </h2>
                </div>
            </router-link>
            <router-link
                :to="{
                    name: 'catalog-utilisation',
                    params: { utilisation: 'pliant' },
                }"
            >
                <div
                    class="categorySelection"
                    style="
                        background-image: url('/images/covers/mini/pliant.jpg');
                    "
                >
                    <h2
                        class="vignette"
                        style="background-color: black; color: white"
                    >
                        Vélos pliants
                    </h2>
                </div>
            </router-link>
            <router-link
                :to="{
                    name: 'catalog-utilisation',
                    params: { utilisation: 'gravel' },
                }"
            >
                <div
                    class="categorySelection"
                    style="
                        background-image: url('/images/covers/mini/gravel.jpg');
                    "
                >
                    <h2
                        class="vignette"
                        style="background-color: black; color: white"
                    >
                        Vélos gravel
                    </h2>
                </div>
            </router-link>
            <router-link
                :to="{
                    name: 'catalog-utilisation',
                    params: { utilisation: 'enfant' },
                }"
            >
                <div
                    class="categorySelection"
                    style="
                        background-image: url('/images/covers/mini/enfant.jpg');
                    "
                >
                    <h2
                        class="vignette"
                        style="background-color: black; color: white"
                    >
                        Vélos enfant
                    </h2>
                </div>
            </router-link>
        </div>
        <div class="full-width" id="marques">
            <h2>Nos marques</h2>
            <div class="brandsGallery">
                <div>
                    <img src="/images_bikes/logo_brands/conway.png" />
                </div>
                <div>
                    <img src="/images_bikes/logo_brands/victoria.png" />
                </div>
                <div>
                    <img src="/images_bikes/logo_brands/benno.png" />
                </div>
                <div>
                    <img src="/images_bikes/logo_brands/kayza.png" />
                </div>
                <div>
                    <img src="/images_bikes/logo_brands/ahooga.png" />
                </div>
                <div>
                    <img src="/images_bikes/logo_brands/Bzen.png" />
                </div>
                <div>
                    <img src="/images_bikes/logo_brands/Hnf.png" />
                </div>
                <div>
                    <img src="/images_bikes/logo_brands/Bemoov.png" />
                </div>
                <div>
                    <img src="/images_bikes/logo_brands/Eovolt.png" />
                </div>
            </div>
        </div>
        <div class="full-width" id="accessoires">
            <h2>Catalogue d'accessoires</h2>
            <div id="accessoriesGallery">
                <router-link
                    :to="{
                        name: 'catalog-accessoires',
                        params: { accessoire: 'cadenas' },
                    }"
                >
                    <div
                        style="
                            background-image: url('/images/Cover_Catalogue/Covers_Catalogue_cadenas.jpg');
                        "
                    >
                        <h2 class="vignette">Cadenas</h2>
                    </div>
                </router-link>
                <router-link
                    :to="{
                        name: 'catalog-accessoires',
                        params: { accessoire: 'casque' },
                    }"
                >
                    <div
                        class="accessoryCategory"
                        style="
                            background-image: url('/images/Cover_Catalogue/Covers_Catalogue_casques.jpg');
                        "
                    >
                        <h2 class="vignette">Casque</h2>
                    </div>
                </router-link>
                <router-link
                    :to="{
                        name: 'catalog-accessoires',
                        params: { accessoire: 'textiles' },
                    }"
                >
                    <div
                        class="accessoryCategory"
                        style="
                            background-image: url('/images/Cover_Catalogue/Covers_Catalogue_textiles.jpg');
                        "
                    >
                        <h2 class="vignette">Textiles</h2>
                    </div>
                </router-link>
                <router-link
                    :to="{
                        name: 'catalog-accessoires',
                        params: { accessoire: 'sacoches' },
                    }"
                >
                    <div
                        class="accessoryCategory"
                        style="
                            background-image: url('/images/Cover_Catalogue/Covers_Catalogue_sacoches.jpg');
                        "
                    >
                        <h2 class="vignette">Sacoches</h2>
                    </div>
                </router-link>
                <router-link
                    :to="{
                        name: 'catalog-accessoires',
                        params: { accessoire: 'phares' },
                    }"
                >
                    <div
                        class="accessoryCategory"
                        style="
                            background-image: url('/images/Cover_Catalogue/Covers_Catalogue_phares.jpg');
                        "
                    >
                        <h2 class="vignette">Phares</h2>
                    </div>
                </router-link>
                <router-link
                    :to="{
                        name: 'catalog-accessoires',
                        params: { accessoire: 'siege_enfant' },
                    }"
                >
                    <div
                        class="accessoryCategory"
                        style="
                            background-image: url('/images/Cover_Catalogue/Covers_Catalogue_siegesenfants.jpg');
                        "
                    >
                        <h2 class="vignette">Siège enfant</h2>
                    </div>
                </router-link>
                <router-link
                    :to="{
                        name: 'catalog-accessoires',
                        params: { accessoire: 'pompes' },
                    }"
                >
                    <div
                        class="accessoryCategory"
                        style="
                            background-image: url('/images/Cover_Catalogue/Covers_Catalogue_pompes.jpg');
                        "
                    >
                        <h2 class="vignette">Pompe à vélo</h2>
                    </div>
                </router-link>
                <router-link
                    :to="{
                        name: 'catalog-accessoires',
                        params: { accessoire: 'produits_nettoyants' },
                    }"
                >
                    <div
                        class="accessoryCategory"
                        style="
                            background-image: url('/images/Cover_Catalogue/Covers_Catalogue_produits.jpg');
                        "
                    >
                        <h2 class="vignette">Produit d'entretien</h2>
                    </div>
                </router-link>
                <router-link
                    :to="{
                        name: 'catalog-accessoires',
                        params: { accessoire: 'selle' },
                    }"
                >
                    <div
                        class="accessoryCategory"
                        style="
                            background-image: url('/images/Cover_Catalogue/Covers_Catalogue_selles.jpg');
                        "
                    >
                        <h2 class="vignette">Selle</h2>
                    </div>
                </router-link>
                <router-link
                    :to="{
                        name: 'catalog-accessoires',
                        params: { accessoire: 'pedale' },
                    }"
                >
                    <div
                        class="accessoryCategory"
                        style="
                            background-image: url('/images/Cover_Catalogue/Covers_Catalogue_pedales.jpg');
                        "
                    >
                        <h2 class="vignette">Pédales</h2>
                    </div>
                </router-link>
                <router-link
                    :to="{
                        name: 'catalog-accessoires',
                        params: {
                            accessoire: 'support_smartphone',
                        },
                    }"
                >
                    <div
                        class="accessoryCategory"
                        style="
                            background-image: url('/images/Cover_Catalogue/Covers_Catalogue_supportsmartphone.jpg');
                        "
                    >
                        <h2 class="vignette">Support smartphone</h2>
                    </div>
                </router-link>
                <router-link
                    :to="{
                        name: 'catalog-accessoires',
                        params: { accessoire: 'enfant' },
                    }"
                >
                    <div
                        class="accessoryCategory"
                        style="
                            background-image: url('/images/Cover_Catalogue/Covers_Catalogue_remorquesvelo.jpg');
                        "
                    >
                        <h2 class="vignette">Remorque</h2>
                    </div>
                </router-link>
            </div>
        </div>
        <div id="infos">
            <div class="grid sm:grid-flow-col full-width">
                <div class="card">
                    <div class="grid-template-2">
                        <div class="grid-1">
                            <img
                                src="/images/icons/Icone_Employe_Red.jpg"
                                alt="Icone vélo du moment"
                            />
                        </div>
                        <div class="grid-1">
                            <span class="title_vignette">Vélo du mois</span>
                        </div>
                    </div>
                    <div class="text-center">
                        <img
                            src="/images_bikes/velo.jpg"
                            width="100%"
                            alt="image vélo du moment"
                        />
                        <span>Benno Boost E10D</span>
                    </div>
                </div>
                <div class="card">
                    <div class="grid-template-2">
                        <div class="grid-1">
                            <img
                                src="/images/icons/Icone_Employe_Red.jpg"
                                alt="logo je suis un employeur"
                            />
                        </div>
                        <div class="grid-1">
                            <span class="title_vignette">Accessoires</span>
                        </div>
                    </div>
                    <p>
                        En plus de nos vélos, nous vous proposons un large choix
                        d'accessoires correspondants à toutes les
                        utilisations<br /><br />
                    </p>
                    <div class="card-input">
                        <router-link :to="{ name: 'shop-accessoires' }">
                            <span class="btn-infos">
                                DECOUVRIR LE CATALOGUE
                            </span>
                        </router-link>
                    </div>
                </div>
                <div class="card">
                    <div class="grid-template-2">
                        <div class="grid-1">
                            <img
                                src="/images/icons/Icone_Employe_Red.jpg"
                                alt="logo je suis un employeur"
                            />
                        </div>
                        <div class="grid-1">
                            <span class="title_vignette"
                                >Comment choisir son vélo ?</span
                            >
                        </div>
                    </div>
                    <p>
                        Saviez-vous que nous avons une section blog où nous vous
                        expliquons comment choisir votre vélo ?<br />
                    </p>
                    <img
                        src="/images/blog/ChoixVelo_Cover.jpg"
                        width="100%"
                        height="auto"
                    />

                    <div class="card-input">
                        <router-link :to="{ name: 'blog' }">
                            <span class="btn-infos">
                                COMMENT CHOISIR MON VELO ?
                            </span>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1264.7922885746027!2d5.590069958227898!3d50.65340589487594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0fa03fbcae78b%3A0xdb098129a125e630!2sKAMEO%20Bikes!5e0!3m2!1sfr!2sbe!4v1584177978200!5m2!1sfr!2sbe"
            frameborder="0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
        ></iframe>
    </div>
</template>

<script setup>
const { onMounted } = require("@vue/runtime-core");

onMounted(() => {
    let slides3 = document.querySelectorAll(".sliderTest div");
    let slideSayisi = slides3.length;

    for (let index = 0; index < slideSayisi; index++) {
        const element = slides3[index];
        element.style.transform = "translateX(" + 100 * index + "%)";
        element.style.display = "block";
    }
    let loop = 0 + 1000 * slideSayisi;

    function goNext3() {
        loop++;
        for (let index = 0; index < slideSayisi; index++) {
            const element = slides3[index];
            element.style.transform =
                "translateX(" + 100 * (index - (loop % slideSayisi)) + "%)";
        }
    }

    setInterval(goNext3, 5000);

    let arrowIconLeft =
        '<?xml version="1.0" ?><!DOCTYPE svg  PUBLIC \'-//W3C//DTD SVG 1.1//EN\'  \'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd\'><svg height="50px" id="Layer_1" style="enable-background:new 0 0 50 50;" version="1.1" viewBox="0 0 512 512" width="50px" color="#fff" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="352,115.4 331.3,96 160,256 331.3,416 352,396.7 201.5,256 "/></svg>';
    let indexSlide = 0;

    let prev = document.getElementById("prev");
    let next = document.getElementById("next");
    prev.innerHTML = arrowIconLeft;
    next.innerHTML = arrowIconLeft;
    next.querySelector("svg").style.transform = "rotate(180deg)";
    next.addEventListener("click", goNext);
    prev.addEventListener("click", goPrev);
    document.addEventListener("keydown", function (e) {
        if (e.code === "ArrowRight") {
            goNext();
        } else if (e.code === "ArrowLeft") {
            goPrev();
        }
    });

    let elements = document.querySelectorAll(".overviewCatalogGrid a");
    let arrowRight = document.getElementById("next");
    let arrowLeft = document.getElementById("prev");
    let lastElement = elements[elements.length - 1];
    // let lastElementInitialPosition = lastElement.getBoundingClientRect().left;
    let lastElementInitialPosition = lastElement;

    function goNext() {
        indexSlide++;

        for (let index = 0; index < elements.length; index++) {
            const element = elements[index];
            element.style.transform =
                "translateX(" + 255 * indexSlide * -1 + "px)";
        }
        checkDisplayArrows();
    }

    function goPrev() {
        indexSlide--;

        for (let index = 0; index < elements.length; index++) {
            const element = elements[index];
            element.style.transform =
                "translateX(" + 255 * indexSlide * -1 + "px)";
        }
        checkDisplayArrows();
    }

    function checkDisplayArrows() {
        if (indexSlide == 0) {
            arrowLeft.style.display = "none";
        } else {
            arrowLeft.style.display = "block";
        }
        let transformStyle = elements[elements.length - 1].style.transform;
        let translateX = transformStyle.replace(/[^\d.]/g, "");

        if (
            lastElementInitialPosition - translateX <
            document.getElementById("overviewCatalogGrid").clientWidth
        ) {
            arrowRight.style.display = "none";
        } else {
            arrowRight.style.display = "block";
        }
    }
});
</script>

<style scoped>
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
h2 {
    font-size: 1.2em;
    color: #d60b52;
}
iframe {
    border: 0;
    width: 100%;
    height: 300px;
}
*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
.brandsGallery {
    width: 100%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: center;
}
.brandsGallery img {
    width: 100px;
}
.btn-infos {
    background-color: #d60b52;
    color: white;
    margin-bottom: 20px;
    font-weight: 800;
    display: table;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
    border-radius: 20px;
}
.card {
    margin: auto;
    border: 1px solid #c7c7c7;
    height: 100%;
    border-radius: 20px;
    width: 100%;
    text-align: center;
}
.full-width {
    width: 100%;
    padding: 10px;
}
.grid {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
}
.grid-1 {
    grid-column: span 1;
}
.grid-1 > img {
    width: 70px;
}
.grid-template-2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 20px 0px 20px;
}
.icon-arrow_back {
    float: left;
    position: absolute;
    left: 0px;
    top: 35%;
    z-index: 1000;
    padding: 5px;
}
.icon-arrow_forward {
    float: right;
    position: absolute;
    right: 0px;
    top: 35%;
    z-index: 1000;
    padding: 5px;
}
.overviewCatalogGrid {
    width: 100%;
    padding: 0px 20px 0px 0px;
    margin: auto;
    display: grid;
    column-gap: 30px;
    row-gap: 20px;
    overflow: hidden;
    grid-auto-flow: column;
    margin-bottom: 50px;
}
.overviewCatalogGrid div {
    height: 400px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overviewCatalogGrid h2 {
    background-color: black;
    color: white;
}
.shopBanner {
    width: 100%;
    height: auto;
}
.sliderTest {
    overflow: hidden;
    position: relative;
}
.sliderTest div {
    transition: all 1s;
}
.slideCategorieVelo > div {
    width: 100%;
    position: relative;
}
.titreCategorieVelo {
    width: 80%;
    margin: auto;
}
.titreCategorieVelo h1 {
    margin: 0.67em 0;
}
.vignette {
    display: block;
    width: 100px;
    margin: auto;
    font-weight: bold;
    font-size: 0.8em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    transition: 0.3s;
    color: white;
}
.visible-sm {
    display: block;
}
#accessoires div h2 {
    background-color: black;
    color: white;
}
#accessoriesGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: auto;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
}
#accessoriesGallery div {
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bikesGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: auto;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
}
#bikesGallery div {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bikesGallery h2 {
    background-color: black;
    color: white;
}
#infos {
    background-color: #d60b52;
    padding: 30px 0px 30px 0px;
    width: 100%;
}
#infos > div {
    column-gap: 20px;
    row-gap: 20px;
}
#infos .card-input {
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding-bottom: 20px;
}
#infos .card {
    position: relative;
    padding-bottom: 20px;
    background-color: white;
}
#infos .card p {
    padding: 0px 20px;
    margin: 1em 0;
    line-height: 1.5rem;
    font-size: 1.15rem;
}
#infos .grid-template-2 {
    padding: 20px 20px 0px 20px;
    margin-top: 0px;
}
#infos .text-center {
    padding: 40px;
    width: 100%;
    margin: auto;
    text-align: center;
}
#next {
    user-select: none;
    right: 0;
    border-radius: 10px 0 0 10px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-right: -50px;
    z-index: 10000;
}
#next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
#next3 {
    float: left;
    right: 0;
    border-radius: 10px 0 0 10px;
}
#next3:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
#marques img {
    max-width: 200px;
}
#prev {
    float: left;
    display: none;
    user-select: none;
    left: 0;
    border-radius: 0 10px 10px 0;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: -50px;
}
#prev:hover,
#prev3 {
    left: 0;
    float: left;
    border-radius: 0 10px 10px 0;
}
#prev3:hover,
#portfolioLink {
    display: none;
    border-radius: 20px;
    background-color: #d60b52;
    padding: 0px 20px 0px 20px;
    height: 50px;
    position: absolute;
    margin: -25px 0 0 0;
    color: #fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    top: 60%;
    left: 60%;
    font-size: 30px;
    font-weight: 800;
}
#slide1 {
    position: relative;
}
#slide2 {
    position: absolute;
    top: 0px;
    display: none;
}
@media screen and (min-width: 1124px) {
    #bikesGallery {
        display: none;
    }
}
@media screen and (min-width: 640px) {
    #accessoriesGallery {
        grid-template-columns: repeat(4, 1fr);
    }

    #accessoriesGallery div {
        height: 150px;
    }

    #bikesGallery {
        grid-template-columns: repeat(5, 1fr);
    }

    #bikesGallery div {
        height: 200px;
    }
}
@media screen and (min-width: 1024px) {
    #accessoriesGallery {
        grid-template-columns: repeat(6, 1fr);
    }

    #accessoriesGallery div {
        height: 200px;
    }

    .grid-template-2 {
        display: grid;
        grid-template-columns: 100px 50%;
        padding: 20px 20px 0px 20px;
    }
}
@media screen and (min-width: 1440px) {
    #accessoriesGallery {
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (min-width: 640px) {
    .brandsGallery {
        width: 100%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(auto-fill, 200px);
    }

    .brandsGallery img {
        width: 200px;
    }

    #portfolioLink {
        font-size: 25px;
    }

    .vignette {
        font-size: 0.95em;
    }
}
@media (min-width: 1440px) {
    #portfolioLink {
        display: block;
    }
}
@media (min-width: 860px) {
    .sm\:grid-flow-col {
        grid-auto-flow: column;
    }
}
@media (min-width: 1124px) {
    .hidden-sm {
        display: block;
    }

    .visible-sm {
        display: none;
    }

    .full-width {
        width: 80%;
        margin: auto;
    }
}
@media (min-width: 1260px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
}
*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
.grid {
    display: grid;
}
.text-center {
    text-align: center;
}

h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.2em;
    color: #d60b52;
}

@media (min-width: 1260px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.5em;
    }
}

.full-width {
    width: 100%;
    padding: 10px;
}
@media (min-width: 1124px) {
    .full-width {
        width: 80%;
        margin: auto;
    }
}

.hidden-sm {
    display: none;
}
.visible-sm {
    display: block;
}

@media (min-width: 1124px) {
    .hidden-sm {
        display: block;
    }
    .visible-sm {
        display: none;
    }
}

.grid {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
}
@media (min-width: 860px) {
    .sm\:grid-flow-col {
        grid-auto-flow: column;
    }
}
.grid-1 {
    grid-column: span 1;
}

/* On hover, add a black background color with a little bit see-through */

/* Fading animation */

.card {
    /* Add shadows to create the "card" effect */
    margin: auto;
    border: 1px solid #c7c7c7;
    height: 100%;
    border-radius: 20px;
    width: 100%;
    text-align: center;
}

.title_vignette {
    color: #d60b52;
    font-weight: bold;
    font-size: 1.2em;
}

.grid-template-2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 20px 0px 20px;
}

@media screen and (min-width: 1024px) {
    .grid-template-2 {
        display: grid;
        grid-template-columns: 100px 50%;
        padding: 20px 20px 0px 20px;
    }
}

#portfolioLink {
    display: none;
    padding: 0px 20px 0px 20px;
}
@media (min-width: 1440px) {
    #portfolioLink {
        display: block;
    }
}
.sliderTest {
    overflow: hidden;
}
.sliderTest div {
    transition: all 1s;
}
.sliderTest span {
    height: 50px;
    position: absolute;
    top: 50%;
    margin: -25px 0 0 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.sliderTest div span {
    position: absolute;
    top: 60%;
    left: 60%;
    font-size: 15px;
    font-weight: 800;
}
@media (min-width: 640px) {
    .sliderTest div span {
        font-size: 25px;
    }
}

@media (min-width: 1440px) {
    .sliderTest div span {
        font-size: 30px;
    }
}
#prev3 {
    left: 0;
    border-radius: 0 10px 10px 0;
}
#next3 {
    right: 0;
    border-radius: 10px 0 0 10px;
}
#prev3:hover,
#next3:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.brandsGallery {
    width: 100%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: center;
}
.brandsGallery img {
    width: 100px;
}
@media (min-width: 640px) {
    .brandsGallery {
        width: 100%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(auto-fill, 200px);
    }
    .brandsGallery img {
        width: 200px;
    }
}

.overviewCatalogGrid {
    padding: 0px 20px 0px 0px;
    margin: auto;
    display: grid;
    column-gap: 30px;
    row-gap: 20px;
    overflow: hidden;
    grid-auto-flow: column;
    margin-bottom: 50px;
}

#prev {
    user-select: none;
    left: 0;
    border-radius: 0 10px 10px 0;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: -50px;
}
#next {
    user-select: none;
    right: 0;
    border-radius: 10px 0 0 10px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-right: -50px;
    z-index: 10000;
}
#prev:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.icon-arrow_back {
    float: left;
    position: absolute;
    left: 0px;
    top: 35%;
    z-index: 1000;
    padding: 5px;
}

.icon-arrow_forward {
    float: right;
    position: absolute;
    right: 0px;
    top: 35%;
    z-index: 1000;
    padding: 5px;
}

#bikesGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: auto;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
}
@media screen and (min-width: 640px) {
    #bikesGallery {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media screen and (min-width: 1124px) {
    #bikesGallery {
        display: none;
    }
}
#accessoriesGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: auto;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
}
@media screen and (min-width: 640px) {
    #accessoriesGallery {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (min-width: 1024px) {
    #accessoriesGallery {
        grid-template-columns: repeat(6, 1fr);
    }
}
@media screen and (min-width: 1440px) {
    #accessoriesGallery {
        grid-template-columns: repeat(6, 1fr);
    }
}
</style>
