<template>
    <header>
        <Navigation />
    </header>
    <main>
        <router-view />
    </main>
    <Footer />
    <Suspense>
        <ChatBox />
    </Suspense>
</template>

<script setup>
import Navigation from "../Navigation.vue";
import Footer from "../Dashboard/Footer.vue";
import ChatBox from "../Dashboard/Chat/ChatBox.vue";
</script>

<style scoped></style>
