<template>
    <div class="full-width">
        <div class="returnBack" onclick="history.back()">Retour</div>
        <h1 style="color: #d60b52; display: inline-block; margin-left: 20px">
            Location de vélo
        </h1>
        <form id="msform">
            <!-- progressbar -->
            <ul id="progressbar" class="hidden-sm">
                <li id="progressBar-step-1" class="active">
                    Nombre de personne
                </li>
                <li id="progressBar-step-2">Type de balade</li>
                <li id="progressBar-step-3">Taille et type de cadre</li>
                <li id="progressBar-step-4">Accessoires</li>
                <li id="progressBar-step-5">Commentaire</li>
                <li id="progressBar-step-6">Coordonnées</li>
                <li id="progressBar-step-7">Durée de location</li>
                <li id="progressBar-step-8">Fin</li>
            </ul>
            <!-- fieldsets -->
            <fieldset v-show="step === 1">
                <h2 class="fs-title">Demande de location</h2>
                <h3 class="fs-subtitle">Combien de vélo souhaitez-vous ?</h3>
                <input
                    class="data-input"
                    type="number"
                    name="nb_bike"
                    min="1"
                    max="100"
                    v-model="locationData.nb_bike"
                />
                <br />
                <input
                    type="button"
                    class="action-button"
                    value="Suivant"
                    @click="nextStep"
                />
                <br />
                <p style="text-align: center; font-size: 0.8em">
                    Nous vous proposons des vélos de location de haute qualité,
                    de nos marques Conway, Victoria ou BZEN. Nous ne
                    garantissons pas la disponibilité des vélos en fonction de
                    la saison.
                </p>
            </fieldset>
            <fieldset v-show="step === 2">
                <h2 class="fs-title">Demande de location</h2>
                <h3 class="fs-subtitle">Quel est le type de la balade ?</h3>
                <select
                    class="data-input"
                    name="type_ride"
                    v-model="locationData.type_ride"
                >
                    <option value="" disabled selected>
                        Choisir une option
                    </option>
                    <option value="Ville">Ville</option>
                    <option value="Ravel">Ravel</option>
                    <option value="VTT">VTT</option>
                </select>
                <br />
                <input
                    type="button"
                    class="action-button"
                    value="Précédent"
                    @click="previousStep"
                />
                <input
                    type="button"
                    class="action-button"
                    value="Suivant"
                    @click="nextStep"
                />
            </fieldset>
            <fieldset v-show="step === 3">
                <h2 class="fs-title">Demande de location</h2>
                <h3 class="fs-subtitle">
                    Quel taille et type de cadre souhaitez-vous pour les vélos ?
                </h3>
                <div id="append-zone">
                    <div
                        v-for="(bike, index) in locationData.nb_bike"
                        :key="bike"
                    >
                        <h3 class="fs-subtitle">Vélo {{ index + 1 }}</h3>
                        <label for="bike_size">Taille*</label>
                        <br />
                        <select
                            class="data-input"
                            :name="'bike_size_' + (index + 1)"
                        >
                            <option value="" disabled selected>
                                Choisir une option
                            </option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                        <br />
                        <label for="bike_type">Type de cadre</label>
                        <br />
                        <select
                            class="data-input"
                            :name="'bike_type_' + (index + 1)"
                        >
                            <option value="" disabled selected>
                                Choisir une option
                            </option>
                            <option value="Homme">Homme</option>
                            <option value="Femme">Femme</option>
                            <option value="Mixte">Mixte</option>
                        </select>
                    </div>
                </div>
                <br />
                <input
                    type="button"
                    class="action-button"
                    value="Précédent"
                    @click="previousStep"
                />
                <input
                    type="button"
                    class="action-button"
                    value="Suivant"
                    @click="nextStep"
                />
                <span
                    >style="text-align:left; font-size:0.8em"> *Taille des vélos
                    :
                    <ul style="text-align: left; font-size: 0.8em">
                        <li>S : en dessous de 1m60</li>
                        <li>M : entre 1m60 et 1m75</li>
                        <li>L : entre 1m75 et 1m85</li>
                        <li>XL ; au dessus de 1m85</li>
                    </ul>
                </span>
            </fieldset>
            <fieldset v-show="step === 4">
                <h2 class="fs-title">Demande de location</h2>
                <h3 class="fs-subtitle">Souhaitez-vous des accessoires ?</h3>
                <label>Sacoche</label>
                <input
                    class="data-input"
                    type="number"
                    name="bag"
                    min="0"
                    max="100"
                    v-model="locationData.bag"
                />
                <br />
                <label>Casque</label>
                <input
                    class="data-input"
                    type="number"
                    name="helmet"
                    min="0"
                    max="100"
                    v-model="locationData.helmet"
                />
                <br />
                <input
                    type="button"
                    class="action-button"
                    value="Précédent"
                    @click="previousStep"
                />
                <input
                    type="button"
                    class="action-button"
                    value="Suivant"
                    @click="nextStep"
                />
            </fieldset>
            <fieldset v-show="step === 5">
                <h2 class="fs-title">Demande de location</h2>
                <h3 class="fs-subtitle">
                    Avez-vous des spécificités a nous mentionner ?
                </h3>
                <textarea
                    class="data-input"
                    name="comment"
                    placeholder="Commentaire"
                    v-model="locationData.comment"
                ></textarea>
                <br />
                <input
                    type="button"
                    class="action-button"
                    value="Précédent"
                    @click="previousStep"
                />
                <input
                    type="button"
                    class="action-button"
                    value="Suivant"
                    @click="nextStep"
                />
            </fieldset>
            <fieldset v-show="step === 6">
                <h2 class="fs-title">Demande de location</h2>
                <h3 class="fs-subtitle">
                    Laissez-nous vos coordonnées afin que nous puissions vous
                    recontacter
                </h3>
                <label>Nom</label>
                <br />
                <input
                    class="data-input"
                    type="text"
                    name="lastname"
                    placeholder="Nom"
                    v-model="locationData.lastname"
                />
                <br />
                <label>Prénom</label>
                <br />
                <input
                    class="data-input"
                    type="text"
                    name="firstname"
                    placeholder="Prénom"
                    v-model="locationData.firstname"
                />
                <br />
                <label>Email</label>
                <br />
                <input
                    class="data-input"
                    type="email"
                    name="email"
                    placeholder="Email"
                    v-model="locationData.email"
                />
                <br />
                <label>Téléphone</label>
                <br />
                <input
                    class="data-input"
                    type="text"
                    name="phone"
                    placeholder="Téléphone"
                    v-model="locationData.phone"
                />
                <br />
                <input
                    type="button"
                    class="action-button"
                    value="Précédent"
                    @click="previousStep"
                />
                <input
                    type="button"
                    class="action-button"
                    value="Suivant"
                    @click="nextStep"
                />
            </fieldset>
            <fieldset v-show="step === 7">
                <h2 class="fs-title">Demande de location</h2>
                <h3 class="fs-subtitle">
                    Quelle durée de location souhaitez-vous ?
                </h3>
                <label>Début</label>
                <br />
                <input
                    style="display: inline; width: 200px"
                    class="data-input date-picker"
                    type="date"
                    name="start_date"
                    v-model="locationData.start_date"
                />
                <input
                    style="display: inline; width: 200px"
                    class="data-input"
                    type="time"
                    min="07:30"
                    max="18:00"
                    step="1500"
                    name="start_time"
                    v-model="locationData.start_time"
                />
                <br />
                <label>Fin</label>
                <br />
                <input
                    style="display: inline; width: 200px"
                    class="data-input date-picker"
                    type="date"
                    name="end_date"
                    v-model="locationData.end_date"
                />
                <input
                    style="display: inline; width: 200px"
                    class="data-input"
                    type="time"
                    step="1500"
                    name="end_time"
                    v-model="locationData.end_time"
                />
                <br />
                <input
                    type="button"
                    class="action-button"
                    value="Précédent"
                    @click="previousStep"
                />
                <input
                    type="button"
                    class="action-button"
                    value="Suivant"
                    @click="nextStep"
                />
            </fieldset>
            <fieldset v-show="step === 8">
                <h2 class="fs-title">Demande de location envoyée</h2>
                <h3 class="fs-subtitle">
                    Nous vous recontactons dans les plus brefs délais.
                </h3>
            </fieldset>
        </form>
        <div class="information-container">
            <h2>Prix</h2>
            <table style="width: 75%">
                <thead>
                    <tr>
                        <th>Durée</th>
                        <th>Prix vélo mécanique* (TVAC)</th>
                        <th>Prix vélo électrique* (TVAC)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-weight: 500">4 heures</td>
                        <td>15 €</td>
                        <td>30 €</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 500">1 jour</td>
                        <td>25 €</td>
                        <td>50 €</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 500">2 jours</td>
                        <td>40 €</td>
                        <td>80 €</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 500">3 jours</td>
                        <td>50 €</td>
                        <td>100 €</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 500">4 jours</td>
                        <td>57.5 €</td>
                        <td>115 €</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 500">5 jours</td>
                        <td>62.5 €</td>
                        <td>125 €</td>
                    </tr>
                </tbody>
            </table>
            <p style="font-size: 0.8em">
                *Une réduction de 10% sera appliquée pour chaque vélo
                supplémentaire dans une limite de 50% de réduction.<br />Exemple
                : -10 % sur le deuxième vélo, -20% sur le deuxième vélo, etc...
            </p>
        </div>
    </div>
</template>
<script setup>
import { ref } from "vue";
import axios from "axios";

const locationData = ref({
    nb_bike: 0,
    type_ride: "",
    bag: 0,
    helmet: 0,
    comment: "",
    lastname: "",
    firstname: "",
    email: "",
    phone: "",
    start_date: "",
    start_time: "",
    end_date: "",
    end_time: "",
    bike_info: [],
});

const step = ref(1);

const nextStep = () => {
    // Step 1
    if (step.value === 1) {
        if (locationData.value.nb_bike > 0) {
            step.value++;
            document
                .getElementById("progressBar-step-1")
                .classList.remove("active");
            document
                .getElementById("progressBar-step-2")
                .classList.add("active");
        }
    }
    // Step 2
    else if (step.value === 2) {
        if (locationData.value.type_ride !== "") {
            step.value++;
            document
                .getElementById("progressBar-step-2")
                .classList.remove("active");
            document
                .getElementById("progressBar-step-3")
                .classList.add("active");
        }
    }
    // Step 3
    else if (step.value === 3) {
        const inputs = document
            .getElementById("append-zone")
            .querySelectorAll(".data-input");
        for (let i = 0; i < inputs.length; i++) {
            if (inputs[i].value !== "") {
                locationData.value.bike_info.push(inputs[i].value);
            }
        }
        const valid_inputs = Array.from(inputs).filter(
            (element) => element.value !== ""
        );
        if (valid_inputs.length === inputs.length) {
            step.value++;
            document
                .getElementById("progressBar-step-3")
                .classList.remove("active");
            document
                .getElementById("progressBar-step-4")
                .classList.add("active");
        }
    }
    // Step 4
    else if (step.value === 4) {
        if (locationData.value.bag >= 0 && locationData.value.helmet >= 0) {
            step.value++;
            document
                .getElementById("progressBar-step-4")
                .classList.remove("active");
            document
                .getElementById("progressBar-step-5")
                .classList.add("active");
        }
    }
    // Step 5
    else if (step.value === 5) {
        step.value++;
        document
            .getElementById("progressBar-step-5")
            .classList.remove("active");
        document.getElementById("progressBar-step-6").classList.add("active");
    }
    // Step 6
    else if (step.value === 6) {
        if (
            locationData.value.lastname !== "" &&
            locationData.value.firstname !== "" &&
            locationData.value.email !== "" &&
            locationData.value.phone !== ""
        ) {
            step.value++;
            document
                .getElementById("progressBar-step-6")
                .classList.remove("active");
            document
                .getElementById("progressBar-step-7")
                .classList.add("active");
        }
    }
    // Step 7
    else if (step.value === 7) {
        if (
            locationData.value.start_date !== "" &&
            locationData.value.start_time !== "" &&
            locationData.value.end_date !== "" &&
            locationData.value.end_time !== ""
        ) {
            axios
                .post("/api/location-request/create", locationData.value)
                .then((response) => {
                    step.value++;
                    document
                        .getElementById("progressBar-step-7")
                        .classList.remove("active");
                    document
                        .getElementById("progressBar-step-8")
                        .classList.add("active");
                });
        }
    }
};

const previousStep = () => {
    document
        .getElementById("progressBar-step-" + step.value)
        .classList.remove("active");
    document
        .getElementById("progressBar-step-" + (step.value - 1))
        .classList.add("active");
    step.value--;
};
</script>
<style scoped>
table {
    width: 100%;
    border-radius: 10px;
    border-collapse: collapse;
    border: 2px solid grey;
}
th {
    border-bottom: 1px solid #364043;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
}
td {
    color: black;
    font-weight: 400;
    padding: 0.65em 1em;
}
tbody tr {
    transition: background 0.2s ease;
}
tbody tr:hover {
    background: #d60b52;
}
/*form styles*/
#msform {
    margin: 50px auto;
    text-align: center;
    position: relative;
    width: 75%;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;

    /*stacking fieldsets above each other*/
    position: relative;
}
/*inputs*/
#msform input,
#msform textarea,
#msform select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 1em auto 1em auto;
    width: 50%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2c3e50;
    font-size: 13px;
}
/*buttons*/
#msform .action-button {
    width: 100px;
    background: #d60b52;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px #d60b5210, 0 0 0 3px #d60b5210;
}
/*headings*/
.fs-title {
    text-transform: uppercase;
    color: #2c3e50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    color: #d60b52;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    font-size: 0.8em;
    list-style-type: none;
    color: #333;
    text-transform: uppercase;
    width: 12.5%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    border: 1px solid #333;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #d60b52;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #d60b52;
    color: white;
}
.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.information-container h2 {
    font-size: 2.5em;

    color: #d60b52;
    margin-bottom: 20px;
}
.information-container p {
    font-size: 1.2em;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}
</style>
