<template>
    <div style="width: 70%; margin: auto">
        <div class="returnBack" onclick="history.back()">Retour</div>

        <h1 style="color: #d60b52; display: inline-block; margin-left: 20px">
            Catalogue
        </h1>

        <div class="gallery">
            <router-link
                :to="{
                    name: 'catalog-utilisation',
                    params: { utilisation: 'Ville et chemin' },
                }"
                class="item"
            >
                <div
                    style="position: relative; text-align: center; color: white"
                >
                    <img
                        src="/images_bikes/Cover_Catalogue/Cover_Catalogue_toutchemin.jpg"
                        alt="Snow"
                        style="width: 100%"
                    />
                    <div
                        class="centered"
                        style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        "
                    >
                        <h3 class="text-light">Tout chemin</h3>
                    </div>
                    <div class="space"></div>
                </div>
            </router-link>
            <router-link
                :to="{
                    name: 'catalog-utilisation',
                    params: { utilisation: 'Ville' },
                }"
                class="item"
            >
                <div
                    style="position: relative; text-align: center; color: white"
                >
                    <img
                        src="/images_bikes/Cover_Catalogue/Cover_Catalogue_ville.jpg"
                        alt="Snow"
                        style="width: 100%"
                    />
                    <div
                        class="centered"
                        style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        "
                    >
                        <h3 class="text-light">Ville</h3>
                    </div>
                    <div class="space"></div>
                </div>
            </router-link>
            <router-link
                :to="{
                    name: 'catalog-utilisation',
                    params: { utilisation: 'Ville et chemin' },
                }"
                class="item"
            >
                <div
                    style="position: relative; text-align: center; color: white"
                >
                    <img
                        src="/images_bikes/Cover_Catalogue/Cover_Catalogue_villeetchemin.jpg"
                        alt="Snow"
                        style="width: 100%"
                    />
                    <div
                        class="centered"
                        style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        "
                    >
                        <h3 class="text-light">Ville et chemin</h3>
                    </div>
                    <div class="space"></div>
                </div>
            </router-link>
            <router-link
                :to="{
                    name: 'catalog-utilisation',
                    params: { utilisation: 'VTT' },
                }"
                class="item"
            >
                <div
                    style="position: relative; text-align: center; color: white"
                >
                    <img
                        src="/images_bikes/Cover_Catalogue/Cover_Catalogue_vtt.jpg"
                        alt="Snow"
                        style="width: 100%"
                    />
                    <div
                        class="centered"
                        style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        "
                    >
                        <h3 class="text-light">VTT</h3>
                    </div>
                    <div class="space"></div>
                </div>
            </router-link>
            <router-link
                :to="{
                    name: 'catalog-utilisation',
                    params: { utilisation: 'Speed Pedelec' },
                }"
                class="item"
            >
                <div
                    style="position: relative; text-align: center; color: white"
                >
                    <img
                        src="/images_bikes/Cover_Catalogue/Cover_Catalogue_speedpedelec.jpg"
                        alt="Snow"
                        style="width: 100%"
                    />
                    <div
                        class="centered"
                        style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        "
                    >
                        <h3 class="text-light">Speed Pedelec</h3>
                    </div>
                    <div class="space"></div>
                </div>
            </router-link>
            <router-link
                :to="{
                    name: 'catalog-utilisation',
                    params: { utilisation: 'Gravel' },
                }"
                class="item"
            >
                <div
                    style="position: relative; text-align: center; color: white"
                >
                    <img
                        src="/images_bikes/Cover_Catalogue/Cover_Catalogue_gravel.jpg"
                        alt="Snow"
                        style="width: 100%"
                    />
                    <div
                        class="centered"
                        style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        "
                    >
                        <h3 class="text-light">Gravel</h3>
                    </div>
                    <div class="space"></div>
                </div>
            </router-link>
            <router-link
                :to="{
                    name: 'catalog-utilisation',
                    params: { utilisation: 'Cargo' },
                }"
                class="item"
            >
                <div
                    style="position: relative; text-align: center; color: white"
                >
                    <img
                        src="/images_bikes/Cover_Catalogue/Cover_Catalogue_cargo.jpg"
                        alt="Snow"
                        style="width: 100%"
                    />
                    <div
                        class="centered"
                        style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        "
                    >
                        <h3 class="text-light">Cargo & Long Tails</h3>
                    </div>
                    <div class="space"></div>
                </div>
            </router-link>
            <router-link href="catalog/all" class="item">
                <div
                    style="position: relative; text-align: center; color: white"
                >
                    <img
                        src="/images_bikes/Cover_Catalogue/Cover_Catalogue_bonsplans.jpg"
                        alt="Snow"
                        style="width: 100%"
                    />
                    <div
                        class="centered"
                        style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        "
                    >
                        <h3 class="text-light">Bons Plans</h3>
                    </div>
                    <div class="space"></div>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style scoped>
.returnBack,
.title_vignette {
    color: #d60b52;
}

.returnBack::before {
    background-color: #d60b52;
}
</style>
