<template>
    <div style="width: 70%; margin: auto">
        <div class="returnBack" onclick="history.back()">Retour</div>

        <h1 style="color: #d60b52; display: inline-block; margin-left: 20px">
            Catalogue
        </h1>

        <div class="gallery">
            <div
                class="item"
                v-for="item in stores.bikesCatalogStore.getBikesCatalog"
                :key="item.id"
            >
                <router-link
                    :to="{
                        name: 'details-utilisation',
                        params: { id: item.id },
                    }"
                >
                    <img
                        :data-bikeID="item.id"
                        :alt="'image vélo ' + item.brand + ' ' + item.model"
                        :src="'/images_bikes/' + item.id + '/A_mini.jpg'"
                        style="margin: auto; margin-bottom: 20px; width: 100%"
                        class="imageCatalog"
                    /><br />
                </router-link>
                <span
                    v-if="item.id === 22"
                    style="
                        background-color: #d60b52;
                        padding: 8px;
                        color: white;
                    "
                    >EN STOCK</span
                >
                <span
                    v-else
                    style="background-color: red; padding: 8px; color: white"
                >
                    PAS EN STOCK</span
                >
                <div class="item-box">
                    <router-link
                        :to="{
                            name: 'details-utilisation',
                            params: { id: item.id },
                        }"
                    >
                        <div
                            class="item-content"
                            style="margin-top: 0; margin-bottom: 20px"
                        >
                            <strong>{{ item.brand }} {{ item.model }}</strong
                            ><br />
                            <strong style="font-size: 1.5em"
                                >{{
                                    Math.round(item.price_htva * 100 * 1.21) /
                                    100
                                }}
                                €</strong
                            >
                        </div>
                    </router-link>
                    <router-link
                        :to="{
                            name: 'details-utilisation',
                            params: { id: item.id },
                        }"
                    >
                        EN SAVOIR PLUS
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
// Import dependencies
import { useRoute } from "vue-router";
// Import stores
import * as stores from "../../store/StoresIndex";

// Import functions
import { onBeforeMount } from "vue";

// Define constants
onBeforeMount(async () => {
    await stores.bikesCatalogStore.loadBikesCatalogByUtilisation(
        route.params.utilisation
    );
});
const route = useRoute();
</script>

<style scoped>
.returnBack,
.title_vignette {
    color: #d60b52;
}

.returnBack::before {
    background-color: #d60b52;
}
a:hover {
    color: black;
}
.btn {
    background-color: #d60b52;
    color: white;
    padding: 0 24px;
    border-radius: 24px;
}
.gallery {
    margin: auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.item {
    border: solid 1px grey;
    text-align: center;
}
.item-box {
    padding: 20px;
    border-radius: 5px;
    margin: 15px;
}
.item-content {
    margin-top: 10px;
    padding-bottom: 10px;
}
@media screen and (min-width: 760px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1400px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}
</style>
