<template>
    <div>
        <div class="widget p-cb">
            <h4 style="color: #3cb295" class="float-left">
                Gestion des utilisateurs
            </h4>
            <button
                class="btn btn-xs float-right"
                type="button"
                @click="addUserIsOpen = true"
            >
                Ajouter un utilisateur
            </button>
            <br /><br />
            <table class="table datatable" style="width: 100%; max-width: 100%">
                <thead>
                    <tr>
                        <th style="text-align: left">#</th>
                        <th style="text-align: center">Nom</th>
                        <th style="text-align: center">Prénom</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in company_users" :key="user.id">
                        <td style="text-align: left">{{ user.id }}</td>
                        <td>{{ user.lastname }}</td>
                        <td style="text-align: center">{{ user.firstname }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <MediumModal :open="addUserIsOpen" @close="closeAddUser">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter un utilisateur</h5>
                <button type="button" class="close" @click="closeAddUser">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body row">
                <div class="form-group col-sm-6">
                    <label for="lastname">Nom</label>
                    <input
                        placeholder="Doe"
                        type="text"
                        :class="[
                            stores.usersStore.getErrors.lastname
                                ? 'error form-control'
                                : 'form-control',
                        ]"
                        id="lastname"
                        v-model="input.lastname"
                    />
                </div>
                <div class="form-group col-sm-6">
                    <label for="firstname">Prénom</label>
                    <input
                        placeholder="John"
                        type="text"
                        :class="[
                            stores.usersStore.getErrors.firstname
                                ? 'error form-control'
                                : 'form-control',
                        ]"
                        id="firstname"
                        v-model="input.firstname"
                    />
                </div>
                <div class="form-group col-sm-6">
                    <label for="email">Email</label>
                    <input
                        placeholder="john.doe@exemple.com"
                        type="email"
                        :class="[
                            stores.usersStore.getErrors.email
                                ? 'error form-control'
                                : 'form-control',
                        ]"
                        id="email"
                        v-model="input.email"
                    />
                </div>
                <div class="form-group col-sm-6">
                    <label for="emailConfirmation"
                        >Confirmation de l'email</label
                    >
                    <input
                        placeholder="john.doe@exemple.com"
                        type="email"
                        :class="[
                            stores.usersStore.getErrors.emailConfirmation
                                ? 'error form-control'
                                : 'form-control',
                        ]"
                        id="emailConfirmation"
                        v-model="input.emailConfirmation"
                    />
                </div>
                <div class="form-group col-sm-6">
                    <label for="phone">Téléphone</label>
                    <input
                        placeholder="0123456789"
                        type="tel"
                        :class="[
                            stores.usersStore.getErrors.phone
                                ? 'error form-control'
                                : 'form-control',
                        ]"
                        id="phone"
                        v-model="input.phone"
                    />
                </div>
                <div class="form-group col-sm-6">
                    <AddressForm
                        v-model="input.address"
                        :store="stores.usersStore.getErrors.address"
                    />
                </div>
            </div>

            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    @click="closeAddUser"
                >
                    Annuler
                </button>
                <button type="button" class="btn btn-primary" @click="addUser">
                    Ajouter
                </button>
            </div>
        </MediumModal>
    </div>
</template>
<script setup>
// Import dependencies
import { reactive, ref } from "vue";
// Import components
import MediumModal from "../../Modals/Medium.vue";
import AddressForm from "../../GoogleAutocompleteForm/AutocompleteForm.vue";

// Import functions
import { generateDatatable } from "../../../../functions/globalFunctions";

// Import stores
import * as stores from "../../../../store/StoresIndex";

// Define constants
const addUserIsOpen = ref(false);
const input = reactive({
    firstname: "",
    lastname: "",
    email: "",
    emailConfirmation: "",
    phone: "",
    address: "",
    size: null,
    company: null,
    permission: [],
});

const company_users = await stores.usersStore.getUsersByCompanyAuth();

const access = (
    await stores.conditionsStore.getConditionsByCompanyId(
        stores.usersStore.getUserAuth.company.id
    )
).access;

// Define methods
const addUser = () => {
    stores.usersStore.$state.errors = [];
    if (input.email === input.emailConfirmation) {
        const companyId = stores.usersStore.getUserAuth.companies_id;
        if (access.includes("cafetaria")) {
            input.permission = input.permission.concat(["order"]);
        }
        if (access.includes("partage")) {
            input.permission = input.permission.concat(["search"]);
        }
        input.permission = input.permission.join(",");
        input.company = companyId;
        stores.usersStore.create(input);
        closeAddUser();
    } else {
        stores.usersStore.$state.errors.emailConfirmation = true;
    }
};

const closeAddUser = () => {
    addUserIsOpen.value = false;
    resetInput();
    stores.usersStore.$state.errors = [];
};

const resetInput = () => {
    input.firstname = "";
    input.lastname = "";
    input.email = "";
    input.emailConfirmation = "";
    input.phone = "";
    input.address = "";
};

// Call functions
generateDatatable(false, false, false);
</script>
<style scoped>
td {
    text-align: center;
}
label {
    color: #3cb295;
}
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
