<template>
    <Datatable :headers="headers" :storeName="storeName" updateBtn />
</template>
<script setup>
import Datatable from "../ReusableComponents/Datatable.vue";
const storeName = "entretiensStore";
const headers = [
    { value: "id", name: "#" },
    { value: "client", name: "Client" },
    { value: "bike", name: "Vélo" },
    { value: "type", name: "Type" },
    { value: "planned_date", name: "Date prévue" },
    { value: "date", name: "Date" },
    { value: "status", name: "Statut" },
];
</script>
