<template>
    <div class="row" id="mainDynamicZone">
        <div class="col-sm-12 component-top-bar">
            <button
                @click="$router.push({ name: 'entretiens-list' })"
                style="width: 35px; height: 35px; padding: 0px; float: left"
                type="button"
                class="btn"
            >
                <i class="fa fa-arrow-left"></i>
            </button>
            <button
                @click="isOpen = true"
                style="
                    height: 35px;
                    padding: 10px;
                    float: right;
                    margin-right: 5px;
                "
                type="button"
                class="btn btn-danger"
            >
                Supprimer l'entretien
            </button>
            <button
                @click="genBillModalIsOpen = true"
                style="
                    height: 35px;
                    padding: 10px;
                    float: right;
                    margin-right: 5px;
                "
                type="button"
                :class="
                    stores.entretiensStore.getEntretien.status == 'done'
                        ? 'btn'
                        : 'btn disabled'
                "
            >
                Facturer
            </button>
        </div>

        <div class="col-sm-12">
            <div class="widget p-cb">
                <form @change="stores.entretiensStore.updateEntretien">
                    <h4
                        style="
                            text-transform: uppercase;
                            color: #3cb395;
                            font-wieght: bold;
                            float: left;
                        "
                    >
                        Données principales
                    </h4>
                    <p style="float: right">
                        <span style="color: #3cb295; font-weight: bold"
                            >Total TVAC : </span
                        >{{ totalPrice }}€
                    </p>
                    <hr />
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="form-label" for="status"
                                    >Status</label
                                >
                                <select
                                    v-model="
                                        stores.entretiensStore.getEntretien
                                            .status
                                    "
                                    name="status"
                                    id="status"
                                    :class="[
                                        stores.entretiensStore.getErrors.status
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="manualy_planned">
                                        Planifié manuellement
                                    </option>
                                    <option value="automaticaly_planned">
                                        Planifié automatiquement
                                    </option>
                                    <option value="in_shop">En magasin</option>
                                    <option value="confirmed">Confirmé</option>
                                    <option value="waiting_pieces">
                                        En attente de pièces
                                    </option>
                                    <option value="to_planned">
                                        À planifier
                                    </option>
                                    <option value="done">Terminé</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="address" class="form-label"
                                >Ou se déroule l'entretien ?</label
                            >
                            <select
                                v-model="
                                    stores.entretiensStore.getEntretien.address
                                "
                                class="form-control"
                                name="address"
                                id="address"
                            >
                                <option
                                    v-if="
                                        stores.entretiensStore.getEntretien
                                            .address === null
                                    "
                                    :value="null"
                                    disabled
                                >
                                    Choisir une adresse
                                </option>
                                <option
                                    v-if="
                                        otherAddressInput === true &&
                                        stores.entretiensStore.getEntretien
                                            .address == ''
                                    "
                                    :value="''"
                                    disabled
                                >
                                    Entrez une adresse à droite
                                </option>
                                <option
                                    :value="
                                        stores.entretiensStore.getEntretien
                                            .address
                                    "
                                    v-if="
                                        stores.entretiensStore.getEntretien
                                            .address
                                    "
                                    disabled
                                >
                                    {{
                                        stores.entretiensStore.getEntretien
                                            .address
                                    }}
                                </option>
                                <option
                                    v-if="condensedWorkAddress !== null"
                                    :value="condensedWorkAddress"
                                >
                                    {{ bike.company.name }}
                                </option>
                                <option
                                    v-if="condensedUserAddress !== null"
                                    :value="condensedUserAddress"
                                >
                                    {{
                                        bike.user?.firstname +
                                        " " +
                                        bike.user?.lastname
                                    }}
                                </option>
                                <option
                                    value="22, quai de rome, 4000, Liège, Belgique"
                                >
                                    KAMEO bikes
                                </option>
                                <option value="otherAddress">
                                    Adresse personnalisée
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-4" v-if="otherAddressInput === true">
                            <GoogleAutoCompleteInput
                                :store="
                                    stores.entretiensStore.getErrors.address
                                "
                                v-model="
                                    stores.entretiensStore.getEntretien.address
                                "
                            />
                        </div>
                    </div>
                    <br />
                    <h4
                        style="
                            text-transform: uppercase;
                            color: #3cb395;
                            font-wieght: bold;
                        "
                    >
                        Données de planification
                    </h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="planned_date"
                                    >Date plannifiée</label
                                >
                                <input
                                    v-model="
                                        stores.entretiensStore.getEntretien
                                            .planned_date
                                    "
                                    type="date"
                                    name="planned_date"
                                    id="planned_date"
                                    :class="[
                                        stores.entretiensStore.getErrors
                                            .planned_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="date">Date d'entretien</label>
                                <input
                                    v-model="
                                        stores.entretiensStore.getEntretien.date
                                    "
                                    type="date"
                                    name="date"
                                    id="date"
                                    :class="[
                                        stores.entretiensStore.getErrors.date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="planned_time" class="form-label"
                                >Temps d'entretien estimé à
                                {{
                                    !!stores.entretiensStore.getEntretien
                                        .planned_time
                                        ? stores.entretiensStore.getEntretien
                                              .planned_time
                                        : "0"
                                }}
                                minutes</label
                            >
                            <input
                                type="range"
                                class="form-range"
                                min="0"
                                max="240"
                                step="5"
                                id="planned_time"
                                name="planned_time"
                                v-model="
                                    stores.entretiensStore.getEntretien
                                        .planned_time
                                "
                            />
                        </div>
                    </div>
                    <br />
                    <h4
                        style="
                            text-transform: uppercase;
                            color: #3cb395;
                            font-wieght: bold;
                        "
                    >
                        Informations relative au client
                    </h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="client_warned" class="form-label"
                                >Client prévenu</label
                            >
                            <select
                                class="form-control"
                                name="client_warned"
                                id="client_warned"
                                v-model="
                                    stores.entretiensStore.getEntretien
                                        .client_warned
                                "
                            >
                                <option value="0">Non</option>
                                <option value="1">Oui</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="avoid_billing" class="form-label"
                                >Facture envoyée</label
                            >
                            <select
                                class="form-control"
                                name="avoid_billing"
                                id="clieavoid_billingnt_warned"
                                v-model="
                                    stores.entretiensStore.getEntretien
                                        .avoid_billing
                                "
                            >
                                <option value="0">Non</option>
                                <option value="1">Oui</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <h4
                        style="
                            text-transform: uppercase;
                            color: #3cb395;
                            font-wieght: bold;
                        "
                    >
                        Autres informations
                    </h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="description" class="form-label"
                                >Description</label
                            >
                            <textarea
                                class="form-control"
                                name="description"
                                id="description"
                                style="width: 100%; resize: none"
                                rows="5"
                                v-model="
                                    stores.entretiensStore.getEntretien
                                        .description
                                "
                            ></textarea>
                        </div>
                        <div class="col-sm-6">
                            <label
                                for="confidential_description"
                                class="form-label"
                                >Description confidentielle</label
                            >
                            <textarea
                                class="form-control"
                                name="confidential_description"
                                id="confidential_description"
                                style="width: 100%; resize: none"
                                rows="5"
                                v-model="
                                    stores.bikesStockStore.getBikeStock.comment
                                "
                            ></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-12">
            <div class="widget p-cb">
                <h5 class="text-primary float-left">Main d'oeuvre</h5>
                <router-link
                    :to="{
                        name: 'entretiens-services-create',
                        params: { id: route.params.id },
                    }"
                    tag="button"
                    class="btn btn-xs float-right"
                >
                    Ajouter une main d'oeuvre
                </router-link>
                <div v-show="entretien_services.length === 0">
                    <p
                        style="
                            font-weight: bold;
                            text-transform: uppercase;
                            color: #3cb295;
                            text-align: center;
                            margin-top: 50px;
                        "
                    >
                        Aucune main d'oeuvre pour cet entretien
                    </p>
                </div>
                <table
                    class="table"
                    id="datatable"
                    v-show="entretien_services.length > 0"
                >
                    <thead>
                        <tr style="text-align: center">
                            <th>Description</th>
                            <th>Durée</th>
                            <th>Prix</th>
                            <th>Détails</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="service in entretien_services"
                            :key="service.id"
                            style="text-align: center"
                        >
                            <td>
                                {{
                                    service.detail
                                        ? service.detail.description
                                        : ""
                                }}
                            </td>
                            <td>{{ service.duration }} minutes</td>
                            <td>{{ service.amount }} €</td>
                            <td>
                                {{ service.details ? service.details : "N/A" }}
                            </td>
                            <td style="text-align: right">
                                <button
                                    type="button"
                                    @click="
                                        stores.entretiensStore.deleteEntretienDetails(
                                            service.id
                                        )
                                    "
                                    class="btn btn-xs btn-danger"
                                >
                                    <i class="fa fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <h5 class="text-primary float-left">Accessoire</h5>
                <router-link
                    :to="{
                        name: 'entretiens-accessories-create',
                        params: { id: route.params.id },
                    }"
                    tag="button"
                    class="btn btn-xs float-right"
                >
                    Ajouter un accessoire
                </router-link>
                <div
                    v-show="
                        stores.entretiensStore.getEntretienAccessories(
                            route.params.id
                        ).length === 0
                    "
                >
                    <p
                        style="
                            font-weight: bold;
                            text-transform: uppercase;
                            color: #3cb295;
                            text-align: center;
                            margin-top: 50px;
                        "
                    >
                        Aucun accessoire pour cet entretien
                    </p>
                </div>
                <table
                    class="table"
                    id="datatable"
                    v-show="
                        stores.entretiensStore.getEntretienAccessories(
                            route.params.id
                        ).length > 0
                    "
                >
                    <thead>
                        <tr style="text-align: center">
                            <th>Marque</th>
                            <th>Modèle</th>
                            <th>Taille</th>
                            <th>Prix</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="accessory in entretien_accessories"
                            :key="accessory.id"
                            style="text-align: center"
                        >
                            <td>
                                {{
                                    accessory && accessory.catalog
                                        ? accessory.catalog.brand
                                        : ""
                                }}
                            </td>
                            <td>
                                {{
                                    accessory && accessory.catalog
                                        ? accessory.catalog.model
                                        : ""
                                }}
                            </td>
                            <td>
                                {{ accessory.accessory_size }}
                            </td>
                            <td>{{ accessory.amount }} €</td>
                            <td style="text-align: right">
                                <button
                                    type="button"
                                    @click="
                                        stores.entretiensStore.deleteEntretienDetails(
                                            accessory.id
                                        )
                                    "
                                    class="btn btn-xs btn-danger"
                                >
                                    <i class="fa fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <h5 class="text-primary float-left">Autres</h5>
                <router-link
                    :to="{
                        name: 'entretiens-others-create',
                        params: { id: route.params.id },
                    }"
                    tag="button"
                    class="btn btn-xs float-right"
                >
                    Ajouter autre chose
                </router-link>
                <div
                    v-show="
                        stores.entretiensStore.getEntretienOthersAccessories(
                            route.params.id
                        ).length === 0
                    "
                >
                    <p
                        style="
                            font-weight: bold;
                            text-transform: uppercase;
                            color: #3cb295;
                            text-align: center;
                            margin-top: 50px;
                        "
                    >
                        Rien a lister
                    </p>
                </div>
                <table
                    class="table"
                    id="datatable"
                    v-show="
                        stores.entretiensStore.getEntretienOthersAccessories(
                            route.params.id
                        ).length > 0
                    "
                >
                    <thead>
                        <tr style="text-align: center">
                            <th>Description</th>
                            <th>Prix</th>
                            <th>Durée</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="item in stores.entretiensStore.getEntretienOthersAccessories(
                                route.params.id
                            )"
                            :key="item.id"
                            style="text-align: center"
                        >
                            <td>
                                {{ item.description }}
                            </td>
                            <td>{{ item.amount }} €</td>
                            <td>{{ item.duration }} minutes</td>
                            <td style="text-align: right">
                                <button
                                    type="button"
                                    @click="
                                        stores.entretiensStore.deleteEntretienDetails(
                                            item.id
                                        )
                                    "
                                    class="btn btn-xs btn-danger"
                                >
                                    <i class="fa fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <DeleteValidationModal
        :open="isOpen"
        @close="isOpen = !isOpen"
        :id="stores.entretiensStore.getEntretien.id"
        :store="stores.entretiensStore"
    />
    <GenBillModal
        :open="genBillModalIsOpen"
        @close="genBillModalIsOpen = !genBillModalIsOpen"
    >
        <div class="modal-header">
            <h5 class="modal-title" style="color: #3cb295">Options</h5>
        </div>
        <div class="modal-body row">
            <div class="col-sm-6">
                <label class="form-label" for="bill_type">
                    Le client paye maintenant?
                </label>
                <select
                    class="form-control"
                    name="payment_now"
                    v-model="invoiceInfos.payment_now"
                >
                    <option :value="true">Oui</option>
                    <option :value="false">Non</option>
                </select>
            </div>
            <div class="col-sm-6" v-if="invoiceInfos.payment_now === true">
                <label class="form-label"> Moyen de paiement </label>
                <select
                    class="form-control"
                    name="payment_type"
                    v-model="invoiceInfos.payment_type"
                >
                    <option :value="null">Choisir</option>
                    <option value="cash">Espèce</option>
                    <option value="sumUp">Carte bancaire</option>
                    <option value="visa">Visa</option>
                    <option value="transfert">Virement</option>
                </select>
            </div>
            <div class="col-sm-6 my-5" v-if="invoiceInfos.payment_now === true">
                <label class="form-label">Date de paiement </label>
                <input
                    class="form-control"
                    type="date"
                    name="payment_date"
                    v-model="invoiceInfos.payment_date"
                />
            </div>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary"
                @click="genBillModalIsOpen = false"
            >
                Annuler
            </button>
            <button
                type="button"
                class="btn btn-primary"
                @click="generateInvoice"
            >
                Générer
            </button>
        </div>
    </GenBillModal>
</template>
<script setup>
// Import dependencies
import { useRoute, useRouter } from "vue-router";
import { ref, watch, onMounted } from "vue";
import { storeToRefs } from "pinia";
import DeleteValidationModal from "../Modals/DeleteValidationModal.vue";
import GenBillModal from "../Modals/Medium.vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import components
import GoogleAutoCompleteInput from "../GoogleAutocompleteForm/AutocompleteForm.vue";
import axios from "axios";

// Define constants
const isOpen = ref(false);
const genBillModalIsOpen = ref(false);
const route = useRoute();
const condensedWorkAddress = ref(null);
const condensedUserAddress = ref(null);
const otherAddressInput = ref(false);
const entretien_accessories = ref([]);
const entretien_services = ref([]);
const entretien_other = ref([]);
const company = ref({});
const bike = ref({});
const totalPrice = ref(0);
const totalTime = ref(0);
const invoiceInfos = ref({
    payment_now: true,
    payment_type: null,
    payment_date: new Date().toISOString().split("T")[0],
});

// pour ne pas faire plein d'appel api
// quand le même accessoire est présent plusieurs fois
let accessories = {};
let services = {};

await stores.entretiensStore.show(route.params.id);

await stores.bikesStockStore.show(stores.entretiensStore.getEntretien.bikes_id);

bike.value = stores.bikesStockStore.getBikeStock;

const generateInvoice = async () => {
    console.log(invoiceInfos.value);
    console.log(entretien_accessories.value);
    console.log(entretien_services.value);
    console.log(entretien_other.value);
    await axios
        .post("/api/entretiens/generate-invoice", {
            entretien_id: route.params.id,
            company: company.value,
            bike_id: bike.value["id"],
            invoice_infos: invoiceInfos.value,
            entretien_accessories: entretien_accessories.value,
            entretien_services: entretien_services.value,
            entretien_other: entretien_other.value,
        })
        .then((response) => {
            window.open(response.data.fileName);
        });
};

const calculateTotalPrice = () => {
    totalPrice.value = 0;
    entretien_accessories.value.forEach((accessory) => {
        totalPrice.value += Number(accessory.amount);
    });
    entretien_services.value.forEach((service) => {
        totalPrice.value += Number(service.amount);
    });
    entretien_other.value.forEach((other) => {
        totalPrice.value += Number(other.amount);
    });
    totalPrice.value = (totalPrice.value * 1.21).toFixed(2);
};

const calculateTotalTime = () => {
    totalTime.value = 0;
    entretien_services.value.forEach((service) => {
        totalTime.value += Number(service.duration);
    });
    entretien_other.value.forEach((other) => {
        totalTime.value += Number(other.duration);
    });
    stores.entretiensStore.getEntretien.planned_time =
        totalTime.value.toString();
};

watch(entretien_accessories, () => {
    calculateTotalPrice();
});
watch(entretien_services, () => {
    calculateTotalPrice();
    calculateTotalTime();
});
watch(entretien_other, () => {
    calculateTotalPrice();
    calculateTotalTime();
});

if (bike.value.users_id) {
    bike.value.user = await stores.usersStore.getUserById(bike.value.users_id);
    condensedUserAddress.value = bike.value.user?.address.condensed;
}

async function updateEntretienDetails() {
    const details = stores.entretiensStore.getEntretienDetails;
    entretien_services.value = details.filter(
        (detail) => detail.item_type === "service"
    );
    entretien_other.value = details.filter(
        (detail) => detail.item_type === "other_accessory"
    );
    entretien_accessories.value = details.filter(
        (detail) => detail.item_type === "accessory"
    );
    for (const service of entretien_services.value) {
        if (!(service.item_id in services)) {
            const data = await stores.servicesStore.getServiceById(
                service.item_id
            );
            services[service.item_id] = data;
        }
        service.detail = services[service.item_id];
        // service.details = services[service.details];
    }

    for (const accessory of entretien_accessories.value) {
        if (!(accessory.item_id in accessories)) {
            const data = await stores.accessoriesCatalogStore.getAccessoryById(
                accessory.item_id
            );
            accessories[accessory.item_id] = data;
        }
        accessory.catalog = accessories[accessory.item_id];
    }
}

const { getEntretienDetails } = storeToRefs(stores.entretiensStore);

watch(getEntretienDetails, () => {
    updateEntretienDetails();
});

// Define methods
onMounted(async () => {
    updateEntretienDetails();

    if (bike.value.companies_id) {
        const data = await stores.companiesStore.getCompanyById(
            bike.value.companies_id
        );
        company.value = data;
        if (data.id > 0) condensedWorkAddress.value = data.address.condensed;
    }

    document.getElementById("address").addEventListener("change", () => {
        if (document.getElementById("address").value === "otherAddress") {
            stores.entretiensStore.getEntretien.address = "";
            otherAddressInput.value = true;
        } else {
            stores.entretiensStore.getEntretien.address =
                document.getElementById("address").value;
            otherAddressInput.value = false;
        }
    });
});

// Watch methods
watch(
    () => stores.entretiensStore.getEntretien.status,
    (newValue, oldValue) => {
        if (newValue === "in_shop") {
            // Update select option
            stores.entretiensStore.getEntretien.address =
                "22, quai de rome, 4000, Liège, Belgique";
            document
                .querySelector(
                    '#address option[value="22, quai de rome, 4000, Liège, Belgique"]'
                )
                .setAttribute("selected", "selected");
            otherAddressInput.value = false;
        } else if (newValue === "done") {
            stores.entretiensStore.updateEntretienDetails(
                route.params.id,
                "done"
            );
        }
    }
);
</script>
<style scoped>
label {
    color: #3cb295;
}
.disabled {
    cursor: not-allowed;
    pointer-events: none;
    background: #ccc;
}
</style>
