<template>
    <div>
        <Header title="Nouvel entretien" />
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <div class="widget p-cb">
                    <!-- Etape 1 -->
                    <div
                        id="div-1"
                        v-if="
                            !createClientZone &&
                            newEntretien.company_id == null &&
                            newEntretien.external_bike == null &&
                            newEntretien.bike_id == null
                        "
                    >
                        <br />
                        <h3 style="text-align: center">
                            Pour quel client voulez-vous créer<br />
                            un nouvel entretien ?
                        </h3>
                        <br /><br />
                        <div
                            style="
                                width: 300px;
                                margin: auto;
                                text-align: center;
                            "
                        >
                            <select
                                name="company"
                                id="company"
                                @change="addCompany"
                                class="form-control selectCompanyBtn"
                            >
                                <option value="" selected disabled>
                                    Choisir un client existant ...
                                </option>
                                <option
                                    v-for="item in stores.companiesStore
                                        .getCompanies"
                                    :key="item.id"
                                    :value="item.id"
                                >
                                    {{ item.name }}
                                </option>
                            </select>
                            <span
                                @click="createClientZone = true"
                                class="createClientBtn"
                                >Créer un client</span
                            >
                        </div>
                        <br />
                    </div>

                    <!-- Etape 2 création nouveau client -->
                    <div
                        id="div-2"
                        v-if="
                            createClientZone &&
                            newEntretien.company_id == null &&
                            newEntretien.external_bike == null &&
                            newEntretien.bike_id == null
                        "
                    >
                        <form
                            @submit.prevent="createClient"
                            enctype="multipart/form-data"
                        >
                            <div>
                                <h4
                                    style="
                                        text-transform: uppercase;
                                        color: #3cb395;
                                        font-wieght: bold;
                                    "
                                >
                                    Création d'un nouveau client
                                </h4>
                                <hr />
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label
                                            for="lastname"
                                            class="form-label"
                                            style="color: #3cb395"
                                            >Nom*</label
                                        >
                                        <input
                                            type="text"
                                            name="lastname"
                                            :class="[
                                                stores.companiesStore.getErrors
                                                    .lastname
                                                    ? 'error form-control'
                                                    : 'form-control',
                                            ]"
                                            id="lastname"
                                            placeholder="Doe"
                                            v-model="input.lastname"
                                        />
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label
                                            for="firstname"
                                            class="form-label"
                                            style="color: #3cb395"
                                            >Prénom*</label
                                        >
                                        <input
                                            type="text"
                                            name="firstname"
                                            :class="[
                                                stores.companiesStore.getErrors
                                                    .firstname
                                                    ? 'error form-control'
                                                    : 'form-control',
                                            ]"
                                            id="firstname"
                                            placeholder="Joe"
                                            v-model="input.firstname"
                                        />
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label
                                            for="email"
                                            class="form-label"
                                            style="color: #3cb395"
                                            >Email</label
                                        >
                                        <input
                                            type="text"
                                            name="email"
                                            :class="[
                                                stores.companiesStore.getErrors
                                                    .email
                                                    ? 'error form-control'
                                                    : 'form-control',
                                            ]"
                                            id="email"
                                            placeholder="joe.doe@exemple.com"
                                            v-model="input.email"
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label
                                            for="phone"
                                            class="form-label"
                                            style="color: #3cb395"
                                            >Téléphone*</label
                                        >
                                        <input
                                            type="text"
                                            name="phone"
                                            :class="[
                                                stores.companiesStore.getErrors
                                                    .phone
                                                    ? 'error form-control'
                                                    : 'form-control',
                                            ]"
                                            id="phone"
                                            placeholder="0412345678"
                                            v-model="input.phone"
                                        />
                                    </div>
                                    <div class="col-sm-4">
                                        <GoogleAutoCompleteInput
                                            v-model="input.address"
                                        />
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div style="text-align: center">
                                <button
                                    @click="newEntretien.planned_date = 'skip'"
                                    style="width: 150px; margin: 1em"
                                    type="button"
                                    class="btn"
                                >
                                    Passer cette étape
                                </button>
                            </div>

                            <div
                                id="div-7"
                                v-if="
                                    newEntretien.company_id !== null &&
                                    newEntretien.external_bike !== null &&
                                    newEntretien.bike_id !== null &&
                                    newEntretien.status !== null &&
                                    newEntretien.planned_date !== null &&
                                    newEntretien.date === null
                                "
                            >
                                <button
                                    @click="resetPlannedDate"
                                    style="
                                        width: 35px;
                                        height: 35px;
                                        padding: 0px;
                                        float: left;
                                    "
                                    type="button"
                                    class="btn"
                                >
                                    <i class="fa fa-arrow-left"></i>
                                </button>
                                <br /><br />
                                <h3 style="text-align: center">
                                    Entretien fait le
                                </h3>
                                <br />
                                <div
                                    style="
                                        width: 300px;
                                        margin: auto;
                                        text-align: center;
                                    "
                                >
                                    <input
                                        type="date"
                                        name="date"
                                        class="form-control"
                                        id="date"
                                        v-model="newEntretien.date"
                                    />
                                </div>
                                <br />
                                <div style="text-align: center">
                                    <button
                                        @click="newEntretien.date = 'skip'"
                                        style="width: 150px; margin: 1em"
                                        type="button"
                                        class="btn"
                                    >
                                        Passer cette étape
                                    </button>
                                </div>
                            </div>

                            <div
                                id="div-final"
                                v-if="
                                    newEntretien.company_id !== null &&
                                    newEntretien.external_bike !== null &&
                                    newEntretien.bike_id !== null &&
                                    newEntretien.status !== null &&
                                    newEntretien.planned_date !== null &&
                                    newEntretien.date !== null
                                "
                            >
                                <button
                                    @click="resetDate"
                                    style="
                                        width: 35px;
                                        height: 35px;
                                        padding: 0px;
                                        float: left;
                                    "
                                    type="button"
                                    class="btn"
                                >
                                    <i class="fa fa-arrow-left"></i>
                                </button>
                                <br /><br />
                                <h3 style="text-align: center">
                                    Résumé de l'entretien
                                </h3>
                                <br />
                                <div style="margin-left: 2em">
                                    <ul style="list-style: none">
                                        <li>
                                            <span
                                                style="
                                                    font-weight: bold;
                                                    color: #3cb295;
                                                "
                                                >Nom de la société : </span
                                            >{{
                                                stores.companiesStore.getCompanyById(
                                                    newEntretien.company_id
                                                ).name
                                            }}
                                        </li>
                                        <li>
                                            <span
                                                style="
                                                    font-weight: bold;
                                                    color: #3cb295;
                                                "
                                                >Vélo :
                                            </span>
                                            {{
                                                newEntretien.external_bike === 0
                                                    ? bike.catalog.brand +
                                                      " - " +
                                                      bike.catalog.model
                                                    : external_bike.brand +
                                                      " - " +
                                                      external_bike.model
                                            }}
                                        </li>
                                        <li>
                                            <span
                                                style="
                                                    font-weight: bold;
                                                    color: #3cb295;
                                                "
                                                >Statut :
                                            </span>
                                            {{
                                                newEntretien.status ===
                                                "manualy_planned"
                                                    ? "Planifié manuellement"
                                                    : newEntretien ===
                                                      "automaticaly_planned"
                                                    ? "Planifié automatiquement"
                                                    : newEntretien.status ===
                                                      "confirmed"
                                                    ? "Confirmé"
                                                    : newEntretien.status ===
                                                      "to_planned"
                                                    ? "À planifié"
                                                    : newEntretien.status ===
                                                      "waiting_pieces"
                                                    ? "En attente de pièces"
                                                    : newEntretien.status ===
                                                      "in_shop"
                                                    ? "En magasin"
                                                    : "Terminé"
                                            }}
                                        </li>
                                        <li>
                                            <span
                                                style="
                                                    font-weight: bold;
                                                    color: #3cb295;
                                                "
                                                >Date prévue :
                                            </span>
                                            {{
                                                newEntretien.planned_date !==
                                                    null ||
                                                newEntretien.planned_date !==
                                                    "skip"
                                                    ? newEntretien.planned_date ===
                                                      "skip"
                                                        ? "Non renseigné"
                                                        : newEntretien.planned_date
                                                    : "Non renseigné"
                                            }}
                                        </li>
                                        <li>
                                            <span
                                                style="
                                                    font-weight: bold;
                                                    color: #3cb295;
                                                "
                                                >Date :
                                            </span>
                                            {{
                                                newEntretien.date !== null ||
                                                newEntretien.date !== "skip"
                                                    ? newEntretien.date ===
                                                      "skip"
                                                        ? "Non renseigné"
                                                        : newEntretien.date
                                                    : "Non renseigné"
                                            }}
                                        </li>
                                        <li>
                                            <span
                                                style="
                                                    font-weight: bold;
                                                    color: #3cb295;
                                                "
                                                >Description :
                                            </span>
                                            {{
                                                !!newEntretien.description
                                                    ? newEntretien.description
                                                    : "Non renseigné"
                                            }}
                                        </li>
                                        <li>
                                            <span
                                                style="
                                                    font-weight: bold;
                                                    color: #3cb295;
                                                "
                                                >Description confidentielle :
                                            </span>
                                            {{
                                                !!newEntretien.confidential_description
                                                    ? newEntretien.confidential_description
                                                    : "Non renseigné"
                                            }}
                                        </li>
                                    </ul>
                                </div>
                                <br /><br />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label
                                            for="description"
                                            class="form-label"
                                            >Description</label
                                        >
                                        <textarea
                                            placeholder="..."
                                            style="resize: none; width: 100%"
                                            class="form-control"
                                            name="description"
                                            id="description"
                                            rows="5"
                                            v-model="newEntretien.description"
                                        ></textarea>
                                    </div>
                                    <div class="col-sm-6">
                                        <label
                                            for="description"
                                            class="form-label"
                                            >Description confidentielle</label
                                        >
                                        <textarea
                                            placeholder="..."
                                            style="resize: none; width: 100%"
                                            class="form-control"
                                            name="confidential_description"
                                            id="confidential_description"
                                            rows="5"
                                            v-model="
                                                newEntretien.confidential_description
                                            "
                                        ></textarea>
                                    </div>
                                </div>
                                <br /><br />
                                <div style="text-align: center">
                                    <button
                                        @click="resetAll"
                                        style="width: 150px; margin: 1em"
                                        type="button"
                                        class="btn btn-danger"
                                    >
                                        Annuler
                                    </button>
                                    <button
                                        style="width: 150px; margin: 1em"
                                        type="submit"
                                        class="btn"
                                    >
                                        Créer
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Etape 3 choix du vélo -->
                    <div
                        id="div-3"
                        v-if="
                            newEntretien.company_id !== null &&
                            newEntretien.external_bike === null &&
                            newEntretien.bike_id === null &&
                            createBikeZone === false
                        "
                    >
                        <button
                            @click="resetCompany"
                            style="
                                width: 35px;
                                height: 35px;
                                padding: 0px;
                                float: left;
                            "
                            type="button"
                            class="btn"
                        >
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <br /><br />
                        <h3 style="text-align: center">
                            À quel vélo voulez-vous assigner<br />
                            un nouvel entretien ?
                        </h3>
                        <br />
                        <div class="row" style="text-alig: center">
                            <select
                                v-if="company_bikes.length > 0"
                                style="width: 300px; margin: auto"
                                name="internalBike"
                                id="internalBike"
                                @change="addInternalBike"
                                class="form-control selectCompanyBtn"
                            >
                                <option value="" selected disabled>
                                    Choisir un vélo interne ...
                                </option>
                                <option
                                    v-for="item in company_bikes"
                                    :key="item.id"
                                    :value="item.id"
                                >
                                    {{ item.id }} -
                                    {{
                                        item.catalog.brand +
                                        " " +
                                        item.catalog.model
                                    }}
                                    -
                                    {{
                                        item.users_id != null
                                            ? item.user.firstname +
                                              " " +
                                              item.user.lastname
                                            : "Vélo partagé"
                                    }}
                                </option>
                            </select>
                            <select
                                v-if="external_company_bikes.length > 0"
                                style="width: 300px; margin: auto"
                                name="externalBike"
                                id="externalBike"
                                @change="addExternalBike"
                                class="form-control selectCompanyBtn"
                            >
                                <option value="" selected disabled>
                                    Choisir un vélo externe ...
                                </option>
                                <option
                                    v-for="item in external_company_bikes"
                                    :key="item.id"
                                    :value="item.id"
                                >
                                    {{ item.id }} -
                                    {{ item.brand + " " + item.model }}
                                </option>
                            </select>
                            <span
                                style="
                                    width: 300px;
                                    text-align: center;
                                    margin: 2em auto;
                                "
                                @click="showCreateBikeZone"
                                class="createClientBtn"
                                >Ajouter un nouveau vélo</span
                            >
                        </div>
                        <br />
                    </div>

                    <div
                        id="div-4"
                        v-if="
                            newEntretien.company_id !== null &&
                            newEntretien.external_bike === null &&
                            newEntretien.bike_id === null &&
                            createBikeZone === true
                        "
                    >
                        <form
                            @submit.prevent="createExternalBike"
                            enctype="multipart/form-data"
                        >
                            <div>
                                <h4
                                    style="
                                        text-transform: uppercase;
                                        color: #3cb395;
                                        font-wieght: bold;
                                    "
                                >
                                    Création d'un vélo externe
                                </h4>
                                <hr />
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label
                                            for="brand"
                                            class="form-label"
                                            style="color: #3cb395"
                                            >Marque*</label
                                        >
                                        <input
                                            type="text"
                                            name="brand"
                                            :class="[
                                                stores.externalBikesStore
                                                    .getErrors.brand
                                                    ? 'error form-control'
                                                    : 'form-control',
                                            ]"
                                            id="brand"
                                            placeholder="Cairon"
                                            v-model="input.brand"
                                        />
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label
                                            for="model"
                                            class="form-label"
                                            style="color: #3cb395"
                                            >Modèle</label
                                        >
                                        <input
                                            type="text"
                                            name="model"
                                            :class="[
                                                stores.externalBikesStore
                                                    .getErrors.model
                                                    ? 'error form-control'
                                                    : 'form-control',
                                            ]"
                                            id="model"
                                            placeholder="C-200"
                                            v-model="input.model"
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label
                                            for="color"
                                            class="form-label"
                                            style="color: #3cb395"
                                            >Couleur*</label
                                        >
                                        <input
                                            type="text"
                                            name="color"
                                            :class="[
                                                stores.externalBikesStore
                                                    .getErrors.color
                                                    ? 'error form-control'
                                                    : 'form-control',
                                            ]"
                                            id="color"
                                            placeholder="Rouge"
                                            v-model="input.color"
                                        />
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label
                                            for="frame_number"
                                            class="form-label"
                                            style="color: #3cb395"
                                            >Numéro de cadre</label
                                        >
                                        <input
                                            type="text"
                                            name="frame_number"
                                            :class="[
                                                stores.externalBikesStore
                                                    .getErrors.frame_number
                                                    ? 'error form-control'
                                                    : 'form-control',
                                            ]"
                                            id="frame_number"
                                            placeholder="fs465s46sf"
                                            v-model="input.frame_number"
                                        />
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div style="text-align: center">
                                <button
                                    @click="hideCreateBikeZone"
                                    style="width: 150px; margin: 1em"
                                    type="button"
                                    class="btn btn-danger"
                                >
                                    Annuler
                                </button>
                                <button
                                    style="width: 150px; margin: 1em"
                                    type="submit"
                                    class="btn"
                                >
                                    Créer
                                </button>
                            </div>
                        </form>
                    </div>

                    <div
                        id="div-5"
                        v-if="
                            newEntretien.company_id !== null &&
                            newEntretien.external_bike !== null &&
                            newEntretien.bike_id !== null &&
                            newEntretien.status === null
                        "
                    >
                        <button
                            @click="resetBike"
                            style="
                                width: 35px;
                                height: 35px;
                                padding: 0px;
                                float: left;
                            "
                            type="button"
                            class="btn"
                        >
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <br /><br />
                        <h3 style="text-align: center">
                            Quel status a cet entretien ?
                        </h3>
                        <br />
                        <div
                            style="
                                width: 300px;
                                margin: auto;
                                text-align: center;
                            "
                        >
                            <select
                                class="form-control selectCompanyBtn"
                                name="status"
                                id="status"
                                @change="addStatus"
                            >
                                <option value="" selected disabled>
                                    Choisir un statut ...
                                </option>
                                <option value="manualy_planned">
                                    Planifié manuellement
                                </option>
                                <option value="automaticaly_planned">
                                    Planifié automatiquement
                                </option>
                                <option value="confirmed">Confirmé</option>
                                <option value="to_planned">À planifier</option>
                                <option value="in_shop">Au magasin</option>
                                <option value="waiting_pieces">
                                    En attente de pièces
                                </option>
                                <option value="done">Terminé</option>
                            </select>
                        </div>
                        <br />
                    </div>

                    <div
                        id="div-6"
                        v-if="
                            newEntretien.company_id !== null &&
                            newEntretien.external_bike !== null &&
                            newEntretien.bike_id !== null &&
                            newEntretien.status !== null &&
                            newEntretien.planned_date === null
                        "
                    >
                        <button
                            @click="resetStatus"
                            style="
                                width: 35px;
                                height: 35px;
                                padding: 0px;
                                float: left;
                            "
                            type="button"
                            class="btn"
                        >
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <br /><br />
                        <h3 style="text-align: center">Entretien prévu le</h3>
                        <br />
                        <div
                            style="
                                width: 300px;
                                margin: auto;
                                text-align: center;
                            "
                        >
                            <input
                                type="date"
                                name="planned_date"
                                class="form-control"
                                id="planned_date"
                                v-model="newEntretien.planned_date"
                            />
                        </div>
                        <br />
                        <div style="text-align: center">
                            <button
                                @click="newEntretien.planned_date = 'skip'"
                                style="width: 150px; margin: 1em"
                                type="button"
                                class="btn"
                            >
                                Passer cette étape
                            </button>
                        </div>
                    </div>

                    <div
                        id="div-7"
                        v-if="
                            newEntretien.company_id !== null &&
                            newEntretien.external_bike !== null &&
                            newEntretien.bike_id !== null &&
                            newEntretien.status !== null &&
                            newEntretien.planned_date !== null &&
                            newEntretien.date === null
                        "
                    >
                        <button
                            @click="resetPlannedDate"
                            style="
                                width: 35px;
                                height: 35px;
                                padding: 0px;
                                float: left;
                            "
                            type="button"
                            class="btn"
                        >
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <br /><br />
                        <h3 style="text-align: center">Entretien fait le</h3>
                        <br />
                        <div
                            style="
                                width: 300px;
                                margin: auto;
                                text-align: center;
                            "
                        >
                            <input
                                type="date"
                                name="date"
                                class="form-control"
                                id="date"
                                v-model="newEntretien.date"
                            />
                        </div>
                        <br />
                        <div style="text-align: center">
                            <button
                                @click="newEntretien.date = 'skip'"
                                style="width: 150px; margin: 1em"
                                type="button"
                                class="btn"
                            >
                                Passer cette étape
                            </button>
                        </div>
                    </div>

                    <div
                        id="div-final"
                        v-if="
                            newEntretien.company_id !== null &&
                            newEntretien.external_bike !== null &&
                            newEntretien.bike_id !== null &&
                            newEntretien.status !== null &&
                            newEntretien.planned_date !== null &&
                            newEntretien.date !== null
                        "
                    >
                        <button
                            @click="resetDate"
                            style="
                                width: 35px;
                                height: 35px;
                                padding: 0px;
                                float: left;
                            "
                            type="button"
                            class="btn"
                        >
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <br /><br />
                        <h3 style="text-align: center">
                            Résumé de l'entretien
                        </h3>
                        <br />
                        <div style="margin-left: 2em">
                            <ul style="list-style: none">
                                <li>
                                    <span
                                        style="
                                            font-weight: bold;
                                            color: #3cb295;
                                        "
                                        >Nom de la société : </span
                                    >{{
                                        stores.companiesStore.getCompanyById(
                                            newEntretien.company_id
                                        ).name
                                    }}
                                </li>
                                <li>
                                    <span
                                        style="
                                            font-weight: bold;
                                            color: #3cb295;
                                        "
                                        >Vélo :
                                    </span>
                                    {{
                                        newEntretien.external_bike === 0
                                            ? bike.catalog.brand +
                                              " - " +
                                              bike.catalog.model
                                            : external_bike.brand +
                                              " - " +
                                              external_bike.model
                                    }}
                                </li>
                                <li>
                                    <span
                                        style="
                                            font-weight: bold;
                                            color: #3cb295;
                                        "
                                        >Statut :
                                    </span>
                                    {{
                                        newEntretien.status ===
                                        "manualy_planned"
                                            ? "Planifié manuellement"
                                            : newEntretien ===
                                              "automaticaly_planned"
                                            ? "Planifié automatiquement"
                                            : newEntretien.status ===
                                              "confirmed"
                                            ? "Confirmé"
                                            : newEntretien.status ===
                                              "to_planned"
                                            ? "À planifié"
                                            : newEntretien.status ===
                                              "waiting_pieces"
                                            ? "En attente de pièces"
                                            : newEntretien.status === "in_shop"
                                            ? "En magasin"
                                            : "Terminé"
                                    }}
                                </li>
                                <li>
                                    <span
                                        style="
                                            font-weight: bold;
                                            color: #3cb295;
                                        "
                                        >Date prévue :
                                    </span>
                                    {{
                                        newEntretien.planned_date !== null ||
                                        newEntretien.planned_date !== "skip"
                                            ? newEntretien.planned_date ===
                                              "skip"
                                                ? "Non renseigné"
                                                : newEntretien.planned_date
                                            : "Non renseigné"
                                    }}
                                </li>
                                <li>
                                    <span
                                        style="
                                            font-weight: bold;
                                            color: #3cb295;
                                        "
                                        >Date :
                                    </span>
                                    {{
                                        newEntretien.date !== null ||
                                        newEntretien.date !== "skip"
                                            ? newEntretien.date === "skip"
                                                ? "Non renseigné"
                                                : newEntretien.date
                                            : "Non renseigné"
                                    }}
                                </li>
                                <li>
                                    <span
                                        style="
                                            font-weight: bold;
                                            color: #3cb295;
                                        "
                                        >Description :
                                    </span>
                                    {{
                                        !!newEntretien.description
                                            ? newEntretien.description
                                            : "Non renseigné"
                                    }}
                                </li>
                                <li>
                                    <span
                                        style="
                                            font-weight: bold;
                                            color: #3cb295;
                                        "
                                        >Description confidentielle :
                                    </span>
                                    {{
                                        !!newEntretien.confidential_description
                                            ? newEntretien.confidential_description
                                            : "Non renseigné"
                                    }}
                                </li>
                            </ul>
                        </div>
                        <br /><br />
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="description" class="form-label"
                                    >Description</label
                                >
                                <textarea
                                    placeholder="..."
                                    style="resize: none; width: 100%"
                                    class="form-control"
                                    name="description"
                                    id="description"
                                    rows="5"
                                    v-model="newEntretien.description"
                                ></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label for="description" class="form-label"
                                    >Description confidentielle</label
                                >
                                <textarea
                                    placeholder="..."
                                    style="resize: none; width: 100%"
                                    class="form-control"
                                    name="confidential_description"
                                    id="confidential_description"
                                    rows="5"
                                    v-model="
                                        newEntretien.confidential_description
                                    "
                                ></textarea>
                            </div>
                        </div>
                        <br /><br />
                        <div style="text-align: center">
                            <button
                                @click="resetAll"
                                style="width: 150px; margin: 1em"
                                type="button"
                                class="btn btn-danger"
                            >
                                Réinitialiser
                            </button>
                            <button
                                @click="createNewEntretien"
                                style="width: 150px; margin: 1em"
                                type="button"
                                class="btn"
                            >
                                Confirmer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { ref, watchEffect } from "vue";

// Import store
import * as stores from "../../../store/StoresIndex";

// Import components
import GoogleAutoCompleteInput from "../GoogleAutocompleteForm/AutocompleteForm.vue";
import Header from "../ReusableComponents/HeaderComponent.vue";

stores.companiesStore.loadCompanies();

const createClientZone = ref(false);
const createBikeZone = ref(false);
const company_bikes = ref([]);
const external_company_bikes = ref([]);
const bike = ref({});
const external_bike = ref({});
const newEntretien = ref({
    company_id: null,
    bike_id: null,
    external_bike: null,
    planned_date: null,
    date: null,
    status: null,
    description: null,
    confidential_description: null,
});
const input = ref({});
let users = {};

watchEffect(async () => {
    if (newEntretien.value.company_id) {
        external_company_bikes.value =
            await stores.externalBikesStore.getExternalBikesByCompanyId(
                newEntretien.value.company_id
            );
        company_bikes.value = await stores.bikesStockStore.getBikesByCompanyId(
            newEntretien.value.company_id
        );
        for (const bike of company_bikes.value) {
            if (bike.users_id != null) {
                if (!(bike.users_id in users)) {
                    const data = await stores.usersStore.getUserById(
                        bike.users_id
                    );
                    users[bike.users_id] = data;
                }
                bike.user = users[bike.users_id];
            }
        }
    }
});

watchEffect(async () => {
    if (newEntretien.value.bike_id) {
        bike.value = await stores.bikesStockStore.getBikeStockById(
            newEntretien.value.bike_id
        );
        external_bike.value =
            await stores.externalBikesStore.getExternalBikeById(
                newEntretien.value.bike_id
            );
    }
});

// Define methods
function hideCreateClientZone() {
    createClientZone.value = false;
    input.value = {};
}

function showCreateClientZone() {
    document.getElementById("company").value = null;
}

function showCreateBikeZone() {
    createBikeZone.value = true;
}

function hideCreateBikeZone() {
    createBikeZone.value = false;
    input.value = {};
}

async function createClient() {
    await stores.companiesStore.createClientForEntretien(input.value);
    const companyId = stores.companiesStore.$state.newClientForEntretienId;
    if (companyId) {
        newEntretien.value["company_id"] = companyId;
        hideCreateClientZone();
        showCreateBikeZone();
    }
}

async function createExternalBike() {
    input.value["companies_id"] = newEntretien.value["company_id"];
    await stores.externalBikesStore.create(input.value);
    const bikeId = stores.externalBikesStore.$state.newExternalBikeId;
    if (bikeId) {
        newEntretien.value["bike_id"] = Number(bikeId);
        newEntretien.value["external_bike"] = 1;
        hideCreateBikeZone();
    }
}

function createNewEntretien() {
    stores.entretiensStore.createEntretien(newEntretien.value);
}

// Add methods
const addCompany = (e) => {
    const companyId = e.target.value;
    newEntretien.value["company_id"] = Number(companyId);
};

const addExternalBike = (e) => {
    const bikeId = e.target.value;
    newEntretien.value["bike_id"] = Number(bikeId);
    newEntretien.value["external_bike"] = 1;
};

const addInternalBike = (e) => {
    const bikeId = e.target.value;
    newEntretien.value["bike_id"] = Number(bikeId);
    newEntretien.value["external_bike"] = 0;
};

const addStatus = (e) => {
    const status = e.target.value;
    newEntretien.value["status"] = status;
};

// Reset methods

function resetCompany() {
    newEntretien.value["company_id"] = null;
    newEntretien.value["external_bike"] = null;
}

function resetBike() {
    newEntretien.value["bike_id"] = null;
    newEntretien.value["external_bike"] = null;
}

function resetStatus() {
    newEntretien.value["status"] = null;
}

function resetDates() {
    newEntretien.value["planned_date"] = null;
    newEntretien.value["date"] = null;
}

function resetPlannedDate() {
    newEntretien.value["planned_date"] = null;
}

function resetDate() {
    newEntretien.value["date"] = null;
    resetDescription();
    resetConfidentialDescription();
}

function resetDescription() {
    newEntretien.value["description"] = null;
}

function resetConfidentialDescription() {
    newEntretien.value["confidential_description"] = null;
}

function resetAll() {
    resetCompany();
    resetBike();
    resetStatus();
    resetDates();
    resetPlannedDate();
    resetDate();
    resetDescription();
    resetConfidentialDescription();
}
</script>
<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
.createClientBtn {
    cursor: pointer;
    margin-top: 1em;
    display: block;
    border: 2.5px solid #3cb295;
    color: #3cb295;
    padding: 0.4em;
    border-radius: 5px;
}
.createClientBtn:hover {
    background: #3cb295;
    color: #fff;
}
.selectCompanyBtn {
    background: #3cb295;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
</style>
