<template>
    <Datatable :headers="headers" :storeName="storeName" showBtn updateBtn />
</template>
<script setup>
import Datatable from "../ReusableComponents/Datatable.vue";
const storeName = "companiesStore";
const headers = [
    { value: "id", name: "#" },
    { value: "name", name: "Nom" },
    { value: "vat_number", name: "Numéro de tva" },
    { value: "audience", name: "Audience" },
];
</script>
