<template>
    <div>
        <Header title="Nouveau client" />
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form
                        @submit.prevent="sendForm()"
                        enctype="multipart/form-data"
                    >
                        <div>
                            <h4
                                style="
                                    text-transform: uppercase;
                                    color: #3cb395;
                                    font-wieght: bold;
                                "
                            >
                                Informations générales
                            </h4>
                            <hr />
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label
                                        for="audience"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Audience</label
                                    >
                                    <select
                                        :class="[
                                            stores.companiesStore.getErrors
                                                .audience
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        name="audience"
                                        id="audience"
                                        v-model="input.audience"
                                        @change="resetFields"
                                    >
                                        <option value="" selected disabled>
                                            Choisir une option
                                        </option>
                                        <option value="B2B" selected>
                                            B2B
                                        </option>
                                        <option value="B2C">B2C</option>
                                        <option value="INDEPENDANT">
                                            Independant
                                        </option>
                                    </select>
                                </div>
                                <div
                                    v-show="
                                        input.audience === 'B2B' ||
                                        input.audience === 'INDEPENDANT'
                                    "
                                    class="form-group col-sm-4"
                                >
                                    <label
                                        for="name"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Nom</label
                                    >
                                    <input
                                        type="text"
                                        name="name"
                                        :class="[
                                            stores.companiesStore.getErrors.name
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        id="name"
                                        placeholder="Kameo Bikes"
                                        v-model="input.name"
                                    />
                                </div>
                                <div
                                    v-show="
                                        input.audience === 'B2B' ||
                                        input.audience === 'INDEPENDANT'
                                    "
                                    class="form-group col-sm-4"
                                >
                                    <label
                                        for="vat_number"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Numéro de tva</label
                                    >
                                    <input
                                        type="text"
                                        name="vat_number"
                                        :class="[
                                            stores.companiesStore.getErrors
                                                .vat_number
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        id="vat_number"
                                        placeholder="BE0123456789"
                                        v-model="input.vat_number"
                                    />
                                </div>
                                <div
                                    v-show="input.audience === 'B2C'"
                                    class="form-group col-sm-4"
                                >
                                    <label
                                        for="firstname"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Prénom</label
                                    >
                                    <input
                                        type="text"
                                        name="firstname"
                                        :class="[
                                            stores.companiesStore.getErrors
                                                .firstname
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        id="firstname"
                                        placeholder="Joe"
                                        v-model="input.firstname"
                                    />
                                </div>
                                <div
                                    v-show="input.audience === 'B2C'"
                                    class="form-group col-sm-4"
                                >
                                    <label
                                        for="lastname"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Nom</label
                                    >
                                    <input
                                        type="text"
                                        name="lastname"
                                        :class="[
                                            stores.companiesStore.getErrors
                                                .lastname
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        id="lastname"
                                        placeholder="Doe"
                                        v-model="input.lastname"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div
                                    v-show="input.audience === 'B2C'"
                                    class="form-group col-sm-4"
                                >
                                    <label
                                        for="email"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Email</label
                                    >
                                    <input
                                        type="text"
                                        name="email"
                                        :class="[
                                            stores.companiesStore.getErrors
                                                .email
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        id="email"
                                        placeholder="joe.doe@exemple.com"
                                        v-model="input.email"
                                    />
                                </div>
                                <div
                                    v-show="input.audience === 'B2C'"
                                    class="form-group col-sm-4"
                                >
                                    <label
                                        for="phone"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Téléphone</label
                                    >
                                    <input
                                        type="text"
                                        name="phone"
                                        :class="[
                                            stores.companiesStore.getErrors
                                                .phone
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        id="phone"
                                        placeholder="0412345678"
                                        v-model="input.phone"
                                    />
                                </div>
                                <!-- <div
                                        v-show="input.audience === 'B2C'"
                                        class="form-group col-sm-4"
                                    >
                                        <label
                                            for="function"
                                            class="form-label"
                                            style="color: #3cb395"
                                            >Fonction</label
                                        >
                                        <input
                                            type="text"
                                            name="function"
                                            :class="[
                                                stores.companiesStore.getErrors
                                                    .function
                                                    ? 'error form-control'
                                                    : 'form-control',
                                            ]"
                                            id="function"
                                            placeholder="Employé"
                                            v-model="input.function"
                                        />
                                    </div> -->
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label
                                        for="type"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Type</label
                                    >
                                    <select
                                        :class="[
                                            stores.companiesStore.getErrors.type
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        name="type"
                                        id="type"
                                        v-model="input.type"
                                    >
                                        <option value="" selected disabled>
                                            Choisir une option
                                        </option>
                                        <option value="client">Client</option>
                                        <option value="prospect">
                                            Prospect
                                        </option>
                                        <option value="old_client">
                                            Ancien client
                                        </option>
                                        <option value="old_prospect">
                                            Ancien prospect
                                        </option>
                                        <option value="not_interested">
                                            Pas intéressé
                                        </option>
                                    </select>
                                </div>
                                <!-- <div class="form-group col-sm-4">
                                        <label
                                            for="aquisition"
                                            class="form-label"
                                            style="color: #3cb395"
                                            >Aquisition</label
                                        >
                                        <input
                                            type="text"
                                            name="aquisition"
                                            class="form-control"
                                            id="aquisition"
                                            placeholder="Antoine"
                                            v-model="input.aquisition"
                                        />
                                    </div> -->
                                <div class="col-sm-4">
                                    <GoogleAutoCompleteInput
                                        :store="
                                            stores.companiesStore.getErrors
                                                .address
                                        "
                                        v-model="input.address"
                                    />
                                </div>
                            </div>
                            <div
                                class="row"
                                v-show="
                                    ['B2B'].includes(input.audience) &&
                                    ['client'].includes(input.type)
                                "
                            >
                                <div class="form-group col-sm-6">
                                    <label
                                        for="conditions"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Conditions</label
                                    >
                                    <select
                                        :class="[
                                            stores.companiesStore.getErrors
                                                .conditions
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        name="conditions[]"
                                        id="conditions"
                                        v-model="input.conditions"
                                        multiple
                                    >
                                        <option value="cafetaria">
                                            Cafétaria
                                        </option>
                                        <option value="partage">
                                            Vélo partagé
                                        </option>
                                        <option value="assistance">
                                            Assistance
                                        </option>
                                        <option value="calendar">
                                            Calendrier
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div
                                v-show="
                                    input.audience === 'B2B' ||
                                    input.audience === 'INDEPENDANT'
                                "
                            >
                                <br />
                                <h4
                                    for="logo"
                                    style="
                                        text-transform: uppercase;
                                        color: #3cb395;
                                        font-wieght: bold;
                                    "
                                >
                                    Logo
                                </h4>
                                <hr />
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label
                                            class="form-label"
                                            style="color: #be3d3d"
                                            >{{
                                                stores.companiesStore
                                                    .getFileErrors.message
                                            }}</label
                                        >
                                        <label
                                            type="button"
                                            class="btn btn-block"
                                            >{{
                                                previews.length === 0
                                                    ? "Ajouter un logo"
                                                    : "Modifier le logo"
                                            }}
                                            <input
                                                type="file"
                                                name="logo"
                                                class="form-control"
                                                id="logo"
                                                accept="image/png,image/jpeg,image/jpg"
                                                hidden
                                                @change="
                                                    uploadFile({
                                                        mode: 'single',
                                                        e: $event,
                                                        formData: formData,
                                                        action: 'create',
                                                        previews: previews,
                                                        fileType: ['image'],
                                                        store: stores.companiesStore,
                                                    })
                                                "
                                            />
                                        </label>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div
                                        class="col-sm-4"
                                        v-for="item in previews"
                                        :key="item.id"
                                    >
                                        <div class="imgContainer">
                                            <img
                                                v-if="item.type === 'image'"
                                                id="catalogImage"
                                                :src="item.src"
                                            />
                                            <div class="overlay">
                                                {{ item.id }}
                                            </div>
                                            <button
                                                id="deleteImageButton"
                                                type="button"
                                                class="btn btn-danger"
                                                @click="
                                                    removePicture({
                                                        vue: 'create',
                                                        formData: formData,
                                                        previews: previews,
                                                    })
                                                "
                                            >
                                                X
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                        <br />
                        <div>
                            <button
                                style="width: 150px; margin: auto"
                                type="submit"
                                class="btn btn-block"
                            >
                                Ajouter
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
// Import dependencies
import { ref } from "vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import components
import GoogleAutoCompleteInput from "../GoogleAutocompleteForm/AutocompleteForm.vue";
import Header from "../ReusableComponents/HeaderComponent.vue";

// Import functions
import { uploadFile, removePicture } from "../../../functions/globalFunctions";

const input = ref({
    name: "",
    firstname: "",
    lastname: "",
    email: "",
    phone: "",
    function: "",
    vat_number: "",
    type: "",
    audience: "",
    address: "",
    conditions: [],
    aquisition: "",
});
const formData = new FormData();
const previews = ref([]);

// Define functions
function resetFields() {
    stores.companiesStore.$state.errors = [];
    let fieldsToReset = [];
    if (
        input.value.audience === "B2B" ||
        input.value.audience === "INDEPENDANT"
    ) {
        fieldsToReset = ["email", "phone", "function", "firstname", "lastname"];
    } else {
        fieldsToReset = ["vat_number", "name"];
    }
    fieldsToReset.forEach((field) => {
        delete input.value[field];
    });
}

// Send form
function sendForm() {
    formData.append("form", JSON.stringify(input.value));
    stores.companiesStore.create(formData);
}
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
#catalogImage {
    width: 100%;
    max-height: 200px;
    position: relative;
}
#deleteImageButton {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(190, 61, 61);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 0px;
    opacity: 0;
}
.imgContainer {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.imgContainer:hover .overlay {
    opacity: 1;
}
.imgContainer:hover #deleteImageButton {
    opacity: 1;
}
</style>
