<template>
    <div>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12 component-top-bar">
                <button
                    @click="$router.push({ name: 'companies-list' })"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button
                    @click="isOpen = true"
                    style="
                        height: 35px;
                        padding: 10px;
                        float: right;
                        margin-right: 5px;
                    "
                    type="button"
                    class="btn btn-danger"
                >
                    Supprimer le client
                </button>
            </div>

            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form @change="stores.companiesStore.update(formData)">
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Données principales
                        </h4>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label
                                    for="name"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Nom</label
                                >
                                <input
                                    type="text"
                                    name="name"
                                    :class="[
                                        stores.companiesStore.getErrors.name
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="name"
                                    placeholder="Kameo Bikes"
                                    v-model="
                                        stores.companiesStore.getCompany.name
                                    "
                                />
                            </div>
                            <div
                                v-show="
                                    stores.companiesStore.getCompany
                                        .audience === 'B2B' ||
                                    stores.companiesStore.getCompany
                                        .audience === 'INDEPENDANT'
                                "
                                class="form-group col-sm-4"
                            >
                                <label
                                    for="vat_number"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Numéro de tva</label
                                >
                                <input
                                    type="text"
                                    name="vat_number"
                                    :class="[
                                        stores.companiesStore.getErrors
                                            .vat_number
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="vat_number"
                                    placeholder="BE0123456789"
                                    v-model="
                                        stores.companiesStore.getCompany
                                            .vat_number
                                    "
                                />
                            </div>
                            <div class="form-group col-sm-4">
                                <label
                                    for="type"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Type</label
                                >
                                <select
                                    v-model="
                                        stores.companiesStore.getCompany.type
                                    "
                                    :class="[
                                        stores.companiesStore.getErrors.type
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="type"
                                    id="type"
                                >
                                    <option value="client">Client</option>
                                    <option value="prospect">Prospect</option>
                                    <option value="old_client">
                                        Ancien client
                                    </option>
                                    <option value="old_prospect">
                                        Ancien prospect
                                    </option>
                                    <option value="not_interested">
                                        Pas intéressé
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="billing_group"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Groupe de facturation</label
                                >
                                <input
                                    type="text"
                                    name="billing_group"
                                    :class="[
                                        stores.companiesStore.getErrors
                                            .billing_group
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="billing_group"
                                    placeholder="1"
                                    v-model="
                                        stores.companiesStore.getCompany
                                            .billing_group
                                    "
                                />
                            </div>
                            <div
                                class="form-group col-sm-6"
                                v-show="
                                    stores.companiesStore.getCompany.type ==
                                        'client' &&
                                    stores.companiesStore.getCompany.audience ==
                                        'B2B'
                                "
                            >
                                <label
                                    for="conditions"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Conditions</label
                                >
                                <select
                                    :class="[
                                        stores.companiesStore.getErrors
                                            .conditions
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="conditions[]"
                                    id="conditions"
                                    v-model="
                                        stores.companiesStore.getCompany
                                            .conditions
                                    "
                                    multiple
                                >
                                    <option value="cafetaria">Cafétaria</option>
                                    <option value="partage">
                                        Vélo partagé
                                    </option>
                                    <option value="assistance">
                                        Assistance
                                    </option>
                                    <option value="calendar">Calendrier</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label
                                    for="audience"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Audience</label
                                >
                                <select
                                    v-model="
                                        stores.companiesStore.getCompany
                                            .audience
                                    "
                                    :class="[
                                        stores.companiesStore.getErrors.audience
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="audience"
                                    id="audience"
                                >
                                    <option value="B2B">B2B</option>
                                    <option value="B2C">B2C</option>
                                    <option value="INDEPENDANT">
                                        Independant
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="aquisition"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Aquisition</label
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    name="aquisition"
                                    id="aquisition"
                                    placeholder="Antoine"
                                    v-model="
                                        stores.companiesStore.getCompany
                                            .aquisition
                                    "
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="status"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Status</label
                                >
                                <select
                                    v-model="
                                        stores.companiesStore.getCompany.status
                                    "
                                    :class="[
                                        stores.companiesStore.getErrors.status
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="status"
                                    id="status"
                                >
                                    <option value="actif">Actif</option>
                                    <option value="inactif">Inactif</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <GoogleAutoCompleteInput
                                    :store="
                                        stores.companiesStore.getErrors
                                            .condensed
                                    "
                                    v-model="
                                        stores.companiesStore.getCompany.address
                                            .condensed
                                    "
                                />
                            </div>
                        </div>
                        <br />
                        <h4
                            for="logo"
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Logo
                        </h4>
                        <hr />
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label
                                    class="form-label"
                                    style="color: #be3d3d"
                                    >{{
                                        stores.companiesStore.getFileErrors
                                            .message
                                    }}</label
                                >
                                <label type="button" class="btn btn-block"
                                    >{{
                                        stores.companiesStore.getCompany
                                            .logo ===
                                        "companies_logo/default.png"
                                            ? "Ajouter un logo"
                                            : "Modifier le logo"
                                    }}
                                    <input
                                        type="file"
                                        name="image"
                                        class="form-control"
                                        id="image"
                                        hidden
                                        @change="
                                            uploadFile({
                                                mode: 'single',
                                                e: $event,
                                                formData: formData,
                                                action: 'update',
                                                store: stores.companiesStore,
                                                fileType: ['image'],
                                            })
                                        "
                                    />
                                </label>
                            </div>
                        </div>
                        <div
                            class="row form-group"
                            v-if="
                                stores.companiesStore.getCompany.logo !=
                                    'companies_logo/default.png' &&
                                stores.companiesStore.getCompany.logo !== null
                            "
                        >
                            <div class="col-sm-4">
                                <div class="imgContainer">
                                    <img
                                        id="catalogImage"
                                        :src="
                                            '../../../../../storage/' +
                                            stores.companiesStore.getCompany
                                                .logo
                                        "
                                    />
                                    <button
                                        id="deleteImageButton"
                                        type="button"
                                        class="btn btn-danger"
                                        @click="
                                            removePicture({
                                                id: route.params.id,
                                                vue: 'update',
                                                store: stores.companiesStore,
                                            })
                                        "
                                    >
                                        X
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <DeleteValidationModal
            :open="isOpen"
            @close="isOpen = !isOpen"
            :id="stores.companiesStore.getCompany.id"
            :store="stores.companiesStore"
        />
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref } from "vue";
import DeleteValidationModal from "../Modals/DeleteValidationModal.vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import components
import GoogleAutoCompleteInput from "../GoogleAutocompleteForm/AutocompleteForm.vue";

// Import functions
import { uploadFile, removePicture } from "../../../functions/globalFunctions";

const isOpen = ref(false);
const route = useRoute();
const formData = new FormData();

stores.companiesStore.show(route.params.id);

// Define functions
function setFile(e) {
    const file = e.target.files[0];
    formData.set("logo", file);
    stores.companiesStore.uploadLogo(route.params.id, formData);
}
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
#content {
    padding: 7px 14px;
    min-height: 15em;
    overflow: auto;
    resize: vertical;
}
#catalogImage {
    width: 100%;
    max-height: 200px;
    position: relative;
}
#deleteImageButton {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(190, 61, 61);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 0px;
    opacity: 0;
}
.imgContainer {
    position: relative;
}

.imgContainer:hover #deleteImageButton {
    opacity: 1;
}
</style>
