<template>
    <div class="row" id="mainDynamicZone">
        <div class="col-sm-12 component-top-bar">
            <button
                @click="$router.push({ name: 'companies-list' })"
                style="width: 35px; height: 35px; padding: 0px; float: left"
                type="button"
                class="btn"
            >
                <i class="fa fa-arrow-left"></i>
            </button>
            <router-link
                :to="{
                    name: 'contacts-create',
                    params: { id: route.params.id },
                }"
                style="
                    height: 35px;
                    padding: 10px;
                    float: right;
                    margin-right: 5px;
                "
                tag="button"
                class="btn"
            >
                Ajouter un contact
            </router-link>
        </div>

        <div class="col-sm-6">
            <div class="widget p-cb" style="height: 600px">
                <h4>Informations</h4>
                <div style="overflow-y: auto; height: 500px">
                    <div
                        v-show="
                            stores.companiesStore.getCompany.logo !=
                                'companies_logo/default.png' &&
                            stores.companiesStore.getCompany.logo !== null
                        "
                    >
                        <img
                            class="pictures"
                            :src="
                                '../../../../../storage/' +
                                stores.companiesStore.getCompany.logo
                            "
                            width="70"
                            height="70"
                        />
                        <hr />
                    </div>
                    <div v-show="!!stores.companiesStore.getCompany.name">
                        <label class="form-label" style="color: #3cb395"
                            >Nom</label
                        >
                        <p>{{ stores.companiesStore.getCompany.name }}</p>
                        <hr />
                    </div>
                    <div v-show="!!stores.companiesStore.getCompany.vat_number">
                        <label class="form-label" style="color: #3cb395"
                            >Numéro de tva</label
                        >
                        <label class="form-label" style="color: #3cb395"
                            >Numéro de tva</label
                        >
                        <p>
                            {{ stores.companiesStore.getCompany.vat_number }}
                        </p>
                        <hr />
                    </div>
                    <div v-if="!!condition">
                        <label class="form-label" style="color: #3cb395"
                            >Plans</label
                        >
                        <p>
                            {{ condition.access }}
                        </p>
                    </div>
                    <div
                        v-show="
                            !!stores.companiesStore.getCompany.billing_group
                        "
                    >
                        <p>
                            {{ stores.companiesStore.getCompany.billing_group }}
                        </p>
                        <hr />
                    </div>
                    <div v-show="!!stores.companiesStore.getCompany.type">
                        <label class="form-label" style="color: #3cb395"
                            >Type</label
                        >
                        <p>{{ stores.companiesStore.getCompany.type }}</p>
                        <hr />
                    </div>
                    <div v-show="!!stores.companiesStore.getCompany.audience">
                        <label class="form-label" style="color: #3cb395"
                            >Audience</label
                        >
                        <p>
                            {{ stores.companiesStore.getCompany.audience }}
                        </p>
                        <hr />
                    </div>
                    <div v-show="!!stores.companiesStore.getCompany.aquisition">
                        <label class="form-label" style="color: #3cb395"
                            >Aquisition</label
                        >
                        <p>
                            {{ stores.companiesStore.getCompany.aquisition }}
                        </p>
                        <hr />
                    </div>
                    <div v-show="!!stores.companiesStore.getCompany.status">
                        <label class="form-label" style="color: #3cb395"
                            >Status</label
                        >
                        <p>{{ stores.companiesStore.getCompany.status }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="col-sm-6"
            v-show="
                !!stores.companiesStore.getCompany.address.city ||
                !!stores.companiesStore.getCompany.address.street ||
                !!stores.companiesStore.getCompany.address.number ||
                !!stores.companiesStore.getCompany.address.zip ||
                !!stores.companiesStore.getCompany.address.country
            "
        >
            <div class="widget widget-form p-cb" style="height: 600px">
                <h4>Adresse</h4>
                <div style="overflow-y: auto; height: 500px">
                    <div
                        v-show="
                            !!stores.companiesStore.getCompany.address.street
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Rue</label
                        >
                        <p>
                            {{
                                stores.companiesStore.getCompany.address.street
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.companiesStore.getCompany.address.number
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Numéro</label
                        >
                        <p>
                            {{
                                stores.companiesStore.getCompany.address.number
                            }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="!!stores.companiesStore.getCompany.address.zip"
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Code postal</label
                        >
                        <p>
                            {{ stores.companiesStore.getCompany.address.zip }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="!!stores.companiesStore.getCompany.address.city"
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Ville</label
                        >
                        <p>
                            {{ stores.companiesStore.getCompany.address.city }}
                        </p>
                        <hr />
                    </div>
                    <div
                        v-show="
                            !!stores.companiesStore.getCompany.address.country
                        "
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Pays</label
                        >
                        <p>
                            {{
                                stores.companiesStore.getCompany.address.country
                            }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-show="stores.companiesStore.getCompany.contact.length > 0"
            class="col-sm-12"
        >
            <div class="widget widget-form p-cb" style="max-height: 600px">
                <h4>Liste des contacts</h4>
                <table class="table" id="datatable">
                    <thead style="background: #3cb395; color: white">
                        <tr style="text-align: center">
                            <th></th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Téléphone</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="item in stores.companiesStore.getCompany
                                .contact"
                            :key="item.id"
                            style="text-align: center"
                        >
                            <td>
                                <router-link
                                    :to="{
                                        name: 'contacts-show',
                                        params: { id: item.id },
                                    }"
                                    tag="button"
                                    class="btn btn-xs"
                                    style="background: #fff; border: none"
                                >
                                    <i
                                        class="fa fa-eye"
                                        style="color: #3cb395"
                                    ></i>
                                </router-link>
                            </td>
                            <td>{{ item.lastname }}</td>
                            <td>{{ item.firstname }}</td>
                            <td>{{ item.phone }}</td>
                            <td>{{ item.type }}</td>
                            <td>
                                <a
                                    class="btn btn-xs"
                                    :href="'mailto:' + item.email"
                                    ><i class="fa fa-envelope"></i
                                ></a>
                                <router-link
                                    :to="{
                                        name: 'contacts-update',
                                        params: { id: item.id },
                                    }"
                                    tag="button"
                                    class="btn btn-xs"
                                >
                                    <i class="fa fa-pencil-alt"></i>
                                </router-link>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";

// Import stores
import * as stores from "../../../store/StoresIndex";

const route = useRoute();

await stores.companiesStore.show(route.params.id);

const condition = await stores.conditionsStore.getConditionsByCompanyId(
    stores.companiesStore.getCompany.id
);
</script>
