<template>
    <div>
        <Header title="Nouveau contact" />
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <div class="widget p-cb">
                    <br />
                    <h3 style="text-align: center">
                        À quelle société voulez-vous associer<br />
                        un nouveau contact ?
                    </h3>
                    <br />
                    <div style="width: 300px; margin: auto; text-align: center">
                        <select
                            style="background: #3cb395; color: #fff"
                            name="company"
                            id="company"
                            @change="changeRoute($event)"
                            class="form-control"
                        >
                            <option value="" selected disabled>
                                Choisir ...
                            </option>
                            <option
                                v-for="item in stores.companiesStore.getCompanies.sort(
                                    (a, b) => a.name > b.name
                                )"
                                :key="item.id"
                                :value="item.id"
                            >
                                {{ item.name }}
                            </option>
                        </select>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
// Import dependencies
import { useRouter } from "vue-router";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import components
import Header from "../ReusableComponents/HeaderComponent.vue";

// Define constante
stores.companiesStore.loadCompanies();

const router = useRouter();

// Functions
function changeRoute(e) {
    router.push({ name: "contacts-create", params: { id: e.target.value } });
}
</script>
