<template>
    <div>
        <h2
            v-if="!!company"
            id="dynamicMainTitle"
            style="color: #3cb395"
            class="text-uppercase"
        >
            Modifications des conditions de
            {{ company.name }}
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.go(-1)"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>

            <div class="col-md-12">
                <div class="widget p-cb">
                    <div>
                        <!-- Plan cafétaria -->
                        <br />
                        <h3
                            class="text-primary"
                            style="position: absolute; left: 1em"
                        >
                            Cafétaria
                        </h3>
                        <div
                            style="margin-top: 2.5em"
                            v-if="verifyAccess('cafetaria')"
                        >
                            <form
                                @change="
                                    stores.conditionsStore.update('cafetaria')
                                "
                            >
                                <div class="row">
                                    <!-- Cafetaria left zone -->
                                    <div class="col-sm-6">
                                        <!-- Cafetaria general settings -->
                                        <div class="widget p-cb">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label
                                                            for="cafetaria_billing_type"
                                                            class="control-label"
                                                            >Type de
                                                            paiement</label
                                                        >
                                                        <select
                                                            :class="[
                                                                stores
                                                                    .conditionsStore
                                                                    .getErrors
                                                                    .cafetaria_billing_type
                                                                    ? 'error form-control'
                                                                    : 'form-control',
                                                            ]"
                                                            v-model="
                                                                stores
                                                                    .conditionsStore
                                                                    .getCondition
                                                                    .cafetaria_billing_type
                                                            "
                                                            name="cafetaria_billing_type[]"
                                                            id="cafetaria_billing_type"
                                                            multiple
                                                        >
                                                            <option
                                                                value="purchase"
                                                            >
                                                                Achat
                                                            </option>
                                                            <option
                                                                value="monthly_leasing"
                                                            >
                                                                Leasing mensuel
                                                            </option>
                                                            <option
                                                                value="annual_leasing"
                                                            >
                                                                Leasing annuel
                                                            </option>
                                                            <option
                                                                value="pre_financed_leasing"
                                                            >
                                                                Leasing
                                                                pré-financé
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label
                                                            for="cafetaria_tva"
                                                            class="control-label"
                                                            >TVA incluse</label
                                                        >
                                                        <select
                                                            :class="[
                                                                stores
                                                                    .conditionsStore
                                                                    .getErrors
                                                                    .cafetaria_tva
                                                                    ? 'error form-control'
                                                                    : 'form-control',
                                                            ]"
                                                            v-model="
                                                                stores
                                                                    .conditionsStore
                                                                    .getCondition
                                                                    .cafetaria_tva
                                                            "
                                                            name="cafetaria_tva"
                                                            id="cafetaria_tva"
                                                        >
                                                            <option
                                                                :value="null"
                                                                disabled
                                                            >
                                                                Choisir une
                                                                option
                                                            </option>
                                                            <option value="Y">
                                                                Oui
                                                            </option>
                                                            <option value="N">
                                                                Non
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label
                                                            for="cafetaria_discount_selling"
                                                            class="control-label"
                                                            >Réduction
                                                            vente</label
                                                        >
                                                        <input
                                                            type="number"
                                                            :class="[
                                                                stores
                                                                    .conditionsStore
                                                                    .getErrors
                                                                    .cafetaria_discount_selling
                                                                    ? 'error form-control'
                                                                    : 'form-control',
                                                            ]"
                                                            placeholder="Entrer une réduction en %"
                                                            v-model="
                                                                stores
                                                                    .conditionsStore
                                                                    .getCondition
                                                                    .cafetaria_discount_selling
                                                            "
                                                            name="cafetaria_discount_selling"
                                                            id="cafetaria_discount_selling"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label
                                                            for="cafetaria_discount_leasing"
                                                            class="control-label"
                                                            >Réduction
                                                            leasing</label
                                                        >
                                                        <input
                                                            type="number"
                                                            :class="[
                                                                stores
                                                                    .conditionsStore
                                                                    .getErrors
                                                                    .cafetaria_discount_leasing
                                                                    ? 'error form-control'
                                                                    : 'form-control',
                                                            ]"
                                                            placeholder="Entrer une réduction en %"
                                                            v-model="
                                                                stores
                                                                    .conditionsStore
                                                                    .getCondition
                                                                    .cafetaria_discount_leasing
                                                            "
                                                            name="cafetaria_discount_leasing"
                                                            id="cafetaria_discount_leasing"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Cafetaria right zone -->
                                    <div class="col-sm-6">
                                        <!-- cafetaria bike zone -->
                                        <div class="widget p-cb">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div
                                                        v-if="
                                                            stores
                                                                .conditionsStore
                                                                .$state
                                                                .bikeOrderable
                                                                .catalogs_id ===
                                                            '*'
                                                        "
                                                        style="
                                                            text-align: center;
                                                        "
                                                    >
                                                        <p>
                                                            Tous les vélos sont
                                                            actuellement
                                                            séléctionné
                                                        </p>
                                                        <button
                                                            @click="
                                                                selectbikeOrderableManually
                                                            "
                                                            type="button"
                                                            class="btn"
                                                        >
                                                            Sélectionner
                                                            manuellement les
                                                            vélos
                                                        </button>
                                                    </div>
                                                    <div
                                                        v-if="
                                                            stores
                                                                .conditionsStore
                                                                .$state
                                                                .bikeOrderable
                                                                .catalogs_id !==
                                                            '*'
                                                        "
                                                        style="
                                                            text-align: center;
                                                        "
                                                    >
                                                        <select
                                                            :class="[
                                                                stores
                                                                    .conditionsStore
                                                                    .getErrors
                                                                    .catalogs_id
                                                                    ? 'error form-control'
                                                                    : 'form-control',
                                                            ]"
                                                            style="
                                                                margin-bottom: 1em;
                                                            "
                                                            class="form-control"
                                                            name="bikeOrderable[]"
                                                            v-model="
                                                                stores
                                                                    .conditionsStore
                                                                    .$state
                                                                    .bikeOrderable
                                                                    .catalogs_id
                                                            "
                                                            multiple
                                                        >
                                                            <option
                                                                v-for="bike in bikes_catalog"
                                                                :key="bike.id"
                                                                :value="bike.id"
                                                            >
                                                                {{ bike.brand }}
                                                                {{ bike.model }}
                                                            </option>
                                                        </select>
                                                        <button
                                                            @click="
                                                                selectAllBikeOrderable
                                                            "
                                                            type="button"
                                                            class="btn"
                                                        >
                                                            Sélectionner tous
                                                            les vélos
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Cafetaria accessory zone -->
                                        <div
                                            class="widget p-cb"
                                            style="
                                                max-height: 350px;
                                                overflow-y: auto;
                                            "
                                        >
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <!-- Top button -->
                                                    <div
                                                        style="
                                                            text-align: center;
                                                        "
                                                    >
                                                        <button
                                                            @click="
                                                                stores
                                                                    .conditionsStore
                                                                    .AddAllAccessoryOrderable;
                                                            "
                                                            v-show="
                                                                !addAccessoryOrderable
                                                            "
                                                            type="button"
                                                            class="btn"
                                                            style="
                                                                padding: 5px;
                                                                font-size: 0.7em;
                                                                margin-top: 5px;
                                                            "
                                                        >
                                                            Tout sélectionner
                                                        </button>
                                                        <button
                                                            @click="
                                                                stores
                                                                    .conditionsStore
                                                                    .deleteAllAccessoryOrderable;
                                                            "
                                                            v-show="
                                                                !addAccessoryOrderable
                                                            "
                                                            type="button"
                                                            class="btn btn-danger"
                                                            style="
                                                                padding: 5px;
                                                                font-size: 0.7em;
                                                                margin-top: 5px;
                                                            "
                                                        >
                                                            Tout supprimer
                                                        </button>
                                                    </div>
                                                    <!-- Table -->
                                                    <table
                                                        class="table"
                                                        style="width: 100%"
                                                        v-if="
                                                            !addAccessoryOrderable
                                                        "
                                                    >
                                                        <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Marque</th>
                                                                <th>Modèle</th>
                                                                <th>isFree</th>
                                                                <th>Type</th>
                                                                <th>
                                                                    <button
                                                                        @click="
                                                                            showAddAccessoryOrderable
                                                                        "
                                                                        type="button"
                                                                        class="btn"
                                                                        style="
                                                                            padding: 5px;
                                                                            font-size: 0.7em;
                                                                            margin-top: 5px;
                                                                        "
                                                                    >
                                                                        Ajouter
                                                                    </button>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr
                                                                v-for="accessory in accessories"
                                                                :key="
                                                                    accessory.id
                                                                "
                                                            >
                                                                <td
                                                                    v-if="
                                                                        accessory.catalog_id !=
                                                                        '*'
                                                                    "
                                                                >
                                                                    {{
                                                                        accessory.catalog_id
                                                                    }}
                                                                </td>
                                                                <td
                                                                    v-if="
                                                                        accessory.catalog_id !=
                                                                        '*'
                                                                    "
                                                                >
                                                                    {{
                                                                        accessory &&
                                                                        accessory.catalog
                                                                            ? accessory
                                                                                  .catalog
                                                                                  .brand
                                                                            : ""
                                                                    }}
                                                                </td>
                                                                <td
                                                                    v-if="
                                                                        accessory.catalog_id !=
                                                                        '*'
                                                                    "
                                                                >
                                                                    {{
                                                                        accessory &&
                                                                        accessory.catalog
                                                                            ? accessory
                                                                                  .catalog
                                                                                  .model
                                                                            : ""
                                                                    }}
                                                                </td>
                                                                <td
                                                                    v-if="
                                                                        accessory.catalog_id !=
                                                                        '*'
                                                                    "
                                                                >
                                                                    {{
                                                                        accessory.isFree
                                                                    }}
                                                                </td>
                                                                <td
                                                                    v-if="
                                                                        accessory.catalog_id !=
                                                                        '*'
                                                                    "
                                                                >
                                                                    {{
                                                                        accessory.type
                                                                    }}
                                                                </td>
                                                                <td
                                                                    v-if="
                                                                        accessory.catalog_id !=
                                                                        '*'
                                                                    "
                                                                    style="
                                                                        text-align: center;
                                                                    "
                                                                >
                                                                    <button
                                                                        @click="
                                                                            stores.conditionsStore.removeAccessoryOrderable(
                                                                                accessory.id
                                                                            )
                                                                        "
                                                                        type="button"
                                                                        style="
                                                                            width: 30px;
                                                                            padding: 2.5px;
                                                                        "
                                                                        class="btn btn-danger"
                                                                    >
                                                                        <i
                                                                            class="fa fa-trash fa-xs"
                                                                        ></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- Informations messages -->
                                                    <p v-if="all_message">
                                                        {{ all_message }}
                                                    </p>
                                                    <p
                                                        v-show="
                                                            stores
                                                                .conditionsStore
                                                                .getAccessoryOrderable
                                                                .length === 1 &&
                                                            !addAccessoryOrderable
                                                        "
                                                        style="
                                                            text-align: center;
                                                            color: #3cb295;
                                                            padding-top: 1em;
                                                        "
                                                    >
                                                        Tous les accessoires
                                                        sont actuellement
                                                        sélectionné aux
                                                        conditions standards
                                                    </p>
                                                    <p
                                                        v-show="
                                                            stores
                                                                .conditionsStore
                                                                .getAccessoryOrderable
                                                                .length === 0 &&
                                                            !addAccessoryOrderable
                                                        "
                                                        style="
                                                            text-align: center;
                                                            color: #3cb295;
                                                            padding-top: 1em;
                                                        "
                                                    >
                                                        Aucun accessoire
                                                        sélectionné
                                                    </p>
                                                    <!-- Add accessory orderable zone -->
                                                    <div
                                                        v-if="
                                                            addAccessoryOrderable
                                                        "
                                                        style="
                                                            text-align: center;
                                                        "
                                                    >
                                                        <div class="form-group">
                                                            <label
                                                                style="
                                                                    text-align: left;
                                                                "
                                                                class="form-label"
                                                                for="accessoryCatalog"
                                                                >Accessoire</label
                                                            >
                                                            <select
                                                                :class="[
                                                                    stores
                                                                        .conditionsStore
                                                                        .getErrors
                                                                        .accessory_id
                                                                        ? 'error form-control'
                                                                        : 'form-control',
                                                                ]"
                                                                @change.stop
                                                                name="accessoryCatalog"
                                                                id="accessoryCatalog"
                                                                v-model="
                                                                    newAccessoryOrderable.accessory_id
                                                                "
                                                            >
                                                                <option
                                                                    :value="
                                                                        null
                                                                    "
                                                                >
                                                                    Choisir une
                                                                    option
                                                                </option>
                                                                <option
                                                                    v-for="accessory in accessories_catalog"
                                                                    :key="
                                                                        accessory.id
                                                                    "
                                                                    :value="
                                                                        accessory.id
                                                                    "
                                                                >
                                                                    {{
                                                                        accessory.brand
                                                                    }}
                                                                    {{
                                                                        accessory.model
                                                                    }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label
                                                                style="
                                                                    text-align: left;
                                                                "
                                                                class="form-label"
                                                                for="type"
                                                                >Type</label
                                                            >
                                                            <select
                                                                @change.stop
                                                                :class="[
                                                                    stores
                                                                        .conditionsStore
                                                                        .getErrors
                                                                        .type
                                                                        ? 'error form-control'
                                                                        : 'form-control',
                                                                ]"
                                                                name="type"
                                                                v-model="
                                                                    newAccessoryOrderable.type
                                                                "
                                                            >
                                                                <option
                                                                    :value="
                                                                        null
                                                                    "
                                                                >
                                                                    Choisir une
                                                                    option
                                                                </option>
                                                                <option
                                                                    value="available"
                                                                >
                                                                    Disponible
                                                                </option>
                                                                <option
                                                                    value="mandatory"
                                                                >
                                                                    Obligatoire
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label
                                                                style="
                                                                    text-align: left;
                                                                "
                                                                class="form-label"
                                                                for="isFree"
                                                                >Prix</label
                                                            >
                                                            <select
                                                                @change.stop
                                                                :class="[
                                                                    stores
                                                                        .conditionsStore
                                                                        .getErrors
                                                                        .isFree
                                                                        ? 'error form-control'
                                                                        : 'form-control',
                                                                ]"
                                                                name="isFree"
                                                                v-model="
                                                                    newAccessoryOrderable.isFree
                                                                "
                                                            >
                                                                <option
                                                                    :value="
                                                                        null
                                                                    "
                                                                >
                                                                    Choisir une
                                                                    option
                                                                </option>
                                                                <option
                                                                    value="Y"
                                                                >
                                                                    Gratuit
                                                                </option>
                                                                <option
                                                                    value="N"
                                                                >
                                                                    Normal
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <button
                                                            @click="
                                                                addNewAccessoryOrderable
                                                            "
                                                            type="button"
                                                            class="btn"
                                                        >
                                                            Ajouter
                                                        </button>
                                                        <button
                                                            @click="
                                                                resetNewAccessoryOrderable
                                                            "
                                                            type="button"
                                                            class="btn btn-danger"
                                                        >
                                                            Annuler
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div
                            style="margin-bottom: 2em; text-align: center"
                            v-else
                        >
                            <p
                                style="
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    color: #3cb295;
                                    text-align: center;
                                    margin-top: 50px;
                                "
                            >
                                Ce plan n'est pas activé
                            </p>
                            <router-link
                                :to="{
                                    name: 'companies-update',
                                    params: {
                                        id: company.id,
                                    },
                                }"
                                tag="button"
                                class="btn btn-xs"
                            >
                                Activer le plan
                            </router-link>
                        </div>
                        <hr />

                        <br />
                        <h3 class="text-primary" style="position: relative">
                            Vélo partagé
                        </h3>
                        <!-- Plan vélo partagé -->
                        <SharedBikes
                            :company="company"
                            from="conditions"
                        ></SharedBikes>
                        <hr />

                        <!-- Plan assistance -->
                        <br />
                        <h3 class="text-primary" style="position: relative">
                            Assistance
                        </h3>
                        <div
                            style="margin-bottom: 2em; text-align: center"
                            v-if="verifyAccess('assistance')"
                        >
                            <p
                                style="
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    color: #3cb295;
                                    text-align: center;
                                    margin-top: 50px;
                                "
                            >
                                Plan assistance activé
                            </p>
                        </div>
                        <div
                            style="margin-bottom: 2em; text-align: center"
                            v-else
                        >
                            <p
                                style="
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    color: #3cb295;
                                    text-align: center;
                                    margin-top: 50px;
                                "
                            >
                                Ce plan n'est pas activé
                            </p>
                            <router-link
                                :to="{
                                    name: 'companies-update',
                                    params: {
                                        id: company.id,
                                    },
                                }"
                                tag="button"
                                class="btn btn-xs"
                            >
                                Activer le plan
                            </router-link>
                        </div>
                        <hr />

                        <!-- Plan calendrier -->
                        <br />
                        <h3 class="text-primary" style="position: relative">
                            Calendrier
                        </h3>
                        <div
                            style="margin-top: 1em"
                            v-if="verifyAccess('calendar')"
                        >
                            <p
                                style="
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    color: #3cb295;
                                    text-align: center;
                                    margin-top: 50px;
                                "
                            >
                                Le plan calendrier est activé
                            </p>
                        </div>
                        <div
                            style="margin-bottom: 2em; text-align: center"
                            v-else
                        >
                            <p
                                style="
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    color: #3cb295;
                                    text-align: center;
                                    margin-top: 50px;
                                "
                            >
                                Ce plan n'est pas activé
                            </p>
                            <router-link
                                :to="{
                                    name: 'companies-update',
                                    params: {
                                        id: company.id,
                                    },
                                }"
                                tag="button"
                                class="btn btn-xs"
                            >
                                Activer le plan
                            </router-link>
                        </div>
                        <hr />

                        <!-- <router-link :to="{ name: 'companies-update', params: { id: item.id } }" tag="button" class="btn btn-xs">
                            <i class="fa fa-pencil-alt"></i>
                        </router-link> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { ref, watchEffect } from "vue";
import { useRoute } from "vue-router";
// Import stores
import * as stores from "../../../store/StoresIndex";
import SharedBikes from "../SharedBikes/Index.vue";

const route = useRoute();
const accessories = ref();
const accessories_catalog = ref();
const bikes_catalog = ref();
const all_message = ref("");
const addAccessoryOrderable = ref(false);
const addSpecialsConditionsToSharedBike = ref(false);
const newAccessoryOrderable = ref({
    isFree: null,
    type: null,
    accessory_id: null,
});
const newSharedBike = ref({
    weekend_access: "N",
    max_time_before_reservation: 72,
    max_time_reservation: 12,
});

stores.accessoriesCatalogStore
    .getModelsAndBrands()
    .then((data) => (accessories_catalog.value = data));
stores.bikesCatalogStore
    .getModelsAndBrands()
    .then((data) => (bikes_catalog.value = data));

// Define stores
await stores.conditionsStore.show(route.params.id);

const company = await stores.companiesStore.getCompanyById(
    stores.conditionsStore.getCondition.companies_id
);

watchEffect(async () => {
    accessories.value = stores.conditionsStore.getAccessoryOrderable;
    for (const accessory of accessories.value) {
        if (accessory.catalog_id !== "*") {
            accessory.catalog = accessories_catalog.value.find(
                (accessory2) => accessory2.id === parseInt(accessory.catalog_id)
            );
        } else {
            all_message.value = `Type : ${accessory.type}, isFree : ${accessory.isFree}`;
        }
    }
});

// Define methods
const verifyAccess = (access) => {
    return (
        stores.conditionsStore.getCondition.access &&
        stores.conditionsStore.getCondition.access.includes(access)
    );
};

const selectbikeOrderableManually = () => {
    stores.conditionsStore.$state.bikeOrderable.catalogs_id = "0";
    stores.conditionsStore.update("cafetaria");
};

const selectAllBikeOrderable = () => {
    stores.conditionsStore.$state.bikeOrderable.catalogs_id = "*";
    stores.conditionsStore.update("cafetaria");
};

const showAddAccessoryOrderable = () => {
    stores.conditionsStore.$state.errors = {};
    addAccessoryOrderable.value = true;
};

const addNewAccessoryOrderable = () => {
    stores.conditionsStore.createNewAccessoryOrderable(
        newAccessoryOrderable.value
    );
    if (
        newAccessoryOrderable.value["isFree"] !== null &&
        newAccessoryOrderable.value["type"] !== null &&
        newAccessoryOrderable.value["accessory_id"] !== null
    ) {
        addAccessoryOrderable.value = false;
        newAccessoryOrderable.value = {};
    }
};

const resetNewAccessoryOrderable = () => {
    addAccessoryOrderable.value = false;
    newAccessoryOrderable.value = {};
};
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
