<template>
    <Datatable :headers="headers" :storeName="storeName" updateBtn />
</template>
<script setup>
import Datatable from "../ReusableComponents/Datatable.vue";
const storeName = "conditionsStore";
const headers = [
    { value: "id", name: "#" },
    { value: "client", name: "Client" },
    { value: "cafetaria", name: "Cafétaria", icon: true },
    { value: "partage", name: "Vélo partagé", icon: true },
    { value: "assistance", name: "Assistance", icon: true },
    { value: "calendar", name: "Calendrier", icon: true },
];
</script>
