<template>
    <MediumModal :open="props.open" @close="isOpen = false">
        <h2>Confirmez-vous cette action ?</h2>
        <div>
            <button class="btn btn-danger" @click="close()">Annuler</button>
            <button
                class="btn"
                @click="
                    deleteId(props.id, props.store);
                    close();
                "
            >
                Confirmer
            </button>
        </div>
    </MediumModal>
</template>

<script setup>
import MediumModal from "./Medium.vue";

// Define props
const props = defineProps(["open", "id", "store"]);

// Define emits
const emit = defineEmits(["close"]);

// Define functions
const close = () => {
    emit("close");
};

const deleteId = (id, store) => {
    store.destroy(id);
};
</script>

<style scoped>
h2 {
    margin: 15px auto 30px auto;
}
div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
</style>
