<template>
    <transition name="fade">
        <div class="vue-modal" v-show="open" @click.self="close">
            <transition name="drop-in">
                <div class="vue-modal-inner" v-show="open">
                    <div class="vue-modal-content">
                        <slot />
                    </div>
                </div>
            </transition>
        </div>
    </transition>
</template>

<script setup>
// Define props
const props = defineProps({
    open: {
        type: Boolean,
        required: true,
    },
});

// Define emits
const emit = defineEmits(["close"]);

// Define functions
const close = () => {
    emit("close");
};
</script>

<style scoped>
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.vue-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500 !important;
}
.vue-modal-inner {
    max-width: 900px;
    margin: auto;
    height: 100%;
    display: flex;
}
.vue-modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    margin: auto;
    padding: 1rem;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
.drop-in-enter-active,
.drop-in-leave-active {
    transition: all 0.3s ease-out;
}
.drop-in-enter-from,
.drop-in-leave-to {
    transform: translateY(-50px);
    opacity: 0;
}
</style>
