<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Modifier une commande de borne
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.go(-1)"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button
                    @click="isOpen = true"
                    style="
                        height: 35px;
                        padding: 10px;
                        float: right;
                        margin-right: 5px;
                    "
                    type="button"
                    class="btn btn-danger"
                >
                    Supprimer cette borne de la commande
                </button>
            </div>

            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form @change="stores.boxesOrdersStore.update">
                        <h4
                            style="
                                text-transform: uppercase;
                                color: #3cb395;
                                font-wieght: bold;
                            "
                        >
                            Données principales
                        </h4>
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="boxes_catalog_id"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Nom</label
                                >
                                <select
                                    class="form-control"
                                    v-model="
                                        stores.boxesOrdersStore.getOrder
                                            .boxes_catalog_id
                                    "
                                    name="boxes_catalog_id"
                                    id="boxes_catalog_id"
                                    @change="updatePrices()"
                                    :class="[
                                        stores.boxesOrdersStore.getErrors
                                            .boxes_catalog_id
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option
                                        v-for="item in stores.boxesCatalogStore
                                            .getBoxesCatalog"
                                        :key="item.id"
                                        :value="item.id"
                                        :data-installation="
                                            item.installation_price
                                        "
                                        :data-location="item.location_price"
                                    >
                                        {{ item.model }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur le contrat
                            </h5>
                            <div class="col-md-4">
                                <label class="form-label" style="color: #3cb395"
                                    >Statut</label
                                >
                                <select
                                    class="form-control"
                                    v-model="
                                        stores.boxesOrdersStore.getOrder.status
                                    "
                                    :class="[
                                        stores.boxesOrdersStore.getErrors.status
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                >
                                    <option value="new">Nouveau</option>
                                    <option value="confirmed">Confirmé</option>
                                    <option value="done">Terminé</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label
                                    for="installation_price"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Installation</label
                                >
                                <input
                                    type="number"
                                    step="0.01"
                                    name="installation_price"
                                    class="form-control"
                                    id="installation_price"
                                    v-model="
                                        stores.boxesOrdersStore.getOrder
                                            .installation_price
                                    "
                                    :class="[
                                        stores.boxesOrdersStore.getErrors
                                            .installation_price
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                            <div class="col-md-4">
                                <label
                                    for="location_price"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Location</label
                                >
                                <input
                                    type="number"
                                    step="0.01"
                                    name="location_price"
                                    class="form-control"
                                    id="location_price"
                                    v-model="
                                        stores.boxesOrdersStore.getOrder.amount
                                    "
                                    :class="[
                                        stores.boxesOrdersStore.getErrors
                                            .location_price
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <h5 class="text-primary">
                                Informations sur la livraison
                            </h5>
                            <div class="col-md-4">
                                <label class="form-label" style="color: #3cb395"
                                    >Date estimée de livraison</label
                                >
                                <input
                                    type="date"
                                    name="estimated_delivery_date"
                                    class="form-control"
                                    id="estimated_delivery_date"
                                    v-model="
                                        stores.boxesOrdersStore.getOrder
                                            .estimated_delivery_date
                                    "
                                    :class="[
                                        stores.boxesOrdersStore.getErrors
                                            .estimated_delivery_date
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <DeleteValidationModal
            :open="isOpen"
            @close="isOpen = !isOpen"
            :id="stores.boxesOrdersStore.getOrder.id"
            :store="stores.boxesOrdersStore"
        />
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { ref } from "vue";
import DeleteValidationModal from "../Modals/DeleteValidationModal.vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

await stores.boxesCatalogStore.loadBoxesCatalog();

const isOpen = ref(false);
const route = useRoute();

// Define methods
function updatePrices() {
    stores.boxesOrdersStore.getOrder.installation_price =
        stores.boxesCatalogStore.getBoxesCatalog.find(
            (item) =>
                item.id == stores.boxesOrdersStore.getOrder.boxes_catalog_id
        ).installation_price;
    stores.boxesOrdersStore.getOrder.amount =
        stores.boxesCatalogStore.getBoxesCatalog.find(
            (item) =>
                item.id == stores.boxesOrdersStore.getOrder.boxes_catalog_id
        ).location_price;
}

// Call functions
stores.boxesOrdersStore.show(route.params.id);
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
