<template>
    <div style="width: 80%; margin: auto">
        <div class="returnBack" onclick="history.back()">Retour</div>
        <h1 style="color: #2cb396; display: inline">Formulaire de contact</h1>
    </div>

    <form method="POST" action="#">
        <div
            style="width: 80%; margin: auto; margin-top: 30px"
            class="grid-template-3"
        >
            <div class="grid-1">
                <label for="firstName">Prénom</label>
                <input
                    id="firstName"
                    type="text"
                    class="@error('firstName') is-invalid @enderror"
                /><br />
            </div>
            <div class="grid-1">
                <label for="name">Nom</label>
                <input
                    id="name"
                    type="text"
                    class="@error('name') is-invalid @enderror"
                /><br />
            </div>
            <div class="grid-1">
                <label for="email">Adresse E-Mail</label>
                <input
                    id="email"
                    type="email"
                    class="@error('email') is-invalid @enderror"
                /><br />
            </div>

            <div class="grid-1">
                <label for="phone">Téléphone</label>
                <input
                    id="phone"
                    type="phone"
                    class="@error('phone') is-invalid @enderror"
                /><br />
            </div>

            <div class="grid-1">
                <label for="company">Société</label>
                <input
                    id="company"
                    type="text"
                    class="@error('name') is-invalid @enderror"
                /><br />
            </div>
        </div>
        <div style="width: 100%; background-color: #2cb396">
            <div
                style="
                    width: 80%;
                    margin: auto;
                    margin-top: 20px;
                    padding-top: 20px;
                "
            >
                <label
                    for="message"
                    style="color: white; font-size: 1.2em; font-weight: 800"
                    >Message</label
                >
                <textarea
                    id="message"
                    class="@error('message') is-invalid @enderror"
                    rows="20"
                    style="width: 100%"
                ></textarea>
                <div
                    style="
                        width: 100%;
                        text-align: center;
                        margin-top: 30px;
                        padding-bottom: 30px;
                    "
                >
                    <button
                        type="submit"
                        style="
                            font-size: 1.5em;
                            background-color: white;
                            color: #2cb396;
                            border-radius: 20px;
                            padding: 10px;
                            cursor: pointer;
                        "
                    >
                        Envoyer
                    </button>
                </div>
            </div>
        </div>
    </form>
    <section>
        <div style="width: 80%; margin: auto">
            <h2>Notre équipe</h2>
            <p>Un membre de notre équipe vous répondra bientot !</p>
            <div style="width: 80%" id="teamDiv">
                <div class="pictureTeam" style="text-align: center">
                    <img
                        src="/images/equipe/antoine.jpg"
                        style="border-radius: 50%"
                        width="100px"
                    />
                    <div class="nameTeam">Antoine Lust</div>
                    <div class="descriptionTeam">Responsable B2B</div>
                </div>
                <div class="pictureTeam" style="text-align: center">
                    <img
                        src="/images/equipe/julien.jpg"
                        style="border-radius: 50%"
                        width="100px"
                    />
                    <div class="nameTeam">Julien Jamar</div>
                    <div class="descriptionTeam">Responsable B2C</div>
                </div>
                <div class="pictureTeam" style="text-align: center">
                    <img
                        src="/images/equipe/Thib.jpg"
                        style="border-radius: 50%"
                        width="100px"
                    />
                    <div class="nameTeam">Thibaut Mativa</div>
                    <div class="descriptionTeam">Responsable Marketing</div>
                </div>
                <div class="pictureTeam" style="text-align: center">
                    <img
                        src="/images/equipe/PY.jpg"
                        style="border-radius: 50%"
                        width="100px"
                    />
                    <div class="nameTeam">Pierre-Yves Adant</div>
                    <div class="descriptionTeam">Responsable légal</div>
                </div>
                <div class="pictureTeam" style="text-align: center">
                    <img
                        src="/images/equipe/Simon.jpg"
                        style="border-radius: 50%"
                        width="100px"
                    />
                    <div class="nameTeam">Simon Spineux</div>
                    <div class="descriptionTeam">Responsable Atelier</div>
                </div>
                <div class="pictureTeam" style="text-align: center">
                    <img
                        src="/images/equipe/benjamin.jpg"
                        style="border-radius: 50%"
                        width="100px"
                    />
                    <div class="nameTeam">Benjamin Van Reterghem</div>
                    <div class="descriptionTeam">Responsable IT</div>
                </div>
                <div class="pictureTeam" style="text-align: center">
                    <img
                        src="/images/equipe/Nicolas.jpeg"
                        style="border-radius: 50%"
                        width="100px"
                    />
                    <div class="nameTeam">Nicolas Terryn</div>
                    <div class="descriptionTeam">Vendeur / Mécanicien</div>
                </div>
                <div class="pictureTeam" style="text-align: center">
                    <img
                        src="/images/equipe/aziz.jpg"
                        style="border-radius: 50%"
                        width="100px"
                    />
                    <div class="nameTeam">Abdulaziz AKHMYAROV</div>
                    <div class="descriptionTeam">Vendeur / Mécanicien</div>
                </div>
            </div>
        </div>
    </section>
</template>

<script setup>
const { onMounted } = require("@vue/runtime-core");

onMounted(() => {
    document.querySelector("form").addEventListener("submit", function (e) {
        e.preventDefault();
        console.log(this);
        var form = new FormData(this);
        var request = new XMLHttpRequest();
        request.open(
            "POST",
            window.location.origin + "/api/cash4Bike/calculate",
            true
        );
        request.send(form);
        request.onload = function () {
            if (request.status == 200) {
                alert("Votre message a bien été envoyé");
            }
        };
    });
});
</script>

<style scoped>
.returnBack::before {
    background-color: #2cb396;
}

.returnBack,
.title_vignette {
    color: #2cb396;
}
.grid-1 {
    grid-column: span 1;
}
label {
    color: #2cb396;
}
.grid-template-3 {
    column-gap: 20px;
}
@media screen and (min-width: 768px) {
    .grid-template-3 {
        display: grid;
        grid-template-columns: auto auto;
    }

    .grid-1 {
        grid-column: span 1;
    }
    .grid-2 {
        grid-column: span 2;
    }
    .grid-3 {
        grid-column: span 3;
    }
    #teamDiv {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (min-width: 1024px) {
    #teamDiv {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .grid-template-3 {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

form input {
    border: 1px solid #c7c7c7;
    border-radius: 10px;
}
form label {
    font-weight: 600;
}
</style>
