<template>
    <div class="pro-presentation">
        <div class="returnBack" onclick="history.back()">Retour</div>
        <h1>Je suis un employeur</h1>

        <p>
            Vous êtes employeur et vous voulez améliorer la mobilité au sein de
            votre entreprise afin d'y inclure des vélos ?<br />Voici différentes
            méthodes qui pourraient vous intéresser :
        </p>
    </div>
    <div class="ancre-container">
        <div class="grid sm:grid-flow-col">
            <div class="card">
                <a href="#planVelo">
                    <div class="grid-template-2">
                        <div class="grid-1">
                            <img
                                src="/images/icons/Icone_PlanVelo.jpg"
                                alt="logo plan vélo"
                            />
                        </div>
                        <div class="grid-1">
                            <span class="title_vignette">Plan vélos</span>
                        </div>
                    </div>
                    <p>
                        Cette solution est
                        <strong>budgétairement neutre pour l'entreprise</strong>
                        et permet à vos employés d'utiliser leur salaire brut
                        afin de faire l'acquisition d'un vélo, ce qui permet une
                        réduction de l'ordre de 65% !
                    </p>
                    <span>
                        <img src="/images/Arrow_Down.gif" width="50px" />
                    </span>
                </a>
            </div>
            <div class="card">
                <a href="#budgetMobilite">
                    <div class="grid-template-2">
                        <div class="grid-1">
                            <img
                                src="/images/icons/Icone_BudgetMobilite.jpg"
                                alt="logo budget mobilité"
                            />
                        </div>
                        <div class="grid-1">
                            <span class="title_vignette">Budget mobilité</span>
                        </div>
                    </div>
                    <p>
                        Le <strong>budget mobilité</strong> est une autre
                        possibilité donnée à vos employés qui bénéficient d'une
                        voiture de société de pouvoir choisir une mobilité
                        correspondant mieux à leurs besoins.
                    </p>
                    <span>
                        <img src="/images/Arrow_Down.gif" width="50px" />
                    </span>
                </a>
            </div>
            <div class="card">
                <a href="#veloPartage">
                    <div class="grid-template-2">
                        <div class="grid-1">
                            <img
                                src="/images/icons/Icone_VeloPartage.jpg"
                                alt="logo velo partage"
                            />
                        </div>
                        <div class="grid-1">
                            <span class="title_vignette">Vélos partagés</span>
                        </div>
                    </div>
                    <p>
                        Cette option vous permet de mettre à disposition des
                        vélos partagés qui seront utilisés par vos
                        collaborateurs grâce à notre solution autonome.<br /><br />
                    </p>
                    <span>
                        <img src="/images/Arrow_Down.gif" width="50px" />
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="plan-container">
        <hr size="3" color="black" />
        <div class="grid leftSmallBigRigh plan" id="planVelo">
            <div class="plan-img">
                <img
                    src="/images/public_website_images/Photo_PlanVelo.jpg"
                    alt="image plan velo"
                />
            </div>
            <div class="plan-txt">
                <h2>Plan vélo</h2>
                <div>
                    <div>
                        <div class="numberCircle">1</div>
                    </div>
                    <div class="plan-paragraphe">
                        Nous prenons rendez-vous afin de discuter de votre plan
                        (financement, nombre de personnes concernées) et vous
                        expliquer le déroulement de l'implémentation du plan
                        vélo
                    </div>
                </div>
                <br />
                <div>
                    <div>
                        <div class="numberCircle">2</div>
                    </div>
                    <div class="plan-paragraphe">
                        Nous effectuons une séance d'information pour vos
                        collaborateurs et nous organisons dans la foulée un test
                        de vélos sur le parking de votre entreprise
                    </div>
                </div>
                <br />
                <div>
                    <div>
                        <div class="numberCircle">3</div>
                    </div>
                    <div class="plan-paragraphe">
                        Vos collaborateurs recoivent un accès à notre plateforme
                        et peuvent commander leur vélo !
                    </div>
                </div>
                <br />
                <div style="width: 100%; padding-bottom: 20px">
                    <span
                        style="
                            background-color: #2cb396;
                            color: white;
                            margin-bottom: 20px;
                            font-size: 20px;
                            font-weight: 800;
                            display: table;
                            margin: 0 auto;
                            padding: 0px 20px 0px 20px;
                            border-radius: 20px;
                        "
                    >
                        Réserver un rendez-vous
                    </span>
                </div>
            </div>
        </div>
        <hr size="3" color="black" />
        <div class="grid bigLeftSmallRight plan" id="budgetMobilite">
            <div class="plan-txt">
                <h2>Budget mobilité</h2>
                <div>
                    <div>
                        <div class="numberCircle">1</div>
                    </div>
                    <div class="plan-paragraphe">
                        Ce plan doit tout d'abord être préparé avec votre
                        secrétariat social : vous identifiez les personnes qui
                        sont éligibles à un échange de leur voiture de société
                        par des solutions de mobilité respectueuses de
                        l’environnement
                    </div>
                </div>
                <br />
                <div>
                    <div>
                        <div class="numberCircle">2</div>
                    </div>
                    <div class="plan-paragraphe">
                        Nous prenons rendez-vous afin de vous expliquer
                        l'interface de commande de vélo pour vos collaborateurs
                    </div>
                </div>
                <br />
                <div>
                    <div>
                        <div class="numberCircle">3</div>
                    </div>
                    <div class="plan-paragraphe">
                        Nous organisons une présentation à votre personnel et un
                        test sur le parking de votre entreprise
                    </div>
                </div>
                <br />
                <div>
                    <div>
                        <div class="numberCircle">4</div>
                    </div>
                    <div class="plan-paragraphe">
                        Vos collaborateurs recoivent un accès à notre plateforme
                        et peuvent commander leur vélo !
                    </div>
                </div>
                <br />
                <div style="width: 100%; padding-bottom: 20px">
                    <span
                        style="
                            background-color: #2cb396;
                            color: white;
                            margin-bottom: 20px;
                            font-size: 20px;
                            font-weight: 800;
                            display: table;
                            margin: 0 auto;
                            padding: 0px 20px 0px 20px;
                            border-radius: 20px;
                        "
                    >
                        Réserver un rendez-vous
                    </span>
                </div>
            </div>
            <div class="plan-img">
                <img
                    src="/images/public_website_images/Photo_Mobilite.jpg"
                    alt="image employer"
                    width="100%"
                    height="auto"
                    style="border-radius: 20px"
                />
            </div>
        </div>
        <hr size="3" color="black" />
        <div class="grid leftSmallBigRigh plan" id="veloPartage">
            <div class="plan-img">
                <img
                    src="/images/public_website_images/Photo_VeloPartage.jpg"
                    alt="image velo partagé"
                    width="100%"
                    height="auto"
                    style="border-radius: 20px; max-width: 450px"
                />
            </div>
            <div class="plan-txt">
                <h2>Vélos partagés</h2>
                <div>
                    <div>
                        <div class="numberCircle">1</div>
                    </div>
                    <div class="plan-paragraphe">
                        Nous identifions les besoins de votre entreprise :
                        nombre de vélos, types de vélos, taille, etc... <br />Si
                        besoin, nous pouvons également vous créer une enquête à
                        envoyer à vos collaborateurs afin de mesurer la demande.
                    </div>
                </div>
                <br />
                <div>
                    <div>
                        <div class="numberCircle">2</div>
                    </div>
                    <div class="plan-paragraphe">
                        Nous configurons et installons notre solution de partage
                        de vélo sur le site de votre entreprise
                    </div>
                </div>
                <br />
                <div>
                    <div>
                        <div class="numberCircle">3</div>
                    </div>
                    <div class="plan-paragraphe">
                        Vos employés peuvent commencer à utiliser les vélos !
                    </div>
                </div>
                <br />
                <div style="width: 100%; padding-bottom: 20px">
                    <span
                        style="
                            background-color: #2cb396;
                            color: white;
                            margin-bottom: 20px;
                            font-size: 20px;
                            font-weight: 800;
                            display: table;
                            margin: 0 auto;
                            padding: 0px 20px 0px 20px;
                            border-radius: 20px;
                        "
                    >
                        <router-link
                            :to="{ name: 'veloPartage' }"
                            class="btn-plan"
                        >
                            Plus d'informations sur notre solution
                        </router-link>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script></script>

<style scopde>
.returnBack::before {
    background-color: #2cb396;
}

.returnBack,
.title_vignette {
    color: #2cb396;
}
.plan-img {
    margin: auto;
}

.plan-txt {
    padding-left: 20px;
}
.plan-paragraphe {
    padding-left: 20px;
}

.plan-txt > div {
    width: 100%;
    display: flex;
}

.plan-txt h2 {
    padding-left: 20px;
    margin-top: 0px;
    font-size: 2em;
}
hr {
    color: black;
    height: 1px;
    margin: 30px auto;
}
.pro-presentation {
    width: 80%;
    margin: auto;
}
.pro-presentation h1 {
    color: #2cb396;
    display: inline-block;
    margin-left: 20px;
}
.ancre-container {
    width: 100%;
    margin: auto;
    background-color: #2cb396;
}

.ancre-container > div {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    position: relative;
}

.card span {
    display: table;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
}

.plan-container {
    width: 80%;
    margin: auto;
}

.plan-container img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    max-width: 450px;
}

h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.2em;
    color: #2cb396;
}

body {
    margin: 0;
}
html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1em;
}
*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

.card {
    margin: auto;
    height: 100%;
    border-radius: 20px;
    background-color: white;
    padding-bottom: 20px;
}

.numberCircle {
    margin: 0;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background: #2cb396;
    color: white;
    text-align: center;
    font: 20px Arial, sans-serif;
    display: grid;
}

.leftSmallBigRigh {
    width: 100%;
    grid-template-columns: 1fr;
}

.bigLeftSmallRight {
    grid-template-columns: 1fr;
}

.grid-template-2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 20px 0px 20px;
}

.card {
    margin: auto;
    border: 1px solid #2cb396;
    height: 100%;
    border-radius: 20px;
}
.grid {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    margin: 0 auto;
    column-gap: 20px;
    row-gap: 20px;
}

.grid p {
    padding: 0px 20px;
}

.grid-1 {
    grid-column: span 1;
}
.grid-1 img {
    width: 70px;
}
.grid-template-2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 20px 0px 20px;
}

.btn-plan:hover {
    color: white;
}

@media (min-width: 1024px) {
    .sm\:grid-flow-col {
        grid-auto-flow: column;
    }
}
@media (min-width: 1260px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.5em;
    }
}
@media screen and (min-width: 1024px) {
    .grid-template-2 {
        display: grid;
        grid-template-columns: 100px 50%;
        padding: 20px 20px 0px 20px;
    }
    .leftSmallBigRigh {
        grid-template-columns: 400px auto;
    }
    .bigLeftSmallRight {
        grid-template-columns: auto 400px;
    }
}
@media screen and (min-width: 768px) {
    .grid-template-2 {
        display: grid;
        grid-template-columns: 100px 50%;
        padding: 20px 20px 0px 20px;
    }

    .grid p {
        padding: 0px 20px 0px 20px;
    }

    .grid-1 {
        grid-column: span 1;
    }
}
</style>
