<template>
    <img src="/images/b2b_banner.jpg" class="banniere" />
    <div class="presentation">
        <h1>Leasing de vélos pour les entreprises</h1>
        <br />
        <div class="grid sm:grid-flow-col card-container">
            <div class="card">
                <router-link :to="{ name: 'pro-employeur' }" class="card-link">
                    <div>
                        <img
                            src="/images/icons/Icone_Employeur.jpg"
                            alt="logo je suis un employeur"
                        />
                        <h2>Je suis un employeur</h2>
                    </div>
                    <p>
                        Grâce à nos solutions innovantes, vous pourrez faire
                        évoluer rapidement la mobilité au sein de votre
                        entreprise afin d'y inclure le vélo.
                    </p>
                    <span>NOS SOLUTIONS</span>
                </router-link>
            </div>
            <div class="card">
                <router-link :to="{ name: 'pro-employee' }" class="card-link">
                    <div>
                        <img
                            src="/images/icons/Icone_Employe.jpg"
                            alt="logo je suis un employee"
                        />
                        <h2>Je suis un employé</h2>
                    </div>
                    <p>
                        Vous aimeriez profiter des avantages du leasing vélo à
                        moindre coût ? On vous explique comment faire !
                    </p>
                    <span>CALCUL IMPACT SALAIRE NET</span>
                </router-link>
            </div>
            <div class="card">
                <router-link
                    :to="{ name: 'pro-independant' }"
                    class="card-link"
                >
                    <div>
                        <img
                            src="/images/icons/Icone_Independant.jpg"
                            alt="logo je suis un independant"
                        />
                        <h2>Je suis un employeur</h2>
                    </div>
                    <p>
                        Vous aimeriez profiter des avantages du leasing vélo à
                        moindre coût ? On vous explique comment faire !
                    </p>
                    <span>EN SAVOIR PLUS</span>
                </router-link>
            </div>
        </div>
    </div>

    <div class="sliderTemoignage">
        <h2>Témoignages</h2>

        <div class="testimonial" style="position: relative; margin-top: 20px">
            <div style="position: absolute, top:0px" class="testimonialItem">
                <div class="testimonial_owner">
                    <img
                        class="round testimonial_image"
                        src="/images/testimonial_w1.png"
                        alt="image"
                        style="border: 0px"
                    />
                    <span class="testimonial_name">Florienne Humblet</span>
                    <p>Elneo<br /><i>HR Manager</i></p>

                    <div class="product-rate" style="color: #ffc300">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                </div>

                <div class="testimonial_description">
                    <p>
                        <strong class="testimonial_title">Plan cafétéria</strong
                        ><br /><br />
                        J’ai choisi et je recommande KAMEO Bikes car ils ont des
                        valeurs proches de celles de notre entreprise (ELNEO).
                        <br />Leur passion pour le vélo est une valeur ajoutée,
                        des conseils par rapport à une société de leasing
                        classique. <br />Les sessions de testing vélos lors de
                        notre event ainsi que la capacité à couvrir la Wallonie
                        et la Flandre, nous ont convaincu. <br />La livraison et
                        l’entretien des vélos sur leur site est aussi une
                        plus-value.
                    </p>
                </div>
            </div>

            <div style="position: absolute; top: 0px" class="testimonialItem">
                <div
                    class="text-center"
                    style="width: 33%; margin: auto; min-width: 300px"
                >
                    <img
                        class="round testimonial_image"
                        src="/images/testimonial.png"
                        alt="image"
                        style="border: 0px"
                    />
                    <span class="testimonial_name">Didier Bassleer</span>
                    <p>CE+T Power<br /><i>Global Sourcing Director</i></p>

                    <div class="product-rate" style="color: #ffc300">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                </div>

                <div class="testimonial_description">
                    <p>
                        <strong class="testimonial_title">Vélos partagés</strong
                        ><br /><br />
                        L'avis général des utilisateurs est que les vélos sont
                        très bien et agréables à utiliser. <br /><br />En tant
                        que "fleet manager" je considère l’application des vélos
                        partagés comme très bien conçue et adaptée, ayant aussi
                        demandé et obtenu de légères améliorations, et ce
                        rapidement.
                    </p>
                </div>
            </div>

            <div style="position: absolute; top: 0px" class="testimonialItem">
                <div class="testimonial_owner">
                    <img
                        class="round testimonial_image"
                        src="/images/testimonial_w2.png"
                        alt="image"
                        style="border: 0px"
                    />
                    <span class="testimonial_name">Julie Renson</span>
                    <p>Afelio<br /><i>HR Partner</i></p>

                    <div class="product-rate" style="color: #ffc300">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                </div>

                <div class="testimonial_description">
                    <p>
                        <strong class="testimonial_title">Vélos partagés</strong
                        ><br />
                        Nous avons contacté KAMEO Bikes à la suite du souhait
                        d'instaurer une mobilité verte chez Afelio. Nous en
                        sommes très content. D’autant plus que leur application
                        MyKameo est facile d'utilisation. Les vélos sont de
                        qualité. Réelle plus-value pour la structure.
                    </p>
                </div>
            </div>

            <div style="position: absolute; top: 0px" class="testimonialItem">
                <div class="testimonial_owner">
                    <img
                        class="round testimonial_image"
                        src="/images/testimonial_m2.png"
                        alt="image"
                        style="border: 0px"
                    />
                    <span class="testimonial_name">Alain Lazzari</span>
                    <p>CE+T Power<br /><i>Utilisateur application</i></p>

                    <div class="product-rate" style="color: #ffc300">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    </div>
                </div>

                <div class="testimonial_description">
                    <p>
                        <strong class="testimonial_title">Vélos partagés</strong
                        ><br />
                        Les vélos partagés que j’utilise sont très bien, en bon
                        état et fonctionnent parfaitement. De plus, leur
                        application est très facile d’utilisation.
                    </p>
                </div>
            </div>

            <div style="position: absolute; top: 0px" class="testimonialItem">
                <div class="testimonial_owner">
                    <img
                        class="round testimonial_image"
                        src="/images/testimonial_m3.png"
                        alt="image"
                        style="border: 0px"
                    />
                    <span class="testimonial_name">Bertrand Bastin</span>
                    <p>CE+T Power<br /><i>Utilisateur application</i></p>

                    <div class="product-rate" style="color: #ffc300">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    </div>
                </div>

                <div class="testimonial_description">
                    <p>
                        <strong class="testimonial_title">Vélos partagés</strong
                        ><br />
                        Les vélos partagés que j’utilise sont très bien, en bon
                        état et fonctionnent parfaitement. De plus, leur
                        application est très facile d’utilisation.<br /><br />
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="arguments">
        <div style="width: 80%; margin: auto">
            <h2 style="color: white">Pourquoi choisir KAMEO Bikes ?</h2>
        </div>
        <div class="grid sm:grid-flow-col" style="width: 80%; margin: auto">
            <div class="card" style="background-color: white; width: 100%">
                <div class="grid-template-2">
                    <div class="grid-1">
                        <img
                            src="/images/icons/Icone_ToutInclus.jpg"
                            alt="logo one stop shop"
                        />
                    </div>
                    <div class="grid-1">
                        <h3 class="title_vignette">Un seul point de contact</h3>
                    </div>
                </div>
                <p>
                    <strong>KAMEO Bikes</strong> possède son propre stock de
                    vélos assurés, nous nous occupons de tout :
                </p>
                <ul>
                    <li>Montage et livraison des vélos</li>
                    <li>Assurance et assistance</li>
                    <li>Entretiens</li>
                </ul>
            </div>
            <div class="card" style="background-color: white; width: 100%">
                <div class="grid-template-2">
                    <div class="grid-1">
                        <img
                            src="/images/icons/Icone_Financement.jpg"
                            alt="logo financement"
                        />
                    </div>
                    <div class="grid-1">
                        <h3 class="title_vignette">
                            Des financements innovants
                        </h3>
                    </div>
                </div>
                <p>
                    <strong>KAMEO Bikes</strong> est à la fin magasin et
                    leaseur, ce qui nous permet de vous proposer de nombreuses
                    solutions de financement:
                </p>
                <ul>
                    <li>Achat traditionnel</li>
                    <li>Leasing mensuel</li>
                    <li>Leasing annuel</li>
                    <li>Leasing pré-financé</li>
                    <li>
                        Renouvellement de votre flotte avant le terme du contrat
                    </li>
                    <li>... et bien d'autres !</li>
                </ul>
            </div>
            <div class="card" style="background-color: white; width: 100%">
                <div class="grid-template-2">
                    <div class="grid-1">
                        <img
                            src="/images/icons/Icone_PlateformeGestion.jpg"
                            alt="logo management platform"
                        />
                    </div>
                    <div class="grid-1">
                        <h3 class="title_vignette left-0">
                            Une plateforme de gestion
                        </h3>
                    </div>
                </div>
                <p style="font-size: 0.9em">
                    <strong>KAMEO Bikes</strong> a développé ces 3 dernières
                    années des solutions digitales afin de répondre à vos
                    besoins:
                </p>
                <ul>
                    <li>
                        Solution de partage de vélos complètement automatisée
                    </li>
                    <li>
                        Interface de commande de vélos pour vos collaborateurs
                    </li>
                    <li>
                        Suivi des statistiques, commandes ou factures par les
                        fleet managers
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="full-width">
        <h2>Références</h2>
        <div class="gallery">
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/elneo.png"
                    alt="Nos clients - Elneo"
                />
            </div>
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/Imcyse.png"
                    alt="Nos clients - Imcyse"
                />
            </div>
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/VilleDeCharleroi.png"
                    alt="Nos clients - Ville de Charleroi"
                />
            </div>
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/CityDev.png"
                    alt="Nos clients - city dev - brussels"
                />
            </div>
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/actiris.png"
                    alt="Nos clients - Actiris"
                />
            </div>
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/infrabel.png"
                    alt="Nos clients - Infrabel"
                />
            </div>
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/afelio.png"
                    alt="Nos clients - Afelio"
                />
            </div>
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/atradius.png"
                    alt="Nos clients - Atradius"
                />
            </div>
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/galler.png"
                    alt="Nos clients - Galler Chocolatiers"
                />
            </div>
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/siapartners.png"
                    alt="Nos clients - SiaPartners"
                />
            </div>
            <div class="item" style="cursor: default">
                <img src="/images/clients/spi.png" alt="Nos clients - SPI" />
            </div>
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/Greisch.png"
                    alt="Nos clients - Bureau Greisch"
                />
            </div>
            <div class="item" style="cursor: default">
                <img src="/images/clients/agc.png" alt="Nos clients - AGC" />
            </div>
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/rayon9.png"
                    alt="Nos clients - Rayon 9"
                />
            </div>
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/elegis.png"
                    alt="Nos clients - Elegis"
                />
            </div>
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/epsylon.png"
                    alt="Nos clients - Epsylon"
                />
            </div>
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/infine.png"
                    alt="Nos clients - In Fine"
                />
            </div>
            <div class="item" style="cursor: default">
                <img src="/images/clients/idea.png" alt="Nos clients - IDEA" />
            </div>
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/bxlville.png"
                    alt="Nos clients - Ville de Bruxelles"
                />
            </div>
            <div class="item" style="cursor: default">
                <img
                    src="/images/clients/prefer.png"
                    alt="Nos clients - Prefer"
                />
            </div>
        </div>
    </div>
</template>
<script setup>
const { onMounted } = require("@vue/runtime-core");

onMounted(() => {
    let slides = document.querySelectorAll(".testimonial .testimonialItem");
    let slideSayisi = slides.length;

    for (let index = 0; index < slides.length; index++) {
        const element = slides[index];
        element.style.transform = "translateX(" + 100 * index + "%)";
    }
    let loop = 0 + 1000 * slideSayisi;

    function goNext() {
        loop++;
        for (let index = 0; index < slides.length; index++) {
            const element = slides[index];
            element.style.transform =
                "translateX(" + 100 * (index - (loop % slideSayisi)) + "%)";
        }
    }
    setInterval(goNext, 5000);
});
</script>

<style scoped>
html {
    -webkit-text-size-adjust: 100%;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1em;
}
body {
    margin: 0;
}
h1 {
    font-size: 1.5em;
}
h2 {
    margin: auto auto 10px 10px;
    font-size: 1.2em;
    color: #2cb396;
}
.card {
    padding: 10px;
    margin: auto;
    border: 1px solid #2cb396;
    height: 100%;
    border-radius: 20px;
}
.card router-link {
    height: 100%;
}
.card div {
    display: flex;
}
.card img {
    width: 70px;
}
.card h2 {
    font-size: 1.3em;
    font-weight: bolder;
    text-align: left;
}
.card p {
    min-height: 110px;
}
.card span {
    margin: 10px auto 0;
    padding: 2px 20px;
    font-weight: bold;
    color: #fff;
    background-color: #2cb396;
}
.card-container {
    width: 100%;
}
.card-link {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.gallery {
    margin: auto;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 150px);
}
.item {
    max-width: 150px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
}
.item img {
    width: 120px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    margin: 0 auto;
    column-gap: 20px;
    row-gap: 20px;
}
.grid p {
    padding: 0px 20px 0px 20px;
}
.grid-1 {
    grid-column: span 1;
}
.grid-template-2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 20px 0px 20px;
}
.presentation {
    width: 80%;
    margin: auto;
}
.presentation h1 {
    color: #2cb396;
}
.sliderTemoignage {
    width: 100%;
    padding: 10px;
}
.testimonial {
    overflow: hidden;
    padding: 20px 20px 0px 20px;
}
.testimonialItem {
    transition: all 1s;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 0px 20px;
}
.testimonial_image {
    margin: 0 auto;
    width: 70px;
    height: auto;
}
.testimonial_name {
    color: #2cb396;
    font-size: 1.5em;
    display: block;
}
.testimonial_description,
.testimonial_owner {
    width: 100%;
    text-align: center;
}
.testimonial_title {
    background-color: #2cb396;
    padding: 2px 5px;
    color: white;
}
.arguments {
    width: 100%;
    margin: auto;
    background-color: #2cb396;
    padding: 20px 0px 20px 0px;
    margin-top: 20px;
}
.arguments p,
.arguments ul {
    margin: 1em 0;
}
.arguments li {
    font-size: 1em;
    list-style: disc;
    width: 100%;
    padding: 0;
}
.arguments li:before {
    border-left: 0px solid #fff;
}
.arguments li:after {
    border-bottom: 0px solid #fff;
}
.full-width {
    width: 100%;
    padding: 10px;
}
*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
.grid {
    display: grid;
}
.text-center {
    text-align: center;
}
.grid {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
}
@media (min-width: 1024px) {
    .sm\:grid-flow-col {
        grid-auto-flow: column;
    }
}
@media (min-width: 1124px) {
    .sliderTemoignage {
        width: 80%;
        margin: auto;
    }

    .full-width {
        width: 80%;
        margin: auto;
    }
}
@media (min-width: 1260px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.5em;
    }
}
@media screen and (min-width: 768px) {
    .grid-template-2 {
        display: grid;
        grid-template-columns: 100px 50%;
        padding: 20px 20px 0px 20px;
    }

    .grid p {
        padding: 0px 20px 0px 20px;
    }

    .grid-1 {
        grid-column: span 1;
    }
    .gallery {
        margin: auto;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, 160px);
    }
    .item {
        max-width: 200px;
        text-align: center;
        margin: 20px;
        border-radius: 10px;
    }
    .item img {
        width: 120px;
    }
}
@media screen and (min-width: 1024px) {
    .testimonial_owner {
        width: 33%;
    }
    .testimonial_description {
        width: 66%;
    }
}
</style>
