<template>
    <div style="width: 80%; margin: auto">
        <div class="returnBack" onclick="history.back()">Retour</div>
        <h1 style="color: #2cb396; display: inline-block; margin-left: 20px">
            Solution de vélos partagés
        </h1>
    </div>
    <div style="width: 100%; margin: auto; background-color: #2cb396">
        <div
            class="grid sm:grid-flow-col"
            style="width: 80%; padding-top: 20px; padding-bottom: 20px"
        >
            <div class="card" style="position: relative">
                <div class="grid-template-2">
                    <div class="grid-1">
                        <img
                            src="/images/icons/Icone_PlanVelo.jpg"
                            alt="logo plan vélo"
                            width="70px"
                        />
                    </div>
                    <div class="grid-1">
                        <span class="title_vignette"
                            >Une mobilité responsable et efficace</span
                        >
                    </div>
                </div>
                <p>
                    Vous cherchez un moyen de transport agréable, durable,
                    efficace et économique pour les trajets locaux de vos
                    collaborateurs ?
                </p>
            </div>
            <div class="card" style="position: relative">
                <div class="grid-template-2">
                    <div class="grid-1">
                        <img
                            src="/images/icons/Icone_PlanVelo.jpg"
                            alt="logo plan vélo"
                            width="70px"
                        />
                    </div>
                    <div class="grid-1">
                        <span class="title_vignette"
                            >Une gestion connectée</span
                        >
                    </div>
                </div>
                <p>
                    Votre organisation se répartit entre plusieurs sites dans
                    une même région ?
                </p>
            </div>
            <div class="card" style="position: relative">
                <div class="grid-template-2">
                    <div class="grid-1">
                        <img
                            src="/images/icons/Icone_VeloPartage.jpg"
                            alt="logo velo partage"
                            width="70px"
                        />
                    </div>
                    <div class="grid-1">
                        <span class="title_vignette"
                            >Un seul point de contact</span
                        >
                    </div>
                </div>
                <p>
                    Des vélos partagés avec KAMEO Bikes, c’est très simple.<br />
                    Nous nous occupons personnellement de tout et vous
                    fournissons, directement sur site.<br /><br />
                </p>
            </div>
        </div>
    </div>
    <div style="width: 80%; margin: auto; margin-top: 20px">
        <div class="grid leftSmallBigRigh" style="width: 100%" id="planVelo">
            <div style="margin: auto">
                <img
                    src="/images/public_website_images/Photo_PlanVelo.jpg"
                    alt="image plan velo"
                    width="100%"
                    height="auto"
                    style="border-radius: 20px; max-width: 450px"
                />
            </div>
            <div style="padding-left: 20px">
                <h2 style="margin-top: 0px; font-size: 2em">
                    Processus de mise à disposition de vélos partagés
                </h2>
                <div style="width: 100%; display: flex">
                    <div>
                        <div class="numberCircle" style="margin: 0">1</div>
                    </div>
                    <div style="padding-left: 20px">
                        Nous organisons un rendez-vous afin de comprendre vos
                        besoins mais également de vérifier quelle infrastrucutre
                        vous avez actuellement
                    </div>
                </div>
                <br />
                <div style="width: 100%; display: flex">
                    <div>
                        <div class="numberCircle" style="margin: 0">2</div>
                    </div>
                    <div style="padding-left: 20px">
                        Nous organisons avec vous un sondage en interne qui
                        permet de qualifier la demande de vos collaborateurs,
                        que ce soit le nombre ou le type (VTT, ville, etc...) de
                        vélos
                    </div>
                </div>
                <br />
                <div style="width: 100%; display: flex">
                    <div>
                        <div class="numberCircle" style="margin: 0">3</div>
                    </div>
                    <div style="padding-left: 20px">
                        Une fois tous les paramètres identifiés, nous vous
                        formulons une offre prenant en compte tous les éléments
                        précédents
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        style="
            width: 100%;
            background-color: #2cb396;
            color: white;
            padding: 20px 0px 20px 0px;
            margin-top: 20px;
        "
    >
        <div style="width: 80%; margin: auto">
            <h2 style="margin-top: 0px; font-size: 2em; color: white">
                Leasing vélo
            </h2>
            <p>
                L'entretien et l'assurance contre le vol et contre la casse sont
                d'autant plus importants dans le cadre de vélos partagés.<br />
                C'est pour cette raison que nous proposons nos vélos partagés en
                leasing, dans une offre tout-compris.<br />
                En tant que gestionnaire de flotte, c'est un avantage pour vous
                : vous n'avez qu'un seul numéro de téléphone à connaitre, celui
                de <strong>KAMEO Bikes</strong>.
            </p>
        </div>
    </div>
    <div style="width: 80%; margin: auto; margin-top: 50px">
        <div class="flex leftSmallBigRigh" style="width: 100%">
            <div style="margin: auto">
                <img
                    src="/images/MyKameo_face.jpg"
                    alt="image velo partagé"
                    width="100%"
                    height="auto"
                    style="border-radius: 20px; max-width: 450px"
                />
            </div>
            <div style="padding-left: 20px">
                <h2 style="margin-top: 0px; font-size: 2em">
                    Système de gestion
                </h2>
                <p>
                    En plus des vélos en leasing, nous vous mettons à
                    disposition une interface qui permet de gérer toutes les
                    interactions entre vos utilisateurs.<br />
                    Fini de travailler avec une feuille Excel afin de savoir
                    quel utilisateur prend le vélo, notre système de gestion
                    vous permet de paramétrer les conditions d'utilisation,
                    rajouter des utilisateurs ou encore extraire des
                    statistiques d'utilisation !
                </p>
            </div>
        </div>
    </div>
    <div style="width: 80%; margin: auto; margin-top: 50px">
        <div class="flex bigLeftSmallRight" style="width: 100%">
            <div style="padding-left: 20px">
                <h2 style="margin-top: 0px; font-size: 2em">Borne connectée</h2>
                <p>
                    En plus de notre application, nous avons développé une boite
                    à clé intelligente, qui permet de donner et récupérer les
                    clés auprès des utilisateurs. Le fonctionnement est très
                    simple :
                </p>
                <div style="width: 100%; display: flex">
                    <div>
                        <div class="numberCircle" style="margin: 0">1</div>
                    </div>
                    <div style="padding-left: 20px">
                        L'utilisateur effectue une réservation sur notre
                        application. Il recoit un code qui lui permet de
                        récupérer les clés du vélo
                    </div>
                </div>
                <br />
                <div style="width: 100%; display: flex">
                    <div>
                        <div class="numberCircle" style="margin: 0">2</div>
                    </div>
                    <div style="padding-left: 20px">
                        L'utilisateur peut introduire le code sur la borne, lui
                        permettant de récupérer la clé du vélo récupéré et
                        uniquement celle-là
                    </div>
                </div>
                <br />
                <div style="width: 100%; display: flex">
                    <div>
                        <div class="numberCircle" style="margin: 0">3</div>
                    </div>
                    <div style="padding-left: 20px">
                        Le cycliste peut utiliser le vélo, grâce aux clés (du
                        vélo et du cadenas) récupérée
                    </div>
                </div>
                <br />
                <div style="width: 100%; display: flex">
                    <div>
                        <div class="numberCircle" style="margin: 0">4</div>
                    </div>
                    <div style="padding-left: 20px">
                        A la fin de la réservation, l'utilisateur vient scanner
                        les clés auprès du boitier afin de les replacer de
                        manière sécurisée
                    </div>
                </div>
            </div>
            <div style="margin: auto">
                <img
                    src="/images/MyBorne.jpg"
                    alt="image velo partagé"
                    width="100%"
                    height="auto"
                    style="border-radius: 20px; max-width: 450px"
                />
            </div>
        </div>
    </div>
    <div
        style="
            width: 100%;
            background-color: #2cb396;
            color: white;
            padding: 20px 0px 20px 0px;
            margin-top: 20px;
        "
    >
        <div style="width: 80%; margin: auto">
            <h2 style="margin-top: 0px; font-size: 2em; color: white">
                Infrastructure
            </h2>
            <p>
                Le dernier élément essentiel est la mise à disposition d'une
                infrastrucure adéquate.<br />
                Que soit pour un abri à vélos, des arceaux de sécurité ou encore
                des casiers, nous vous aidons dans la sélection mais également
                dans l'implémentation.<br />
            </p>
        </div>
    </div>
    <div style="width: 80%; margin: auto">
        <h2>Contactez-nous !</h2>
        Vous pensez proposer à vos collaborateurs des vélos partagés ?<br />
        Demandez-nous votre avis, nous vous conseillerons sur la préparation et
        l'implémentation de votre projet<br /><br />
        <router-link :to="{ name: 'contact-pro' }">
            <span
                style="
                    background-color: #2cb396;
                    color: white;
                    margin-bottom: 20px;
                    font-size: 20px;
                    font-weight: 800;
                    display: table;
                    padding: 0px 20px 0px 20px;
                    border-radius: 20px;
                "
            >
                Demander plus d'information
            </span>
        </router-link>
    </div>
</template>

<script setupt></script>

<style scoped>
.returnBack::before {
    background-color: #2cb396;
}

.returnBack,
.title_vignette {
    color: #2cb396;
}
.card {
    /* Add shadows to create the "card" effect */
    margin: auto;
    height: 100%;
    border-radius: 20px;
    background-color: white;
    padding-bottom: 20px;
}

.title_vignette {
    color: #2cb396;
    font-weight: bold;
    font-size: 1.2em;
}

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: #2cb396;
    color: white;
    text-align: center;
    font: 32px Arial, sans-serif;
    display: grid;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    margin: 0 auto;
    column-gap: 9px;
    row-gap: 20px;
}

.grid p {
    padding: 0px 20px 0px 20px;
}

.leftSmallBigRigh {
    grid-template-columns: 1fr;
}

.bigLeftSmallRight {
    grid-template-columns: 1fr;
}

.grid-template-2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 20px 0px 20px;
}
.grid-1 {
    grid-column: span 1;
}
@media screen and (min-width: 1024px) {
    .grid-template-2 {
        display: grid;
        grid-template-columns: 100px 50%;
        padding: 20px 20px 0px 20px;
    }
    .grid-1 {
        grid-column: span 1;
    }
    .leftSmallBigRigh {
        grid-template-columns: 500px auto;
    }
    .bigLeftSmallRight {
        grid-template-columns: auto 400px;
    }
}

html {
    scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.2em;
}

@media (min-width: 1260px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.5em;
    }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
html {
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1em;
}
*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}

h2 {
    color: #2cb396;
}

.grid {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
}

@media (min-width: 1024px) {
    .sm\:grid-flow-col {
        grid-auto-flow: column;
    }
}
</style>
