<template>
    <div style="cursor: pointer">
        <div
            class="widget p-cb"
            style="height: 125px; background-color: #3cb29433"
        >
            <span style="font-size: 1.1em; font-weight: bold"
                ><slot name="description"></slot
            ></span>
            <span
                style="
                    position: absolute;
                    bottom: 25px;
                    right: 20px;
                    font-size: 3.5em;
                "
                ><slot name="information"></slot
            ></span>
        </div>
    </div>
</template>
