<template>
    <div>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12 component-top-bar">
                <button
                    @click="$router.push({ name: 'users-list' })"
                    style="width: 35px; height: 35px; padding: 0px"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button
                    @click="isOpen = true"
                    style="
                        height: 35px;
                        padding: 10px;
                        float: right;
                        margin-right: 5px;
                    "
                    type="button"
                    class="btn btn-danger"
                >
                    Supprimer l'utilisateur
                </button>
            </div>

            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form @change="stores.usersStore.update(formData)">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="name"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Prénom</label
                                >
                                <input
                                    type="text"
                                    name="name"
                                    :class="[
                                        stores.usersStore.getErrors.firstname
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="firstname"
                                    placeholder="Joe"
                                    v-model="
                                        stores.usersStore.getUser.firstname
                                    "
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="lastname"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Nom</label
                                >
                                <input
                                    type="text"
                                    name="lastname"
                                    :class="[
                                        stores.usersStore.getErrors.lastname
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="lastname"
                                    placeholder="Doe"
                                    v-model="stores.usersStore.getUser.lastname"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label
                                    for="email"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Email</label
                                >
                                <input
                                    type="text"
                                    name="email"
                                    :class="[
                                        stores.usersStore.getErrors.email
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="email"
                                    placeholder="joe.doe@exemple.com"
                                    v-model="stores.usersStore.getUser.email"
                                />
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="phone"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Téléphone</label
                                >
                                <input
                                    type="text"
                                    name="phone"
                                    :class="[
                                        stores.usersStore.getErrors.phone
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="phone"
                                    placeholder="0000000000"
                                    v-model="stores.usersStore.getUser.phone"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <GoogleAutoCompleteInput
                                    :store="
                                        stores.usersStore.getErrors.condensed
                                    "
                                    v-model="
                                        stores.usersStore.getUser.address
                                            .condensed
                                    "
                                />
                            </div>
                            <div class="form-group col-sm-4">
                                <label
                                    for="permission"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Permissions</label
                                >
                                <select
                                    :class="[
                                        stores.usersStore.getErrors.permission
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="permission[]"
                                    id="permission"
                                    v-model="constructArray"
                                    multiple
                                >
                                    <option value="order">Order</option>
                                    <option value="search">Search</option>
                                    <option value="fleetManager">
                                        Fleet manager
                                    </option>
                                    <option value="chatsManager">
                                        Chat manager
                                    </option>
                                    <option value="admin">
                                        Administrateur
                                    </option>
                                    <option value="bill">Bils</option>
                                    <option value="cashflow">Cashflow</option>
                                    <option value="dashboard">Dashboard</option>
                                    <option value="personnalBike">
                                        Vélo personnel
                                    </option>
                                    <option value="stock">Stock</option>
                                    <option value="chat">Chat</option>
                                    <option value="bikesStock">
                                        Stock vélo
                                    </option>
                                    <option value="espaceCollaboratif">
                                        Espace collaboratif
                                    </option>
                                    <option value="statistics">
                                        Statistiques
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label
                                    for="status"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Status</label
                                >
                                <select
                                    v-model="stores.usersStore.getUser.status"
                                    :class="[
                                        stores.usersStore.getErrors.status
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    name="status"
                                    id="status"
                                >
                                    <option value="actif">Actif</option>
                                    <option value="inactif">Inactif</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label
                                    for="size"
                                    class="form-label"
                                    style="color: #3cb395"
                                    >Taille</label
                                >
                                <input
                                    type="text"
                                    name="size"
                                    :class="[
                                        stores.usersStore.getErrors.size
                                            ? 'error form-control'
                                            : 'form-control',
                                    ]"
                                    id="size"
                                    v-model="stores.usersStore.getUser.size"
                                />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <DeleteValidationModal
            :open="isOpen"
            @close="isOpen = !isOpen"
            :id="stores.usersStore.getUser.id"
            :store="stores.usersStore"
        />
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";
import { computed, ref } from "vue";
import DeleteValidationModal from "../Modals/DeleteValidationModal.vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import components
import GoogleAutoCompleteInput from "../GoogleAutocompleteForm/AutocompleteForm.vue";

const isOpen = ref(false);
const route = useRoute();
const formData = new FormData();

// Call functions
stores.usersStore.show(route.params.id);

// Define functions
const constructArray = computed({
    get: () => {
        const permissions = stores.usersStore.getUser.permission;
        return permissions !== null ? permissions.split(",") : [];
    },
    set: (val) => {
        stores.usersStore.getUser.permission = val.join(",");
    },
});
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
