<template>
    <div>
        <Header title="Nouvel utilisateur" />
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <div class="widget p-cb">
                    <form @submit.prevent="sendForm()">
                        <div>
                            <h4
                                style="
                                    text-transform: uppercase;
                                    color: #3cb395;
                                    font-wieght: bold;
                                "
                            >
                                Données personnelles
                            </h4>
                            <hr />
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label
                                        for="firstname"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Prénom</label
                                    >
                                    <input
                                        type="text"
                                        name="firstname"
                                        :class="[
                                            stores.usersStore.getErrors
                                                .firstname
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        id="firstname"
                                        placeholder="Joe"
                                        v-model="input.firstname"
                                    />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label
                                        for="lastname"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Nom</label
                                    >
                                    <input
                                        type="text"
                                        name="lastname"
                                        :class="[
                                            stores.usersStore.getErrors.lastname
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        id="lastname"
                                        placeholder="Doe"
                                        v-model="input.lastname"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label
                                        for="email"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Email</label
                                    >
                                    <input
                                        type="text"
                                        name="email"
                                        :class="[
                                            stores.usersStore.getErrors.email
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        id="email"
                                        placeholder="joe.doe@exemple.com"
                                        v-model="input.email"
                                    />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label
                                        for="phone"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Téléphone</label
                                    >
                                    <input
                                        type="text"
                                        name="phone"
                                        :class="[
                                            stores.usersStore.getErrors.phone
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        id="phone"
                                        placeholder="0000000000"
                                        v-model="input.phone"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <GoogleAutoCompleteInput
                                        :store="
                                            stores.usersStore.getErrors.address
                                        "
                                        v-model="input.address"
                                    />
                                </div>
                                <div class="form-group col-sm-4">
                                    <label
                                        for="company"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Société</label
                                    >
                                    <select
                                        :class="[
                                            stores.usersStore.getErrors.company
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        name="company"
                                        id="company"
                                        v-model="input.company"
                                    >
                                        <option
                                            v-for="item in stores.companiesStore
                                                .getCompanies"
                                            :key="item.id"
                                            :value="item.id"
                                        >
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label
                                        for="permission"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Permissions</label
                                    >
                                    <select
                                        :class="[
                                            stores.usersStore.getErrors
                                                .permission
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        name="permission[]"
                                        id="permission"
                                        v-model="permissions"
                                        multiple
                                    >
                                        <option value="order">Order</option>
                                        <option value="search">Search</option>
                                        <option value="fleetManager">
                                            Fleet manager
                                        </option>
                                        <option value="chatsManager">
                                            Chat manager
                                        </option>
                                        <option value="admin">
                                            Administrateur
                                        </option>
                                        <option value="bill">Bills</option>
                                        <option value="cashflow">
                                            Cashflow
                                        </option>
                                        <option value="dashboard">
                                            Dashboard
                                        </option>
                                        <option value="personnalBike">
                                            Vélo personnel
                                        </option>
                                        <option value="stock">Stock</option>
                                        <option value="chat">Chat</option>
                                        <option value="bikesStock">
                                            Stock vélo
                                        </option>
                                        <option value="espaceCollaboratif">
                                            Espace collaboratif
                                        </option>
                                        <option value="statistics">
                                            Statistiques
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label
                                        for="size"
                                        class="form-label"
                                        style="color: #3cb395"
                                        >Taille</label
                                    >
                                    <input
                                        type="text"
                                        name="size"
                                        :class="[
                                            stores.usersStore.getErrors.size
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        id="size"
                                        placeholder="177"
                                        v-model="input.size"
                                    />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <button
                                style="width: 150px; margin: auto"
                                type="submit"
                                class="btn btn-block"
                            >
                                Ajouter
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
// Import dependencies
import { ref, watch, computed } from "vue";

// Import stores
import * as stores from "../../../store/StoresIndex";

// Import components
import GoogleAutoCompleteInput from "../GoogleAutocompleteForm/AutocompleteForm.vue";
import Header from "../ReusableComponents/HeaderComponent.vue";

stores.companiesStore.loadCompanies();

const input = ref({
    permission: "",
});

const permissions = computed({
    get() {
        return input.value["permission"].split(",");
    },
    set(newValue) {
        input.value["permission"] = newValue.join(",");
    },
});

// Watch functions
watch(
    () => input.value["company"],
    async () => {
        if (!!input.value["company"]) {
            const condition =
                await stores.conditionsStore.getConditionsByCompanyId(
                    input.value["company"]
                );

            input.value["permission"] = "";

            if (!!condition) {
                if (condition.access?.includes("cafetaria")) {
                    input.value["permission"] += " order";
                }
                if (condition.access?.includes("partage")) {
                    input.value["permission"] += " search";
                }

                input.value["permission"] = input.value["permission"]
                    .trim()
                    .replaceAll(" ", ",");
            }
        }
    }
);

// Send form
function sendForm() {
    const data = input.value;
    stores.usersStore.create(data);
}
</script>

<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
