<template>
    <div class="row" id="mainDynamicZone">
        <div class="col-sm-12 component-top-bar">
            <button
                @click="$router.push({ name: 'users-list' })"
                style="width: 35px; height: 35px; padding: 0px; float: left"
                type="button"
                class="btn"
            >
                <i class="fa fa-arrow-left"></i>
            </button>
            <div v-show="!!stores.usersStore.getUser.phone">
                <a :href="'tel:' + stores.usersStore.getUser.phone">
                    <button
                        style="
                            width: 70px;
                            height: 35px;
                            padding: 0px;
                            float: right;
                        "
                        type="button"
                        class="btn"
                    >
                        <i class="fa fa-phone"></i>
                    </button>
                </a>
            </div>
            <div v-show="!!stores.usersStore.getUser.email">
                <a :href="'mailto:' + stores.usersStore.getUser.email">
                    <button
                        style="
                            width: 70px;
                            height: 35px;
                            padding: 0px;
                            float: right;
                            margin-right: 5px;
                        "
                        type="button"
                        class="btn"
                    >
                        <i class="fa fa-envelope"></i>
                    </button>
                </a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="widget p-cb" style="height: 600px">
                <h4>Informations personnelles</h4>
                <div style="overflow-y: auto; height: 500px">
                    <div v-show="!!stores.usersStore.getUser.firstname">
                        <label class="form-label" style="color: #3cb395"
                            >Prénom</label
                        >
                        <p>{{ stores.usersStore.getUser.firstname }}</p>
                        <hr />
                    </div>
                    <div v-show="!!stores.usersStore.getUser.lastname">
                        <label class="form-label" style="color: #3cb395"
                            >Nom</label
                        >
                        <p>{{ stores.usersStore.getUser.lastname }}</p>
                        <hr />
                    </div>
                    <div v-show="!!stores.usersStore.getUser.email">
                        <label class="form-label" style="color: #3cb395"
                            >Email</label
                        >
                        <p>{{ stores.usersStore.getUser.email }}</p>
                        <hr />
                    </div>
                    <div v-show="!!stores.usersStore.getUser.phone">
                        <label class="form-label" style="color: #3cb395"
                            >Téléphone</label
                        >
                        <p>{{ stores.usersStore.getUser.phone }}</p>
                        <hr />
                    </div>
                    <div v-show="!!stores.usersStore.getUser.permission">
                        <label class="form-label" style="color: #3cb395"
                            >Permission</label
                        >
                        <p>{{ stores.usersStore.getUser.permission }}</p>
                        <hr />
                    </div>
                    <div v-show="!!stores.usersStore.getUser.status">
                        <label class="form-label" style="color: #3cb395"
                            >Status</label
                        >
                        <p>{{ stores.usersStore.getUser.status }}</p>
                    </div>
                    <div v-show="!!stores.usersStore.getUser.size">
                        <label class="form-label" style="color: #3cb395"
                            >Taille</label
                        >
                        <p>{{ stores.usersStore.getUser.size }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="col-sm-4"
            v-show="
                !!stores.usersStore.getUser.address.city ||
                !!stores.usersStore.getUser.address.street ||
                !!stores.usersStore.getUser.address.number ||
                !!stores.usersStore.getUser.address.zip ||
                !!stores.usersStore.getUser.address.country
            "
        >
            <div class="widget p-cb" style="height: 600px">
                <h4>Adresse</h4>
                <div style="overflow-y: auto; height: 500px">
                    <div v-show="!!stores.usersStore.getUser.address.city">
                        <label class="form-label" style="color: #3cb395"
                            >Ville</label
                        >
                        <p>{{ stores.usersStore.getUser.address.city }}</p>
                        <hr />
                    </div>
                    <div v-show="!!stores.usersStore.getUser.address.street">
                        <label class="form-label" style="color: #3cb395"
                            >Rue</label
                        >
                        <p>
                            {{ stores.usersStore.getUser.address.street }}
                        </p>
                        <hr />
                    </div>
                    <div v-show="!!stores.usersStore.getUser.address.number">
                        <label class="form-label" style="color: #3cb395"
                            >Numéro</label
                        >
                        <p>
                            {{ stores.usersStore.getUser.address.number }}
                        </p>
                        <hr />
                    </div>
                    <div v-show="!!stores.usersStore.getUser.address.zip">
                        <label class="form-label" style="color: #3cb395"
                            >Code postal</label
                        >
                        <p>{{ stores.usersStore.getUser.address.zip }}</p>
                        <hr />
                    </div>
                    <div v-show="!!stores.usersStore.getUser.address.country">
                        <label class="form-label" style="color: #3cb395"
                            >Pays</label
                        >
                        <p>
                            {{ stores.usersStore.getUser.address.country }}
                        </p>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="widget widget-form p-cb" style="height: 600px">
                <h4>Informations professionnelles</h4>
                <div style="overflow-y: auto; height: 500px">
                    <div v-show="!!stores.usersStore.getUser.company.name">
                        <label class="form-label" style="color: #3cb395"
                            >Nom de la société</label
                        >
                        <p>{{ stores.usersStore.getUser.company.name }}</p>
                        <hr />
                    </div>
                    <div
                        v-show="!!stores.usersStore.getUser.company.vat_number"
                    >
                        <label class="form-label" style="color: #3cb395"
                            >Numéro de tva</label
                        >
                        <p>
                            {{ stores.usersStore.getUser.company.vat_number }}
                        </p>
                        <hr />
                    </div>
                    <div v-show="!!stores.usersStore.getUser.company.audience">
                        <label class="form-label" style="color: #3cb395"
                            >Audience</label
                        >
                        <p>
                            {{ stores.usersStore.getUser.company.audience }}
                        </p>
                        <hr />
                    </div>
                    <div v-show="!!stores.usersStore.getUser.company.status">
                        <label class="form-label" style="color: #3cb395"
                            >Status</label
                        >
                        <p>
                            {{ stores.usersStore.getUser.company.status }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { useRoute } from "vue-router";

// Import stores
import * as stores from "../../../store/StoresIndex";

const route = useRoute();

// Call functions
stores.usersStore.show(route.params.id);
</script>
