<template>
    <Datatable :headers="headers" :storeName="storeName" showBtn updateBtn />
</template>
<script setup>
import Datatable from "../ReusableComponents/Datatable.vue";
const storeName = "usersStore";
const headers = [
    { value: "id", name: "#" },
    { value: "firstname", name: "Prénom" },
    { value: "lastname", name: "Nom" },
    { value: "client", name: "Société" },
    { value: "phone", name: "Télephone" },
];
</script>
