<template>
    <div>
        <h2 id="dynamicMainTitle" style="color: #3cb395" class="text-uppercase">
            Ajouter autre chose
        </h2>
        <div class="row" id="mainDynamicZone">
            <div class="col-sm-12">
                <button
                    @click="$router.go(-1)"
                    style="width: 35px; height: 35px; padding: 0px; float: left"
                    type="button"
                    class="btn"
                >
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>

            <div class="col-sm-12">
                <form
                    @submit.prevent="
                        stores.entretiensStore.createEntretienDetails(input)
                    "
                >
                    <div class="widget p-cb">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label
                                        for="description"
                                        class="control-label"
                                        >Description*</label
                                    >
                                    <input
                                        type="text"
                                        :class="[
                                            stores.entretiensStore.getErrors
                                                .description
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        v-model="input.description"
                                        id="description"
                                        placeholder="....."
                                    />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="price" class="control-label"
                                        >Prix*</label
                                    >
                                    <input
                                        type="number"
                                        :class="[
                                            stores.entretiensStore.getErrors
                                                .price
                                                ? 'error form-control'
                                                : 'form-control',
                                        ]"
                                        v-model="input.price"
                                        id="price"
                                        placeholder="0"
                                    />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="duration" class="control-label"
                                        >Durée ({{
                                            input.duration
                                        }}
                                        minutes)</label
                                    >
                                    <input
                                        type="range"
                                        :class="[
                                            stores.entretiensStore.getErrors
                                                .duration
                                                ? 'error form-range'
                                                : 'form-range',
                                        ]"
                                        v-model="input.duration"
                                        id="duration"
                                        min="0"
                                        max="240"
                                        step="5"
                                    />
                                </div>
                            </div>
                            <br />
                            <div>
                                <button
                                    style="width: 150px; margin: auto"
                                    type="submit"
                                    class="btn btn-block"
                                >
                                    Ajouter
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script setup>
// Import dependencies
import { ref } from "vue";
import { useRoute } from "vue-router";

// Import store
import * as stores from "../../../../../store/StoresIndex";

const route = useRoute();
const input = ref({
    type: "other",
    entretien_id: route.params.id,
    description: null,
    price: null,
    duration: 0,
});
</script>
<style scoped>
.error {
    border: 2.5px solid rgb(190, 61, 61);
    background: rgba(190, 61, 61, 0.24);
}
</style>
